page-contactus {
.title{
	    color: #292929; font-size: 14px;
	}
	h3.title{
	    margin-top: 25px !important; font-family: var(--myregular); text-align: center;font-size: 16px;color: #6d6d6d;
	}

	.title-md{
	    font-size: 17px;
	}
	.header-toolbar ion-button{
	    width: 40px;
	    ion-icon:before{
	        font-size: 15px;
	    }
	}
	.btn-page-next{ position: fixed;  left: 0;bottom: -4px; width: 100%;height:50px;margin: 0;border-radius: 0; z-index: 2;
		.button-inner{
			font-size: 16px;
		}
		&:focus, &:active{
			background: #fdcf1c;color: var(--heading-color);
		}
	}

	.input-field{
		position: relative;
		.item-md.item-block{
			.item-inner{border: 0;}	
		}
		ion-textarea{
			.text-input-md{
				min-height: 120px !important;
			}
		}
		
	}

	.alert-button.sc-ion-alert-md{
	    background-color: #ffca00; color: #333; width: 44%;display: block;border-radius: 5px;
	}
	.button-field{
		margin-top: 30px;text-align: center; color: #a8adb3;font-size: 15px;
		span.caption{
			position: relative;top: 3px;
		}
		button{
			font-size: 14px;padding: 3px 10px 5px;height: auto;margin:0;
			.button-inner{
				font-family: var(--mysemibold);
			}
			&:hover, &:focus{
				color: var(--white-color);
			}
		}
	}

	/****************************************/
	/*  varify Block  */
	.varify-iocn-text{
		margin: 25px 0 0;
		img{
			display: block; margin: auto
		}
		.icon{font-size: 40px;margin-bottom: 10px;text-align: center;width: 80px;height: 80px;padding: 20px;border-radius: 50%;background: var(--sub-heading-color); color:#fff;margin: 0 auto 25px;display: block;}
		h3{
			font-size: 20px; font-family: var(--mysemibold); text-align: center;margin: 15px 0 5px; padding: 0;color: var(--heading-color);
		}
		.verify-sub-text{
			font-size: 15px; color: #666; text-align: center;
		}
	}

	.scroll-content{
		padding-bottom: 110px !important;
	}
	

}
