<ion-header class="header">
	<ion-toolbar class="header-toolbar">
	  <ion-navbar>
	    <ion-title>{{'contact_us' | translate}}</ion-title>
	  </ion-navbar>
	</ion-toolbar>
</ion-header>


<ion-content padding>

<div class="varify-iocn-text">
		<img style="height:220px;"src="assets/images/contact-us.jpg" />
		<h3>{{'contact_us_msg' | translate}}</h3>
	</div>


<div class="input-field">
	    <ion-item class="item-field-info">
	    	<ion-label floating>{{'subject' | translate}}</ion-label>
	        <ion-input [(ngModel)]="contactObj.subject" type="text" ></ion-input>
	    </ion-item>
	</div>
	<div class="input-field">
	    <ion-item class="item-field-info">
	    	<ion-label floating>{{'message' | translate}}</ion-label>
	        <ion-textarea  [(ngModel)]="contactObj.message" type="text"></ion-textarea>
	    </ion-item>
	</div>

</ion-content>

<button (click) ="save()" class="btn-next btn-page-next" ion-button>{{'submit' | translate}}</button>


