<ion-header>

    <ion-navbar>
        <ion-title>{{'tx_history' | translate}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <!-- Ionic refresh -->

       <ion-refresher slot="fixed" (ionRefresh)="doListRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="{{'pull_to_refresh' | translate}}"
          refreshingSpinner="circles"
          refreshingText="{{ 'refreshing' | translate }}">
        </ion-refresher-content>
      </ion-refresher>
  
    <!-- End --> 
    <!-- NO data -->
 
    <div class="no-product-found" *ngIf="!isData">
        <h4>{{'no_tx_history' | translate}}</h4>
    </div>

<!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->
    <!-- NO data --> 
    <div class="transactionsContainer" *ngIf="isData" >
        <ion-list>
            <ion-item *ngFor="let transactions of txList; let i = index" class="transactionsItem">
                <ion-item class="trProdItem" (click)="gotoTransactionDetails(transactions.id)">
                    <!--<ion-thumbnail item-start>
                        <img src="{{prodImgPath+transactions.product_image}}">
                    </ion-thumbnail>
                    <h2>{{transactions.product_name}}</h2> -->

                     <div class="transactions-details" >
                    <div class="row">
                        <label *ngIf="transactions.order_type ==1">{{ 'delivery_address' | translate }}</label>
                        <label *ngIf="transactions.order_type ==2">{{'seller_address' | translate }}</label>
                        <div class="caption">{{transactions.delivery_address}}</div>
                    </div>
                   </div>
                    <div class="transactions-details" >
                    <div class="row">
                      <label *ngIf="transactions.order_type ==1">{{ 'deliverd_date_time' | translate }}</label>
                      <label *ngIf="transactions.order_type ==2">{{'pick_up_time' | translate }}</label>
                        <div class="caption">{{transactions.delivery_time}}</div>
                    </div>
                   </div>
                   <div class="transactions-details" >
                   <div class="row"  *ngIf="transactions.order_type ==1" >
                        <label>{{ 'total_amt' | translate }} </label>
                        <div class="caption"> &euro; {{transactions.product_total_amount}} + 
                        <span>&euro; {{transactions.product_delivery_cost}} ({{'delivery_cost_txt' | translate }})</span></div>
                    </div>

                    <div class="row" *ngIf="transactions.order_type ==2" >
                        <label>{{ 'total_amt' | translate }} </label>
                        <div class="caption"> &euro; {{transactions.product_total_amount}}</div>
                    </div>
                   </div>

                    <div class="transactions-details" *ngIf="transactions.isSellerPromoCodeUsed ==1">
                    <div class="row">
                        <div class="caption"> <span> {{transactions.sellerPromoDiscount}}% </span> {{'off_to_used_seller_promo_code' | translate}} </div>
                    </div>
                   </div>

                </ion-item>
                <div class="transactions-userprofile" >
                    <ion-item>
                        <ion-avatar item-start (click)="gotoBuyerProfile(transactions.buyer_id)">
                       <img  *ngIf ="transactions.buyer_image ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="transactions.buyer_image !=''" src='{{userImgPath+transactions.buyer_image}}'/>
                        </ion-avatar>
                        <h2>
                            {{transactions.buyer_name}}, {{'buyer' | translate }}
                            <span  (click)="delTrans(transactions.id,i)" class="status delivered btn-danger">{{'delete' | translate }}</span>
                            <span class="status delivered">{{'delivered' | translate }}</span>
                        </h2>
                    </ion-item>
                </div>
            </ion-item>
        </ion-list>
  

       <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
       </ion-infinite-scroll>
  </div>

</ion-content>

<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
    <ion-grid>
            <ion-row>
                <ion-col>
                    <div  (click) ="gotoHome()">
                        <button   fill="clear" type="button" class="ion-footer-btn" expand="full">
                        <img src="assets/images/home.png"/>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                   <div  (click)="gotMyOrder()">
                         <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click) ="gotoCoverPhoto()"   color="primary" class="ion-footer-add-btn ">
                        <button fill="clear" type="button" class="ion-footer-btn" expand="full">
                          <ion-icon class="flaticon-plus-button"></ion-icon>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click)="gotoUserOrder()">
                        <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click) ="gotoAccount()"  >
                        <button fill="clear" type="button" class="ion-footer-btn" expand="full">
                          <ion-icon class="flaticon-user"></ion-icon>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
    </ion-grid>
</ion-footer>