page-transactions {
  .content {
    background: #fff;
  }

  .transactionsContainer {
    position: relative;
    padding: 0 15px 15px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: #ffca00;
      height: 80px;
      width: 100%;
    }

    .list {

      .transactionsItem {
        padding: 0;
        border-radius: 5px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.04);
        margin-bottom: 15px;
        border: solid 1px #eaeaea;
        border-bottom: solid 6px #eaeaea;

        .item-inner {
          padding: 0;
          border: 0;
        }

        .label {
          margin: 0;
          padding: 0
        }

        .trProdItem {
          padding: 0 12px 0;

          .label {
            margin: 0 0 0;
            padding: 0;
          }

          h2 {
            font-size: 15px;
            font-family: var(--mysemibold);
            margin: 0;
            padding: 0
          }

          p {
            margin: 0;
            padding: 3px 0 0;
            font-size: 13px;
            font-family: var(--mysemibold);
            color: var(--ion-black);
          }
        }

        ion-thumbnail {
          min-width: 50px;
          min-height: 43px;
          margin-top: 11px;

          img {
            width: 50px;
            height: 40px;
            border-radius: 3px;
          }
        }

        .transactions-details {
          display: block;
          padding: 10px 12px;
          border-top: 1px solid rgba(0, 0, 0, .05);

          label {
            display: block;
            font-family: var(--myregular);
            font-size: 12px;
            color: var(--ion-caption);
            font-weight: normal;
            padding-bottom: 4px;
          }

          .caption {
            display: block;
            width: 100%;
            font-size: 14px;
            color: var(--ion-black);
            font-family: var(--myregular);

            span {
              display: inline-block; padding: 4px 5px 3px 5px; margin: 0 3px 0 0; border-radius: 3px; background: #ffca00; font-weight: bold;
            }
          }
        }

        .transactions-userprofile {
          display: block;
          padding: 8px 12px;
          border-top: 1px solid rgba(0, 0, 0, .05);

          .item {
            padding: 0;
            min-height: auto;

            ion-avatar {
              margin: 2px 10px 2px 2px;
              min-width: 20px;
              min-height: 20px;
              border: 1px solid #fff;
              border-radius: 100%;
              box-shadow: 0 0 1px 1px var(--ion-caption);

              img {
                width: 22px;
                height: 22px;
              }
            }

            h2 {
              font-family: var(--myregular);
              font-size: 14px;
              color: var(--ion-caption);
            }

            .status {
              display: inline-block;
              float: right;
              background: #ccc;
              color: #fff;
              font-size: 13px;
              font-family: var(--mysemibold);
              padding: 2px 5px;
              border-radius: 3px;

              &.delivered {
                background: #2eb074;
                color: #fff;
              }
            }

            .btn-danger {
              background: #dc3f3f !important;
              margin: 0 0 0 8px;
            }

          }
        }
      }
    }
  }




  .no-product-found {
    padding: 45px 0;

    img {
      margin: 10px auto;
      display: block;
    }

    h4 {
      color: #434343;
      font-size: 18px;
      font-family: var(--myregular);
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }


  /* Skeleton CSS */
  .skeletonBox {
    width: 100%;
    height: 92px;
  }

  .skeletonBox .avatar {
    float: left;
    width: 55px;
    height: 55px;
    background-color: #ccc;
    border-radius: 100px;
    margin: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 600px;
    animation: shine-avatar 1.3s infinite linear;
  }

  .skeletonBox .line {
    float: left;
    width: 65px;
    height: 16px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 900px;
    animation: shine-lines 1.3s infinite linear;
  }

  .skeletonBox .avatar+.line {
    margin-top: 11px;
    width: 260px;
  }

  .blankBox {
    width: calc(100% - 20px) !important;
    height: 90px !important;
    margin: 2px 10px 20px 10px !important;
  }

  .skeletonBox .line~.line {
    background-color: #ddd;
  }

  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }

    40%,
    100% {
      background-position: 320px;
    }
  }

  @keyframes shine-avatar {
    0% {
      background-position: -32px;
    }

    40%,
    100% {
      background-position: 208px;
    }
  }

  /* Skeleton CSS End*/


}
