page-myorder {
	.toolbar-background-md{
		background-color: transparent; background: transparent;;
	}
	.title-only{
		padding-left: 0; padding-right: 0; 
		.title{
			font-size: 16px; font-family: var(--myregular); text-transform: capitalize; color: var(--ion-caption);
		}
		&.selected .title{
			color: var(--ion-black);
		}
	}
	.tab-buttons-container{
		.indicator{
			background-color: var(--ion-color-primary);
		}
	}
	.toolbar:after{
		opacity: .3;
	}
	 
}
