<ion-header class="header">
    <ion-toolbar class="header-toolbar">
        <ion-navbar align-title="center">
            <ion-title>{{ 'order_details' | translate }}</ion-title>
            <ion-buttons *ngIf="(buyerOrderObj.buyer_id ==orderDetails.buyerIds) && (orderDetails.buyer_order_status == 0)"  end (click)="delMainOrder()">
                <button class="right cart-badge-btn" ion-button icon-only>
                    <ion-icon  color='danger' class="flaticon-garbage"></ion-icon>
                </button>
            </ion-buttons>
        </ion-navbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Ionic refresh -->
   <ion-refresher slot="fixed" (ionRefresh)="doBuyerOrderRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_to_refresh' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

<!-- Skeletopn HTML start -->
 <div *ngIf="isFetchingData">
  <div class="skeletonBox" >
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
    <div class="line full-line"></div>
    <div class="line full-line"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->
    <!-- End --> 
    <div *ngIf="!isFetchingData">
   

    <div *ngIf="orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8 && orderDetails.isJoinUser==0"  [ngClass]="orderDetails.buyer_order_status == 1 ? 'join-order-actions join-order-success' : 'join-order-actions '" >  
     
     <p class="noteRed leftnoteRed" *ngIf="(orderDetails.temptotalAmount >= orderDetails.minimum_order_range) && (orderDetails.buyer_order_status==0) && (orderDetails.order_type == 1)">{{'minimum_shared_order_txt' | translate}}</p>

     <p class="noteRed leftnoteRed" *ngIf="(orderDetails.buyer_order_status==0) && (orderDetails.order_type == 2)">{{'minimum_shared_order_txt' | translate}}</p>

        <ion-item class="share-link" *ngIf="((orderDetails.buyer_order_status==0) &&  (orderDetails.isJoinUser==0))">
            <button ion-button (click)="gotoShareAfriend()">
                <ion-icon class="flaticon-share-1"></ion-icon>{{ 'share_order_with_frd' | translate }}
            </button>
        </ion-item>
    
        <div class="shared-list text-center" *ngIf="orderDetails.shareFriendLists != 0">
            <ion-item class="share-item  text-center">
                <h2 class="shared-title">{{'order_share_with_following_frd' | translate }}</h2>
                <button ion-button class="btn-primary  btn-viewall" (click)="gotosharedfriends()">
                    {{ 'view_all' | translate }} ({{orderDetails.shareFriendLists}})
                </button>
            </ion-item>
        </div>

    <!-- Buyer order status => 4-->
   
    <div *ngIf="orderDetails.isJoinUser==0">
    <ion-item class="delivery-new-time" text-center *ngIf="(orderDetails.order_delivery_Status == 4) && (orderDetails.buyer_order_status==1)">
        <p *ngIf="orderDetails.order_type ==1">{{'seller_suggest_new_time' |translate}}</p>
        <p *ngIf="orderDetails.order_type ==2">{{'seller_suggest_new_pick_up_time' | translate}}</p>
        <h2> {{ orderDetails.rescheduled_date_time }} </h2>
        <div class="action-buttons">
            <button ion-button color="secondary" round (click)="acceptOrder()">{{'accept' |translate}}</button>
            <button ion-button color="danger" (click)="rejectOrder()" round>{{'reject' |translate}}</button>
        </div>
    </ion-item>
    </div>
    <!-- End -->
  
    <!-- Buyer order status => 5-->
      <div *ngIf="orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8">
   <div *ngIf="orderDetails.isJoinUser==0">
    <ion-item class="delivery-new-time receivedOrder" text-center *ngIf="(orderDetails.order_delivery_Status == 5) && (orderDetails.buyer_order_status==1)">
              <p>{{'received_order_from_seller' | translate}}</p>
        <div class="action-buttons">
            <button ion-button color="secondary" round (click)="acceptDeliverOrder()">{{'accepted' | translate}}</button>
            <!--<button ion-button color="danger" (click)="rejectDeliverOrder()" round>{{'rejected' | translate}}</button> -->
        </div>
    </ion-item>
    </div>
    </div>

   <!-- Second Flow Start -->
     <div *ngIf="orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8">

     <div *ngIf="orderDetails.isJoinUser==0">
     <ion-item class="payment-transaction" text-center >
       <button ion-button round (click)="gotoOrderSummary()" >{{ 'order_summary' | translate }}</button>  
       <button ion-button round (click)="sendOrder()" *ngIf="(orderDetails.temptotalAmount >= orderDetails.minimum_order_range) && (orderDetails.buyer_order_status==0) && (orderDetails.order_type == 1)">{{ 'send_order_to_seller' | translate }}</button>
       <button ion-button round  [disabled] ="true" *ngIf="(orderDetails.temptotalAmount < orderDetails.minimum_order_range) && (orderDetails.buyer_order_status==0) && (orderDetails.order_type == 1)">{{ 'send_order_to_seller' | translate }}</button> 
       <button ion-button round (click)="sendOrder()" *ngIf="(orderDetails.buyer_order_status==0) && (orderDetails.order_type == 2)">{{ 'send_order_to_seller' | translate }}</button>
     </ion-item>
     <p class="noteRed" *ngIf="(orderDetails.temptotalAmount < orderDetails.minimum_order_range) && (orderDetails.buyer_order_status==0) && (orderDetails.order_type == 1)">{{'order_not_send_due_to_min_policies' | translate}}</p>
     <p class="noteRed" *ngIf="(orderDetails.temptotalAmount >= orderDetails.minimum_order_range) && (orderDetails.buyer_order_status==0) && (orderDetails.order_type == 1)">{{'minimum_amount_reached_txt' | translate}}</p>
     <p class="noteRed" *ngIf="(orderDetails.buyer_order_status==0) && (orderDetails.order_type == 2)">{{'minimum_amount_reached_txt' | translate}}</p>
     <div class="take-away">
        <p class="" *ngIf="(orderDetails.order_type == 1)"> <img src="assets/images/take-away.png">  {{ 'delivery' | translate }}</p>
        <p class="" *ngIf="(orderDetails.order_type == 2)"> <img src="assets/images/store-icon.png"> {{ 'take_away' | translate }} </p>
      </div>
     </div>
     </div>
     
    <!-- Second Flow End --> 
    </div>
    <!-- End -->
    <!-- Rescheduled delivery time -->


      <ion-item class="delivery-time" text-center *ngIf="(orderDetails.is_rescheduled == 1) && (orderDetails.buyer_order_status==1) &&  (orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8)" >
              <h2>{{'order_rescheduled_by_seller' | translate}}</h2>
        <p> {{orderDetails.rescheduled_date_time }}</p>
    </ion-item>

       <ion-item class="buyerorder-delivery-time" text-center  *ngIf="(orderDetails.is_rescheduled == 1) && (orderDetails.buyer_order_status==1) && (orderDetails.order_type==1) ">
              <h2>{{'order_delivery_on' | translate}}</h2>
        <p>{{ orderDetails.deliveryTime }}</p>
        <span class="icon flaticon-calendar"></span>
    </ion-item>

     <ion-item class="buyerorder-delivery-time" text-center  *ngIf="(orderDetails.is_rescheduled == 1) && (orderDetails.buyer_order_status==1) && (orderDetails.order_type==2) ">
              <h2>{{'pick_up_time' | translate }}</h2>
        <p>{{ orderDetails.deliveryTime }}</p>
        <span class="icon flaticon-calendar"></span>
    </ion-item>
    <!-- End -->
   
    <!-- Buyer order status => 2-->
    <ion-item class="delivery-time" text-center *ngIf="(orderDetails.is_rescheduled == 0) && (orderDetails.order_delivery_Status != 1) && (orderDetails.buyer_order_status==1) && (orderDetails.order_type==1)">
              <h2>{{'order_delivery_on' | translate}}</h2>
        <p>{{ orderDetails.deliveryTime }}</p>
    </ion-item>

     <ion-item class="delivery-time" text-center *ngIf="(orderDetails.is_rescheduled == 0) && (orderDetails.order_delivery_Status != 1) && (orderDetails.buyer_order_status==1) && (orderDetails.order_type==2)">
              <h2>{{'pick_up_time' | translate }}</h2>
        <p>{{ orderDetails.deliveryTime }}</p>
    </ion-item>

    <!-- End -->
    
    <ion-item  class="rejectbox" text-center *ngIf="(orderDetails.is_rescheduled == 1) &&  (orderDetails.buyer_order_status==1) && (orderDetails.order_delivery_Status ==3 || orderDetails.order_delivery_Status ==7 || orderDetails.order_delivery_Status ==8)">
                  <h2> <img src="assets/images/cancelled.png">{{'order_reject' | translate}}</h2>
        </ion-item>
    
      <ion-item  class="rejectbox" text-center *ngIf="(orderDetails.is_rescheduled == 0) &&  (orderDetails.buyer_order_status==1) && (orderDetails.order_delivery_Status ==3 || orderDetails.order_delivery_Status ==7 || orderDetails.order_delivery_Status ==8)">
                  <h2> <img src="assets/images/cancelled.png">{{'order_reject' | translate}}</h2>
        </ion-item>


 

        <!-- Third Flow start After send order to Seller -->
    <ion-item class="delivery-time" text-center *ngIf="(orderDetails.order_delivery_Status == 1) && (orderDetails.buyer_order_status==1)">
              <p>{{'order_not_accept_yet' | translate}}</p>
        <h2> <ion-icon class="flaticon-calendar"></ion-icon> {{ orderDetails.deliveryTime }}</h2>
    </ion-item>
   <!-- End -->

  


<div class="order-items" *ngIf="orderDetails.productList.length > 0">

    <ion-item class="userOrder" [ngClass]="itemList.asBuyer == 1 ? 'order-buyer' : ''"  *ngFor='let itemList of orderDetails.productList; let i = index' [attr.data-index]='i'>
        <ion-grid>
            <ion-row>
                <ion-col (click)="gotoSellerProfile(itemList.buyer_id)" col-2 class="card-left-info">
                    <div class="card-user-img">
                       <img  *ngIf ="itemList.userPhoto ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="itemList.userPhoto !=''" src='{{userImgPath+itemList.userPhoto}}'/>
                    </div>
                </ion-col>
                <ion-col col-10 class="card-right-info">
                    <div class="card-user-name top-username">{{itemList.userName}}
                     <div *ngIf="orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8">
                    <span *ngIf="(buyerOrderObj.buyer_id ==itemList.buyer_id) && (orderDetails.buyer_order_status == 0)" class="order-action" (click)="presentPopover($event,itemList.buyer_id,itemList.asBuyer,itemList.record_id,i,itemList.notes,itemList.quantity)"><ion-icon name="md-more"></ion-icon></span>
                    <span *ngIf="itemList.asBuyer== 1">{{"buyer" | translate }}</span><span *ngIf="itemList.asBuyer== 0">{{"joined_buyer" | translate }}</span></div>
                     </div>
                   <!-- <div class="card-user-location">
                        <span class="flaticon-pin"></span>{{itemList.userAddress}}
                    </div> -->
                </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-12 class="right-content">
                <div class="friends-order-item">
                  <div class="item-row">
                    <div class="foi-image">
                      <img src="{{prodImgPath+itemList.product_image}}"/>
                    </div>
                    <h2>
                        <div class="ratedstar">
                            <ion-icon class="flaticon-star"> {{itemList.average_rating}}</ion-icon>
                        </div> 
                       {{itemList.product_name}}
                        <span> {{itemList.created}}</span>
                    </h2>
                      <p *ngIf="itemList.isPromocodeused==1">
                         {{'coupen_applied' | translate}}, {{itemList.discount_percentage}}% OFF
                          <span class="through">€ {{itemList.item_price * itemList.quantity}}</span> 
                        </p> 
                        <p>
                          € {{itemList.item_price}}<small> X {{itemList.quantity}}</small>
                          <span>
                          <b *ngIf="itemList.payment_status == 0" class='unpaid'>{{"un_paid" | translate }}</b>
                          <b *ngIf="itemList.payment_status == 1" class='paid'>{{"paid" | translate }}</b>
                           - {{itemList.payment_mode}} 
                          <b class="total" *ngIf="itemList.isPromocodeused==1">€ {{(itemList.item_price -(itemList.item_price * (itemList.discount_percentage/100))) *  itemList.quantity}} </b>
                          <b class="total" *ngIf="itemList.isPromocodeused==0">€ {{itemList.item_price * itemList.quantity}} </b>                          </span>
                        </p>
                        <p>
                         <ion-icon class="flaticon-edit-document"></ion-icon> {{ (itemList.notes != '') ? itemList.notes : 'not_added_txt' | translate }}
                        </p>
                      
                  </div>
                </div>
              </ion-col>
            </ion-row>  
           

          <div *ngIf="itemList.errorMsg !='' && itemList.errorMsg != null " class="payment-error">
          <ion-row  >
                <ion-col col-12 class="card-right-info">
                    <div class="card-user-location">
                        <span class="flaticon-edit-document"></span>{{itemList.errorMsg}}
                    </div>
                </ion-col>
            </ion-row>
          </div>
            
        </ion-grid>
 <div class="pay-with-paypal" (click)="gotoPaypalJoin(orderDetails.paypal_client_id,orderDetails.orderIds,itemList.final_amount_paypal,itemList.share_prod_id)" *ngIf="(itemList.payment_status == 0) && (itemList.payment_mode =='Paypal')  && (orderDetails.order_delivery_Status == 2) &&  (itemList.buyer_id == buyerOrderObj.buyer_id) && (itemList.asBuyer== 0)">
                         <span>{{'pay_via' | translate}}</span><img src="assets/images/paypal-white.png" />
                        </div>
    </ion-item>
<!-- for paypal and buyer account not for joiner -->
<div class="pay-with-paypal" *ngIf="orderDetails.payment_status == 0 && orderDetails.payment_mode == 2 && orderDetails.order_delivery_Status == 2 && orderDetails.isJoinUser==0 "  (click)="gotoPaypal(orderDetails.paypal_client_id,orderDetails.orderIds)">
  <span>{{'pay_via' | translate}}</span>
  <img src="assets/images/paypal-white.png" />
</div>
<!--End-->

    <div class="delivery" *ngIf="orderDetails.order_type ==1">
        <ion-row>
            <ion-col class="left">
              {{ 'delivery_cost_txt' | translate }}
            </ion-col>
            <ion-col class="right text-right">
            <span *ngIf="orderDetails.isFree == true" class="status free"> {{ 'free_delivery_txt' | translate }}</span>
                &euro; {{ orderDetails.isFree == true  ? '0' :  orderDetails.delivery_cost }}
                
            </ion-col>
        </ion-row>
    </div>
<!-- Color changed -->
   <div class="totalOrderTrAmount">
        <div  class="whiteContainer" [ngClass]="orderDetails.buyer_order_status == 1 ? '' : 'orderSent'"  >
            <ion-row class="totalAmount">
                <ion-col class="left">
                <!--<ion-icon class="flaticon-calendar"></ion-icon>-->  {{ 'total_amt' | translate }} 
                </ion-col>
                <ion-col class="right text-right">
                    &euro;  {{orderDetails.totalAmount}}
                </ion-col>
            </ion-row>

            <ion-row class="totalAmount discountamt" *ngIf="orderDetails.isSellerProductDis ==1">
                <ion-col col="12" >
                 {{'you_got_txt' | translate}} <span class=""> {{orderDetails.sellerDiscount}}% OFF </span> {{ 'off_to_all_products' | translate }}
                </ion-col>
            </ion-row>
        </div>
    </div>

</div> 

    <div *ngIf="orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8">
    <ion-item  class="delivery-time"  [ngClass]="orderDetails.buyer_order_status == 1 ? '' : 'delivery-time-sent'"  text-center *ngIf="orderDetails.buyer_order_status==0">
       <div class="order-action user-popover" *ngIf="orderDetails.shareFriendLists == 0 &&  orderDetails.isJoinUser==0" (click)="gotoUpdateTime()"><ion-icon class="flaticon-edit-document"></ion-icon></div>
        <p *ngIf="orderDetails.order_type ==1">{{ 'order_delivery_on' | translate }}</p>
        <p *ngIf="orderDetails.order_type ==2">{{'pick_up_time' | translate }}</p>
        <h2> <ion-icon class="flaticon-calendar"></ion-icon> {{ orderDetails.deliveryTime }}</h2>
    </ion-item>
    </div>
 
<!-- Color changed -->

    <ion-row class="order-detail">
        <ion-col col-12>
            <h3 *ngIf="orderDetails.order_type ==1">{{ 'delivery_address' | translate }}</h3>
            <h3 *ngIf="orderDetails.order_type ==2">{{'seller_address' | translate}}</h3>
        </ion-col>
        <ion-col col-12 text-left class="order-item deliver-address">
            <h3> <ion-icon class="newflaticon-pin"></ion-icon> {{ orderDetails.delivertAddress }}</h3>
        </ion-col>
    </ion-row>

    <div class="deliverToContainer">
        <label class="expired-action">{{ 'order_receiver_details' | translate }}  

        <div class="user-popover" *ngIf="orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8"> 
        
        <span *ngIf="(buyerOrderObj.buyer_id ==orderDetails.buyerIds) && (orderDetails.buyer_order_status == 0)" (click)="changeReceiver()">
        <ion-icon class="flaticon-edit-document icon icon-md"></ion-icon>
        </span>

         
        
        </div></label>
        <div class="deliveryInfo">
            <ion-row>
                <ion-col class="left">
                  {{ 'name' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_name != '' ? orderDetails.delivery_name : 'not_added_txt' | translate }}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="left">
                {{ 'surname' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_surname != '' ? orderDetails.delivery_surname : 'not_added_txt' | translate}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="left">
                {{ 'mobile_no' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_mobile != '' ? orderDetails.delivery_mobile : 'not_added_txt' | translate}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="left">
                {{ 'company' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_company != '' ? orderDetails.delivery_company : 'not_added_txt' | translate}}</ion-col>
            </ion-row>
        </div>
    </div>  

    <ion-item class="seller-info">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <p>{{ 'seller_info' | translate }}</p>
                </ion-col>
                <ion-col col-2 class="card-left-info">
                    <div class="card-user-img" (click)="gotoSellerProfile(buyerOrderObj.seller_id)">
                        <img  *ngIf ="orderDetails.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="orderDetails.sellerImg !=''" src='{{userImgPath+orderDetails.sellerImg}}'/>
                    </div>
                </ion-col>
                <ion-col col-10 class="card-right-info">
                    <div class="card-user-name">{{ orderDetails.sellerName }}</div>
                    <div class="card-user-location">
                        <span class="flaticon-pin"></span>{{ orderDetails.sellerAddress }}
                    </div>
                </ion-col>
                <ion-item class="call-now">
                    <a href="tel:{{orderDetails.sellerMobile }}"><ion-icon class="flaticon-phone"></ion-icon> {{'call_now' | translate }}:  {{ orderDetails.sellerMobile }}</a>
                      </ion-item>
            </ion-row>
        </ion-grid>
    </ion-item>
    <!--First Flow End-->
    <!-- Order tracking status -->
    <ion-item class="action-buttons order-status-container"  text-left  *ngIf="orderDetails.orderTrack.length > 0">
              <h2>{{'order_status' | translate}}</h2>
        <ul>
            <li class="{{orderTrackItem.status}}"  *ngFor="let orderTrackItem of orderDetails.orderTrack;">
                <div class="order-status">
                    <span class="icon">
                        <img src="{{orderTrackItem.image}}" />
                    </span>
                    <div class="message-text">
                        <span>{{orderTrackItem.message}}</span>
                    </div>
                    <p>{{orderTrackItem.created}}</p>
                </div>
            </li>
            <li class="default"></li>
        </ul>
    </ion-item>
    <!-- Order tracking status End -->
</div>
</ion-content>

        <!-- Order deleted -->
         <!-- <ion-fab right bottom  *ngIf=" (orderDetails.isJoinUser==0) && (orderDetails.buyer_order_status==0)">
            <button ion-fab class="fabClass"><ion-icon name="arrow-dropleft"></ion-icon></button>
            <ion-fab-list side="left">
              <button ion-fab><ion-icon name="trash" md="md-trash"></ion-icon></button>
         
            </ion-fab-list>
          </ion-fab> -->
        <!-- End-- >


<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <button  (click) ="gotoHome()" ion-button class="ion-footer-btn">
                        <img src="assets/images/home.png"/>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                    <div  (click)="gotMyOrder()">
                       <button fill="clear" type="button" class="ion-footer-btn down-up-icon active" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col> 
            <ion-col>
                <div  (click) ="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
                    <button ion-button class="ion-footer-btn">
                        <ion-icon class="flaticon-plus-button"></ion-icon>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                    <div (click)="gotoUserOrder()">
                       <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col>
            <ion-col>
                <div>
                    <button (click)="gotoAccount()" ion-button class="ion-footer-btn ">
                        <ion-icon class="flaticon-user"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>

