page-login {
$yellow:#ffcb06;
$black:#000;

.top-block{
    width:100%; height:calc(100vh - 410px); position: relative;
    img{
        width: 100%; height: 100%; object-fit:cover;
    }
    &:after{ content: ""; z-index: 1; position: absolute; height: 80%; width: 100%; bottom: 0; right: 0; left:0;
             background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
             background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
             background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    .toptitletext{
        z-index:11; position: absolute; bottom: 0px; right: 0; left:0; padding: 20px; color: #fff; font-size: 21px; font-family: 'MyriadPro-Bold';
    }
}
.content-block{
    padding: 15px;
}

.country-select-row{
    position: relative; padding-left: 90px; border: 1px solid #dedede; background: #eeeeee; border-radius: 4px; min-height: 46px;
    .selectcountry{
        position: absolute; left: 10px; top: 0; bottom:0;
        span{
            display: inline-block; vertical-align: middle; margin: 0 3px;padding: 14px 0;float: left
        }
        .icon-country{
            img{
                width: 22px; vertical-align: middle;
            }            
        }
        .icon-font{
            font-size: 21px; text-align: center; vertical-align: middle;padding: 10px 0;color:#7f7f7f
        }
        .icon-font ion-icon{
            font-size: 1em;color:#7f7f7f;
        }
        .item-inner{
            padding-left: 0;margin-left: 10px;
        }
    }
    .item-md{padding-left: 5px; background-color: transparent;}
    .item-inner{padding-right: 10px; }
    .item-md.item-block .item-inner{border-bottom: none;box-shadow: none;}
    &.input-field{
        padding-left: 0; margin-top: 10px;
        .icon{
            margin: 5px 0 0 11px;
            font-size: 20px;
        }
    }
}
.title{
    color: #292929; font-size: 17px;
}
h3.title{
    margin-top: 0;
}
h3.title.proceed{
    margin-top: 10px;margin-bottom: 0;
}
.forgot-link{
    color:var(--link-color);
}
.btn-next {
    background: #ffd11c; 
    margin-top:10px;
    border-radius:5px; 
    box-shadow:none;
    height:44px;
    font-size:15px;
    color: var(--black);
    text-transform: capitalize;
    ion-icon{
        position: relative;left:5px;
        &:before{
            font-size: 14px;
        }
    }
}
.btn-next.btn-facebook{
    background: #3b5998; color: #fff; font-family: var(myregular);
    ion-icon{
        margin-right: 5px;margin-top: -3px;
        &:before{
            font-size: 13px;
        }
    }
}
.btn-next.btn-instagram{
    background: #9f33a0; color: #fff; font-family: var(myregular);
    ion-icon{
        margin-right: 9px;margin-top: -3px;
        &:before{
            font-size: 13px;
        }
    }
}
.btns-row{
    padding: 0;
    ion-col{
        padding-top: 0;padding-bottom: 0;
    }
    ion-col:first-child{
        padding-left:0;
    }
    ion-col:first-last{
        padding-right:0;
    }
}


/**************************************/

.logo-with-content{
    position: absolute;
    bottom: 0; left: 0; width: 100%; z-index: 2; padding: 15px;
    img{
        max-width:100%; width: auto;
    }
    .text-content{
        color: #fff; font-size: 19px; font-weight: bold; font-family: var(--mysemibold)
    }
}

.new-account-option{
    text-align: center;margin: 40px 0 0;padding: 0 29px;
    .label{margin: 4px 0 0;color: #545454;
        label{
            display: block
        }
    }
    .btn-next{
        color: var(--ion-black);
    }
    .item-inner{border-bottom: 0 !important;padding-right: 0 !important;}
}
/*
.new-account-option{
    border-top: 1px solid #ddd;position: absolute;bottom: 0;
    padding: 0 18px;
    text-align: center;
    .label{margin: 4px 0 0;color: #545454;}
    .item-button{
        background: transparent; color: var(--link-color); box-shadow: none;margin: -1px 0 0 10px;padding: 0;
        top: -2px;position: relative;
        .button-inner{font-size: 14px;padding-right: 8px;}
        &:hover{
            background: transparent; 
        }
    }
    .item-inner{border-bottom: 0 !important;}
} */
.padding-container{
    padding-left: 15px; padding-right: 15px;
}

}



.alert-md{
  .alert-head{
    padding: 20px 20px 10px;
    .alert-title{
      text-align: center;
    }
  }
  .alert-button-group{
    -webkit-justify-content: center;justify-content: center;padding:0; 
    .alert-button{
        margin: 0 0 15px;border-radius: 25px;font-size: 14px;background: var(--ion-color-primary);background-color: var(--ion-color-primary); color: var(--ion-black);padding: 7px 25px;
        .button-inner{
            justify-content: center;
        }
    }
    
  }
  .alert-message{
    text-align: center;
  }
} 
