<ion-content>
    <div class="top-block">
        <div class="logo-with-content">
            <div>
                <img src="assets/images/logo-color.png" />
            </div>
            <div class="text-content">
             {{ 'login_txt_1' | translate }}
            </div>
        </div>
        <img src="assets/images/login-pg-bg.png" alt=""/>
    </div>
    <div class="padding-container">
    <div class="content-block">
        <h3 class="title">{{ 'login_txt_2' | translate }}</h3>

        <div class="country-select-row" >

        <div class="selectcountry" *ngIf="countryList.length > 0" (click)="openCountryCodeModal()">
            <span class="icon-country"><img src="{{defaultFlag}}" alt=""/></span>
            <span class="">{{loginData.countryCode}}</span>
            <span class="icon-font"><ion-icon name="arrow-dropdown"></ion-icon></span>
        </div>

        <ion-item>
            <ion-input [(ngModel)]="loginData.tempNumber" type="tel" pattern="[0-9]*" placeholder="{{ 'insert_phone_number' | translate }}" maxlength="12"></ion-input>
        </ion-item>
        </div>
        <div class="country-select-row input-field">
            <ion-item>
                <ion-input type="password" [(ngModel)]="loginData.password" placeholder="{{ 'password' | translate }}"></ion-input>
            </ion-item>
        </div>
     
        <button class="btn-next btn-block" (click) ="submit()">
           {{ 'next_txt' | translate }} <ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon>
        </button>
        
        <!--<h3 class="title proceed">{{ 'login_txt_3' | translate }}</h3> -->

       <!-- <ion-grid class="btns-row">
            <ion-row>
                <ion-col col=12>
                    <button (click) ="loginWithFB()" class="btn-next btn-facebook btn-block" shape="round" expand="full" >
                        <ion-icon class="flaticon-facebook-logo"></ion-icon> <span>{{ 'facebook' | translate }}</span>
                    </button>
                </ion-col>
                <ion-col>
                    <button (click) ="loginWithInsta()" class="btn-next btn-instagram btn-block" shape="round" expand="full" >
                        <ion-icon class="flaticon-instagram-social-network-logo-of-photo-camera"></ion-icon> 
                        <span>{{ 'instagram' | translate }}</span>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid> -->
    </div>
    </div>

    <h3 (click)="gotoForgot()" class="title proceed text-center forgot-link">{{'forgot_password' | translate}}</h3>

        <ion-item class="new-account-option">
        <label>{{'do_not_have_an_account' | translate}}</label>
        <button class="btn-next btn-block" (click)="gotoRegistrationPage()">{{'signup' | translate}}</button>
    </ion-item>
</ion-content>
