page-country-code {

 .content{
        background: #f7f7f7;
    }

.country-list-container{
	h4{
	    padding: 5px 15px;
	    margin: 0;
	    font-family: var(mybold);
	    font-size: 16px;
	    background: #f7f7f7
	}
	ion-item{
		padding: 0;font-size: 15px;color: #555; padding-start: 0; inner-border-width: 0px !important;
		ion-label{
			font-family: var(myregular); padding-left: 15px;
			img{
				width: 26px;height:16px; object-fit: cover;margin-right: 18px;float: left;
			}
		}
	}
	ion-item.ion-color-primary{
		background: rgba(253, 207, 28, .2); color: #333;
	}
}
.modal-btn-group{ 
    text-align: center; padding: 10px 0 10px;
    .alert-button {
        margin-top: 0px;
        border-radius: 25px;
        font-size: 14px;
        background: var(--ion-color-primary);
        /* background-color: ;*/
        background-color: var(--ion-color-primary);
        color: var(--ion-black);
        padding: 7px 25px;
        min-width: 100px;
        color: #000;
        box-shadow: none;
        font-weight: 600;
    }
    .button-md:hover:not(.disable-hover) {
        background-color: var(--ion-color-primary);
    }
}

}
