<ion-header>
    <ion-navbar>
      <ion-title>{{ 'select_dailing_code' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="">
    <div class="">
    <div class="country-list-container">
			<ion-list>
			    <ion-item *ngFor="let countrycontainer of tempArrList;let i=index" (click)="setCountryData(countrycontainer)" [class.ion-color-primary]="isActive==i">
                    <ion-label><img src="{{flagImgPath}}{{countrycontainer.icon}}">{{countrycontainer.country_name}} ( {{countrycontainer.dailing_code}} )</ion-label>
                </ion-item>
			</ion-list>
		</div>
        </div>
</ion-content>

<ion-footer class="modal-btn-group">
    <button class="alert-button" ion-button (click)="dismiss()">{{ 'cancel' | translate }}</button>
</ion-footer>

