page-location {
	.mb60{margin-bottom: 60px !important;}
	.content-md{background: #fff; padding: 0}
	ion-button.btn-back {
	    position: absolute;
	    left: 0;
	    z-index: 5;
	    ion-icon {
		    font-weight: bold;
		    &:before{
		    	font-size: 15px;
		    }
		}
	}
	.delievery-gps-icon{
		margin: 0 -8px 0 0 !important;
		padding: 10px;
		background: transparent;
		font-size: 14px;
		font-weight: bold;
		.icon:before{
			font-size: 19px; font-weight: bold;
		}
	}
	.input-field-img{
		margin-bottom: 15px;background: #fff;
		img{
			width: 100%;
			object-fit: cover;
			margin: auto;
			display: block;
		}
	}
	.input-field{
		background: #fff;padding: 15px 15px 15px;box-shadow: 0 0 10px rgba(0,0,0,.06);margin: 0 0 15px;border: 1px solid rgba(0,0,0,.06);
		ion-item{
			padding-left: 0;
			ion-label{ 
				color: #777;margin-bottom: 5px;
				ion-icon:before{
					font-size: 14px;
				}
			}
			.text-input-md{
				margin: 0
			}
		}
		ion-title{
			padding: 0;font-size: 14px; font-family: var(--myregular);margin-bottom: 10px; color: #aaa;
			ion-icon{
				float: left;margin-right: 5px;
				&:before{
					font-size: 14px;font-weight: bold;
				}
			}
			.toolbar-title{
				padding: 0; font-size: 14px;font-family: var(--mysemibold);color: var(--ion-black);
			}
		}
	}

	.existing-address{
		padding: 15px;box-shadow: 0 0 10px rgba(0,0,0,.06);margin: 0 0 15px;background: #fff;
		ion-title{
			padding: 0;font-size: 14px; font-family: var(--myregular);margin-bottom: 10px; color: #aaa;
			ion-icon{
				float: left;margin-right: 5px;
				&:before{
					font-size: 14px;font-weight: bold;
				}
			}
			.toolbar-title{
				padding: 0; font-size: 14px;font-family: var(--mysemibold);color: #a1a1a1;
			}
		}
		.text{
			font-size: 15px;color: var(--heading-color);
		}
		.item{
			padding-left: 0
		}
	}
	.footer-btn{
		button{
			height: 45px; font-size: 16px;margin: 0;
		}
	}

	.autocomplete-search{
		margin-bottom: 10px;
		.item{
			padding-left: 0 !important;
			.item-inner{
				margin: 0;padding: 0;border-bottom: 0 !important;
				.label{
					margin: 0;padding: 0;
					.searchbar{
						margin: 0 !important; padding: 0;
						border-bottom: 2px solid #ddd;
						border-radius: 0;
						margin-bottom: 10px;
						.searchbar-search-icon{
							color: #000;left: 6px;
						}
						.searchbar-clear-icon{
							color: #000;right: 0;
						}
						.searchbar-input{color: #000;padding: 6px 35px;}
					}
				}
			}
			.searchbar-md-cancel{
				left: 0;
			}

		}

		.list{
			box-shadow: 0 0 5px rgba(0,0,0,.1);
			padding: 0;
			border: 1px solid #ddd;
			position: relative;
			.item{
				color: #000;
				padding: 0 15px !important;border-bottom: 1px solid #ddd;
				&.activated{
					background: var(--ion-color-primary);
				}
			}
		}
	}
}
