<ion-header class="header">
	<ion-toolbar class="header-toolbar">
	  <ion-navbar>
	    <ion-title>{{ 'delivery_address' | translate }}</ion-title>
	  </ion-navbar>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<div class="input-field-img">
		<img src="assets/images/delivery-image.jpg" />
	</div>
	<div class="input-field mb60">
		<ion-title>
			<ion-icon class="flaticon-pin"></ion-icon>
			{{ 'delivery_address' | translate }}
		</ion-title>
		
		<div class="autocomplete-search">
                <ion-item> 
                <ion-searchbar placeholder="{{ 'enter_delivery_address' | translate }}" [(ngModel)]="loginUserData.address" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()" (ionClear) ="dismiss()"></ion-searchbar>
                </ion-item>

                <ion-list *ngIf="addressList.length > 0">
                <ion-item *ngFor="let item of addressList" tappable (click)="chooseItem(item)">
                <i class="flaticon-map"></i> {{ item }}
                </ion-item>
                </ion-list>
            </div>

	</div>

</ion-content>

<div class="footer-btn">
	<button (click) ="submit()" ion-button class="btn-primary btn-block" >{{'save' | translate}}</button>
</div>