<ion-header class="header">
	<ion-toolbar class="header-toolbar">
	  <ion-navbar>
	    <ion-title>{{ 'change_pass' | translate }}</ion-title>
	  </ion-navbar>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<div class="varify-iocn-text">
		<img src="assets/images/change-pass-img.png" />
		<h3>{{ 'change_pass' | translate }}</h3>
	</div>
	
	<div class="input-field">
	    <ion-item class="item-field-info">
	    	<ion-label floating>{{ 'new_pass' | translate }}</ion-label>
	        <ion-input [(ngModel)]="changePassObj.password" type="password"></ion-input>
	    </ion-item>
	</div>
	<div class="input-field">
	    <ion-item class="item-field-info">
	    	<ion-label floating>{{ 'confirm_pass' | translate }}</ion-label>
	        <ion-input [(ngModel)]="confirm_pass" type="password"></ion-input>
	    </ion-item>
	</div>
  	
</ion-content>
<button (click) ="save()" class="btn-next btn-page-next" ion-button>{{ 'save' | translate }}</button> 