page-verified-password {
.title{
	    color: #292929; font-size: 14px;
	}
	h3.title{
	    margin-top: 25px !important; font-family: var(--myregular); text-align: center;font-size: 16px;color: #6d6d6d;
	}

	.title-md{
	    font-size: 17px;
	}
	.header-toolbar ion-button{
	    width: 40px;
	    ion-icon:before{
	        font-size: 15px;
	    }
	}
	.btn-page-next{
	    position: fixed;
	    left: 0;bottom: -4px;
	    width: 100%;
	    box-shadow: none;
	    padding-top: 11px;
	    padding-bottom: 10px;
	    height: 50px;
	    font-size: 15px;
	    background: #fdcf1c;
	}

	.input-field{
		margin-top: 20px;
	    position: relative; border: 1px solid #e1e1e1; background: #f2f2f2; border-radius: 4px; min-height: 46px;
	    .item-md{padding-left: 5px; background-color: transparent;}
	    .item-inner{padding-right: 10px; }
	    .item-md.item-block .item-inner{border-bottom: none;box-shadow: none;}
	    .item-interactive{
	        border-width: 0;
	    }
	}

	.alert-button.sc-ion-alert-md{
	    background-color: #ffca00; color: #333; width: 44%;display: block;border-radius: 5px;
	}
	.button-field{
		margin-top: 30px;text-align: center; color: #777;font-size: 15px;
		span.caption{
			position: relative;top: 3px;
		}
		button{
			font-size: 14px;padding: 3px 10px 5px; height: auto; margin:0;
			.button-inner{
				font-family: var(--mysemibold);
			}
			&.focus{
				color: var(--white-color); background:var(--link-color);
			}
		}
	}
	/****************************************/
	/*  varify Block  */
	.varify-iocn-text{
		margin: 25px 0 0;
		.icon{font-size: 47px;margin-bottom: 10px;text-align: center;width: 100px;height: 100px;padding: 27px 30px;border-radius: 50%;background: var(--green-color); color:#fff;margin: 0 auto 25px;display: block;}
		img{
			width: 87px;display: block;margin: 0 auto 25px;
		}
		h3{
			font-size: 18px; font-family: var(--mysemibold); text-align: center;margin: 0 0 5px; padding: 0;color: var(--heading-color);
		}
		.verify-sub-text{
			font-size: 15px; color: #666; text-align: center;
		}
	}

	page-btn{
		padding: 0;min-height: auto;
		.toolbar-background{
			background: #fff;padding: 0; margin: 0	
		}
		button{
			box-shadow: none;height: 45px;margin-bottom: 0;margin: 0;@include borderRadius(0);
		}
	}
}
