<ion-header class="header">
	<ion-toolbar class="header-toolbar">
	  <ion-navbar>
	    <ion-title>{{ 'varify_phone_number' | translate }}</ion-title>
	  </ion-navbar>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<div class="varify-iocn-text">
		<img src="assets/images/mobile-otp.png" />
		<h3>{{ 'varify_your_number' | translate }}</h3>
		<p class="verify-sub-text">{{ 'four_digit_txt' | translate }} <b>{{tempObj.phoneNumber}}</b>.</p>
		
	</div>
	
	<div class="input-field">
	    <ion-item>
	        <ion-input type="password" [(ngModel)]="otp" placeholder="{{ 'please_enter_otp' | translate }}" max="4"></ion-input>
	    </ion-item>
	</div>

	<div class="button-field" >
		<span class="caption">{{ 'not_receive_code' | translate }}</span> <button ion-button class="btn-link" (click)="resendCode()">{{ 'resend_code' | translate }}</button> 
	</div>
</ion-content>
 <ion-footer class="page-btn">
		<button (click) ="submit()" ion-button class="btn-primary btn-block">{{ 'next_txt' | translate }}  <ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon></button>
</ion-footer>
