<ion-content padding>
	<div class="">
	<div class="rate-title">
		<h4 style="">{{ 'seller_ratings' | translate }}</h4>
	</div>
	<div class="rate-subtitle">
		<p style="">{{ 'please_rate_on_seller_services' | translate }}</p>
	</div>
	<div class="rate-content">
<rating  [(ngModel)]="userObj.rating"  readOnly="false" max="5" emptyStarIconName="star-outline" starIconName="star" (ngModelChange)="onModelChange($event)"></rating>
</div>
<div class="rate-btns">
<button class="alert-button" ion-button (click)="cancel()">{{ 'cancel' | translate }}</button>
<button class="alert-button" ion-button (click)="submit()">{{ 'submit' | translate }}</button>
</div>
</div>

</ion-content>
