page-shareproduct {
	.scroll-content{
		padding-bottom: 45px;
	}
    .toolbar-md.header-search{
        padding:0 10px 10px !important;background: var(--ion-color-primary);
        .input-md{
            background: #fff; border-radius: 5px;
        }
        .item-md{
            border-radius: 0; background: transparent;margin: 0; padding: 0;
            .item-inner{
                border-bottom: 0 !important; box-shadow: none !important;margin: 0; padding: 0;
                .label{margin: 0;}
                .searchbar-input{
                	box-shadow: none;padding: 10px 55px;border-radius: 5px;
                }
                .searchbar-search-icon{
                	top: 14px;background-size: 23px;left: 14px;
                }
            }
        }
        .toolbar-content{

        }
    }

.product-user{
	.item-md{
		padding-left: 15px; padding-right: 15px;
		h2{
			margin: 16px 0 4px 0;
		}
		p{
			font-size: 12px; line-height: 16px; 
			ion-icon{
				font-size: 13px; vertical-align: middle; margin: 0 4px 0 0;
			}
		}
		.label-md{
			margin: 5px 8px 5px 0;
		}
		.checkbox-md{
			float: left; margin: 20px 12px 0 0;
		}
		ion-avatar[item-start]{
			float: left; margin: 8px 10px 8px 0;
		}
	}
	
}

.footer-btn{
	.btn-primary{
		margin: 0; height: 45px;font-size: 16px
	}
}

.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}

}
