<ion-header>
  <ion-navbar>
    <ion-title>{{ 'share_with_frd' | translate }}</ion-title>
  </ion-navbar>
<!--  <ion-toolbar class="header-search">
<ion-item>
<ion-searchbar placeholder="{{'search_by_name_phone_email' | translate }}" [(ngModel)]="friendObj.search_frd" [showCancelButton]="true"   (ionInput)="gotoSearch()" (ionCancel)="dismiss()" (ionClear) ="dismiss()">
   </ion-searchbar>
  </ion-item>
  </ion-toolbar> -->
</ion-header>
<ion-content>

    <!-- NO data -->
 
 <div class="no-product-found" *ngIf="!isData">
<!--<img src="assets/images/no-friends.png" /> -->
<h4>{{ 'frd_not_found' | translate }}</h4>
</div>

    <!-- NO data -->

 <div *ngIf="isData">
<ion-list class="product-user">

 <ion-item *ngFor='let friendItem of friendList; let i = index' [attr.data-index]='i'>
  <ion-label>
<ion-checkbox (click)="updateItem($event,friendItem.id)"></ion-checkbox>
<ion-avatar item-start>
<img *ngIf ="friendItem.profile_pic !=''" src="{{userImgPath+friendItem.profile_pic}}">
<img *ngIf ="friendItem.profile_pic ==''" src="assets/images/user-profile-default-thumb.jpg">

</ion-avatar>
<h2>{{friendItem.name}}</h2>
</ion-label>
 </ion-item>
</ion-list>
</div>
</ion-content>

<div class="footer-btn" *ngIf="friendList.length > 0" >
    <button (click)="submit()" class="btn-primary btn-block" ion-button>{{ 'share' | translate }}</button>
</div>