page-editprofile {
	@mixin borderRadius($property) {
	  -webkit-border-radius: $property;
	  -moz-border-radius: $property;
	  border-radius: $property;
	}
	.content-md{
		background: #fff;
	}

	.item-profile-card{
		margin: 0;border-radius: 0;box-shadow:none;width: 100%;background: #f5f5f5;
		.user-profile-img{
			width: 100%;
			img{
				contain: none; object-fit: cover; height: 250px;
			}
		}
		.item{}
		.edit-profile-photo-btn{
			position: absolute; width:40px;height: 40px;top:12px;right: 12px;background: var(--ion-color-primary); color: var(--ion-black); @include borderRadius(50%); box-shadow: none;margin-top: 3px;opacity: .8;overflow: hidden;
			.icon:before{
				font-size: 15px;font-weight: bold;
			}
		}
		ion-card-content{
			background: #fff; padding-bottom: 60px;
		}
	}

	.basic-info-content{
		h6{
			font-size: 21px; font-family: var(--myregular); color: #292929;margin:5px 0 15px; 
		}
		.item{
			padding-top: 12px; padding-left: 0;
			.label{
				font-size: 14px; color: var(--ion-caption);padding: 6px 0 0;margin-top: 0;
			}
		}
		.icon{
			font-size: 24px;line-height: 18px;position: relative;top: 13px;font-weight: bold;color: var(--ion-caption);
			&:before{
				font-size: 14px;
			}
		}

		ion-grid.grid{
			padding: 0;
			ion-row{
				margin-bottom: 10px;
			}
			ion-col{
				padding: 0;
			}
		}
	}

	.page-btn{
		padding: 0;min-height: auto;
		.toolbar-background{
			background: #fff;padding: 0; margin: 0	
		}
		button{
			box-shadow: none;height: 45px;margin-bottom: 0;margin: 0;@include borderRadius(0);
		}
	}
	.item-field-info{
		.label{
			font-size: 15px;padding: 4px 0;color: var(--ion-caption);
		}
	}

		.item-radio-field .toggle {
	    border-radius: 30px;height: 22px;padding: 0;width: 60px;border: 1px solid #333;
	    .toggle-inner{
	    	left: 7px; right: auto;top: 3px;width: 15px;height: 15px;background-color: #333;
	    }
	    .toggle-icon{
	    	background-color: transparent;
	    }		    
	    &.toggle-checked{
	    	border: 1px solid #fdcf1c;
	    	.toggle-inner{
		    	left: auto; right: 21px;background-color: #fdcf1c;
		    }
	    }
	}
	.item-radio-field.switch-field{
		margin-top: 10px;
		.label{
			font-size: 16px;
			color: var(--ion-black);
		}
	}

	.change-language-card{
		border: solid 1px #eaeaea; box-shadow: none; border-radius: 5px; background: #eaeaea; margin: 5px 0 0px 0;     width: calc(100% - 0px);
	} 

	 .change-language-card .payment-method-radio .item .label{
	margin: 8px 0 6px;
	img{
		width: 110px;top: 0;
	}
}

.payment-method-radio{
	.card-header-md{
		padding: 0;
	}
		.item{
			padding: 5px 10px;
			.checkbox-md{
				margin: 14px 16px 9px 4px;
			}
			.label{
				img{
					width: 75px;position: relative;top: -3px;
				}
			}
		}
	}

	.card-header{
			
			ion-card-title{
				font-size: 14px; font-family: var(--mybold); color: var(--button-dark-grey);text-transform: uppercase;font-weight: normal;margin: 0; padding: 0; line-height: 1.9;
			}
			a{
				color: var(--ion-link); font-family: var(--myregular); float: right;text-transform: capitalize;
			}

			.badge{ float: right; padding: 6px 10px 2px; border-radius: 25px; position: relative; margin-left: 8px; top: 0; font-size: 13px; line-height: 18px;
			}
		}
}
