<ion-header class="header">
  <ion-toolbar class="header-toolbar">
    <ion-navbar>
      <ion-title>{{ 'edit_profile' | translate }}</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="item-profile-card">
    <div class="user-profile-img">

      <img *ngIf="!isphoto"
        src="{{ (tempArr.profile_pic == '' || tempArr.profile_pic == null ) ? 'assets/images/user-profile-default-img.jpg'  :  imagePath+tempArr.profile_pic }}" />
      <img *ngIf="isphoto"
        src="{{ (tempArr.profile_pic == '' || tempArr.profile_pic == null ) ? 'assets/images/user-profile-default-img.jpg'  :  tempArr.profile_pic }}" />

    </div>
    <button class="edit-profile-photo-btn" ion-button (click)="changePic()">
      <ion-icon class="flaticon-edit-1"></ion-icon>
    </button>
    <ion-card-content class="basic-info-content">
      <h6>{{ 'basic_info' | translate }}</h6>
      <ion-grid>
        <ion-row>
          <ion-col col-1>
            <ion-icon class="flaticon-user"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <ion-item class="item-field-info">
              <ion-label stacked>
                {{ 'username' | translate }}
              </ion-label>
              <ion-input type="text" (blur)="uniqueName(userDetails.name)" maxlength="30"
                [(ngModel)]="userDetails.name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-1>
            <ion-icon class="flaticon-user"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <ion-item class="item-field-info">
              <ion-label stacked>
                {{ 'name' | translate }}
              </ion-label>
              <ion-input type="text" maxlength="30" [(ngModel)]="userDetails.delivery_name"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            <ion-icon class="flaticon-user"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <ion-item class="item-field-info">
              <ion-label stacked>
                {{ 'surname' | translate }}
              </ion-label>
              <ion-input type="text" [(ngModel)]="userDetails.delivery_surname"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-1>
            <ion-icon class="flaticon-phone-call"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <ion-item class="item-field-info">
              <ion-label stacked>
                {{ 'mobile_no' | translate }}
              </ion-label>
              <ion-input type="tel" maxlength="14" [(ngModel)]="userDetails.mobile_no"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-1>
            <ion-icon class="flaticon-envelope"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <ion-item class="item-field-info">
              <ion-label stacked>
                {{ 'email' | translate }}
              </ion-label>
              <ion-input type="text" [(ngModel)]="userDetails.email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-1>
            <ion-icon class="newflaticon-enterprise"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <ion-item class="item-field-info">
              <ion-label stacked>
                {{ 'company' | translate }}
              </ion-label>
              <ion-input type="text" [(ngModel)]="userDetails.delivery_comp"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <!-- <ion-row>
          <ion-col col-1>
            <ion-icon class="newflaticon-enterprise"></ion-icon>
          </ion-col>
          <ion-col col-11>
            <ion-item class="item-field-info">
              <ion-label stacked>
                {{ 'pick_address' | translate }}
              </ion-label>
              <ion-input type="text" [(ngModel)]="userDetails.pick_address"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row> -->

        <!-- <ion-card class="ion-comman-card change-language-card">
          <ion-card-header>
            <ion-card-title>
              {{'order_type' | translate }}
            </ion-card-title>
          </ion-card-header>
          <ion-list class="payment-method-radio" checkbox-group>
            <ion-item>
              <ion-label>{{'delivery' | translate }}</ion-label>
              <ion-checkbox [(ngModel)]="userDetails.order_delivery"></ion-checkbox>
            </ion-item>
            <ion-item>
              <ion-label>{{'take_away' | translate }}</ion-label>
              <ion-checkbox [(ngModel)]="userDetails.order_take_away"></ion-checkbox>
            </ion-item>
          </ion-list>
        </ion-card> -->
        <!-- <div class="item-radio-field switch-field">
          <ion-item>
            <ion-label>{{'allow_promo_code_for_all_items' | translate }}</ion-label>
            <ion-toggle [(ngModel)]="userDetails.isPromoCode"></ion-toggle>
          </ion-item>
        </div>
        <div [hidden]="!userDetails.isPromoCode">
          <ion-row>
            <ion-col col-1>
              <ion-icon class="newflaticon-favourite"></ion-icon>
            </ion-col>
            <ion-col col-11>
              <ion-item class="item-field-info">
                <ion-label stacked>
                  {{'promo_code' | translate }}
                </ion-label>
                <ion-input type="text" [(ngModel)]="userDetails.promoCode"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-1>
              <ion-icon class="newflaticon-save-button"></ion-icon>
            </ion-col>
            <ion-col col-11>
              <ion-item class="item-field-info">
                <ion-label stacked>
                  {{'discount' | translate }}
                </ion-label>
                <ion-input type="number" [(ngModel)]="userDetails.promoDiscount"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </div> -->
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-toolbar class="page-btn">
    <button (click)="submit()" ion-button class="btn-primary btn-block">{{ 'update_profile' | translate }}</button>
  </ion-toolbar>

</ion-content>
