<ion-header>
	<ion-navbar>
	  <ion-title>{{'order_receiver_details' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div class="">
	
	<div class="modal-container">
		<ion-card class="card-box item-deliverto">
		<ion-card-content class="basic-info-content" >
			<ion-grid>
			<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="flaticon-user" item-left></ion-icon>
			    			<ion-input [(ngModel)]="receiverDetails.delivery_name" type="text" placeholder="{{ 'name' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="flaticon-user" item-left></ion-icon>
			    			<ion-input [(ngModel)]="receiverDetails.delivery_surname"  type="text" placeholder="{{ 'surname' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="flaticon-smartphone-2" item-left></ion-icon>
			    			<ion-input [(ngModel)]="receiverDetails.delivery_mobile"  type="text" placeholder="{{ 'mobile_no' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="newflaticon-enterprise" item-left></ion-icon>
			    			<ion-input [(ngModel)]="receiverDetails.delivery_company" type="text" placeholder="{{ 'company' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card-content>  	
	</ion-card>
	</div>
	<div class="modal-btn-group">
		<button class="alert-button" ion-button (click)="cancel()">{{ 'cancel' | translate }}</button>
		<button class="alert-button" ion-button (click)="submit()">{{ 'submit' | translate }}</button>
	</div>
</div>

</ion-content>

