page-join-order-past {
.content-md{
		background-color: #f7f7f7;
	}
	.card{
		box-shadow: 0 0 8px rgba(0,0,0,.1); border-radius: 0;padding: 5px; position: relative;
		.img-thumb{
			width: 100%; height: 100%; object-fit: cover;border-radius: 5px;
		}
		.order-item{
			padding: 0;
			.label{
				margin: 0;
			}
			.delivery-cost-price{
				margin-top: 2px;
			}
			h2{
				font-size: 17px; font-family: var(--mybold); color: var(--heading-color);margin: 0; padding: 0;
			}
			p{
				font-size: 12px; font-family: var(--myregular); color: var(--sub-heading-color);margin: 3px 0 0;padding: 0;white-space: normal;
				span{
					color: var(--button-dark-grey);
				}
			}
			ion-col{
				padding: 0;
			}
			.time-place-div{
				margin-top: 7px;
			}
		}
		.text-right{
			text-align: right;
		}
		.order-status{
			font-size: 13px;padding-top: 7px;
			.icon{ font-size: 12px; margin-right: 5px;}
		}
		.order-status.free{
			color: #409e20;
		}
		.order-status.paid{
			color: #9e6720;
		}
		.order-price{
			font-family: var(--mybold); color: var(--heading-color);padding-top: 7px;font-size: 16px;
		}
		.toolbar{
			background-color: transparent;padding: 5px 5px 0; margin: 5px 0 0; border-top: 1px solid #f5f5f5;
			.col{
				padding: 0
			}
			.item{
				padding: 0;
				ion-avatar[item-start]{
					margin: 4px 4px 4px 0;
					img{
						width: 35px; height: 35px;
					}
				}
				.label-md{
					margin: 0;
				}
				p{
					font-size: 14px;margin: 0;
				}
				h2{
					font-family: var(--mysemibold);font-size: 14px;margin: 0;
				}
			}
		}
		.btn-primary{
			padding: 9px 15px 10px;margin: 7px 0 0;border-radius: 3px;
		}
		.withDeliveryCost{ font-size: 13px; color: var(--sub-heading-color); text-align: right;padding-top: 2px;}
	}
	.getdiscount{
		padding: 1px 5px; text-align: center;width: 100%;
		font-size: 12px;font-weight:bold;display: inline-block;margin-top: 13px;border: 1px dashed transparent;
	}
	.getdiscount.offer{
		background: #fff5e0;color: #92681c;border-color: #fbc36f;
	}
	.getdiscount.used{
		background: #edfbf0;color: #4a945a;border-color: #a4e6bb;
	}
	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}
	.item-order-status{ 
		position: absolute; z-index: 1; left: 10px; width: 100%; 
		label.tag{
			    font-weight: 600;
			    left: -10px;
			    top: 15px;
			    position: absolute;
			    width: auto;
			    height: 26px;
			    line-height: 27px;
			    font-size: 11px;
			    margin-left: 0;
			    background: #FFDC40;
			    border-radius: 0 3px 2px 0px;
			    padding: 0 0 0 11px;
			    display: block;
			  &:after{
			    content: "";
			    position: absolute;
			    left: 100%;
			    bottom: 0;
			    width: 0;
			    margin-left: -3px;
			    height: 0;
			    display: inline-block;
			    line-height: 0;
			    border-width: 13px;
			    border-style: solid;
			    border-color: #FFDC40 transparent #FFDC40 #FFDC40;
			    z-index: -1;
			  }
			}
		&.confirm{
			label.tag{
				background: #2eb074; color: #fff;
				&:after{
					 border-color: #2eb074 transparent #2eb074 #2eb074;
				}
			}
		}
		&.reschuled{
			label.tag{
				background: #fdcf1c; color: #000;
				&:after{
					 border-color: #fdcf1c transparent #fdcf1c #fdcf1c;
				}
			}
		}
		&.reject{
			label.tag{
				background: #d52e2e; color: #fff;
				&:after{
					 border-color: #d52e2e transparent #d52e2e #d52e2e;
				}
			}
		}

	}	

	
/* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 115px;
}
.skeletonBox .avatar {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 230px;
}
.blankBox{
 width: calc(100% - 20px) !important; height: 90px !important; margin:10px 10px 0px 10px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/
}

