<ion-content>
<!-- Ionic refresh -->
	   <ion-refresher slot="fixed" (ionRefresh)="doOrderRefresh($event)">
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      pullingText="  {{ 'pull_to_refresh' | translate }}"
	      refreshingSpinner="circles"
	      refreshingText="{{ 'refreshing' | translate }}">
	    </ion-refresher-content>
	  </ion-refresher>
	<!-- End --> 
<!-- NO data -->
 
<div class="no-product-found" *ngIf="!isData">
		<h4>{{'no_past_join_orders' | translate}}</h4>
</div>

<!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->


<div *ngIf="isData">
	<ion-card *ngFor="let item of orderList">

		<div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 1">
			<label class="tag">{{'order_pending' | translate}}</label>
		</div>
 		<div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 2">
			<label class="tag">{{'order_confirm' | translate}}</label>
		</div>

		<div class="item-order-status reject" *ngIf="item.order_delivery_Status == 3">
			<label class="tag">{{'order_reject' | translate}}</label>
		</div>

		<div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 4">
			<label class="tag">{{'order_rescheduled' | translate}}</label>
		</div>

		<div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 5">
			<label class="tag">{{'order_rescheduled' | translate}}</label>
		</div>
		<ion-row>
			<ion-col col-4>
				<img src="{{prodImgPath+item.prodImg}}" class="img-thumb" />
			</ion-col>
			<ion-col col-8>
				<ion-item class="order-item">
					<h2>{{item.prodName}}</h2>
					<div class="time-place-div">
						<p *ngIf="item.is_rescheduled ==1"><span>Delivery Time:</span> {{item.rescheduled_date_time}}</p>
						<p *ngIf="item.is_rescheduled ==0"><span>Delivery Time:</span> {{item.deliveryTime}}</p>
						<p><span>Delivery Place:</span> {{item.delivertAddress}}</p>
					</div>

					<ion-row class="delivery-cost-price" *ngIf="item.isFree ==true">
						<ion-col col-6>
							
						<div class="order-status free">
								<ion-icon class="flaticon-order"></ion-icon>{{'free_delivery_txt' | translate}}
						</div>

						</ion-col>
						<ion-col col-6 class="text-right">
							<div class="order-price">
								&euro; {{item.totalAmt}}
							</div>
						</ion-col>

					</ion-row>

					<ion-row class="delivery-cost-price" *ngIf="item.isFree ==false">
						<ion-col col-6>
						<div class="order-status paid">
								<ion-icon class="flaticon-order"></ion-icon>{{'delivery_cost_txt' | translate}} &euro; {{item.std_delivery_cost}}
						</div>

						</ion-col>
						<ion-col col-6 class="text-right">
							<div class="order-price">
								&euro; {{item.totalAmt}}
							</div>
						</ion-col>
					</ion-row>

					<div class="getdiscount used" *ngIf="item.isPromocodeused ==1">
						{{'you_got_txt' | translate}} {{item.discount_percentage}}% OFF
					</div>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-toolbar>
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-avatar item-start (click)="gotoSellerProfile(item.seller_id)">
						<img  *ngIf ="item.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg'/>
          				<img *ngIf ="item.sellerImg !=''" src='{{userImgPath+item.sellerImg}}'/>
						</ion-avatar>
						<p>{{'seller' | translate }}</p>
						<h2>{{item.sellerName}}</h2>
					</ion-item>
				</ion-col>
				<ion-col col-6 class="text-right">
					<button ion-button class="btn-primary" small (click)="buyerDetails(item.orderId,item.seller_id,item.mainBuyerId)">
						{{'view_details' | translate }}
					</button>
				</ion-col>
			</ion-row>
		</ion-toolbar>
	</ion-card>

<ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>

</ion-content>
