page-sellerjoinproducts {
/*	
@mixin borderRadius($property) {
	  -webkit-border-radius: $property;
	  -moz-border-radius: $property;
	  border-radius: $property;
	}

	.content-md{
		.sc-ion-card-md-h{
			margin: 0;padding: 0;
			border-radius: 0;
			-webkit-box-shadow: 0 1px 0px 0px rgba(0,0,0,.1);
			box-shadow: 0 1px 0px 0px rgba(0,0,0,.1);
		}
	}
	.scroll-content{
		padding: 0 !important
	}


	/**************************
	  For Product Listing */
	/*.card-md{
		box-shadow: none; padding: 0;margin: 0;width:100%;border-bottom: 1px solid rgba(0,0,0,.08);
		ion-card-header{
			padding: 5px;
		}
		ion-col{
			padding: 0
		}
		.card-user-img{
			width: 40px;height: 40px;overflow: hidden; @include borderRadius(50%);
		}
		ion-img{
			contain: none
		}
		.card-user-img > img{
			object-fit: cover
		}
		.card-user-name{
			font-size: 16px; color: #292929; font-family: var(--mysemibold);padding-left: 10px;padding-bottom: 3px;
		}
		.card-user-location{
			color: #979a9f; font-size: 13px;padding-left: 9px;font-family: var(--myregular);
		}
		.card-user-location .flaticon-pin:before{
			font-size: 12px;
		}
		ion-row{
			position: relative;
		}
		ion-col.card-left-info{
			width: 45px !important;
			max-width: 45px !important;
		}
		.card-right-button{ 
			position: absolute; top:0; right:0; z-index: 1;width:24px;text-align: left;padding: 0;
		}
		.card-right-button > button > ion-icon{
			font-size: 25px;
		}
		.card-right-button > button{		
		    color: #8d8d8d;
		}
		.card-right-button > button:hover,
		.card-right-button > button:focus,
		.card-right-button > button:active,
		.card-right-button > button.focused,
		ion-card .card-right-button > button.activated{
			color: #292929;
		}
	}

	.product-item-content{
		padding: 0;
		.item-heading-subheading{
			font-family: var(--mybold);
			color: #292929;
			font-size: 18px;
			padding: 6px 12px 0;
		}
		.item-heading-subheading span{
			color: #a1a1a1;
			font-family:  var(--myregular);
			font-size: 14px;
			padding-left: 10px;
		}
		.item-heading-subheading span ion-icon:before{
			font-size: 14px; position: relative;top: 0;
		}
		.item-actbuttons{
			padding: 0 8px;min-height: 50px;
		}
		.item-actbuttons .toolbar-background{
			background: #fff;contain: none;
		}
		.item-actbuttons .item-btn{
			font-size: 20px; color: #8d8d8d; box-shadow: none;background: transparent;padding: 0 12px;margin-bottom: 0;margin-top: 0;
			ion-icon:before{
				font-size: 20px;
			}
		}
		.item-actbuttons .item-btn.active{
			color: #d12b2b;
			ion-icon.flaticon-heart-2:before{
				content: "\f162";
			}
		}
		.item-actbuttons .item-btn.btn-add-to-cart{
			color: #292929;
			ion-icon:before{
				font-size: 24px;
				font-weight: bold
			}
		}
		.item-actbuttons .item-btn.item-btn-join{
			background: var(--ion-color-primary); color: var(--ion-black); font-size: 14px; padding: 2px 5px; @include borderRadius(25px);margin-left:10px; font-family: var(--mybold);border:1px solid transparent;
			&:focus{
				border-color: var(--heading-color); background: var(--heading-color);
				.toolbar-title{
					color: var(--white-color) !important;	
				}
			}			
			.toolbar-title{
				font-family: var(--mybold);font-size: 15px; text-transform: capitalize;
			}
		}
		.item-actbuttons .item-btn.item-price{
			background: transparent; color: #292929; font-size: 18px; padding: 2px 5px; @include borderRadius(25px);margin-right:0; font-family: var(--mybold);border:1px solid transparent;
			&:focus{
				border-color: transparent; background: transparent;
			}			
			.icon{
			    width: 26px;
			    height: 26px;
			    text-align: center;
			    border-radius: 50%;
			    background: var(--ion-color-primary);
			    padding: 6px;
			    font-size: 14px !important;
			    margin-right: 3px;
				&:before{
					font-size: 15px;margin-right: 4px;font-weight: bold;
				}
			}
			.button-inner{
				font-family: var(--mybold);
			}
			ion-title{position: relative !important;padding: 0!important }
			.toolbar-title{
				font-family: var(--mybold); font-size: 17px;color: var(--ion-black); padding-right: 6px;
			}
		}
		.item-actbuttons .item-text-btn{
			font-size: 15px; color: #979a9f; text-transform: none;letter-spacing: normal;
			font-family:var(--mysemibold); background: transparent;box-shadow: none;padding: 0 8px;
			&:focus{
				color: var(--ion-black);
			}
			.button-inner{
				font-family: var(--mysemibold);
			}
		}
		.item-actbuttons.item-text-actbutton{
			padding-top: 0;padding-top: 0;margin-top: 0;color: #d0d0d0;min-height: 40px;
			.action-btn{
				font-size: 19px; font-weight: bold; color: var(--ion-black); background: transparent; box-shadow: none;color: var(--heading-color);padding: 0 20px;
			}
		}
	}
	.vline{
		position: relative;top: 2px;font-family: var(--mylight);
	}
	
	
	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	} */

	.content-md{
		background-color: #f7f7f7;
		.toolbar-background-md{
			background: #fff;
		}
	}
	.card{
		box-shadow: 0 0 8px rgba(0,0,0,.1); border-radius: 0;padding: 5px; position: relative;
		.img-thumb{
			width: 100%; height: 100%; object-fit: cover;border-radius: 5px;
		}
		.order-item{
			padding: 0;
			.label{
				margin: 0;
			}
			.delivery-cost-price{
				margin-top: 2px;
			}
			h2{
				font-size: 17px; font-family: var(--mybold); color: var(--heading-color);margin: 0; padding: 0;
			}
			p{
				font-size: 12px; font-family: var(--myregular); color: var(--sub-heading-color);margin: 3px 0 0;padding: 0;white-space: normal;
				span{
					color: var(--button-dark-grey);
				}
			}
			ion-col{
				padding: 0;
			}
			.time-place-div{
				margin-top: 7px;
			}
		}
		.text-right{
			text-align: right;
		}
		.text-left{
			text-align: left;
		}
		.order-status{
			font-size: 13px;padding-top: 7px;
			.icon{ font-size: 12px; margin-right: 5px;}
		}
		.order-status.free{
			color: #409e20;
		}
		.order-status.paid{
			color: #9e6720;
		}
		.order-price{
			font-family: var(--mybold); color: var(--heading-color);padding-top: 7px;font-size: 16px;
		}
		.toolbar{
			background-color: transparent;padding: 5px 5px 0; margin: 5px 0 0; border-top: 1px solid #f5f5f5;
			.col{
				padding: 0
			}
			.item{
				padding: 0;
				ion-avatar[item-start]{
					margin: 4px 4px 4px 0;
					img{
						width: 35px; height: 35px;
					}
				}
				.label-md{
					margin: 0;
				}
				p{
					font-size: 14px;margin: 0;
				}
				h2{
					font-family: var(--mysemibold);font-size: 14px;margin: 0;
				}
			}
		}
		.btn-primary{
			padding: 9px 15px 10px;margin: 7px 0 0;border-radius: 3px;
		}
		.withDeliveryCost{ font-size: 13px; color: var(--sub-heading-color); text-align: right;padding-top: 2px;}
		.select-checkbox{
			position: absolute;
			 display: inline-block;
			 left: -14px;
			 top: -9px; z-index: 9;
		}
		.select-thumb{
			flex: 0 0 105px;
			  margin: 0 7px 0 34px;
			  z-index: 999;
		}
	}
	.getdiscount{
		padding: 1px 5px; text-align: center;width: 100%;
		font-size: 12px;font-weight:bold;display: inline-block;margin-top: 13px;border: 1px dashed transparent;
	}
	.getdiscount.offer{
		background: #fff5e0;color: #92681c;border-color: #fbc36f;
	}
	.getdiscount.used{
		background: #edfbf0;color: #4a945a;border-color: #a4e6bb;
	}
	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}
	
    	/* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 115px;
}
.skeletonBox .avatar {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 230px;
}
.blankBox{
 width: calc(100% - 20px) !important; height: 90px !important; margin:10px 10px 0px 10px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/

  .status-and-action {


    .item {
      margin: 0;
      padding: 0;
      background: transparent;

      .item-inner {
        border: 0;
      }

      // max-width: 50px;
    }

    .checkbox-md .checkbox-icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .checkbox-md .checkbox-checked .checkbox-inner {
      left: 6px;
      top: 2px;
    }

    .checkbox-md-dark .checkbox-checked {
      border-color: #2c435a;
      background-color: #2c435a;
    }

    .item.item-md .checkbox-md {
      margin: 0 13px 0 6px;
    }
  }
 .no-product-found {
    padding: 45px 0;

    img {
      margin: 10px auto;
      display: block;
    }

    h4 {
      color: #434343;
      font-size: 19px;
      font-family: var(--myregular);
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

}
