<ion-header class="header">
  <ion-toolbar class="header-toolbar">
      <ion-navbar>
        <ion-title>{{ 'seller_products' | translate }}</ion-title>
      </ion-navbar>
    </ion-toolbar>
     <ion-toolbar class="header-action-bar">
    <div>
          <ion-row>
            <ion-col>
              <div class="status-and-action">
                <ion-item>
                  <ion-label>{{'select_all' | translate}}</ion-label>
                  <ion-checkbox color="dark" [(ngModel)]="selectedAll" (click)="checkedAll()" ></ion-checkbox>
                </ion-item>
              </div>
            </ion-col>
            <ion-col text-right (click)="submitProduct()">
              <button [disabled]="!productListing?.length > 0" ion-button  color="secondary" round>{{'join_order' | translate}}</button>
            </ion-col>
          </ion-row>
        </div>
  </ion-toolbar>
  </ion-header>
  
<ion-content>

<!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

  <!-- Ionic refresh -->

   <ion-refresher slot="fixed" (ionRefresh)="doSellerRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <div class="no-product-found" *ngIf="!isData">
    <h4>{{ 'food_not_avail' | translate }}</h4>
  </div>

<div *ngIf="isData">
      <ion-card *ngFor='let product of productListing; let i = index' [attr.data-index]='i'>
    <ion-row>
     <ion-col class="select-checkbox">
        <ion-item style="background: transparent;">
          <ion-checkbox color="dark"  [checked]="product.checked" (click)="updateItemInCart($event,product,i)" ></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col class="select-thumb">
        <img (click)="gotoProductDetailPage(product.id,product.distance)" src="{{prodImgPath+product.cover_photo}}" class="img-thumb" />
      </ion-col>
      <ion-col style="z-index: 999;">
        <ion-item class="order-item">
          <h2>{{product.name}}</h2>
          <p>{{product.address}}</p>
          <ion-row class="delivery-cost-price">
            <ion-col col-6 class="text-left">
              <div class="order-price">
              &euro; {{product.amount}}
            </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>

    <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
       </ion-infinite-scroll>
  </div>

</ion-content>


