<ion-header>
  <ion-navbar>
    <ion-title>{{ 'user_profile' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-card>
		<div class="sellerProfileThumb">
			
			<div class="user-profile-img">
				<img src="{{ (userData.profile_pic == '' || userData.profile_pic == null ) ? 'assets/images/user-profile-default-img.jpg'  :  imagePath+userData.profile_pic }}"/>
			</div>

			<div class="backgroundbg">
				<img src="{{ (userData.profile_pic == '' || userData.profile_pic == null ) ? 'assets/images/user-profile-default-img.jpg'  :  imagePath+userData.profile_pic }}"/>
    		</div>
			<div class="user-name">
				<h3>{{userData.name}}</h3>
			</div>
		</div>
	</ion-card>
	<div class="user-post-products">
		<ion-grid>
			<ion-row>
				<ion-col>
					<label>{{ 'total_products' | translate }}</label>
					<h4>{{userData.productCount}}</h4>
				</ion-col>
				<ion-col>
					<label>{{ 'total_ratings' | translate }}</label>
					<h4>{{userData.userRatings}}</h4>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

     <!-- product listing functionality started --> 
        <div class="no-product-found" *ngIf="userData.productList.length == 0">
        <h4>{{'order_not_available' | translate }}</h4>
        </div>
   
         <div class="ion-grid-table" *ngIf="userData.productList.length > 0">
            <ion-list class="grid-row">
              <ion-item class="grid-col" *ngFor="let productItem of userData.productList">
                <img (click)="gotoProductDetailPage(productItem.isOrdered,productItem.id,productItem.seller_id)"  src="{{prodImgPath+productItem.cover_photo}}" />
                <div class="overlay-content">
                  <span class="left">{{productItem.name}}</span>
                  <span class="right">{{productItem.amount}} &euro;</span>
                </div>
              </ion-item>
            </ion-list>
		  </div> 
		  
<!-- 		  
		  <div class="profile-products">
			<ion-grid>
				<ion-row>
				  <ion-col col-6>
					  <div class="product-item">
						<img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2009/5/27/0/0125629_03_chicken-in-skillet_s4x3.jpg.rend.hgtvcom.826.620.suffix/1371589386937.jpeg" alt="" /> 
						<div class="overlay-content">
							<span class="left">Chicken</span>
							<span class="right">20.00 &euro;</span>
						</div>
					  </div>
				  </ion-col>
				  <ion-col col-6>This column will take 12 columns</ion-col>
				</ion-row>
			</ion-grid>
		  </div> -->

     <!-- End --> 
	</ion-content>
