page-sellerprofile {
	.card{
		padding: 0; margin: 0; width: 100%; border-radius: 0;box-shadow: none;
		.user-profile-img{
			position: relative; z-index: 1; width: 150px; height: 150px; border-radius: 50%;display: block; margin: auto; top: 70px; left: 0; right:0; overflow: hidden;box-shadow: 0 0 45px rgba(0, 0, 0, 0.3);border: 6px solid rgba(255,255,255,.8);
			img{
				display: block;width: 100%;height: 100%;max-width: none;object-fit: cover;
			}
		}
		.sellerProfileThumb{
			position: relative; min-height: 400px;
		}
		.backgroundbg{
			position: absolute;top: 0;left: 0; width:100%; height: 100%;overflow: hidden;background: var(--heading-color);
			img{
				width: 110%; height: 110%; object-fit: cover; filter: blur(15px);margin: -25px 0 0 -25px; max-width: none;opacity: 0.7;
			}
		}
		.user-name{margin-top: 95px;position: relative;}
		.user-name h3{text-align: center;font-size: 19px;font-family: var(--myregular);color: #fff;}
	}
	.user-post-products{
		padding: 0 25px 10px; position: relative;margin-top: -60px;
		.grid{
			background: #fff;border-radius: 5px;box-shadow: 0 0 15px rgba(0,0,0,.2);
			.row{padding: 12px 0 10px;}
			.col{padding: 0}
			.col + .col{
				border-left: 1px solid #ccc;
			}
			label{
				text-align: center;display: block;width: 100%; color: var(--button-dark-grey);
			}
			h4{text-align: center;font-family: var(--mybold);font-size: 23px;margin: 0; padding: 8px 0 0;color: var(--button-dark-grey);}
		}
	}
	.user-deatils-panel{
		padding-top: 10px;
		.item{
			padding-left: 28px;padding-right: 25px;
			.icon{
				font-size: 24px;margin-top: 0;
			}
			label{
				font-size: 18px;padding-top: 3px;display: block;
			}
			h2{
				font-size: 15px;font-family: var(--myregular);color: var(--ion-caption);
			}
		}
		.sellerRatting{
			ul{
				margin: 6px 0 0; padding: 0;
				li{
					padding: 5px 0;
					.icon{
						font-size: 28px; color: #e6a50d;
					}
				}
				li + li{
					padding-left: 8px !important;
				}
			}

		}
		.ratting-button-right{
			float: right;margin-bottom: 25px;margin-top: 5px;
			.item-inner{
				padding: 0;
				.label{
					margin: 0
				}
			}
			.item-button{
				width: 100%;font-size: 15px;height: 36px;padding: 5px 15px;
			}
		}
	}


	.ion-grid-table{
		float: left;width: 100%;padding: 3px;padding-top: 0;
		.grid-row{
			width: 100%; float: left; margin: 14px 0 0
		}
		.grid-row + .grid-row{
			margin: 0 0 0
		}
		.grid-col{
			background-color: #f3f3f3;height: 185px; float: left;width: 48.8%;margin: 2px;padding: 0;position: relative;
			.item-inner{
				border-bottom: 0;padding: 0;
				img{
					width: 100%; height: 100%; object-fit: cover;margin: auto;
				}
			}
			.label{
				margin: 0;height: 100%;text-align: center;
			}
			.overlay-content{
				position: absolute;width: 100%;padding: 50px 5px 5px;
				bottom: 0; left: 0; color: #fff;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%, rgba(0,0,0,0.65) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%);
				.left, .right{
					font-family: var(--mysemibold);font-size: 13px;
				}
				.left{
					float: left;
				}
				.right{
					float: right; 
				}
			}
		}
		.status{
			width: 15px;height: 15px; background-color: transparent;border-radius: 50%;
			position: absolute; top: 10px; right: 10px; z-index: 1;
		}
		.status.open{
			background-color: var(--green-color-2);box-shadow: 0 0 10px rgba(0,0,0,.5);
		}
		.status.closed{
			background-color: var(--red-color);box-shadow: 0 0 10px rgba(0,0,0,.5);
		}
		.grid-row:nth-child(odd){
			.grid-col:nth-child(1){
			    width: 48.5%;
			    background-color: #ccc;
			    height: 185px; float: left;
			}
		}
		.grid-row:nth-child(even){
			.grid-col:nth-child(2){
			    width: 65.7%;
			    background-color: #ccc;
			    height: 204px; float: right;position: relative;left: -2px;
			}
		}
		.grid-row:nth-child(odd) .grid-col:nth-child(1), .grid-row:nth-child(even) .grid-col:nth-child(2){
			.overlay-content{
				.left, .right{
					font-size: 13px; font-family: var(--myregular)
				}
			}
		}
	}



		@media(min-width: 540px) {
		.grid-col{
			width: 48.8% !important; height: 304px !important;
			.overlay-content{
				.left, .right{
					font-size: 18px !important; font-family: var(--mysemibold) !important;
				}
			}
		}
		.grid-row:nth-child(odd) .grid-col:nth-child(1),
		.grid-row:nth-child(even) .grid-col:nth-child(2){
		    width: 48.8% !important;
		    background-color: #ccc;
		    height: 304px !important; float: left;
		}
		.grid-row:nth-child(even) .grid-col:nth-child(2){
			position: relative;left: -2px; float: right;
		}

	}
 

	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 19px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}

}
