page-sellerproduct-details {

	@mixin borderRadius($property) {
	    -webkit-border-radius: $property;
	    -moz-border-radius: $property;
	    border-radius: $property;
	}
	.scroll-content{
		padding-bottom: 60px
	}
	.header{
		ion-title {
		  position: absolute;
		  top: 0;
		  left: 0;
		  padding: 0 90px 1px;
		  width: 100%;
		  height: 100%;
		  text-align: center;
		}
	}
		.cart-badge-btn{
		position: relative;padding-right: 5px !important;
		.cart-badge{ 
/*position: relative;
top: 0;
right: -6px;
padding: 3px 6px 3px;
border-radius: 75px;
font-size: 11px;
font-family: var(--mybold);
margin-top: -19px;
margin-left: -19px;
background-color: #f50e0e;*/

	left: 50%; transform: translateX(-50%); position: absolute; margin-left: inherit; margin-top: inherit;
	position: absolute;
top: 0;
right: inherit;
padding: 3px 6px 3px;
border-radius: 75px;
font-size: 11px;
font-family: var(--mybold);
margin-top: inherit;
margin-left: inherit;
background-color: #f50e0e;
}	
	}
	ion-content{
	    .sc-ion-card-md-h{
	        margin: 0;
	        border-radius: 0;
	        -webkit-box-shadow: 0 1px 0px 0px rgba(0,0,0,.1);
	        box-shadow: 0 1px 0px 0px rgba(0,0,0,.1);
	    }
	}
  
  .no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}

	.detail-slide{
	    background:#fff; position:relative; 
	    ion-slides{
	        z-index: auto;
	        .swiper-pagination.swiper-pagination-bullets{
	            z-index: 999 !important; text-align: center !important;
	        }        
	        .swiper-pagination-bullet-active{
            	background: var(--ion-color-primary) !important;
            	border-color: var(--ion-color-primary) !important;
            }
            img{
            	height: 100%; width: 100%; object-fit: cover;
            }
	    }
	}

	.detail-slide .swiper-pagination{
	    text-align: right !important; z-index: 999;
	}
	.detail-slide .swiper-pagination-bullet{
	    border: 1px solid #fff; background: transparent;
	}
	.detail-slide .swiper-pagination-bullet-active {
	    background: var(--ion-color-dark-contrast);
	    background: #fff !important;
	}


	ion-header ion-toolbar button.left, .header ion-toolbar button.left{
	    left: 0
	}


	/**************************
	  For Product Content */
	.card-md{
	    padding: 10px 15px; margin: 0;width: 100%;box-shadow: none;
	    ion-card-header{ padding: 0 0 12px }
	    ion-card-content{
	        padding: 0;
	    }
	    ion-row{
		    position: relative;
		}
	}
	.detail-item-header{
	    .item-detail-heading{
	        color: #292929; font-size: 18px; padding: 0px 0px 0;    
	        .toolbar-title{
	        	font-family: var(--mysemibold); padding: 0;font-size: 17px;color: var(--ion-black);
	        }
	        .item-rating{
	            color: #fff; font-family: var(--myregular); font-size: 12px; margin-left: 10px; background:#67a713; padding: 2px 10px; border-radius:25px; position: relative;top: 0;float: right;
	            ion-icon{
	                position: relative; top: -1px;
	                &:before{
	                    font-size:11px;
	                }
	            }
	        }
	    }
	    .item-price{
	        color: var(--ion-black); font-size: 17px; font-family: var(--mybold); @include borderRadius(25px);
	    }
	} 

	.detail-user-profile{
	    padding: 0 0 10px; border-bottom: 1px solid #e5e5e5;
	    ion-col{padding: 0;}
	    ion-col.card-left-info{
	        width: 35px !important;max-width: 35px !important;
	    }
	    .card-user-img{
	        width: 30px; height: 30px;@include borderRadius(50%);overflow: hidden;margin-top: 2px; 
	        img{object-fit: cover}
	    }
	    .card-user-name{
	        font-size: 13px; color: var(--button-dark-grey); font-family:  var(--myregular);padding-left: 7px;
	    }
	    .card-user-location{
	        color: #67a713; font-size: 11px;padding-left: 7px;font-family: var(--myregular);margin-top: -1px;
	        ion-icon{
	            width:17px;height: 17px; float: left; 
	            &:before{
	                font-size: 11px; font-weight: bold;  
	            }
	        }
	    }
	}
	.right-section{
		text-align: right;
	}
	.user-distance{
	    font-size: 13px; color: var(--button-dark-grey);
	    ion-icon{
	        line-height: normal;position: relative;top: 2px;
	        &:before{
	            font-size: 12px;font-weight: bold;
	        }
	    }
	}

	.item-price-cost-link{
	     padding:15px 0 10px;
	    ion-col{
	        padding: 0;
	    }
	    .product-price{
	        color: var(--ion-black);font-size: 17px;font-family: var(--mysemibold);padding-bottom: 6px;
	    }
	    .product-delivery-charges{
	        color: #8b8d9c;font-size: 13px;
	    }
	    .right-section{
	        text-align: right;text-transform: capitalize;padding-top: 0 !important;
	        .btn-link{
	        	font-size: 12px; font-family: var(--myregular);text-transform: uppercase; margin-top: 5px;
	        	.icon{
	        		font-size: 12px;font-weight: bold;margin-right: 2px;
	        	}
	        	&:focus, &.activated{
		        	background: transparent; color: var(--link-color)
		        }
	        }
	        .btn-link + .btn-link{
	        	margin-top: 10px;
	        }
	        
	    }
	}

	button.btn-link{
	    color: #405eb5;font-size: 12px;font-family: var(--myregular);
	    ion-icon:before{
	        font-size:11px;font-weight: normal; margin-right: 2px; padding-top: 2px;padding-bottom: 2px
	    }
	}

	.cls-action{
	    border: 0;position: relative;top: 0;padding: 0;margin: 0;
	    .toolbar-background{
	    	background: transparent; 
	    }
	    ion-col{
	        padding: 0;border-top: 1px solid #e5e5e5;border-bottom: 0 solid #e5e5e5;text-align: center;
	    }
	    ion-col+ion-col{
	        border-left: 1px solid #e5e5e5;
	    }
	    .caption{
	        padding:0; margin: 5px 0;color: #8b8d9c; font-size: 13px;font-family: var(--myregular);display: block;top: 0;left: 0;width: 100%;letter-spacing: 0;text-align: center;padding: 7px 0 0;
	    } 
	    div.lcr-btn{
	        padding: 0 0 5px;font-size: 19px; color: #4d4c4c;position: relative;text-align: center;background: transparent;width: 100%;margin-bottom: 5px;
	        .icon{position: relative;top: 3px;
	            &:before{
	                font-size: 17px;font-weight: bold;position: relative;top: -3px;
	            }
	        }   
	        .count{display: inline-block;}
	    }

	    div.lcr-btn.active{
	        
	        .icon:before{
	            content: "\f162";color: #d52e2e;
	        }
	    }
	     div.lcr-btn.activeRate{
	        
	        .icon:before{
	            content: "\f136";color: #ffb400;
	        }
	    }


	    
	}

	.product-description{
		padding: 0 5px;
	    p{
	        padding-top: 0;padding-bottom: 10px;font-size: 13px; color: var(--button-dark-grey);
	    }
	}


	.user-comments-header{
		padding: 0 15px;min-height: 40px;
		.toolbar-background-md{
			background: #f5f5f5;
		}	    
	    .title{
	        color: #363636; font-size: 14px; font-family: var(--myregular);padding: 2px 0;display: inline-block;
	    }
	    .button{
	        color: #2869c9; letter-spacing: 0; text-transform: capitalize;font-size: 13px;padding: 4px 0;
	        &:focus, &.activated{
		        	background: transparent; color: var(--link-color)
		        }
	    }
	}





	/********************/
	.commnets-listing{
	    padding-bottom: 35px;
	    ion-grid{
	        padding: 10px 10px 35px;
	    }
	    ion-row{
	        border-bottom:1px solid #ddd; padding-bottom:10px;
	    }
	    ion-row+ion-row{
	        padding-top: 12px;
	    }
	    ion-grid ion-row:last-child{
	        border-bottom:none; padding-bottom:0px;
	    }
	    ion-grid > ion-row > ion-col{
	        padding: 0
	    }
	    .card-user-img{
	        width: 38px;height: 38px;overflow: hidden; @include borderRadius(50%);border: 3px solid #fff;box-shadow: 0 0 0 1px rgba(0,0,0,.1);top: 8px;position: relative;
	    }
	    .card-user-img > img{
	        object-fit: cover
	    }
	    .card-user-name{
	        font-size: 14px; color: var(--ion-black); font-family:  var(--mysemibold); padding-bottom: 2px;
	    }
	    .card-user-location{
	        color: var(--ion-black); font-size: 13px; font-family: var(--myregular);
	    }
	    .card-date-time{
	        color: #888;font-size: 12px;font-style: italic;padding-top: 5px;
	    }
	    .card-user-location .flaticon-pin:before{
	        font-size: 14px;
	    }
	    ion-grid > ion-row > ion-col.card-right-info{
	        padding-top: 5px; padding-bottom: 5px; padding-right:25px;
	    }
	    ion-row{
	        position: relative;
	    }
	    ion-col.card-left-info{
	        width: 60px !important;
	        max-width: 60px !important;
	    }
	    .card-right-button{ 
	        position: absolute; top:-2px; right:-8px; z-index: 1;width:30px;text-align: left;padding: 8px 0;
	        button{
	        	color: #8d8d8d; background:  transparent; box-shadow: none;padding: 0 8px;
	        	.icon{
	        		font-size: 23px;		
	        	}
	        	&:hover{
	        		color: #9f9f9f;
	        	}
	        	&:focus{
	        		color: #9f9f9f;
	        	}
	        }

	    }
	}

	/********************/
	.detail-note{
	    padding:15px 15px 0; color:#42611a;
	    .note-title{ 
	        font-size:17px; font-family:var(--mybold); 
	    }
	    .item-btn{
	        color:#42611a; margin-top:-10px;
	    }
	}

	/********************/
	.content-note{
	    padding:0 15px 15px;  box-shadow:0 20px 20px #888; border-bottom:1px solid #d1eacd;
	    .toolbar-content{
	        padding:0px;

	    }
	    .note-title{ 
	        font-size:17px; font-family:var(--mybold); color:#42611a;
	    }
	    .item-btn{
	        color:#42611a; margin-top:-10px;
	    }
	}

	/********************/
	.content-detail{
	    padding:15px;  border-bottom:1px solid #ddd;
	}
	.footer-btn button{
	    font-size: 17px;height: 50px;margin: 0;
	    .button-inner{
	    	font-family: var(--mysemibold);	letter-spacing: 0;
	    }
	}

	 .footer-btn{
		z-index: 5;
      }

    .location-section{
   		.left-icon{
   			flex: 0 0 20px;padding-top: 5px;
   			i{
   				font-size: 14px; font-style: normal;font-weight: bold; color: #767676
   			}
   		}
   		.right-address{
			color: #666;padding-top: 5px;
   		}
   	}

   
/* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 190px;
}
.skeletonBox .avatar {
  float: left;
  width: 55px;
  height: 55px;
  background-color: #ccc;
  border-radius: 100px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 260px;
}
.blankBox{
	width: calc(100% - 20px) !important; height: 90px !important; margin:10px 10px 0px 10px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/
}
