page-deliveryaddress {
	.content{
		background: #f7f7f7;
	}
	.mainContainer{
		padding-bottom: 60px;
	}
	.card-header-md{
		color: var(--sub-heading-color); font-size: 14px; padding: 16px 16px 8px;
	}
	.item-md{
		font-size: 15px;
	}
	.card-content-md{
		color: var(--heading-color); font-size: 15px; padding-bottom: 0;
		.item-input{}
		.item-md{ padding-left: 0; 
			.text-input-md{
				margin: 0; 
				&::placeholder{
					color:var(--ion-black);
				}
			}
		}
		.input-border{
			border-bottom: solid 1px #000; 
			.icon{ font-size: 20px;position: relative;top: 4px;margin-right: 0;}
		}
		.datetime{
			font-size: 15px;padding: 13px 8px 9px 0; font-family: var(--myregular);
		}
		.item-input-has-focus, .itnput-has-focus{}
		.item-input-has-focus .item-inner{
			box-shadow: none !important;
		}
		.select-md{
			font-size: 14px; display: -webkit-inline-box; height: 25px; width: 100%; max-width: none; margin: 0; padding: 0; overflow: visible; border-bottom: solid 1px #000; text-align: left;
		}
		.row-select{
			.col{
				padding: 20px 10px 5px 10px;
				&:first-child{
					padding-left:0;
				}
				&:last-child{
					padding-right:0;
				}
				.select-text{
					font-size: 15px;
				}
			}
		}
		// .radio-img{
		// 	width: 22px; vertical-align: middle; display: inline-block; margin: 0 10px 0 0;
		// }
		// img{width: auto;}
		.radio-img{
			width: 22px; vertical-align: middle; display: inline-block; margin: 0 10px 0 0;
		}
		img{width: auto; height: 30px}

		ion-list{
			ion-item{
				&:last-child{
					img{
						height: 15px;
					}
				}	
			}
		}

	}
	.item-payment-radio{
	/*	margin-top: 0;*/
		.cardRadio{
			line-height: auto; margin: 0; padding: 0 !important;
		}
		.item{
			.radio{
				margin: 0;
				.radio-icon{
					width: 40px;height: 40px;border-color: transparent;border-width: 1px;border-radius: 3px;
					.radio-inner{background-color:transparent;font-family: Flaticon;width: 100%;height:100%;top:0;left: 0;text-align: center;padding: 3px;font-size: 25px;}
					&.radio-checked{
						.radio-inner{color: var(--green-color);}
						.radio-inner:before{
							content: "\f14b";
						}
					}
				}
			}
			.label{
				font-size: 17px;color: #666;
			}
			&.item-radio-checked{
				.label{
					color: #000;
				}
			}
		}
	}
	.payment-method-radio{
		ion-avatar{
			min-width: 25px; min-height: 25px;
			img{
				width: 25px; height: 25px !important; border-radius: 0; vertical-align: middle;
			}
		}
	}
	.item-deliverto{
		.basic-info-content{
		h6{
			font-size: 21px; font-family: var(--myregular); color: #292929;margin:5px 0 15px; 
		}
		.item{
			.item-inner{
				margin-left: 5px;
			}
			.text-input-md{
				margin: 8px 0;
				&::placeholder{
					color: var(--ion-caption);
				}
			}
			&.item-input-has-value{
				border-bottom-color: var(--heading-color);
				.icon{
					color: var(--heading-color);
				}
			}
			.label{
				font-size: 14px; color: var(--ion-caption);padding: 6px 0 0;margin-top: 0;
			}
		}
		.icon{
			font-size: 24px;line-height: 18px;position: relative;margin-right:8px;font-weight: bold;color: var(--ion-caption);
			&:before{
				font-size: 14px;
			}
		}

		ion-grid.grid{
			padding: 0;
			ion-row{
				margin-bottom: 10px;
			}
			ion-col{
				padding: 0;
			}
		}
	}
	}


	.payment-note{
		margin: 10px 10px 0; color: #fff; padding: 1px; border-radius:  8px 8px 0 0; line-height: 20px;
		
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6a97f9+0,5c8bef+44,4575df+100 */
background: #6a97f9; /* Old browsers */
background: -moz-linear-gradient(left, #6a97f9 0%, #5c8bef 44%, #4575df 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #6a97f9 0%,#5c8bef 44%,#4575df 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #6a97f9 0%,#5c8bef 44%,#4575df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a97f9', endColorstr='#4575df',GradientType=1 ); /* IE6-9 */	

		p{
			padding: 15px; margin: 0; color: #fff; line-height: 20px;
		}
	}
	.card-options{
		border-radius: 8px;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21d59e+0,38e37d+100 */
background: #21d59e; /* Old browsers */
background: -moz-linear-gradient(left, #21d59e 0%, #38e37d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #21d59e 0%,#38e37d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #21d59e 0%,#38e37d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d59e', endColorstr='#38e37d',GradientType=1 ); /* IE6-9 */

		.item-md{
			background: transparent;
		}
		 
		img{ height: 35px; width: auto; }
		 
			.radio-inner{
				color: #fff; top: 4px !important; font-size: 18px !important;
			}

			.radio-icon{
					&.radio-checked{
						.radio-inner{color: #fff !important;}
					}
				}
		 
	}
	.choose-card{
		font-size: 16px;
	}
	.card-box-input{
		margin: 0 10px 10px; border-radius: 7px !important;
		.label-md{
			margin: 0;
		}
		.icon{
			margin-right: 0 !important;
		}
	}

.clientidItem{
	margin: 0; padding: 0;
	img{
		width: 30px; margin: 0 5px 0 0;
		display: inline-block;
		vertical-align: text-bottom;
	}
	.item-inner{
		margin: 0; padding: 0 15px 15px !important;
		.label{
			padding: 15px;background: #fffdf8;border: 1px solid #f7e0a5;padding: 12px 12px 10px;
		}
		.btn-primary{
			border-radius: 3px;font-size: 13px; float: right !important;margin: 0 !important; padding: 0 10px;
			&:focus, &:hover, &.activated{
				background: var(--ion-color-primary);
			}
		}
	}
	h4{
		margin: 0 0 7px; padding: 0;font-family: var(--mysemibold);font-size: 14px;color: #c79d3e;line-height: 27px;
	}
	.lastupdate{
		font-size: 12px;color: #9e9e9e;float: left;display: block;clear: both;position: relative;width: 100%;top: -3px;line-height: 17px;padding-bottom: 5px;
	}
	.clientIdDetails{
		.clientIdParam{
			white-space: normal;word-break: break-all;padding: 5px 0 8px;font-family: var(--mysemibold);
			font-weight: normal;font-size: 14px;color: #6f6e6e; border-bottom: solid 1px #f7e0a5;
			&:last-child{
				border-bottom: 0;
			}
			ion-icon{
				color: #c79d3e; margin: 0 5px 0 0;
			}
		}
		
	}
}
.card-detail-number{padding-left: 25px;}
	.card-detail-section{
		margin: 0 -3px;
		.item {
		    padding: 0;
		    background: 
		    transparent;width: 150px;
		    .input{
				position: static;
				border: 1px solid #f7e0a5 !important;
				height: 30px !important;
				padding: 4px !important;
				text-align: center !important;
				font-weight: bold !important;
				font-size: 15px !important;
				margin: -5px 0 0 5px !important;
		    }
		    .icon{
		    	font-size: 16px;color: #c79d3e;margin: 0;
		    }
		    .item-inner{
		    	margin-left: 0;padding: 0 !important;height: 5px;background:#fff;border: 1px solid#f7e0a5;

		    }
		    .text-input{
		    	padding: 0;height: 16px;margin: 0;
		    }
		    &.input-has-focus{
		    	.item-inner{
		    		box-shadow: none
		    	}
		    }
		}	
	}
	.monthview-container
{
	height: auto !important;
}

.event-detail-container{
	display: none!important;
}

.appointment-calendar{
	td{
		font-size: 	14px !important;
	}
		.monthview-primary-with-event.monthview-selected{
		background: #3a87ad;
	}

	
	.monthview-primary-with-event{
		background-color: #ffca00 !important; color: #000 !important;
	}
	
	 .monthview-selected{
	 	background-color: #10a93d !important;  color: #fff !important;
	}

	.monthview-current {
		background-color: #3a87ad !important;  color: #fff !important;
	}
}
.available-colors{
	font-size: 14px; text-align: left;
	span{
		display: inline-block; width: 20px; height: 15px; margin: 0 5px 0 0; vertical-align: sub;
	}
	.available{
		color: #000;
		span{
			background: #0bac35;
		}
	}
	.booked{
		color: #000;
		span{
			background: #ffca00 ;
		}
	}
	.currentData{
		color: #000;
		span{
			background: #3a87ad ;
		}
	}
}
.time-slot{
	.slot-heading{
		font-weight: bold;
	}
	.schedule-day{
		 color: var(--secondary);
	}
.grid{
	padding: 0;
}
.col{
	padding: 2px !important;
}
.schedule-box{
	background: #f4f4f4; border-radius: 3px; font-size: 12px; padding:3px 2px; text-align: center;
	i{
		display: block; color: var(--secondary); font-size: 10px; line-height: 10px;
	}
}
}

.available-time{
	display: table; width: 100%; padding: 10px; 
	.label-md{
		margin-right: 0; 
	}
	.item-md{
		margin: 0 0 5px 1.3%; height: 22px; text-align: center; padding: 0; border-radius: 5px; width: 24%; float: left;
		text-align: center;
		&:first-child{
			margin-left:0;
		}
		&:nth-child(4n+1){
			margin-left:0;
		}
		.radio-md{
			margin: 0;	
		}		
	}
	.label-md{
		color: var(--dark-grey); font-size: 14px; text-align: center; 
	}
	.item-cover{
		border:solid 1px #dde1d5; border-radius: 5px;
	}
	.item-radio-checked{
		background: #0bac35;
		.label-md{
			 color: #fff;
		}
	}
	.radio-md{
		.radio-icon{
			display: none; width: 0;
			/* content: "\f19a"; font-family: "Flaticon"; color: var(--primary);  */
		}
	}
}


.titleAlign{
	text-align: center;
	font-weight: bold;
	color: #000;
}
.notFound
{
padding: 20px;
text-align: center;
}
}
