<ion-header>
  <ion-navbar>
    <ion-title>{{'delivery_address' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<div class="mainContainer">

	<ion-card class="card-box item-payment-radio">
		<ion-card-header>
	    	{{'order_type' | translate}}
	  	</ion-card-header>
		<ion-card-content>
		<ion-list class="payment-method-radio" radio-group [(ngModel)]="deliveryObj.order_type">
			<ion-item *ngFor="let orderItems of tempArr">
				<ion-avatar item-start>
					<img src="{{orderItems.img}}">
				  </ion-avatar>
				<ion-label > {{orderItems.txt}}</ion-label>
				<ion-radio (ionSelect)="deliveryOptFun(orderItems.id)" slot="start" value="{{orderItems.id}}" ></ion-radio>
			</ion-item>
		</ion-list>
		</ion-card-content>  	
	</ion-card>

	<ion-card class="card-box"  >
		<ion-card-header *ngIf="isDelivery">
	    	{{'delivery_address' | translate}}
	  	</ion-card-header>
	  	<ion-card-header *ngIf="!isDelivery">
	    	{{'seller_address' | translate}}
	  	</ion-card-header>
	  	<ion-card-content>
		   {{ deliveryObj.delivery_address }} 
		</ion-card-content>
	</ion-card>

	<ion-card class="card-box" *ngIf="sellerPolicies.isTimePolicy == 0" >
		<ion-card-header>
	    	{{'schedule_order' | translate }}
	  	</ion-card-header>
	  	<ion-card-content>

	  		<ion-item class=input-border>	 

			   <ion-datetime monthShortNames='{{"Jan" | translate }}, {{"Feb" | translate }}, {{"Mar" | translate }}, {{"April" | translate }}, {{"May" | translate }}, {{"June" | translate }}, {{"July" | translate }}, {{"Aug" | translate }}, {{"Sep" | translate }}, {{"Oct" | translate }}, {{"Nov" | translate }}, {{"Dec" | translate }}' 
			   doneText='{{"done_txt" | translate }}' cancelText='{{"cancel" | translate }}'  [(ngModel)]="deliveryObj.delivery_date" min="2019" max="2050" pickerFormat="MMM DD YYYY" placeholder ="{{'please_select_date' | translate}}" displayFormat="DD MMM YYYY" ></ion-datetime>
			    <ion-icon class="flaticon-small-calendar" item-right></ion-icon>

	   </ion-item>

		    <ion-item class=input-border>	 
			  <ion-datetime   doneText='{{"done_txt" | translate }}' cancelText='{{"cancel" | translate }}'  [(ngModel)]="deliveryObj.delivery_time"  pickerFormat="HH:mm" placeholder ="{{'please_select_time' | translate}}" displayFormat="HH:mm" minuteValues="00,5,10,15,20,25,30,35,40,45,50,55"></ion-datetime>
			  <ion-icon class="flaticon-clock" item-right></ion-icon>
			</ion-item>


	  	</ion-card-content>
	</ion-card>

    <!-- For calender -->
    <ion-card class="card-box" *ngIf="sellerPolicies.isTimePolicy == 1" >
    <ion-card-header>
	{{'schedule_order' | translate }}
	</ion-card-header>
    <ion-card-header class="titleAlign">
	{{ viewTitle}} 
	</ion-card-header>
	<div class="appointment-calendar">
				   <div class="available-colors">
						<ion-grid>
							<ion-row>
							    <ion-col col-4 class="booked"> <span></span> {{'available' | translate}}</ion-col>
								<ion-col col-4 class="available"> <span></span> {{'selected' | translate}}</ion-col>
								<ion-col col-4 class="currentData"> <span></span> {{'currentDate' | translate}}</ion-col>
							</ion-row>
						</ion-grid>
					</div>
					<calendar [eventSource]="eventSource"
					[calendarMode]="calendar.mode"
					[currentDate]="calendar.currentDate"
					(onTitleChanged)="onViewTitleChanged($event)"
					(onTimeSelected)="onTimeBookSelected($event)"
					[markDisabled]="markDisabled" 
					step="30">
					</calendar>
			</div>	
			<div class="available-time" *ngIf="timeSlots.length > 0">
				<ion-item *ngFor='let timeItems of timeSlots; let s = index' [attr.data-index]='s'>
					<ion-label *ngIf="timeItems != undefined">{{ timeItems.value }}</ion-label>
					<!-- [checked]="timeItems.checked" -->
					<ion-radio  *ngIf="timeItems != undefined" [checked]="timeItems.checked" (ionSelect)="getEventTime(timeItems,timeSlots,s)"></ion-radio>
				</ion-item>
			</div>
			<div class="notFound" *ngIf="timeSlots.length == 0">{{'time_slot_not_available' | translate}}</div>
			</ion-card>
    <!-- End --> 

    	<ion-card class="card-box item-deliverto">
		<ion-card-header>
	    	{{ 'deliver_to' | translate }}
	  	</ion-card-header>
		<ion-card-content class="basic-info-content" >
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="flaticon-user" item-left></ion-icon>
			    			<ion-input [(ngModel)]="deliveryObj.delivery_name" type="text" placeholder="{{ 'name' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="flaticon-user" item-left></ion-icon>
			    			<ion-input [(ngModel)]="deliveryObj.delivery_surname"  type="text" placeholder="{{ 'surname' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="flaticon-smartphone-2" item-left></ion-icon>
			    			<ion-input [(ngModel)]="deliveryObj.delivery_mobile"  type="text" placeholder="{{ 'mobile_no' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="newflaticon-enterprise" item-left></ion-icon>
			    			<ion-input [(ngModel)]="deliveryObj.delivery_company" type="text" placeholder="{{ 'company' | translate }}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				
			</ion-grid>
		</ion-card-content>  	
	</ion-card>
	
	<div class="payment-note" *ngIf="isDelivery">
			<p>
		<b>{{'note' | translate}}</b>:<br/>1) {{'amt' | translate}} €{{tempProdData.totalCartAmount}} {{'with_delivery_cost' | translate}} €{{tempProdData.delivery_cost}} {{'deduct_amount_seller_accept_txt1' | translate}}<br/>2) {{'reaches_delivery_policies_amt' | translate}} €{{tempProdData.totalCartAmount}} {{'deduct_amount_seller_accept_txt2' | translate}}  
		</p>
	</div>
	
	<ion-card class="card-box item-payment-radio" *ngIf="paymentMethod.length > 0">
		<ion-card-header>
	    	{{'select_payment_method' | translate}}
	  	</ion-card-header>

		<ion-card-content>
		<ion-list class="payment-method-radio" radio-group [(ngModel)]="deliveryObj.payment_mode">
			<ion-item *ngFor="let payItem of paymentMethod">
				<ion-label ><img  src = "{{payItem.txt}}" /></ion-label>
				<ion-radio (ionSelect)="paymentOpt(payItem.id)"  slot="start" value="{{payItem.id}}" ></ion-radio>
			</ion-item>
		</ion-list>
		</ion-card-content>  	
	</ion-card>
 </div>

 

</ion-content>

<div class="footer-btn" (click)="submit()" *ngIf="paymentMethod.length > 0">
    <button class="btn-primary btn-block" ion-button>{{'next_txt' | translate}}</button>
</div>

<div class="footer-btn" *ngIf="!paymentMethod.length > 0">
    <button class="btn-primary btn-block" ion-button>{{'seller_not_selected_any_payment_method_yet' |  translate }}</button>
</div>