<ion-header>
    <ion-navbar>
        <ion-title>{{ 'order_details' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

<div>
    <div class="orderTrDetails">
        <ion-row>
            <ion-col col-12  class="left" *ngIf="orderSummary.order_type ==1">
               {{ 'delivery_address' | translate }} 
            </ion-col>
            <ion-col col-12  class="left" *ngIf="orderSummary.order_type ==2">
             {{'seller_address' | translate }}
            </ion-col>
            <ion-col col-12 class="left deliver-add">
              <ion-icon class="newflaticon-route"></ion-icon> {{orderSummary.delivery_address}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="left deliver-add" *ngIf="orderSummary.order_type ==1">
             <ion-icon class="flaticon-calendar"></ion-icon>  {{ 'delivery_date_time' | translate }}  
            </ion-col>

            <ion-col class="left deliver-add" *ngIf="orderSummary.order_type ==2">
             <ion-icon class="flaticon-calendar"></ion-icon>  {{'pick_up_time' | translate }}

            </ion-col>
            <ion-col class="right">
                {{orderSummary.delivery_date_time}}
            </ion-col>
        </ion-row>
    </div>
</div>


<div class="order-items" *ngIf="orderSummary.productList.length > 0">
    <ion-item class="userOrder" [ngClass]="itemList.asBuyer == 1 ? ' order-buyer' : ''"  *ngFor="let itemList of orderSummary.productList;">
            <ion-grid>
                <ion-row>
                    <ion-col col-2 class="card-left-info">
                        <div class="card-user-img">
                            <img  *ngIf ="itemList.userPhoto ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="itemList.userPhoto !=''" src='{{userImgPath+itemList.userPhoto}}'/>
                        </div>
                    </ion-col>
                    <ion-col col-10 class="card-right-info">
                        <div class="card-user-name">{{itemList.userName}}<span *ngIf="itemList.asBuyer== 1">{{"buyer" | translate }}</span><span *ngIf="itemList.asBuyer== 0">{{"joined_buyer" | translate }}</span>
                        </div>
                        <div class="card-user-location">
                            <span class="flaticon-pin"></span>{{itemList.userAddress}}
                        </div>
                    </ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col col-12 class="right-content">
                    <div class="friends-order-item">
                      <div class="item-row">
                        <div class="foi-image">
                          <img src="{{prodImgPath+itemList.product_image}}"/>
                        </div>
                        <h2>{{itemList.product_name}}</h2>
                         <p *ngIf="itemList.isPromocodeused==1">
                         {{'coupen_applied' | translate}} {{itemList.discount_percentage}}% OFF
                          <span class="through">€ {{itemList.item_price}}</span> 
                        </p>
                        <p>
                          € {{itemList.item_price}}<small> X {{itemList.quantity}}</small>
                          <span>
                          <b *ngIf="itemList.payment_status == 0" class='unpaid'>{{"un_paid" | translate }}</b>
                          <b *ngIf="itemList.payment_status == 1" class='paid'>{{"paid" | translate }}</b>
                           - {{itemList.payment_mode}} <b class="total">€ {{itemList.item_price * itemList.quantity}}</b></span>
                        </p>
                         <p>
                         <ion-icon class="flaticon-edit-document"></ion-icon> {{ (itemList.notes == '') ? 'Not added' : itemList.notes }}
                        </p>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>  
            </ion-grid>
    </ion-item>
   
    <div class="delivery" *ngIf="orderSummary.order_type ==1">
        <ion-row>
            <ion-col class="left">
                {{'delivery_cost_txt' | translate}}
            </ion-col>
            <ion-col class="right text-right">
            <span *ngIf="orderSummary.isFree == true" class="status free">{{'free_delivery_txt' | translate}}</span>
                &euro; {{ orderSummary.isFree == true  ? '0' :  orderSummary.delivery_cost }}
                
            </ion-col>
        </ion-row>
    </div>
    
    <div class="totalOrderTrAmount">
        <div class="whiteContainer">
            <ion-row class="totalAmount">
                <ion-col class="left">
                    {{'total_amt' | translate }}
                </ion-col>
                <ion-col class="right text-right">
                    &euro;  {{orderSummary.total_amount}}
                </ion-col>
            </ion-row>
        </div>
    </div>



</div><!--order-items end-->

</ion-content>
