page-payment-transaction {
    .content-md{
        background: #fff;
    }
    .paymentStatusIcon{
        display: block;width: 40px;height: 40px;border-radius: 50%;background: #2faf74;color: #fff;text-align: center;font-size: 16px;padding: 12px 0;font-weight: bold;margin: auto;
    }
    .paymentHeader{
        background: #f8f8f8; position: relative;padding: 15px 15px 0;margin-bottom: 35px;
        h3{
            text-align: center;margin: 0;padding: 10px 0 0;color: #2faf74;font-family: var(--mysemibold);font-weight: normal;font-size: 18px;
        }
        p{
            text-align: center;margin: 0;padding: 8px 0 8px;font-family: var(--myregular);font-size: 13px;color: #6f8078;
        }
    }
    .paymentHeader:after{
        background: linear-gradient(-45deg, transparent 16px, #f8f8f8 0), linear-gradient(45deg, transparent 16px, #f8f8f8 0);background-position: left-bottom;background-repeat: repeat-x;background-size: 16px 26px;content: " ";display: block;position: absolute;bottom: -19px;left: 0px;width: 100%;height: 19px;
    }
    .orderTrDetails{
        font-size: 15px;
        .left{
            color: #666;
        }
        .right{
            text-align: right; color: #000;
        }
        .row{
            padding: 1px 15px 0px;
        }
        .delivery{
            border-top: 1px solid #f2f2f2; background: #eff2fa;
            .left, .right{
                padding-top: 8px;padding-bottom: 0;
            }
            .row{
                padding: 5px 8px 0;
                .col{
                    padding-bottom: 8px;
                }
            }
        }
        .deliver-add{
            position: relative; padding: 5px 0 20px 30px;
            ion-icon{
                position: absolute; left: 0;
            }
        }
        img{
            width: 70px;
        }
        .deliver-add{

        }
        .status-paid{
            color: var(--green-color-2);
        }
        .status-unpaid{
            color: var(--red-color);
        }
    }
    .totalOrderTrAmount{
        padding-top: 10px; 
        .row, .col{padding: 0}
        .totalAmount{
            .left,.right{
                font-size: 17px;font-family: var(--mybold);color: #fff;
            }
            .text-right{
                text-align: right;
            }
        }
        .whiteContainer{
            background: var(--green-color);
            padding: 15px 18px;
            .left, .right{color: #fff;}
        }
        .caption-bottom{
            padding: 15px 18px;font-size: 13px;text-align: center;color: #8e8d8d;
        }
    }
    .itemHeading{
        margin: 0 18px 5px;
        padding: 5px 10px;
        background: #f8f8f8;
        border-radius: 3px;
    }
    .itemContainer{
        margin: 5px 0 6px;
        .row{
            padding: 5px 8px 0;
        }
    }
    .status{
        display: inline-block; font-weight: normal; margin-right: 10px; padding: 2px 5px;border-radius: 3px;font-size: 12px;
        &.free{
            background: var(--green-color); color: #fff;
        }
    }
    .text-right{
        text-align: right;
    }
    .item-headings{
        background: #e6e6e6;
    }

    .delivery{
        padding-top: 10px; padding-right: 10px; font-weight: bold;
    }
    .order-buyer{
        background: #ecf7f2 !important;
    }
    .userOrder{
        .order-items{
            
        }

        background: #fff; 
        padding-left: 0;
        [col-12] {
            padding: 0 5px;
        }
        p {
            color: #a7a7a7;
            font-size: 13px;
        }
        .grid{
            padding: 8px 5px;
        }

        ion-row {
        position: relative;
        }
        ion-col.card-left-info {
            width: 45px !important;
            max-width: 45px !important;
            .card-user-img {
                height: 35px;
                width: 35px;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .card-user-name {
            font-size: 16px;
            color: #292929;
            font-family: var(--mysemibold);
            padding-left: 0;
            padding-bottom: 3px;
            span{
                background: var(--ion-color-primary);
                color: var(--ion-black); font-size: 12px; padding: 2px 6px; margin-right: -10px;
                display: inline-block; float: right; border-radius: 3px; 
            }
        }
        .card-user-location {
            color: #979a9f;
            font-size: 13px;
            padding-left: 0;
            word-break: break-all;
            white-space: normal;
            font-family: var(--myregular);
            padding: 0 0 0 13px;
        }
        .card-user-location .flaticon-pin:before {
            font-size: 12px;
            position: absolute;
            left: 0;
        }
        .item-inner{
            padding-right: 0 !important;
            .label-md{
                margin: 5px 0px 0px 0; 
            }
        }
    }


    .sharefriend-list{
        .col.leftcol-img{
            max-width: 60px;
            flex: 60px;
        }
        .col.middlecoltent{
            max-width: calc(75% - 60px);
            flex: calc(75% - 60px);   
        }
        .item{
            border-bottom: 1px solid #f2f2f2;background: #fff !important;
        }
    }
    .friends-order-item{
         border-top: 0 solid #f5f5f5 !important;
        .item-row{
            border-bottom: 0;padding: 5px 5px 5px 55px;margin: 0;position: relative;border-radius: 3px; /*background: #f9f9f9 !important;*/ 
            .foi-image{
                width: 40px;height: 36px; overflow: hidden; position: absolute;left: 6px;top: 5px;background: #ccc; border-radius: 3px;
                img{
                    width: 100%; height: 100%; object-fit: cover;
                }
            }
            h2{font-size: 13px; font-family: var(--mysemibold); margin: 0 0 2px}
            p{
                font-size: 14px;font-family: var(--myregular);padding: 3px 0 0;margin: 0;
                span{
                    float: right; display: inline-block;
                    .unpaid{
                        color: #c33e3e; width: 5px; font-weight: normal;
                    }
                    .paid{
                        color: #2faf74; width: 60px; font-weight: normal;
                    }
                    .total{
                        font-family: var(--mysemibold); color: #000; padding-left: 10px;
                    }
                }
                .through{text-decoration: line-through; float: right; color: #c33e3e; font-weight: bold; font-size: 14px; display: inline-block; float: right;}   
            }
            .order-icon-left{
                position: absolute; left: -49px; top: 12px;font-size: 16px;color: #dab1b1;
            }
        }
        .item-row + .item-row{
            margin-top: 5px;
        }
        .gotdiscount{
            font-size: 12px; display: inline-block; color: #4a945a; margin-top:2px;
         }
    }
}
