page-selectaddress {
		
	.top-block{
	    width:100%; height:400px; position: relative;
	    img{
	        width: 100%; height: 100%; object-fit:cover;
	    }
	    &:after{ content: ""; z-index: 1; position: absolute; height: 80%; width: 100%; bottom: 0; right: 0; left:0;
	             background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	             background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	             background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	    }
	    .toptitletext{
	        z-index:11; position: absolute; bottom: 0px; right: 0; left:0; padding: 20px; color: #fff; font-size: 20px; font-family: 'MyriadProSemiBold';
	    }
	}
	.displayAddress{
		background: #fff;
		border: 1px solid rgba(0,0,0,.1);
		margin-top: 10px;
		padding: 0;
		i{
			position: absolute;
			left: 13px;
			font-size: 18px;
		}
		.item-inner{
			border-bottom: 0 !important; padding-left:  47px;padding-right:  0 !important;
		}
		.label{padding: 0;white-space: normal;}
		h5{
			font-size: 15px;margin: 0; padding: 0;
		}
	}
	.content-block{
	    padding: 15px;
	}
	.country-select-row{
	    position: relative; padding-left: 35px; border: 1px solid #dedede; background: #eee; border-radius: 4px; min-height: 46px; margin-top:10px;
	    .icon-input{
	        position: absolute; left: 10px; top: 0; bottom:0;         
	        .icon-font{
	            font-size: 20px; vertical-align: middle; display: inline-block; line-height: 44px;
	        }
	    }
	    .item-md{
	        padding-left: 5px; background-color: transparent;
	    }
	    .item-inner{
	        padding-right: 10px; 
	    }
	    .item-md.item-block .item-inner{
	        border-bottom: none;box-shadow: none;
	    }
	}
	.title{
	    color: #333; font-size: 18px;
	}
	h3.title{
	    margin-top: 0;
	}
	.btn-next {
	   	background: #ffd11c; 
	    margin-top:10px;
	    border-radius:6px; 
	    box-shadow:none;
	    height:44px;
	    font-size:15px;
	    color: #000;
	    ion-icon{
	    	font-size: 14px;
		    margin-left: 2px;
		    position: relative;
		    top: 1px;
	    }
	}

	.select-address-gps{
		position: relative; padding-left: 0; border: 1px solid #dedede; background: #eee; border-radius: 4px; min-height: 46px; margin-top:10px;
	    .icon-input{
	        position: absolute; left: 10px; top: 0; bottom:0;color: #666;        
	        .icon-font{
	            font-size: 18px; vertical-align: middle; display: inline-block; line-height: 44px;
	        }
	    }
	    .label{
	    	margin: 0; 
	    }
	    .item-md{
	        padding-left: 5px; background-color: transparent;
	    }
	    .item-inner{
	        padding-right: 10px; 
	    }
	    .item-md.item-block .item-inner{
	        border-bottom: none;box-shadow: none;
	    }
	    button{
	    	background: transparent;height: 45px; width: 100%; margin: 0; padding: 0 0 0 40px; text-align: left;font-size: 15px;color: #999;
	    	&:focus, &:hover, &:active{color: #999;background: transparent;}
	    }
	}

	.autocomplete-search{
		margin-bottom: 10px;
		.item{
			padding-left: 0 !important;
			.item-inner{
				margin: 0;padding: 0;border-bottom: 0 !important;
				.label{
					margin: 0;padding: 0;
					.searchbar{
						margin: 0 !important; padding: 0;
						border: 1px solid #ddd;
						border-radius: 3px;
						margin-bottom: 10px;
						.searchbar-search-icon{
							color: #000
						}
						.searchbar-input{background: #f7f7f7; color: #000}
					}
				}
			}

		}

		.list{
			box-shadow: 0 0 5px rgba(0,0,0,.1);
			padding: 0;
			border: 1px solid #ddd;
			position: relative;
			.item{
				color: #000;
				padding: 0 15px !important;border-bottom: 1px solid #ddd;
				&.activated{
					background: var(--ion-color-primary);
				}
			}
		}
	}

}
