<ion-content>
    <div class="top-block">
        <img src="assets/img/login-pg-bg.png" alt=""/>
        <h3 class="toptitletext">
            {{ 'login_txt_1' | translate }}
        </h3>
    </div>
    <div class="content-block">
        <h3 class="title">{{ 'select_delivery_address' | translate }}</h3>
   
          <div class="autocomplete-search">
                <ion-item> 
                <ion-searchbar placeholder="Enter delivery address" [(ngModel)]="loginMapData.address" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()" (ionClear) ="dismiss()"></ion-searchbar>
                </ion-item>

                <ion-list *ngIf="addressList.length > 0">
                <ion-item *ngFor="let item of addressList" tappable (click)="chooseItem(item)">
                <i class="flaticon-map"></i> {{ item }}
                </ion-item>
                </ion-list>
            </div>


        <ion-item class="displayAddress">
            <div *ngIf='isGPSData' (click) ="updateDeliveryAddress(loginGPSData)">
                <i class="flaticon-navigation"></i>
                <h5>{{loginGPSData.address}}</h5>
            </div>

            <div *ngIf='!isGPSData'>
                <i class="flaticon-navigation"></i>
                <h5>{{loginGPSData.address}}</h5>
            </div>

        </ion-item>
     
    </div>
</ion-content>
