<ion-header>
	<ion-navbar>
	  <ion-title>{{'edit_order' | translate}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="">
	<div class="">
	
	<div class="modal-container">
		<ion-card class="card-box item-deliverto">
		<ion-card-content class="basic-info-content notes-modal" >
			<ion-grid>
				 <ion-row>
					<ion-col>
						<ion-item class="item-field-info">
					 <ion-icon name="md-trending-up" item-left></ion-icon>
					  <ion-select okText="{{ 'save' | translate }}" cancelText="{{ 'cancel' | translate }}" [selectOptions]="selectOptions" (ionChange)="onSelectChange($event)">
                      <ion-option [selected]="orderObj.quantity == quantItem.val" *ngFor="let quantItem of quantityList"
                        value="{{quantItem.val}}"> {{quantItem.text}}
                      </ion-option>
                    </ion-select>
                    </ion-item>
					</ion-col>
				</ion-row>

				<ion-row>
					<ion-col>
						<ion-item class="item-field-info">
							<ion-icon class="flaticon-edit-document" item-left></ion-icon>
			    			<ion-input [(ngModel)]="orderObj.notes" type="text" placeholder="{{'add_product_note' | translate}}"></ion-input>
						</ion-item>
					</ion-col>
				</ion-row> 
				
			</ion-grid>
		</ion-card-content>  	
	</ion-card>
	</div>
	<div class="modal-btn-group">
		<button class="alert-button" ion-button (click)="cancel()">{{ 'cancel' | translate }}</button>
		<button class="alert-button" ion-button (click)="submit()">{{ 'submit' | translate }}</button>
	</div>
</div>

</ion-content>

