<ion-header class="header">
	<ion-toolbar class="header-toolbar">
	  <ion-navbar>
	    <ion-title>{{ 'set_password' | translate }}</ion-title>
	  </ion-navbar>
	</ion-toolbar>
</ion-header>
<ion-content padding class="ion-password-fields">
	<h3 class="title">{{ 'please_set_pass' | translate }}</h3>
	<div class="field-heading">
		<ion-label> 
			<ion-icon class="flaticon-smartphone-2"></ion-icon> 
			{{ 'number' | translate }}
		</ion-label>
		<h5>{{loginData.mobile_no}}</h5>
	</div>

	<div class="input-field">
		<ion-item>
		  <ion-label floating> 
		  	<ion-icon class="flaticon-user"></ion-icon> 
		  	{{ 'User_name' | translate }}
		  </ion-label>
		  <ion-input (blur)="uniqueName(loginData.name)" type="text" maxlength="30"  [(ngModel)]="loginData.name"></ion-input>
		</ion-item>
	</div>
    
    <div class="input-field">
		<ion-item>
		  <ion-label floating> 
		  	<ion-icon class="flaticon-envelope"></ion-icon> 
		  {{ 'email' | translate }}
		  </ion-label>
		  <ion-input type="text" [(ngModel)]="loginData.email"></ion-input>
		</ion-item>
	</div>
	
	<div class="input-field">
		<ion-item>
		  <ion-label floating> 
		  	<ion-icon class="flaticon-padlock"></ion-icon> 
		  	{{ 'password' | translate }}
		  </ion-label>
		  <ion-input type="password" [(ngModel)]="loginData.password"></ion-input>
		</ion-item>
	</div>
	<div class="input-field">
		<ion-item>
		  <ion-label floating> 
		  	<ion-icon class="flaticon-padlock"></ion-icon> 
		  {{ 'confirm_pass' | translate }}
		  </ion-label>
		  <ion-input type="password" [(ngModel)]="confirmPass" ></ion-input>
		</ion-item>
	</div>

</ion-content>
<ion-footer class="ion-footer">
  	<button expand="full" (click) ="submit()" color="primary" class="btn-page-next" routerLink="address"> {{ 'next_txt' | translate }} <ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon></button> 
</ion-footer>
