page-setpassword {
	
	.title{
	    color: #292929; font-size: 17px;
	}
	h3.title{
	    margin-top: 0;font-size: 16px;margin-bottom: 0; margin-top: 15px !important;
	}

	.title-md{
	    font-size: 17px;
	}
	.header-toolbar ion-button{
	    width: 40px;
	    ion-icon:before{
	        font-size: 15px;
	    }
	}
	.btn-page-next{
	    position: fixed;
	    left: 0;bottom: -4px;
	    width: 100%;
	    box-shadow: none;
	    padding-top: 11px;
	    padding-bottom: 10px;
	    height: 50px;
	    font-size: 15px;
	    background: #ffca00;
	    z-index: 2;
	}

	.country-select-row{
	    position: relative; padding-left: 90px; border: 1px solid #e1e1e1; background: #f2f2f2; border-radius: 4px; min-height: 46px;
	    .selectcountry{
	        position: absolute; left: 10px; top: 0; bottom:0;
	        span{
	            display: inline-block; vertical-align: middle; margin: 0 3px;padding: 14px 0;float: left
	        }
	        .icon-country{
	            img{
	                width: 22px; vertical-align: middle;
	            }            
	        }
	        .icon-font{
	            font-size: 20px; text-align: center; vertical-align: middle;padding: 13px 0;color:#7f7f7f
	        }
	    }
	    .item-md{padding-left: 5px; background-color: transparent;}
	    .item-inner{padding-right: 10px; }
	    .item-md.item-block .item-inner{border-bottom: none;}
	    .item-interactive{
	        border-width: 0;
	    }
	}

	ion-app > .alert-button.sc-ion-alert-md{
	    background-color: #ffca00; color: #333; width: 44%;display: block;border-radius: 5px;
	}
	.ion-password-fields{
	    .input-field{
	        ion-item{
	            padding-left: 0;
	            ion-label{
	                font-size: 14px;color: #8d8d8d;
	            }
	            ion-icon{
	                position: relative;top: 0;margin-right: 6px;
	                &:before{
	                    font-size: 12px;font-weight: bold;
	                }
	            }
	        }
	    }
	}	
	.field-heading{
		margin: 15px 0 0;
		ion-label{
			color: #8d8d8d;font-size: 13px;margin-bottom: 6px;padding-bottom: 0;
			ion-icon{
				font-size: 11px !important;
			}
		}
		h5{
			margin: 0 0 0 2px;
		}
	}
	.scroll-content{padding-bottom: 85px !important;}
}
