<ion-header>
    <ion-navbar>
        <ion-title>{{'product_search' | translate}}</ion-title>
    </ion-navbar>

     <ion-toolbar class="header-search">
        <ion-item>
            <ion-searchbar placeholder="{{'search_by_name' | translate}}" [(ngModel)]="productDetails.search_prod" [showCancelButton]="true"  (ionInput)="gotoSearch()" (ionCancel)="dismiss()" (ionClear) ="dismiss()"></ion-searchbar>
        </ion-item>
  </ion-toolbar>


</ion-header>

<ion-content>

    <!-- Ionic refresh -->

   <ion-refresher slot="fixed" (ionRefresh)="doProdRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

    <!-- End --> 

<!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->


    <!-- NO data -->
 
    <div class="no-product-found" *ngIf="!isData">
        <h4>{{ 'food_not_avail' | translate }}</h4>
    </div>

    <!-- NO data --> 
    
    <div *ngIf="isData">
        <ion-card *ngFor='let product of productListing; let i = index' [attr.data-index]='i'>            
            <ion-row (click)="gotoProductDetailPage(product.id,product.user_id,product.distance)">
                <ion-col col-4>                    
                    <img class="img-thumb" src="{{prodImgPath+product.cover_photo}}">
                </ion-col>
                <ion-col col-8>
                    <ion-item class="order-item">
                        <h2>{{product.name}}</h2>
                        <p>{{product.address}}</p>
                        <ion-row>                            
                            <ion-col class="">
                                <div class="order-price">
                                    &euro; {{product.amount}}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-toolbar>
                <ion-row>
                    <ion-col col-7>
                        <ion-item (click)="gotoSellerProfile(product.user_id)">
                            <ion-avatar item-start >
                        <img  *ngIf ="product.user_photo ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="product.user_photo !=''" src='{{userImgPath+product.user_photo}}'/>
                            </ion-avatar>
                            <p>Seller</p>
                            <h2>{{product.user_name}}</h2>
                        </ion-item>
                    </ion-col>
                    <ion-col col-5 class="text-right">
                        <span class="distance">
                            <ion-icon class="flaticon-navigation"></ion-icon>  {{product.distance+" KM"}}
                        </span>
                    </ion-col>
                </ion-row>
            </ion-toolbar>
        </ion-card>

        <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
       </ion-infinite-scroll>


    </div>
</ion-content>


<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <button  (click)="gotoHome()" fill="clear" type="button" class="ion-footer-btn" expand="full">
                        <img src="assets/images/home.png"/>
                    </button>
                </div>
            </ion-col>
            <ion-col>
               <div  (click)="gotMyOrder()">
                        <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
            </ion-col>
            <ion-col>
                <div  (click)="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
                    <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="addproduct">
                        <ion-icon class="flaticon-plus-button"></ion-icon>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div  (click)="gotoUserOrder()" >
                  <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                </div>
            </ion-col>
            <ion-col>
                <div (click)="gotoAccount()" >
                    <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="myprofile">
                        <ion-icon class="flaticon-user"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>
