<ion-header>
    <ion-navbar>
         <ion-title>{{ 'order_details' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

   <!-- Ionic refresh -->
   <ion-refresher slot="fixed" (ionRefresh)="doSellerOrderRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

<!-- Skeletopn HTML start -->
 <div *ngIf="isFetchingData">
  <div class="skeletonBox" >
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
    <div class="line full-line"></div>
    <div class="line full-line"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

<div *ngIf="!isFetchingData">

   <!--Seller section STATUS 1 --> 
    <div  class="join-order-actions join-order-success" >
            <ion-item class="grey-box action-buttons" text-center *ngIf="orderDetails.order_delivery_Status == 1"  >
                      <p>{{'order_waiting_for_confirmation' | translate }}</p>
                <div class="">
                    <button (click)="gotoAccept(orderDetails.orderId)" ion-button color="secondary" round>{{'accept' | translate }}</button>
                    <button (click)="gotoAcceptWithTime(orderDetails.orderId,orderDetails.delivery_time,orderDetails.delivery_date)" ion-button color="dark" round>{{'accept_with_new_time' | translate }} </button>
                    <button (click)="gotoReject(orderDetails.orderId)" ion-button color="danger" round>{{'reject' | translate }}</button>
                </div>
            </ion-item>

          <ion-item class="payment-transaction" text-center >
            <button ion-button round (click)="gotoOrderSummary()">{{'order_summary' | translate }}</button>    
            <button *ngIf="orderDetails.order_delivery_Status ==2" ion-button round (click)="orderSendReq()">{{'order_deliver_buyer' | translate}}</button>
          </ion-item>

        <ion-item class="delivery-time" text-center *ngIf="(orderDetails.is_rescheduled == 1) && (orderDetails.order_delivery_Status !=3 && orderDetails.order_delivery_Status !=7 && orderDetails.order_delivery_Status !=8) ">
            <h2> {{'reschedule_order_delivery' | translate}}</h2>
            <p>{{orderDetails.rescheduled_date_time }}</p>
        </ion-item>
     
        <ion-item  class="rejectbox" text-center *ngIf="(orderDetails.is_rescheduled == 1) && (orderDetails.order_delivery_Status ==3 || orderDetails.order_delivery_Status ==7 || orderDetails.order_delivery_Status ==8)">
            <h2> <img src="assets/images/cancelled.png">{{'order_reject' | translate}}</h2>
        </ion-item>

        <ion-item class="rejectbox" text-center *ngIf="(orderDetails.is_rescheduled == 0) && (orderDetails.order_delivery_Status ==3 || orderDetails.order_delivery_Status ==7 || orderDetails.order_delivery_Status ==8) ">
            <h2> <img src="assets/images/cancelled.png">{{'order_reject' | translate}}</h2>
        </ion-item>
        <div class="take-away 111"> 
            <button ion-button round *ngIf="orderDetails.order_type ==1" > <img src="assets/images/take-away.png"> {{'delivery' | translate }}</button> 
            <button ion-button round *ngIf="orderDetails.order_type ==2" > <img src="assets/images/store-icon.png"> {{'take_away' | translate }}</button> 
        </div>
        </div>
        
<!-- Seller end -->
<div class="order-items" *ngIf="orderDetails.productList.length > 0">

  <ion-item class="userOrder" [ngClass]="itemList.asBuyer == 1 ? 'order-buyer' : ''"  *ngFor="let itemList of orderDetails.productList">
        <ion-grid>
            <ion-row>
                <ion-col col-2 class="card-left-info" (click)="gotoSellerProfile(itemList.buyer_id)">
                    <div class="card-user-img">
                       <img  *ngIf ="itemList.userPhoto ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="itemList.userPhoto !=''" src='{{userImgPath+itemList.userPhoto}}'/>
                    </div>
                </ion-col>
                <ion-col col-10 class="card-right-info">
                    <div class="card-user-name">{{itemList.userName}}<span *ngIf="itemList.asBuyer== 1">{{"buyer" | translate }}</span><span *ngIf="itemList.asBuyer== 0">{{"joined_buyer" | translate }}</span></div>
                    <div class="card-user-location">
                        <span class="flaticon-pin"></span>{{itemList.userAddress}}
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-12 class="right-content">
                <div class="friends-order-item">
                  <div class="item-row">
                    <div class="foi-image">
                      <img src="{{prodImgPath+itemList.product_image}}"/>
                    </div>
                    <h2>
                        <div class="ratedstar">
                            <ion-icon class="flaticon-star"> {{itemList.average_rating}}</ion-icon>
                        </div> 
                       {{itemList.product_name}}
                        <span> {{itemList.created}}</span>
                    </h2>
                      <p *ngIf="itemList.isPromocodeused==1">
                         {{'coupen_applied' | translate}}, {{itemList.discount_percentage}}% OFF
                          <span class="through">€ {{itemList.item_price * itemList.quantity}}</span> 
                        </p> 
                        <p>
                          € {{itemList.item_price}}<small> X {{itemList.quantity}}</small>
                          <span>
                          <b *ngIf="itemList.payment_status == 0" class='unpaid'>{{"un_paid" | translate }}</b>
                          <b *ngIf="itemList.payment_status == 1" class='paid'>{{"paid" | translate }}</b>
                           - {{itemList.payment_mode}} 
                          <b class="total" *ngIf="itemList.isPromocodeused==1">€ {{(itemList.item_price -(itemList.item_price * (itemList.discount_percentage/100))) *  itemList.quantity}} </b>
                          <b class="total" *ngIf="itemList.isPromocodeused==0">€ {{itemList.item_price * itemList.quantity}} </b>                          </span>
                        </p>
                        <p>
                         <ion-icon class="flaticon-edit-document"></ion-icon> {{ (itemList.notes != '') ? itemList.notes : 'not_added_txt' | translate }}
                        </p>
                  </div>
                </div>
              </ion-col>
            </ion-row> 
               <div *ngIf="itemList.errorMsg !='' && itemList.errorMsg != null " class="payment-error">
        <ion-row  >
                <ion-col col-12 class="card-right-info">
                    <div class="card-user-location">
                        <span class="flaticon-edit-document"></span>{{itemList.errorMsg}}
                    </div>
                </ion-col>
            </ion-row>
    </div>
        </ion-grid>
    </ion-item>
    
    <div class="delivery" *ngIf="orderDetails.order_type==1">
        <ion-row>
            <ion-col class="left">
               {{ 'delivery_cost_txt' | translate }}
            </ion-col>
            <ion-col class="right text-right">
            <span *ngIf="orderDetails.isFree == true" class="status free"> {{ 'free_delivery_txt' | translate }}</span>
                &euro; {{ orderDetails.isFree == true  ? '0' :  orderDetails.delivery_cost }}
                
            </ion-col>
        </ion-row>
    </div>

    <div class="totalOrderTrAmount">
        <div class="whiteContainer">
            <ion-row class="totalAmount">
                <ion-col class="left">
                  {{ 'total_amt' | translate }}
                </ion-col>
                <ion-col class="right text-right">
                    &euro;  {{orderDetails.totalAmount}}
                </ion-col>
            </ion-row>
               <ion-row class="totalAmount" *ngIf="orderDetails.isSellerProductDis ==1">
                <ion-col col="12" >
                 {{'you_got_txt' | translate}} <span> {{orderDetails.sellerDiscount}}% OFF </span>  {{ 'off_to_all_products' | translate }}
                </ion-col>
            </ion-row>
        </div>
    </div>

</div>

       <ion-item class="delivery-time" text-center *ngIf="orderDetails.is_rescheduled == 0">
            <h2 *ngIf="orderDetails.order_type==1">{{ 'order_delivery_on' | translate }} </h2>
            <h2 *ngIf="orderDetails.order_type==2">{{'pick_up_time' | translate }}</h2>
            <p>{{ orderDetails.deliveryTime }}</p>
        </ion-item>

        <ion-row class="order-detail">
            <ion-col col-6>
            <h3 *ngIf="orderDetails.order_type==1">{{ 'delivery_address' | translate }}</h3>
            <h3 *ngIf="orderDetails.order_type==2">{{'seller_address' | translate }}
</h3>
            </ion-col>
            <ion-col col-6 text-right class="order-item">
                <h3>{{ orderDetails.delivertAddress }}</h3>
            </ion-col>
        </ion-row>

        <div class="deliverToContainer">
            <label>{{'order_receiver_details' |  translate }} </label>
            <div class="deliveryInfo">
                <ion-row>
                    <ion-col class="left">
                        {{'name' |  translate }}
                    </ion-col>
                    <ion-col class="right">{{orderDetails.delivery_name != '' ? orderDetails.delivery_name : 'not_added_txt' | translate }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="left">
                       {{'surname' |  translate }}
                    </ion-col>
                    <ion-col class="right">{{orderDetails.delivery_surname != '' ? orderDetails.delivery_surname : 'not_added_txt' | translate }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="left">
                       {{'mobile_no' |  translate }}
                    </ion-col>
                    <ion-col class="right">{{orderDetails.delivery_mobile != '' ? orderDetails.delivery_mobile : 'not_added_txt' | translate }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="left">
                      {{'company' |  translate }}
                    </ion-col>
                    <ion-col class="right">{{orderDetails.delivery_company != '' ? orderDetails.delivery_company : 'not_added_txt' | translate }}</ion-col>
                </ion-row>
            </div>
        </div>	

        <ion-item class="grey-box map-view" *ngIf="orderDetails.order_type==1" (click)="gotoAddress(orderDetails.delivertAddress,orderDetails.lati,orderDetails.logni)">
            <ion-icon class="flaticon-route"></ion-icon>{{'delivery_address_on_map' | translate }}
        </ion-item>
        <ion-item class="grey-box map-view"  *ngIf="orderDetails.order_type==2" (click)="gotoAddress(orderDetails.delivertAddress,orderDetails.lati,orderDetails.logni)">
            <ion-icon class="flaticon-route"></ion-icon>{{'seller_address_on_map' | translate }}
        </ion-item>

         <ion-item>
            <ion-grid>
                <ion-row>
                    <ion-col col-2 class="card-left-info">
                        <div class="card-user-img" (click)="gotoSellerProfile(orderDetails.bId)">
                            <img  *ngIf ="orderDetails.buyerImg ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                            <img *ngIf ="orderDetails.buyerImg !=''" src='{{userImgPath+orderDetails.buyerImg}}'/>
                        </div>
                    </ion-col>
                    <ion-col col-10 class="card-right-info">
                        <div class="card-user-name">{{ orderDetails.buyerName }}</div>
                        <div class="card-user-location">
                            <span class="flaticon-pin"></span>{{ orderDetails.address }}
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item class="call-now">
            <a href="tel:{{orderDetails.mobile_no }}"><ion-icon class="flaticon-phone"></ion-icon> {{'call_now' | translate }}:  {{ orderDetails.mobile_no }}</a>
        </ion-item>
        
         <div class="shared-list text-center" *ngIf="orderDetails.shareFriendLists != 0" >
            <ion-item class="share-item text-center">
                <h2 class="shared-title">{{'order_share_with_following_frd' | translate}}</h2>
                <button ion-button class="btn-primary  btn-viewall" (click)="gotosharedfriends()">
                   {{'view_all' | translate}} ({{orderDetails.shareFriendLists}})
                </button>
            </ion-item>
        </div>
      
        
        <!-- Order tracking status -->
        <ion-item class="grey-box action-buttons order-status-container"  text-left  *ngIf="orderDetails.orderTrack.length > 0">
                  <h2>{{'order_status' | translate}}</h2>
            <ul>
                <li class="{{orderTrackItem.status}}"  *ngFor="let orderTrackItem of orderDetails.orderTrack;">
                    <div class="order-status">
                        <span class="icon">
                            <img src="{{orderTrackItem.image}}" />
                        </span>
                        <div class="message-text">
                            <span>{{orderTrackItem.message}}</span>
                        </div>
                        <p>{{orderTrackItem.created}}</p>
                    </div>
                </li>
                <li class="default"></li>
            </ul>
        </ion-item>

        <!-- Order tracking status End -->

        
  </div>
    </ion-content>

    <!--\\  Footer Section  \\-->
    <ion-footer no-border class="ion-footer">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div>
                        <button  (click) ="gotoHome()" ion-button class="ion-footer-btn">
                            <img src="assets/images/home.png"/>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                   <div  (click)="gotMyOrder()">
                        <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div  (click) ="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
                        <button ion-button class="ion-footer-btn">
                            <ion-icon class="flaticon-plus-button"></ion-icon>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click)="gotoUserOrder()">
                        <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon active" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <button (click)="gotoAccount()" ion-button class="ion-footer-btn ">
                            <ion-icon class="flaticon-user"></ion-icon>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>