<ion-header class="header">
	<ion-toolbar class="header-toolbar">
	  <ion-navbar>
	    <ion-title>{{ 'signup' | translate }}</ion-title>
	  </ion-navbar>
	</ion-toolbar>
</ion-header> 

<ion-content padding>
	<h3 class="title">{{ 'enter_phone_txt' | translate }}</h3>
	<div class="country-select-row">

	    <div class="selectcountry" *ngIf="countryList.length > 0" (click)="openCountryCodeModal()">
	        <span class="icon-country"><img src="{{defaultFlag}}" alt=""/></span>
	        <span class="">{{registrationData.countryCode}}</span>
	        <span class="icon-font"><ion-icon name="arrow-dropdown"></ion-icon></span>
	    </div>

	    <ion-item>
	        <ion-input [(ngModel)]="registrationData.tempNumber" type="tel" pattern="[0-9]*" placeholder="{{ 'insert_phone_number' | translate }}" maxlength="12"></ion-input>
	    </ion-item>
	</div>
  	<button (click) ="submit()" expand="full" color="primary" class="btn-page-next">{{ 'next_txt' | translate }}  <ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon></button> 

</ion-content>