<!--\\  Header Section \\-->
<ion-header class="header">
  <ion-toolbar class="header-toolbar">
    <ion-navbar align-title="center" hideBackButton="true">
      <ion-buttons start>
        <button  icon-only class="left"  (click)="searchProdFun()">
          <ion-icon class="flaticon-magnifying-glass"></ion-icon>
        </button>
      </ion-buttons>
      
      <ion-title class="text-center">
        <img src="assets/images/logo-black.png" class="img-logo" />
      </ion-title>

      <ion-buttons end (click)="gotoCart()">
        <button class="right cart-badge-btn" ion-button icon-only>
          <ion-icon class="flaticon-online-shopping-cart"></ion-icon>
          <ion-badge *ngIf="cartCount > 0" class="badge badge-assertive cart-badge">{{cartCount}}</ion-badge>
        </button>
      </ion-buttons>

    </ion-navbar>

    <div class="header-location-block" >
       <div class="gpsTitle" (click)="gotoGPS()">
        <ion-icon  item-left class="flaticon-pin"></ion-icon>
       </div>
      <ion-title (click)="gotoLocationPage()" >
      <ion-icon  item-left class="flaticon-pin-2"></ion-icon>
        {{loginUserData.address}}
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<!--\\  Content Section  \\-->
<ion-content padding>

  <!-- Ionic refresh -->

  <ion-refresher slot="fixed" (ionRefresh)="doHomeRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles" refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <!-- End -->

  <!--search functionality -->
  <!--<div *ngIf="isHideSearchbar" class="home-search-section">
    <ion-item>
      <ion-searchbar placeholder="{{'search_by_name' | translate}}" [(ngModel)]="productDetails.search_prod"
        [showCancelButton]="true" (ionInput)="gotoSearch()" (ionCancel)="dismiss()" (ionClear)="dismiss()">
      </ion-searchbar>
    </ion-item>
  </div> -->
  <!-- End -->

  <!-- NO data -->

  <div class="no-product-found" *ngIf="!isData">
    <h4>{{ 'food_not_avail' | translate }}</h4>
  </div>

  <!-- NO data -->

  <!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>

    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>

    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>

    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>
  </div>
  <!-- Skeletopn HTML end -->


  <div *ngIf="isData">
    <!--\\  Card Start  \\-->


    <ion-card *ngFor='let product of productListing; let i = index' [attr.data-index]='i'>
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col col-2 class="card-left-info">
              <div class="card-user-img" (click)="gotoSellerProfile(product.user_id)">
                <img *ngIf="product.user_photo ==''" src='assets/images/user-profile-default-thumb.jpg' />
                <img *ngIf="product.user_photo !=''" src='{{userImgPath+product.user_photo}}' />
              </div>

            </ion-col>
            <ion-col col-6 class="card-right-info">
              <div class="card-user-name">{{product.user_name}}</div>
              <div class="card-user-location">
                <span class="flaticon-pin"></span> {{product.address}}
              </div>
            </ion-col>
            <ion-col col-4 text-end class="delivery-icons">
                <!-- <span *ngIf="product.order_delivery ==1" class="flaticon-dinner-1"></span>
                <span *ngIf="product.order_take_away ==1" class="flaticon-house"></span> -->
                <span *ngIf="product.order_delivery ==1"> <img src="assets/images/take-away.png"> </span>
                <span *ngIf="product.order_take_away ==1"> <img src="assets/images/store-icon.png">  </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <div class="product-item-img">
        <img src="{{prodImgPath+product.cover_photo}}" width="100%" height="auto"
          (click)="gotoProductDetailPage(product.id,product.user_id,product.distance)" />
      </div>
      <ion-card-content class="product-item-content">
        <ion-card-title class="item-heading-subheading">
          {{product.name}}
          <span *ngIf="productDetails.user_id != product.user_id">
            <ion-icon class="flaticon-navigation"></ion-icon> {{product.distance+" KM"}}
          </span>
        </ion-card-title>
        <ion-toolbar class="item-actbuttons">

          <button ion-button class="item-btn" (click)="gotoLikes(i,product.isLikeUser)" ion-start
            [ngClass]="(product.isLikeUser == true) ? 'active' : ''">
            <ion-icon class="flaticon-heart-2"></ion-icon>
          </button>
          <span class="like-commnet-text">{{product.likeCount}}</span>
          <button (click)="gotoComments(i,product.id)" ion-button class="item-btn" ion-start>
            <ion-icon class="flaticon-comment"></ion-icon>
          </button>
          <span class="like-commnet-text">{{product.commentCount}}</span>

          <div class="fr" *ngIf="productDetails.user_id == product.user_id">
            <button ion-button class="item-btn" (click)="gotoEdit(product.id)">
              <ion-icon class="flaticon-edit-1"></ion-icon>
            </button>
            <button ion-button class="item-btn" (click)="delProduct(product.id,i)">
              <ion-icon class="flaticon-garbage"></ion-icon>
            </button>
          </div>

          <button *ngIf="productDetails.user_id != product.user_id" ion-button class="item-btn item-price fr" ion-end>
            <ion-title>
              <ion-icon *ngIf="!product.isProductCart" (click)="addToCart(i,product.id)"
                class="flaticon-online-shopping-cart"></ion-icon>

              <ion-icon *ngIf="product.isProductCart" (click)="existInCart()" name="cart" class="addedtocart">
              </ion-icon>

              {{product.amount}} &euro;
              <!-- already addd to cart -->

              <!-- End -->

            </ion-title>
          </button>
        </ion-toolbar>

      </ion-card-content>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <!--\\  Card End  \\-->
  </div>
</ion-content>
<!--\\  End Content Section  \\-->

<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <button fill="clear" type="button" class="ion-footer-btn active" expand="full">
            <img src="assets/images/home.png" />
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="gotMyOrder()">
          <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
          <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="addproduct">
            <ion-icon class="flaticon-plus-button"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="gotoUserOrder()">
          <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="gotoAccount()">
          <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="myprofile">
            <ion-icon class="flaticon-user"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
