page-home {

  @mixin borderRadius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
  }

  .content-md {
    .sc-ion-card-md-h {
      margin: 0;
      padding: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 1px 0px 0px rgba(0, 0, 0, .1);
      box-shadow: 0 1px 0px 0px rgba(0, 0, 0, .1);
    }
  }

  .scroll-content {
    padding: 0 !important
  }

  .header {
    .img-logo {
      width: 45px;
      margin-top: 6px;
    }

    .header-toolbar {
      min-height: 48px !important;
      .flaticon-magnifying-glass{
        color: #414141;
        font-size: 21px;
      }
    }
  }

  .cart-badge-btn {
    position: relative;
    padding-right: 5px !important;

    .cart-badge {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      margin-left: inherit;
      margin-top: inherit;
      position: absolute;
      top: 0;
      right: inherit;
      padding: 1px 5px 3px;
      border-radius: 75px;
      font-size: 10px;
      font-family: var(--mybold);
      margin-top: inherit;
      margin-left: inherit;
      background-color: #f50e0e;
      width: 20px;
      height: 20px;
    }
  }


  /**************************
	  For Product Listing */
  .card-md {
    box-shadow: none;
    padding: 0;
    margin: 0 0 10px;
    width: 100%;
    border-bottom: 0 solid rgba(0, 0, 0, .08);

    ion-card-header {
      padding: 5px;
      white-space: normal;
    }

    ion-col {
      padding: 0
    }

    .card-user-img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      @include borderRadius(50%);
    }

    img {
      contain: none;
      height: 250px;
    }

    .card-user-img>img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .card-user-name {
      font-size: 14px;
      color: #292929;
      font-family: var(--mysemibold);
      padding-left: 10px;
      padding-bottom: 3px;
    }

    .card-user-location {
      color: var(--button-dark-grey);
      font-size: 13px;
      padding-left: 26px;
      font-family: var(--myregular);

      span {
        position: absolute;
        left: 6px;
      }
    }

    .card-user-location .flaticon-pin:before {
      font-size: 12px;
    }
    
    .delivery-icons{
      span{
        padding: 3px 5px;
        img{
          display: inline-block;
          font-size: 20px;
          vertical-align: middle;
          height: 20px; width: 22px;
        }
        &:last-child{
          padding-right: 0;
        }
      }
    }

    ion-row {
      position: relative;
    }

    ion-col.card-left-info {
      width: 45px !important;
      max-width: 45px !important;
    }

    .card-right-button {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: 24px;
      text-align: left;
      padding: 0;
    }

    .card-right-button>button>ion-icon {
      font-size: 26px;
    }

    .card-right-button>button {
      color: #8d8d8d;
    }

    .card-right-button>button:hover,
    .card-right-button>button:focus,
    .card-right-button>button:active,
    .card-right-button>button.focused,
    ion-card .card-right-button>button.activated {
      color: #292929;
    }

    .product-item-img {
      height: 320px;
      overflow: hidden;

      img {
        contain: none;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .like-commnet-text {
    font-size: 15px;
    margin-left: 1px;
    padding: 0;
    position: relative;
    top: 7px;
    display: inline-block;
  }

  .product-item-content {
    padding: 0;

    .item-heading-subheading {
      font-family: var(--mysemibold);
      color: var(--ion-black);
      font-size: 16px;
      padding: 6px 12px 0;
    }

    .item-heading-subheading span {
      color: var(--ion-black);
      font-family: var(--myregular);
      font-size: 14px;
      padding-left: 10px;
      float: right;
    }

    .item-heading-subheading span ion-icon:before {
      font-size: 14px;
      position: relative;
      top: 0;
      font-weight: bold;
    }

    .item-actbuttons {
      padding: 0;
      min-height: auto;
    }

    .item-actbuttons .toolbar-background {
      background: #fff;
      contain: none;
    }

    .item-actbuttons .item-btn {
      font-size: 21px;
      color: var(--ion-black);
      box-shadow: none;
      background: transparent;
      padding: 0;
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 14px;

      ion-icon:before {
        font-size: 19px;
      }
    }

    .item-actbuttons .item-btn.active {
      color: #d12b2b;

      ion-icon.flaticon-heart-2:before {
        content: "\f162";
      }
    }

    .item-actbuttons .item-btn.btn-add-to-cart {
      color: #292929;

      ion-icon:before {
        font-size: 25px;
        font-weight: bold
      }
    }

    .item-actbuttons .item-btn.item-price {
      background: transparent;
      color: var(--ion-black);
      font-size: 17px;
      padding: 2px 5px;
      @include borderRadius(25px);
      margin-right: 0;
      font-family: var(--myregular);
      border: 1px solid transparent;

      &:focus {
        border-color: transparent;
        background: transparent;
      }

      .icon {
        width: 26px;
        height: 26px;
        text-align: center;
        border-radius: 50%;
        background: var(--ion-color-primary);
        padding: 6px;
        font-size: 14px !important;
        margin-right: 3px;

        &:before {
          font-size: 13px;
          margin-right: 4px;
          font-weight: bold;
        }
      }

      .icon.addedtocart {
        width: auto;
        height: auto;
        text-align: center;
        border-radius: 50%;
        background: transparent;
        padding: 0;
        font-size: 17px !important;

        &:before {
          font-size: 17px;
          margin-right: 0;
          font-weight: bold;
          color: var(--button-dark-grey);
        }
      }

      ion-title {
        position: relative !important;
        padding: 0 !important
      }

      .toolbar-title {
        font-family: var(--myregular);
        font-size: 17px;
        color: var(--ion-black);
        padding-right: 6px;
      }
    }

    .item-actbuttons .item-text-btn {
      font-size: 13px;
      color: #979a9f;
      text-transform: none;
      letter-spacing: normal;
      font-family: var(--mysemibold);
      background: transparent;
      box-shadow: none;
      padding: 0 8px;
      height: 1.6rem;

      &:focus {
        color: var(--ion-black);
      }

      .button-inner {
        font-family: var(--myregular);
        color: #999;
      }
    }

    .item-actbuttons .item-text-btn+.item-text-btn {
      padding-left: 0
    }

    .item-actbuttons.item-text-actbutton {
      padding-top: 0;
      padding-top: 0;
      margin-top: 0;
      color: #d0d0d0;
      min-height: auto;
    }
  }

  .no-product-found {
    padding: 45px 0;

    img {
      margin: 10px auto;
      display: block;
    }

    h4 {
      color: #434343;
      font-size: 19px;
      font-family: var(--myregular);
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  .separator {
    position: relative;
    top: 5px;
    font-size: 11px;
  }

  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: left;
  }

  .header .header-location-block {
    background: #fff;
    min-height: 35px;
    position: relative;
    z-index: 1;
    width: 100%;
    clear: both;
    bottom: 0;
    border-bottom: 1px dashed #dedede;

    .title {
      padding: 0 15px 1px;
      text-align: center;
    }

    .gpsTitle {
      padding: 0 4px 1px;
      text-align: left;
      ion-icon{
        font-weight: bold;
        padding: 3px 5px;
        // background: #fdcf1c;
       
        color: #007eff;
        border-radius: 3px;
        line-height: 15px;
        vertical-align: middle;
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: 9999;
      }
    }

    .toolbar-title {
      font-size: 13px;
    }

    .icon:before {
      font-size: 13px;
    }
  }

  .item-actbuttons {
    .item-btn {
      font-size: 21px;
      color: #8d8d8d;
      box-shadow: none;
      background: transparent;
      padding: 0 12px;
      margin-bottom: 0;
      margin-top: 0;

      ion-icon:before {
        font-size: 21px;
      }
    }

    .item-btn+.item-btn {
      margin-left: 14px;
      margin-right: 9px;
    }
  }


  /* Skeleton CSS */
  .skeletonBox {
    width: 100%;
    height: 92px;
  }

  .skeletonBox .avatar {
    float: left;
    width: 55px;
    height: 55px;
    background-color: #ccc;
    border-radius: 100px;
    margin: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 600px;
    animation: shine-avatar 1.3s infinite linear;
  }

  .skeletonBox .line {
    float: left;
    width: 65px;
    height: 16px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 900px;
    animation: shine-lines 1.3s infinite linear;
  }

  .skeletonBox .avatar+.line {
    margin-top: 11px;
    width: 260px;
  }

  .blankBox {
    width: calc(100% - 20px) !important;
    height: 90px !important;
    margin: 2px 10px 20px 10px !important;
  }

  .skeletonBox .line~.line {
    background-color: #ddd;
  }

  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }

    40%,
    100% {
      background-position: 320px;
    }
  }

  @keyframes shine-avatar {
    0% {
      background-position: -32px;
    }

    40%,
    100% {
      background-position: 208px;
    }
  }

  /* Skeleton CSS End*/


  .item-md {
    border-radius: 0;
    background: transparent;
    margin: 0;
    padding: 0;

    .item-inner {
      border-bottom: 0 !important;
      box-shadow: none !important;
      margin: 0;
      padding: 0;

      .label {
        margin: 0;
      }

      .searchbar-input {
        box-shadow: none;
        padding: 10px 55px;
        border-radius: 5px;
      }

      .searchbar-search-icon {
        top: 14px;
        background-size: 23px;
        left: 14px;
      }
    }
  }

  .badge {
    float: right;
    padding: 4px 0 2px;
    border-radius: 25px;
    position: relative;
    margin-left: 8px;
    font-size: 13px;
    line-height: 18px;
    width: 25px;
    height: 25px;
    top: 11px;
    right: 5px;
    bottom: auto;
    margin: auto;
    position: absolute;
  }

  .home-search-section {
    position: sticky;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 99;
    
    .item {
      background: #ededed;

      .searchbar-input {
        padding: 7px 55px;
      }

      .searchbar-search-icon {
        top: 11px
      }
    }
  }


}


