	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/12/2018 06:51
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

:root{
    --fontawesome: Flaticon;
};

.flaticon-equalizer:before { content: "\f100"; }
.flaticon-dinner:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-menu-1:before { content: "\f104"; }
.flaticon-mixer:before { content: "\f105"; }
.flaticon-spoon:before { content: "\f106"; }
.flaticon-dinner-1:before { content: "\f107"; }
.flaticon-dinner-2:before { content: "\f108"; }
.flaticon-envelope:before { content: "\f109"; }
.flaticon-padlock:before { content: "\f10a"; }
.flaticon-lock:before { content: "\f10b"; }
.flaticon-key:before { content: "\f10c"; }
.flaticon-security-system:before { content: "\f10d"; }
.flaticon-smartphone:before { content: "\f10e"; }
.flaticon-smartphone-1:before { content: "\f10f"; }
.flaticon-login-square-arrow-button-outline:before { content: "\f110"; }
.flaticon-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f111"; }
.flaticon-instagram:before { content: "\f112"; }
.flaticon-facebook-logo:before { content: "\f113"; }
.flaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f114"; }
.flaticon-left:before { content: "\f115"; }
.flaticon-phone:before { content: "\f116"; }
.flaticon-left-1:before { content: "\f117"; }
.flaticon-cancel:before { content: "\f118"; }
.flaticon-placeholder-outline:before { content: "\f119"; }
.flaticon-pin:before { content: "\f11a"; }
.flaticon-navigation:before { content: "\f11b"; }
.flaticon-plus:before { content: "\f11c"; }
.flaticon-edit:before { content: "\f11d"; }
.flaticon-menu-2:before { content: "\f11e"; }
.flaticon-phone-call:before { content: "\f11f"; }
.flaticon-information:before { content: "\f120"; }
.flaticon-info:before { content: "\f121"; }
.flaticon-edit-document:before { content: "\f122"; }
.flaticon-edit-1:before { content: "\f123"; }
.flaticon-photo-camera:before { content: "\f124"; }
.flaticon-menu-3:before { content: "\f125"; }
.flaticon-credit-card:before { content: "\f126"; }
.flaticon-heart:before { content: "\f127"; }
.flaticon-shopping-cart:before { content: "\f128"; }
.flaticon-magnifying-glass:before { content: "\f129"; }
.flaticon-search:before { content: "\f12a"; }
.flaticon-filter:before { content: "\f12b"; }
.flaticon-filter-1:before { content: "\f12c"; }
.flaticon-euro:before { content: "\f12d"; }
.flaticon-shopping-cart-1:before { content: "\f12e"; }
.flaticon-house:before { content: "\f12f"; }
.flaticon-move:before { content: "\f130"; }
.flaticon-wedding-planning:before { content: "\f131"; }
.flaticon-left-arrow:before { content: "\f132"; }
.flaticon-back:before { content: "\f133"; }
.flaticon-heart-1:before { content: "\f134"; }
.flaticon-user:before { content: "\f135"; }
.flaticon-star:before { content: "\f136"; }
.flaticon-plus-button:before { content: "\f137"; }
.flaticon-share:before { content: "\f138"; }
.flaticon-share-1:before { content: "\f139"; }
.flaticon-comment:before { content: "\f13a"; }
.flaticon-comment-1:before { content: "\f13b"; }
.flaticon-picture:before { content: "\f13c"; }
.flaticon-image:before { content: "\f13d"; }
.flaticon-garbage:before { content: "\f13e"; }
.flaticon-turn-off:before { content: "\f13f"; }
.flaticon-logout:before { content: "\f140"; }
.flaticon-dish:before { content: "\f141"; }
.flaticon-order:before { content: "\f142"; }
.flaticon-ring:before { content: "\f143"; }
.flaticon-cloche:before { content: "\f144"; }
.flaticon-euro-1:before { content: "\f145"; }
.flaticon-settings:before { content: "\f146"; }
.flaticon-star-1:before { content: "\f147"; }
.flaticon-smartphone-2:before { content: "\f148"; }
.flaticon-smartphone-3:before { content: "\f149"; }
.flaticon-file:before { content: "\f14a"; }
.flaticon-tick:before { content: "\f14b"; }
.flaticon-clock:before { content: "\f14c"; }
.flaticon-small-calendar:before { content: "\f14d"; }
.flaticon-verified:before { content: "\f14e"; }
.flaticon-add:before { content: "\f14f"; }
.flaticon-online-shopping-cart:before { content: "\f150"; }
.flaticon-heart-2:before { content: "\f151"; }
.flaticon-edit-2:before { content: "\f152"; }
.flaticon-atom:before { content: "\f153"; }
.flaticon-route:before { content: "\f154"; }
.flaticon-pin-1:before { content: "\f155"; }
.flaticon-invisible:before { content: "\f156"; }
.flaticon-cart:before { content: "\f157"; }
.flaticon-down:before { content: "\f158"; }
.flaticon-upload:before { content: "\f159"; }
.flaticon-down-arrow:before { content: "\f15a"; }
.flaticon-little-pushpin:before { content: "\f15b"; }
.flaticon-pin-2:before { content: "\f15c"; }
.flaticon-chat:before { content: "\f15d"; }
.flaticon-negative-sign-inside-circle:before { content: "\f15e"; }
.flaticon-add-1:before { content: "\f15f"; }
.flaticon-calendar:before { content: "\f160"; }
.flaticon-free:before { content: "\f161"; }
.flaticon-like:before { content: "\f162"; }