    /*
    Flaticon icon font: Flaticon
    Creation date: 18/12/2018 06:51
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-equalizer:before { content: "\f100"; }
.flaticon-dinner:before { content: "\f101"; }
.flaticon-menu:before { content: "\f102"; }
.flaticon-home:before { content: "\f103"; }
.flaticon-menu-1:before { content: "\f104"; }
.flaticon-mixer:before { content: "\f105"; }
.flaticon-spoon:before { content: "\f106"; }
.flaticon-dinner-1:before { content: "\f107"; }
.flaticon-dinner-2:before { content: "\f108"; }
.flaticon-envelope:before { content: "\f109"; }
.flaticon-padlock:before { content: "\f10a"; }
.flaticon-lock:before { content: "\f10b"; }
.flaticon-key:before { content: "\f10c"; }
.flaticon-security-system:before { content: "\f10d"; }
.flaticon-smartphone:before { content: "\f10e"; }
.flaticon-smartphone-1:before { content: "\f10f"; }
.flaticon-login-square-arrow-button-outline:before { content: "\f110"; }
.flaticon-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f111"; }
.flaticon-instagram:before { content: "\f112"; }
.flaticon-facebook-logo:before { content: "\f113"; }
.flaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f114"; }
.flaticon-left:before { content: "\f115"; }
.flaticon-phone:before { content: "\f116"; }
.flaticon-left-1:before { content: "\f117"; }
.flaticon-cancel:before { content: "\f118"; }
.flaticon-placeholder-outline:before { content: "\f119"; }
.flaticon-pin:before { content: "\f11a"; }
.flaticon-navigation:before { content: "\f11b"; }
.flaticon-plus:before { content: "\f11c"; }
.flaticon-edit:before { content: "\f11d"; }
.flaticon-menu-2:before { content: "\f11e"; }
.flaticon-phone-call:before { content: "\f11f"; }
.flaticon-information:before { content: "\f120"; }
.flaticon-info:before { content: "\f121"; }
.flaticon-edit-document:before { content: "\f122"; }
.flaticon-edit-1:before { content: "\f123"; }
.flaticon-photo-camera:before { content: "\f124"; }
.flaticon-menu-3:before { content: "\f125"; }
.flaticon-credit-card:before { content: "\f126"; }
.flaticon-heart:before { content: "\f127"; }
.flaticon-shopping-cart:before { content: "\f128"; }
.flaticon-magnifying-glass:before { content: "\f129"; }
.flaticon-search:before { content: "\f12a"; }
.flaticon-filter:before { content: "\f12b"; }
.flaticon-filter-1:before { content: "\f12c"; }
.flaticon-euro:before { content: "\f12d"; }
.flaticon-shopping-cart-1:before { content: "\f12e"; }
.flaticon-house:before { content: "\f12f"; }
.flaticon-move:before { content: "\f130"; }
.flaticon-wedding-planning:before { content: "\f131"; }
.flaticon-left-arrow:before { content: "\f132"; }
.flaticon-back:before { content: "\f133"; }
.flaticon-heart-1:before { content: "\f134"; }
.flaticon-user:before { content: "\f135"; }
.flaticon-star:before { content: "\f136"; }
.flaticon-plus-button:before { content: "\f137"; }
.flaticon-share:before { content: "\f138"; }
.flaticon-share-1:before { content: "\f139"; }
.flaticon-comment:before { content: "\f13a"; }
.flaticon-comment-1:before { content: "\f13b"; }
.flaticon-picture:before { content: "\f13c"; }
.flaticon-image:before { content: "\f13d"; }
.flaticon-garbage:before { content: "\f13e"; }
.flaticon-turn-off:before { content: "\f13f"; }
.flaticon-logout:before { content: "\f140"; }
.flaticon-dish:before { content: "\f141"; }
.flaticon-order:before { content: "\f142"; }
.flaticon-ring:before { content: "\f143"; }
.flaticon-cloche:before { content: "\f144"; }
.flaticon-euro-1:before { content: "\f145"; }
.flaticon-settings:before { content: "\f146"; }
.flaticon-star-1:before { content: "\f147"; }
.flaticon-smartphone-2:before { content: "\f148"; }
.flaticon-smartphone-3:before { content: "\f149"; }
.flaticon-file:before { content: "\f14a"; }
.flaticon-tick:before { content: "\f14b"; }
.flaticon-clock:before { content: "\f14c"; }
.flaticon-small-calendar:before { content: "\f14d"; }
.flaticon-verified:before { content: "\f14e"; }
.flaticon-add:before { content: "\f14f"; }
.flaticon-online-shopping-cart:before { content: "\f150"; }
.flaticon-heart-2:before { content: "\f151"; }
.flaticon-edit-2:before { content: "\f152"; }
.flaticon-atom:before { content: "\f153"; }
.flaticon-route:before { content: "\f154"; }
.flaticon-pin-1:before { content: "\f155"; }
.flaticon-invisible:before { content: "\f156"; }
.flaticon-cart:before { content: "\f157"; }
.flaticon-down:before { content: "\f158"; }
.flaticon-upload:before { content: "\f159"; }
.flaticon-down-arrow:before { content: "\f15a"; }
.flaticon-little-pushpin:before { content: "\f15b"; }
.flaticon-pin-2:before { content: "\f15c"; }
.flaticon-chat:before { content: "\f15d"; }
.flaticon-negative-sign-inside-circle:before { content: "\f15e"; }
.flaticon-add-1:before { content: "\f15f"; }
.flaticon-calendar:before { content: "\f160"; }
.flaticon-free:before { content: "\f161"; }
    
    $font-Flaticon-equalizer: "\f100";
    $font-Flaticon-dinner: "\f101";
    $font-Flaticon-menu: "\f102";
    $font-Flaticon-home: "\f103";
    $font-Flaticon-menu-1: "\f104";
    $font-Flaticon-mixer: "\f105";
    $font-Flaticon-spoon: "\f106";
    $font-Flaticon-dinner-1: "\f107";
    $font-Flaticon-dinner-2: "\f108";
    $font-Flaticon-envelope: "\f109";
    $font-Flaticon-padlock: "\f10a";
    $font-Flaticon-lock: "\f10b";
    $font-Flaticon-key: "\f10c";
    $font-Flaticon-security-system: "\f10d";
    $font-Flaticon-smartphone: "\f10e";
    $font-Flaticon-smartphone-1: "\f10f";
    $font-Flaticon-login-square-arrow-button-outline: "\f110";
    $font-Flaticon-facebook-logo-in-circular-button-outlined-social-symbol: "\f111";
    $font-Flaticon-instagram: "\f112";
    $font-Flaticon-facebook-logo: "\f113";
    $font-Flaticon-instagram-social-network-logo-of-photo-camera: "\f114";
    $font-Flaticon-left: "\f115";
    $font-Flaticon-phone: "\f116";
    $font-Flaticon-left-1: "\f117";
    $font-Flaticon-cancel: "\f118";
    $font-Flaticon-placeholder-outline: "\f119";
    $font-Flaticon-pin: "\f11a";
    $font-Flaticon-navigation: "\f11b";
    $font-Flaticon-plus: "\f11c";
    $font-Flaticon-edit: "\f11d";
    $font-Flaticon-menu-2: "\f11e";
    $font-Flaticon-phone-call: "\f11f";
    $font-Flaticon-information: "\f120";
    $font-Flaticon-info: "\f121";
    $font-Flaticon-edit-document: "\f122";
    $font-Flaticon-edit-1: "\f123";
    $font-Flaticon-photo-camera: "\f124";
    $font-Flaticon-menu-3: "\f125";
    $font-Flaticon-credit-card: "\f126";
    $font-Flaticon-heart: "\f127";
    $font-Flaticon-shopping-cart: "\f128";
    $font-Flaticon-magnifying-glass: "\f129";
    $font-Flaticon-search: "\f12a";
    $font-Flaticon-filter: "\f12b";
    $font-Flaticon-filter-1: "\f12c";
    $font-Flaticon-euro: "\f12d";
    $font-Flaticon-shopping-cart-1: "\f12e";
    $font-Flaticon-house: "\f12f";
    $font-Flaticon-move: "\f130";
    $font-Flaticon-wedding-planning: "\f131";
    $font-Flaticon-left-arrow: "\f132";
    $font-Flaticon-back: "\f133";
    $font-Flaticon-heart-1: "\f134";
    $font-Flaticon-user: "\f135";
    $font-Flaticon-star: "\f136";
    $font-Flaticon-plus-button: "\f137";
    $font-Flaticon-share: "\f138";
    $font-Flaticon-share-1: "\f139";
    $font-Flaticon-comment: "\f13a";
    $font-Flaticon-comment-1: "\f13b";
    $font-Flaticon-picture: "\f13c";
    $font-Flaticon-image: "\f13d";
    $font-Flaticon-garbage: "\f13e";
    $font-Flaticon-turn-off: "\f13f";
    $font-Flaticon-logout: "\f140";
    $font-Flaticon-dish: "\f141";
    $font-Flaticon-order: "\f142";
    $font-Flaticon-ring: "\f143";
    $font-Flaticon-cloche: "\f144";
    $font-Flaticon-euro-1: "\f145";
    $font-Flaticon-settings: "\f146";
    $font-Flaticon-star-1: "\f147";
    $font-Flaticon-smartphone-2: "\f148";
    $font-Flaticon-smartphone-3: "\f149";
    $font-Flaticon-file: "\f14a";
    $font-Flaticon-tick: "\f14b";
    $font-Flaticon-clock: "\f14c";
    $font-Flaticon-small-calendar: "\f14d";
    $font-Flaticon-verified: "\f14e";
    $font-Flaticon-add: "\f14f";
    $font-Flaticon-online-shopping-cart: "\f150";
    $font-Flaticon-heart-2: "\f151";
    $font-Flaticon-edit-2: "\f152";
    $font-Flaticon-atom: "\f153";
    $font-Flaticon-route: "\f154";
    $font-Flaticon-pin-1: "\f155";
    $font-Flaticon-invisible: "\f156";
    $font-Flaticon-cart: "\f157";
    $font-Flaticon-down: "\f158";
    $font-Flaticon-upload: "\f159";
    $font-Flaticon-down-arrow: "\f15a";
    $font-Flaticon-little-pushpin: "\f15b";
    $font-Flaticon-pin-2: "\f15c";
    $font-Flaticon-chat: "\f15d";
    $font-Flaticon-negative-sign-inside-circle: "\f15e";
    $font-Flaticon-add-1: "\f15f";
    $font-Flaticon-calendar: "\f160";
    $font-Flaticon-free: "\f161";