    /*
    Flaticon icon font: Flaticon
    Creation date: 16/04/2019 07:57
    */

    @font-face {
  font-family: "newFlaticon";
  src: url("./newFlaticon.eot");
  src: url("./newnewnewFlaticon.eot?#iefix") format("embedded-opentype"),
       url("./newnewFlaticon.woff2") format("woff2"),
       url("./newFlaticon.woff") format("woff"),
       url("./newFlaticon.ttf") format("truetype"),
       url("./Flaticon.svg#newFlaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "newFlaticon";
    src: url("./newFlaticon.svg#newFlaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "newFlaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.newflaticon-dinner:before { content: "\f100"; }
.newflaticon-menu:before { content: "\f101"; }
.newflaticon-home:before { content: "\f102"; }
.newflaticon-menu-1:before { content: "\f103"; }
.newflaticon-mixer:before { content: "\f104"; }
.newflaticon-spoon:before { content: "\f105"; }
.newflaticon-dinner-1:before { content: "\f106"; }
.newflaticon-dinner-2:before { content: "\f107"; }
.newflaticon-envelope:before { content: "\f108"; }
.newflaticon-padlock:before { content: "\f109"; }
.newflaticon-lock:before { content: "\f10a"; }
.newflaticon-key:before { content: "\f10b"; }
.newflaticon-security-system:before { content: "\f10c"; }
.newflaticon-smartphone:before { content: "\f10d"; }
.newflaticon-smartphone-1:before { content: "\f10e"; }
.newflaticon-login-square-arrow-button-outline:before { content: "\f10f"; }
.newflaticon-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f110"; }
.newflaticon-instagram:before { content: "\f111"; }
.newflaticon-facebook-logo:before { content: "\f112"; }
.newflaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f113"; }
.newflaticon-left:before { content: "\f114"; }
.newflaticon-phone:before { content: "\f115"; }
.newflaticon-left-1:before { content: "\f116"; }
.newflaticon-cancel:before { content: "\f117"; }
.newflaticon-placeholder-outline:before { content: "\f118"; }
.newflaticon-pin:before { content: "\f119"; }
.newflaticon-navigation:before { content: "\f11a"; }
.newflaticon-plus:before { content: "\f11b"; }
.newflaticon-edit:before { content: "\f11c"; }
.newflaticon-menu-2:before { content: "\f11d"; }
.newflaticon-phone-call:before { content: "\f11e"; }
.newflaticon-information:before { content: "\f11f"; }
.newflaticon-info:before { content: "\f120"; }
.newflaticon-edit-document:before { content: "\f121"; }
.newflaticon-edit-1:before { content: "\f122"; }
.newflaticon-photo-camera:before { content: "\f123"; }
.newflaticon-menu-3:before { content: "\f124"; }
.newflaticon-credit-card:before { content: "\f125"; }
.newflaticon-heart:before { content: "\f126"; }
.newflaticon-shopping-cart:before { content: "\f127"; }
.newflaticon-magnifying-glass:before { content: "\f128"; }
.newflaticon-search:before { content: "\f129"; }
.newflaticon-filter:before { content: "\f12a"; }
.newflaticon-filter-1:before { content: "\f12b"; }
.newflaticon-euro:before { content: "\f12c"; }
.newflaticon-shopping-cart-1:before { content: "\f12d"; }
.newflaticon-house:before { content: "\f12e"; }
.newflaticon-move:before { content: "\f12f"; }
.newflaticon-wedding-planning:before { content: "\f130"; }
.newflaticon-left-arrow:before { content: "\f131"; }
.newflaticon-back:before { content: "\f132"; }
.newflaticon-heart-1:before { content: "\f133"; }
.newflaticon-user:before { content: "\f134"; }
.newflaticon-star:before { content: "\f135"; }
.newflaticon-plus-button:before { content: "\f136"; }
.newflaticon-share:before { content: "\f137"; }
.newflaticon-share-1:before { content: "\f138"; }
.newflaticon-comment:before { content: "\f139"; }
.newflaticon-comment-1:before { content: "\f13a"; }
.newflaticon-picture:before { content: "\f13b"; }
.newflaticon-image:before { content: "\f13c"; }
.newflaticon-garbage:before { content: "\f13d"; }
.newflaticon-turn-off:before { content: "\f13e"; }
.newflaticon-logout:before { content: "\f13f"; }
.newflaticon-dish:before { content: "\f140"; }
.newflaticon-order:before { content: "\f141"; }
.newflaticon-ring:before { content: "\f142"; }
.newflaticon-cloche:before { content: "\f143"; }
.newflaticon-euro-1:before { content: "\f144"; }
.newflaticon-settings:before { content: "\f145"; }
.newflaticon-star-1:before { content: "\f146"; }
.newflaticon-smartphone-2:before { content: "\f147"; }
.newflaticon-smartphone-3:before { content: "\f148"; }
.newflaticon-file:before { content: "\f149"; }
.newflaticon-tick:before { content: "\f14a"; }
.newflaticon-clock:before { content: "\f14b"; }
.newflaticon-small-calendar:before { content: "\f14c"; }
.newflaticon-verified:before { content: "\f14d"; }
.newflaticon-add:before { content: "\f14e"; }
.newflaticon-online-shopping-cart:before { content: "\f14f"; }
.newflaticon-heart-2:before { content: "\f150"; }
.newflaticon-edit-2:before { content: "\f151"; }
.newflaticon-atom:before { content: "\f152"; }
.newflaticon-route:before { content: "\f153"; }
.newflaticon-pin-1:before { content: "\f154"; }
.newflaticon-invisible:before { content: "\f155"; }
.newflaticon-cart:before { content: "\f156"; }
.newflaticon-down:before { content: "\f157"; }
.newflaticon-upload:before { content: "\f158"; }
.newflaticon-down-arrow:before { content: "\f159"; }
.newflaticon-little-pushpin:before { content: "\f15a"; }
.newflaticon-pin-2:before { content: "\f15b"; }
.newflaticon-chat:before { content: "\f15c"; }
.newflaticon-negative-sign-inside-circle:before { content: "\f15d"; }
.newflaticon-add-1:before { content: "\f15e"; }
.newflaticon-calendar:before { content: "\f15f"; }
.newflaticon-free:before { content: "\f160"; }
.newflaticon-like:before { content: "\f161"; }
.newflaticon-sms-1:before { content: "\f162"; }
.newflaticon-sms-2:before { content: "\f163"; }
.newflaticon-gps-fixed-indicator:before { content: "\f164"; }
.newflaticon-user-1:before { content: "\f165"; }
.newflaticon-profile:before { content: "\f166"; }
.newflaticon-map-location:before { content: "\f167"; }
.newflaticon-map:before { content: "\f168"; }
.newflaticon-destination:before { content: "\f169"; }
.newflaticon-travel:before { content: "\f16a"; }
.newflaticon-map-1:before { content: "\f16b"; }
.newflaticon-enterprise:before { content: "\f16c"; }
.newflaticon-factory:before { content: "\f16d"; }
.newflaticon-gift:before { content: "\f16e"; }
.newflaticon-moped:before { content: "\f16f"; }
.newflaticon-box:before { content: "\f170"; }
.newflaticon-stopwatch:before { content: "\f171"; }
.newflaticon-list:before { content: "\f172"; }
.newflaticon-favourite:before { content: "\f173"; }
.newflaticon-receipt:before { content: "\f174"; }
.newflaticon-network:before { content: "\f175"; }
.newflaticon-save-button:before { content: "\f176"; }
.newflaticon-invoice:before { content: "\f177"; }
.newflaticon-euro-2:before { content: "\f178"; }
.newflaticon-collaboration:before { content: "\f179"; }
.newflaticon-network-1:before { content: "\f17a"; }
.newflaticon-receipt-1:before { content: "\f17b"; }
.newflaticon-lunch-bag:before { content: "\f17c"; }
.newflaticon-take-away:before { content: "\f17d"; }
.newflaticon-lunch:before { content: "\f17e"; }
    
    $font-Flaticon-dinner: "\f100";
    $font-Flaticon-menu: "\f101";
    $font-Flaticon-home: "\f102";
    $font-Flaticon-menu-1: "\f103";
    $font-Flaticon-mixer: "\f104";
    $font-Flaticon-spoon: "\f105";
    $font-Flaticon-dinner-1: "\f106";
    $font-Flaticon-dinner-2: "\f107";
    $font-Flaticon-envelope: "\f108";
    $font-Flaticon-padlock: "\f109";
    $font-Flaticon-lock: "\f10a";
    $font-Flaticon-key: "\f10b";
    $font-Flaticon-security-system: "\f10c";
    $font-Flaticon-smartphone: "\f10d";
    $font-Flaticon-smartphone-1: "\f10e";
    $font-Flaticon-login-square-arrow-button-outline: "\f10f";
    $font-Flaticon-facebook-logo-in-circular-button-outlined-social-symbol: "\f110";
    $font-Flaticon-instagram: "\f111";
    $font-Flaticon-facebook-logo: "\f112";
    $font-Flaticon-instagram-social-network-logo-of-photo-camera: "\f113";
    $font-Flaticon-left: "\f114";
    $font-Flaticon-phone: "\f115";
    $font-Flaticon-left-1: "\f116";
    $font-Flaticon-cancel: "\f117";
    $font-Flaticon-placeholder-outline: "\f118";
    $font-Flaticon-pin: "\f119";
    $font-Flaticon-navigation: "\f11a";
    $font-Flaticon-plus: "\f11b";
    $font-Flaticon-edit: "\f11c";
    $font-Flaticon-menu-2: "\f11d";
    $font-Flaticon-phone-call: "\f11e";
    $font-Flaticon-information: "\f11f";
    $font-Flaticon-info: "\f120";
    $font-Flaticon-edit-document: "\f121";
    $font-Flaticon-edit-1: "\f122";
    $font-Flaticon-photo-camera: "\f123";
    $font-Flaticon-menu-3: "\f124";
    $font-Flaticon-credit-card: "\f125";
    $font-Flaticon-heart: "\f126";
    $font-Flaticon-shopping-cart: "\f127";
    $font-Flaticon-magnifying-glass: "\f128";
    $font-Flaticon-search: "\f129";
    $font-Flaticon-filter: "\f12a";
    $font-Flaticon-filter-1: "\f12b";
    $font-Flaticon-euro: "\f12c";
    $font-Flaticon-shopping-cart-1: "\f12d";
    $font-Flaticon-house: "\f12e";
    $font-Flaticon-move: "\f12f";
    $font-Flaticon-wedding-planning: "\f130";
    $font-Flaticon-left-arrow: "\f131";
    $font-Flaticon-back: "\f132";
    $font-Flaticon-heart-1: "\f133";
    $font-Flaticon-user: "\f134";
    $font-Flaticon-star: "\f135";
    $font-Flaticon-plus-button: "\f136";
    $font-Flaticon-share: "\f137";
    $font-Flaticon-share-1: "\f138";
    $font-Flaticon-comment: "\f139";
    $font-Flaticon-comment-1: "\f13a";
    $font-Flaticon-picture: "\f13b";
    $font-Flaticon-image: "\f13c";
    $font-Flaticon-garbage: "\f13d";
    $font-Flaticon-turn-off: "\f13e";
    $font-Flaticon-logout: "\f13f";
    $font-Flaticon-dish: "\f140";
    $font-Flaticon-order: "\f141";
    $font-Flaticon-ring: "\f142";
    $font-Flaticon-cloche: "\f143";
    $font-Flaticon-euro-1: "\f144";
    $font-Flaticon-settings: "\f145";
    $font-Flaticon-star-1: "\f146";
    $font-Flaticon-smartphone-2: "\f147";
    $font-Flaticon-smartphone-3: "\f148";
    $font-Flaticon-file: "\f149";
    $font-Flaticon-tick: "\f14a";
    $font-Flaticon-clock: "\f14b";
    $font-Flaticon-small-calendar: "\f14c";
    $font-Flaticon-verified: "\f14d";
    $font-Flaticon-add: "\f14e";
    $font-Flaticon-online-shopping-cart: "\f14f";
    $font-Flaticon-heart-2: "\f150";
    $font-Flaticon-edit-2: "\f151";
    $font-Flaticon-atom: "\f152";
    $font-Flaticon-route: "\f153";
    $font-Flaticon-pin-1: "\f154";
    $font-Flaticon-invisible: "\f155";
    $font-Flaticon-cart: "\f156";
    $font-Flaticon-down: "\f157";
    $font-Flaticon-upload: "\f158";
    $font-Flaticon-down-arrow: "\f159";
    $font-Flaticon-little-pushpin: "\f15a";
    $font-Flaticon-pin-2: "\f15b";
    $font-Flaticon-chat: "\f15c";
    $font-Flaticon-negative-sign-inside-circle: "\f15d";
    $font-Flaticon-add-1: "\f15e";
    $font-Flaticon-calendar: "\f15f";
    $font-Flaticon-free: "\f160";
    $font-Flaticon-like: "\f161";
    $font-Flaticon-sms-1: "\f162";
    $font-Flaticon-sms-2: "\f163";
    $font-Flaticon-gps-fixed-indicator: "\f164";
    $font-Flaticon-user-1: "\f165";
    $font-Flaticon-profile: "\f166";
    $font-Flaticon-map-location: "\f167";
    $font-Flaticon-map: "\f168";
    $font-Flaticon-destination: "\f169";
    $font-Flaticon-travel: "\f16a";
    $font-Flaticon-map-1: "\f16b";
    $font-Flaticon-enterprise: "\f16c";
    $font-Flaticon-factory: "\f16d";
    $font-Flaticon-gift: "\f16e";
    $font-Flaticon-moped: "\f16f";
    $font-Flaticon-box: "\f170";
    $font-Flaticon-stopwatch: "\f171";
    $font-Flaticon-list: "\f172";
    $font-Flaticon-favourite: "\f173";
    $font-Flaticon-receipt: "\f174";
    $font-Flaticon-network: "\f175";
    $font-Flaticon-save-button: "\f176";
    $font-Flaticon-invoice: "\f177";
    $font-Flaticon-euro-2: "\f178";
    $font-Flaticon-collaboration: "\f179";
    $font-Flaticon-network-1: "\f17a";
    $font-Flaticon-receipt-1: "\f17b";
    $font-Flaticon-lunch-bag: "\f17c";
    $font-Flaticon-take-away: "\f17d";
    $font-Flaticon-lunch: "\f17e";