	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/04/2019 07:57
  	*/

@font-face {
  font-family: "newFlaticon";
  src: url("../fonts/newFlaticon.eot");
  src: url("../fonts/newFlaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/newFlaticon.woff2") format("woff2"),
       url("../fonts/newFlaticon.woff") format("woff"),
       url("../fonts/newFlaticon.ttf") format("truetype"),
       url("../fonts/newFlaticon.svg#newFlaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "newFlaticon";
    src: url("../fonts/newFlaticon.svg#newFlaticon") format("svg");
  }
}

[class^="newflaticon-"]:before, [class*=" newflaticon-"]:before,
[class^="newflaticon-"]:after, [class*=" newflaticon-"]:after {   
  font-family: newFlaticon;
  font-style: normal;
}

.newflaticon-dinner:before { content: "\f100"; }
.newflaticon-menu:before { content: "\f101"; }
.newflaticon-home:before { content: "\f102"; }
.newflaticon-menu-1:before { content: "\f103"; }
.newflaticon-mixer:before { content: "\f104"; }
.newflaticon-spoon:before { content: "\f105"; }
.newflaticon-dinner-1:before { content: "\f106"; }
.newflaticon-dinner-2:before { content: "\f107"; }
.newflaticon-envelope:before { content: "\f108"; }
.newflaticon-padlock:before { content: "\f109"; }
.newflaticon-lock:before { content: "\f10a"; }
.newflaticon-key:before { content: "\f10b"; }
.newflaticon-security-system:before { content: "\f10c"; }
.newflaticon-smartphone:before { content: "\f10d"; }
.newflaticon-smartphone-1:before { content: "\f10e"; }
.newflaticon-login-square-arrow-button-outline:before { content: "\f10f"; }
.newflaticon-facebook-logo-in-circular-button-outlined-social-symbol:before { content: "\f110"; }
.newflaticon-instagram:before { content: "\f111"; }
.newflaticon-facebook-logo:before { content: "\f112"; }
.newflaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f113"; }
.newflaticon-left:before { content: "\f114"; }
.newflaticon-phone:before { content: "\f115"; }
.newflaticon-left-1:before { content: "\f116"; }
.newflaticon-cancel:before { content: "\f117"; }
.newflaticon-placeholder-outline:before { content: "\f118"; }
.newflaticon-pin:before { content: "\f119"; }
.newflaticon-navigation:before { content: "\f11a"; }
.newflaticon-plus:before { content: "\f11b"; }
.newflaticon-edit:before { content: "\f11c"; }
.newflaticon-menu-2:before { content: "\f11d"; }
.newflaticon-phone-call:before { content: "\f11e"; }
.newflaticon-information:before { content: "\f11f"; }
.newflaticon-info:before { content: "\f120"; }
.newflaticon-edit-document:before { content: "\f121"; }
.newflaticon-edit-1:before { content: "\f122"; }
.newflaticon-photo-camera:before { content: "\f123"; }
.newflaticon-menu-3:before { content: "\f124"; }
.newflaticon-credit-card:before { content: "\f125"; }
.newflaticon-heart:before { content: "\f126"; }
.newflaticon-shopping-cart:before { content: "\f127"; }
.newflaticon-magnifying-glass:before { content: "\f128"; }
.newflaticon-search:before { content: "\f129"; }
.newflaticon-filter:before { content: "\f12a"; }
.newflaticon-filter-1:before { content: "\f12b"; }
.newflaticon-euro:before { content: "\f12c"; }
.newflaticon-shopping-cart-1:before { content: "\f12d"; }
.newflaticon-house:before { content: "\f12e"; }
.newflaticon-move:before { content: "\f12f"; }
.newflaticon-wedding-planning:before { content: "\f130"; }
.newflaticon-left-arrow:before { content: "\f131"; }
.newflaticon-back:before { content: "\f132"; }
.newflaticon-heart-1:before { content: "\f133"; }
.newflaticon-user:before { content: "\f134"; }
.newflaticon-star:before { content: "\f135"; }
.newflaticon-plus-button:before { content: "\f136"; }
.newflaticon-share:before { content: "\f137"; }
.newflaticon-share-1:before { content: "\f138"; }
.newflaticon-comment:before { content: "\f139"; }
.newflaticon-comment-1:before { content: "\f13a"; }
.newflaticon-picture:before { content: "\f13b"; }
.newflaticon-image:before { content: "\f13c"; }
.newflaticon-garbage:before { content: "\f13d"; }
.newflaticon-turn-off:before { content: "\f13e"; }
.newflaticon-logout:before { content: "\f13f"; }
.newflaticon-dish:before { content: "\f140"; }
.newflaticon-order:before { content: "\f141"; }
.newflaticon-ring:before { content: "\f142"; }
.newflaticon-cloche:before { content: "\f143"; }
.newflaticon-euro-1:before { content: "\f144"; }
.newflaticon-settings:before { content: "\f145"; }
.newflaticon-star-1:before { content: "\f146"; }
.newflaticon-smartphone-2:before { content: "\f147"; }
.newflaticon-smartphone-3:before { content: "\f148"; }
.newflaticon-file:before { content: "\f149"; }
.newflaticon-tick:before { content: "\f14a"; }
.newflaticon-clock:before { content: "\f14b"; }
.newflaticon-small-calendar:before { content: "\f14c"; }
.newflaticon-verified:before { content: "\f14d"; }
.newflaticon-add:before { content: "\f14e"; }
.newflaticon-online-shopping-cart:before { content: "\f14f"; }
.newflaticon-heart-2:before { content: "\f150"; }
.newflaticon-edit-2:before { content: "\f151"; }
.newflaticon-atom:before { content: "\f152"; }
.newflaticon-route:before { content: "\f153"; }
.newflaticon-pin-1:before { content: "\f154"; }
.newflaticon-invisible:before { content: "\f155"; }
.newflaticon-cart:before { content: "\f156"; }
.newflaticon-down:before { content: "\f157"; }
.newflaticon-upload:before { content: "\f158"; }
.newflaticon-down-arrow:before { content: "\f159"; }
.newflaticon-little-pushpin:before { content: "\f15a"; }
.newflaticon-pin-2:before { content: "\f15b"; }
.newflaticon-chat:before { content: "\f15c"; }
.newflaticon-negative-sign-inside-circle:before { content: "\f15d"; }
.newflaticon-add-1:before { content: "\f15e"; }
.newflaticon-calendar:before { content: "\f15f"; }
.newflaticon-free:before { content: "\f160"; }
.newflaticon-like:before { content: "\f161"; }
.newflaticon-sms-1:before { content: "\f162"; }
.newflaticon-sms-2:before { content: "\f163"; }
.newflaticon-gps-fixed-indicator:before { content: "\f164"; }
.newflaticon-user-1:before { content: "\f165"; }
.newflaticon-profile:before { content: "\f166"; }
.newflaticon-map-location:before { content: "\f167"; }
.newflaticon-map:before { content: "\f168"; }
.newflaticon-destination:before { content: "\f169"; }
.newflaticon-travel:before { content: "\f16a"; }
.newflaticon-map-1:before { content: "\f16b"; }
.newflaticon-enterprise:before { content: "\f16c"; }
.newflaticon-factory:before { content: "\f16d"; }
.newflaticon-gift:before { content: "\f16e"; }
.newflaticon-moped:before { content: "\f16f"; }
.newflaticon-box:before { content: "\f170"; }
.newflaticon-stopwatch:before { content: "\f171"; }
.newflaticon-list:before { content: "\f172"; }
.newflaticon-favourite:before { content: "\f173"; }
.newflaticon-receipt:before { content: "\f174"; }
.newflaticon-network:before { content: "\f175"; }
.newflaticon-save-button:before { content: "\f176"; }
.newflaticon-invoice:before { content: "\f177"; }
.newflaticon-euro-2:before { content: "\f178"; }
.newflaticon-collaboration:before { content: "\f179"; }
.newflaticon-network-1:before { content: "\f17a"; }
.newflaticon-receipt-1:before { content: "\f17b"; }
.newflaticon-lunch-bag:before { content: "\f17c"; }
.newflaticon-take-away:before { content: "\f17d"; }
.newflaticon-lunch:before { content: "\f17e"; }