<ion-header class="header">
	<ion-toolbar class="header-toolbar">
		  <ion-navbar>
		    <ion-title>{{'notification' | translate}}</ion-title>
		  </ion-navbar>
		</ion-toolbar>
	</ion-header>
<ion-content>

<!-- Ionic refresh -->
	   <ion-refresher slot="fixed" (ionRefresh)="doNotiRefresh($event)">
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      pullingText="{{ 'pull_to_refresh' | translate }}"
	      refreshingSpinner="circles"
	      refreshingText="{{ 'refreshing' | translate }}">
	    </ion-refresher-content>
	  </ion-refresher>
	<!-- End --> 

<div class="no-product-found" *ngIf="!isData">
		<h4>{{'notification_not_found' | translate}}</h4>
</div>


<!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

<div *ngIf="isData">
	<div class="notification-container">
		<ion-list  *ngFor='let note of notiList; let i = index' [attr.data-index]='i' class="list list-md" [ngClass]="note.isRead == 0 ? 'ion-unread' : ''" >
			<div class="notification-list">
			 <ion-item (click)="redirctPage(note)">

          <ion-avatar item-start *ngIf="note.type == 8" >
				 	<img  *ngIf ="note.pic ==''" src='assets/images/user-profile-default-thumb.jpg'/>
          			<img *ngIf ="note.pic !=''" src='{{userImgPath+note.pic}}'/>
				</ion-avatar>

				<ion-avatar item-start *ngIf="note.type != 8" >
					<img src="assets/images/user/notification.png">
				</ion-avatar>
				<h2 >{{note.title}}</h2>
				
				<p *ngIf="note.type == 16">{{note.msg}}</p>
        <p *ngIf="note.type != 16">{{note.notiName}} {{note.msg}}</p>
				<time>{{note.created}}</time>				
			</ion-item>
			<span class="delete" (click)="deleteNoti(note.id,i)">
				<ion-icon class="flaticon-garbage icon icon-md" role="img"></ion-icon>
			</span>				
		</div>
		</ion-list>
            <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
            </ion-infinite-scroll>

	</div>
</div>	
</ion-content>
