page-notification {

	.notification-container{
		.list, ion-list{
			margin: 0; padding: 0;border-top: 1px solid #e4e4e4 !important;
			.item{
				padding: 0 10px;background: #f8f8f8;
			}
			.item-inner{
				padding: 0;border: 0 !important;
			}
			ion-avatar[item-start]{
				box-shadow: 0 0 0 1px rgba(0,0,0,.1);border: 2px solid #fff;border-radius: 50%;min-width: 50px;min-height: 50px;
				img{
					width: 50px;height: 50px;
				}
			}
			h2{
				font-size: 15px; font-family: var(--myregular); color: var(--ion-black);
			}
			p{
				font-size: 14px; font-family: var(--myregular); color: var(--heading-color);white-space: normal;
			}
			time{
				font-size: 12px; font-family: var(--myregular); color: var(--sub-heading-color)
			}
			&.ion-unread{
				border-top: 1px solid #f5f5f5 !important;
				.item{
					background: #fff;	
				}
				ion-avatar[item-start]{
					position: relative;
					&:before{
						content: ""; position: absolute;top: 0;left: 0; width: 10px;height: 10px;background-color: #216dea;border-radius: 50%;
					}
				}
				
			}
		}
		.list+.list, ion-list+ion-list{
			border-top: 1px solid #e4e4e4; 
		}
		.list:last-child{
			border-bottom: 1px solid #e4e4e4;
			&.ion-unread{
				border-bottom: 1px solid #f5f5f5 !important;
			}	
		}
	}

	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}
	.deleterow{text-align: right; position: relative; min-height: 20px;
		.delete{color: #e60808; display: inline-block; cursor: pointer; position: absolute; top: 0; right: 0; z-index: 111; }
	}
	.notification-list {position: relative;
		.delete{color: #e60808; display: inline-block; cursor: pointer; position: absolute; bottom: 5px; right:5px; z-index: 111; padding: 10px;}
	}

		/* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 95px;
}
.skeletonBox .avatar {
  float: left;
  width: 65px;
  height: 65px;
  background-color: #ccc;
  border-radius: 100px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 230px;
}
.blankBox{
 width: calc(100% - 20px) !important; height: 90px !important; margin:10px 10px 0px 10px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/
}
