<ion-header class="header">
    <ion-toolbar class="header-toolbar">
        <ion-navbar>
            <ion-title>{{ 'order_details' | translate }}</ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>

<ion-content>

<!-- Skeletopn HTML start -->
 <div *ngIf="isFetchingData">
  <div class="skeletonBox" >
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
    <div class="line full-line"></div>
    <div class="line full-line"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

<div *ngIf="!isFetchingData">
    <ion-card class="page-header-card">
        <ion-grid>
            <ion-row>
                <ion-col col-9>
                    <ion-item>
                        <ion-avatar item-start (click)="gotoSellerProfile(orderDetails.seller_id)">
                                    <img  *ngIf ="orderDetails.seller_img ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                            <img *ngIf ="orderDetails.seller_img !=''" src='{{userImgPath +orderDetails.seller_img}}'/>
                        </ion-avatar>
                        <h2>{{orderDetails.seller_name}}</h2>
                        <p>
                            {{ 'seller' | translate }}, <ion-icon class="flaticon-navigation"></ion-icon> {{orderDetails.distance}} KM
                        </p>
                    </ion-item>
                </ion-col>

                <ion-col col-3 *ngIf="orderDetails.seller_id != loginUserData.id">

                    <button   *ngIf="((orderDetails.isOrderJoined == 0) && (orderDetails.order_status != 3)) &&  (orderDetails.allow_to_join == 0) " (click)="gotoJoins(orderDetails.deliveryTime)" class="btn-primary btn-round fr" ion-button>
                       {{ 'join_order' | translate }}
                    </button>

                    <button  *ngIf="(orderDetails.isOrderJoined > 0) && (orderDetails.order_status != 3)" class="btn-primary btn-round fr" ion-button>
                       {{ 'joined_order' | translate }}
                    </button>

                </ion-col>

                <ion-col col-3 *ngIf="orderDetails.seller_id == loginUserData.id">
                         <button (click)="gotoReceiveOrder()" class="btn-primary btn-round fr" ion-button>
                      {{ 'view_order' | translate }}
                    </button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-card class="item-order-card"  *ngFor="let prodDetails of orderDetails.productList" >
        <ion-grid>
            <ion-row>
                <ion-col col-3 >
                    <img src="{{prodImgPath+prodDetails.product_image}}">
                </ion-col>
                <ion-col col-9>
                    <h2>{{prodDetails.product_name}}</h2>
                    <p>&euro; {{prodDetails.item_price}} x {{prodDetails.quantity}} =  &euro; {{prodDetails.amountDedcuted}}  <span class="through" *ngIf="prodDetails.isPromocodeused==1">€ {{ prodDetails.amountDedcuted * 
                    prodDetails.quantity}} </span></p>
                    <p><ion-icon class="flaticon-edit-document"></ion-icon> {{ (prodDetails.notes != '') ? prodDetails.notes : 'not_added_txt' | translate  }}</p>
                    <ion-badge item-end class="btn-round">
                        <ion-icon name="star"></ion-icon> {{prodDetails.average_rating}}
                    </ion-badge>
                     <div class="gotdiscount" *ngIf="prodDetails.isPromocodeused==1">
                            {{'coupen_applied_txt' | translate }}{{prodDetails.discount_percentage}}% OFF
                    </div>
                     

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="user-profile-section">
                        <ion-avatar item-start (click)="gotoSellerProfile(prodDetails.buyer_id)">
                                    <img  *ngIf ="prodDetails.userPhoto ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                            <img *ngIf ="prodDetails.userPhoto !=''" src='{{userImgPath+prodDetails.userPhoto}}'/>
                        </ion-avatar>
                        <h2>{{prodDetails.userName}}</h2>
                        <p>
                           {{'buyer' | translate }}
                        </p>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="hline"></div>
    </ion-card>

    <ion-card class="item-detail-card">
    
     <ion-item class="deliveryAddress take-away">
            <h2>Order Type</h2>
            <p *ngIf="orderDetails.order_type==1"> <img src="assets/images/take-away.png"> {{'delivery' | translate }}</p>
            <p *ngIf="orderDetails.order_type==2" class="take-get"> <img src="assets/images/take-away.png"> {{'take_away' | translate }}</p>
        </ion-item>
        
      <ion-item class="deliveryAddress">
            <h2  *ngIf="orderDetails.order_type==1">{{'delivery_place' | translate }}</h2>
            <h2  *ngIf="orderDetails.order_type==2">{{'seller_address' | translate}}</h2>
            <p>{{orderDetails.delivery_address}}</p>
        </ion-item>

       
        <ion-grid>
            <ion-row>

                <ion-col>
                    <ion-item>
                        <h2 *ngIf="orderDetails.order_type==1">{{'delivery_time' | translate }}</h2>
                        <h2 *ngIf="orderDetails.order_type==2">{{'pick_up_time' | translate}}</h2>
                        <p>{{orderDetails.deliveryTime}}</p>
                    </ion-item>
                </ion-col>

                <ion-col *ngIf="(orderDetails.isFree ==false) && (orderDetails.order_type==1) ">
                    <ion-item  class="text-right">
                        <h2>{{'delivery_cost' | translate }}</h2>
                        <p>&euro;  {{orderDetails.userPolicies.std_delivery_cost}} </p>
                    </ion-item>
                </ion-col>

            </ion-row>
        </ion-grid>
        <div class="hline"></div>
    </ion-card>
    <!-- free delivery -->
    <div class="freeDeliveryTag" *ngIf="(orderDetails.isFree ==true) && (orderDetails.order_type==1)">
        {{'free_delivery_all' | translate}}
        <span class="icon">
            <img src="assets/images/free-delivery.png" />
        </span>
    </div>

    <!--End --> 
    <button class="btn-delivery-pilicy btn-block" ion-button (click) ="gotoDelPolicies(orderDetails.userPolicies)">
            <ion-icon class="flaticon-information"></ion-icon>{{'delivery_polices' | translate}}
    </button>

    <div class="bottom-space"></div>
</div>


</ion-content>


<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <button  (click)="gotoHome()" fill="clear" type="button" class="ion-footer-btn" expand="full">
                        <img src="assets/images/home.png"/>
                    </button>
                </div>
            </ion-col>
            <ion-col>
              <div  (click)="gotMyOrder()">
                      <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
            </ion-col>
            <ion-col>
                <div  (click)="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
                    <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="addproduct">
                        <ion-icon class="flaticon-plus-button"></ion-icon>
                    </button>
                </div>
            </ion-col>
            <ion-col>
                <div (click)="gotoUserOrder()"  >
                   <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                </div>
            </ion-col>
            <ion-col>
                <div (click)="gotoAccount()" >
                    <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="myprofile">
                        <ion-icon class="flaticon-user"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>