page-joinorder {
    
    .page-header-card{
        margin: 0;box-shadow: none;width: 100%;padding: 0 10px;
        ion-grid, ion-col{padding: 0}
        ion-grid{border-bottom: 1px solid #f5f5f5;}
        .item{
            padding-left: 0;
            ion-avatar[item-start]{
                margin: 8px 10px 8px 0;width: 50px;height: 50px;border-radius: 50%;overflow: hidden;
                img{
                    border-radius: 5px; object-fit: cover; width: 100%; height: 100%; 
                }
            }
            h2{
                font-size: 16px;font-family: var(--mysemibold);
            }
            p{
                font-size: 13px;font-family: var(--mylight);color: var(--sub-heading-color);margin-top: 5px; 
            }
            .icon{
                font-size: 11px; margin-left: 8px;
            }
            .order-status{
                color: #3da838; font-size: 12px;font-family: var(--mysemibold);margin-left: 5px;
                span{
                    width: 10px; height: 10px; display: inline-block; border-radius: 50%; background-color: #3da838; margin-right: 3px;
                }
            }
        }
        .btn-primary{
            font-size: 14px;height: 32px;padding: 5px 15px;position: absolute;top: 0;right: 0;bottom: 0;margin: auto;
            .button-inner{
                font-family: var(--mybold); padding: 0;
            }
        }
        .btn-danger{
            font-size: 14px;height: 32px;padding: 5px 15px;position: absolute;top: 0;right: 0;bottom: 0;margin: auto;
            .button-inner{
                font-family: var(--mybold); padding: 0;
            }
        }
    }

    .item-order-card{
        box-shadow: none; margin: 0; padding: 10px;width: 100%;
        ion-grid, ion-col{
            padding: 0;
        }
        img{
            border-radius: 5px; object-fit: cover; width: 100%; height: 100%; 
        }
        h2{
            font-size: 16px;font-family: var(--mybold); margin: 0; padding: 0 0 0 10px;color: var(--heading-color);
        }
        p{
            font-size: 14px; color: var(--heading-color);margin-top: 1px; 
            padding: 0 0 0 10px;margin-bottom: 4px;	
            .through{text-decoration: line-through; float: right; color: #c33e3e; font-weight: bold; font-size: 16px; display: inline-block; float: right;}		
        }
        ion-badge{
            margin-left: 10px; font-size: 11px;font-weight: normal;background-color: #67a713;padding: 4px 8px;
            .icon{
                font-size: 11px;margin-right: 4px;float: left;
            }
        }
    }

    .user-profile-section{
        padding-left: 0;
        ion-avatar[item-start]{
            margin: 8px 10px 8px 0; border-radius: 50%;width: 30px; height: 30px; overflow: hidden;
            min-width: 35px;min-height: 35px;
            img{
                object-fit: cover; width: 100%; height: 100%;
            }
        }
        h2{
            font-size: 15px;font-family: var(--myregular);padding-left: 0;
        }
        p{
            font-size: 12px;font-family: var(--mylight);color: var(--sub-heading-color);margin-top: 1px; padding-left: 0;
        }
        .icon{
            font-size: 11px; margin-left: 8px;
        }
        .order-status{
            color: #3da838; font-size: 12px;font-family: var(--mysemibold);margin-left: 5px;
            span{
                width: 10px; height: 10px; display: inline-block; border-radius: 50%; background-color: #3da838; margin-right: 3px;
            }
        }
        .label-md {
            margin: 13px 8px 4px 0;
        }
    }
    
    .hline{
        width: 100%; height: 1px; background-color: #f5f5f5;
    }
    .item-detail-card{
        box-shadow: none; padding: 0 10px 10px; width: 100%;margin: 0;
        .item{
            padding: 0;
            .label{margin: 0 0 10px;}
            h2{
                font-family: var(--mybold); font-size: 12px;margin: 0;padding: 5px 0 0;
            }
            p{
                font-family: var(--myregular); font-size: 14px;	color: #717171;padding: 5px 0 0;
            }
            .item-inner{
                padding: 0
            }
        }
        .item.deliveryAddress{
            p{
                white-space: normal;
            }
            &.take-away{
                p{
                    img{
                        width: 22px; display: inline-block; vertical-align: middle; margin: 0 5px 0 0;
                    }
                    &.take-get{
                        color: #409e20;
                    }
                }
            }
        }
        ion-grid, ion-col{padding: 0;}
        .text-right{
            text-align: right;
        }
    }

    .btn-delivery-pilicy{
        background-color: #f7f9ff; color: var(--link-color); text-align: left;
        padding: 12px 15px; box-shadow: none;border-radius: 0; margin: -11px 0 0;
        .button-inner{text-align: left;-webkit-justify-content: left; justify-content: left; text-transform: capitalize;font-size: 14px;}
        .icon{
            margin-right: 5px; font-size: 12px;
        }
        &:focus, &:hover, &:active, &.activated{
            background-color: var(--link-color); color: var(--white-color);box-shadow: none;
        }
    }
    .section-heading{
        background-color: #efefef; color: #686868;margin: 0 0 10px;padding: 8px 15px;font-size: 14px;
    }
    .bottom-space{margin-bottom: 20px;}
    .freeDeliveryTag{
        position: relative;padding: 10px 15px;display: block;width: 100%;margin-bottom: 10px;color: #278e5f;background: #f0fbf6;font-family: var(--mybold);font-size: 14px;margin-top: -11px;z-index: 1;
        .icon{
            position: absolute;right: 0;bottom: -20px;width: 80px;
            img{
                max-width: 100%;
            }
        }
    }
    
    .payment-transaction{
        padding:5px 0px; border-top: 1px solid #f2f2f2;        
        .button-md{background: #405eb5; height: auto !important; padding: 0.9rem 2rem !important; font-size: 1.4rem; box-shadow: none; text-transform:none;}
        .button-md:hover:not(.disable-hover){background-color: #405eb5;}
    }
    .payment-transaction.item-md{
        padding-left: 0;
        .item-inner{padding-right: 0;}
    }

     .gotdiscount{font-size: 13px; display: inline-block; color: #4a945a; margin-top:2px;}

      /* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 115px;
}
.skeletonBox .avatar {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 230px;
}
.blankBox{
 width: calc(100% - 20px) !important; height: 40px !important; margin:10px 10px 0px 10px !important;
}
.full-line{
 width: calc(100% - 16px) !important; height: 16px !important; margin:10px 8px 0px 8px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/   


  .total-amt-btn {
    padding: 7px 4px 0;
    border-top: 1px solid #f7f7f7;

    .col {
      padding-top: 0;
    }

    .col+.col {
      text-align: right;
    }

    .total-order-amount {
      font-size: 15px;
      font-family: var(--mysemibold);
      padding: 6px;
    }
  }

  .getdiscount {
      padding: 1px 5px;
      text-align: center;
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      border: 1px dashed transparent;
    }

    .getdiscount.offer {
      background: #fff5e0;
      color: #92681c;
      border-color: #fbc36f;
    }

    .getdiscount.used {
      background: #edfbf0;
      color: #4a945a;
      border-color: #a4e6bb;
    }
}
