<ion-content>
  <!-- Ionic refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doOrderRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles" refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <!-- End -->
  <!-- NO data -->

  <div class="no-product-found" *ngIf="!isData">
    <h4>{{'no_past_order' | translate}}</h4>
</div>

  <!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
  </div>
  <!-- Skeletopn HTML end -->

  <div *ngIf="isData">
    <ion-card *ngFor="let item of orderList; let i = index">
      <div class="status-and-action">
        <ion-row>
          <ion-col>
            <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 1">
              <label class="tag">{{'order_pending' | translate}}</label>
            </div>
            <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 2">
              <label class="tag">{{'order_confirm' | translate}}</label>
            </div>

            <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 3">
              <label class="tag">{{'order_reject' | translate}}</label>
            </div>

           <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 4">
          <label class="tag">{{'order_rescheduled' | translate}}</label>
          </div>

         <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 5">
         <label class="tag">{{'order_deliver' | translate}}</label>
        </div>

        <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 6">
         <label class="tag">{{'order_completed' | translate}}</label>
        </div>

        <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 7">
         <label class="tag">{{'order_not_received' | translate}}</label>
        </div>

        <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 8">
         <label class="tag">{{'order_expired' | translate}}</label>
        </div>

        <div class="join-order-badge" *ngIf='item.isJoinUser ==1'>
                  <label>J</label>
        </div>


            <button class="btn-collapse" (click)="toggleSection(listOfContentSection_i, $event)">
              <i class="newflaticon-down"></i>
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div class="time-place-div order-item">
        <p *ngIf="item.is_rescheduled ==1"><span>{{'delivery_time' | translate}}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="item.is_rescheduled ==0"><span>{{'delivery_time' | translate}}:</span> {{item.deliveryTime}}</p>
        <p><span>{{'delivery_place' | translate}}:</span> {{item.delivertAddress}}</p>
        <ion-row>
          <ion-col col-4>
            <div class="order-amount">
              Total : &euro; {{item.totalAmount}}
            </div>
          </ion-col>
          <ion-col col-8 text-right>
            <div class="order-status paid" *ngIf="item.isFree ==false">
              <ion-icon class="flaticon-order"></ion-icon>{{'delivery_cost_txt' | translate}} &euro;
              {{item.std_delivery_cost}}
            </div>
            <div class="order-status free" *ngIf="item.isFree ==true">
              <ion-icon class="flaticon-order"></ion-icon>{{'free_delivery_txt' | translate}}
            </div>
          </ion-col>
        </ion-row>

      </div>

      <div #listOfContentSection_i class="collapse-container">
        <div>
          <ion-row *ngFor="let prodDetails of item.productList">
            <ion-col col-4 class="left-column">
              <img src="{{prodImgPath+prodDetails.product_image}}" class="img-thumb" />
            </ion-col>
            <ion-col col-8 class="right-column">
              <ion-item class="order-item">
                <h2>{{prodDetails.product_name}}</h2>
                <ion-row class="delivery-cost-price">
                  <ion-col>
                    <div class="order-price">
                      &euro; {{prodDetails.item_price}} <small> X {{prodDetails.quantity}}</small>
                    </div>
                  </ion-col>

                </ion-row>
              </ion-item>
            </ion-col>
          </ion-row>

          <div class="order-footer-section">
            <ion-row>
              <ion-col col-6>
                <ion-item class="seller-section">
                  <ion-avatar item-start (click)="gotoSellerProfile(item.seller_id)">
                    <img *ngIf="item.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg' />
                    <img *ngIf="item.sellerImg !=''" src='{{userImgPath+item.sellerImg}}' />
                  </ion-avatar>
                  <p>{{'seller' | translate }}</p>
                  <h2>{{item.sellerName}}</h2>
                </ion-item>
              </ion-col>
              <ion-col col-6 class="text-right">
                <button ion-button class="btn-primary" small (click)="buyerDetails(item.orderId,item.seller_id)">
                  {{'view_details' | translate }}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>

    </ion-card>

    <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

</ion-content>
