<ion-header class="header">
    <ion-toolbar class="header-toolbar">
        <ion-navbar align-title="center">
            <ion-title>{{ 'order_details' | translate }}</ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>
<ion-content>

    <!-- Ionic refresh -->

   <ion-refresher slot="fixed" (ionRefresh)="doJoinBuyerOrderRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{'pull_to_refresh' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

<!-- Skeletopn HTML start -->
 <div *ngIf="isFetchingData">
  <div class="skeletonBox" >
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
    <div class="line full-line"></div>
    <div class="line full-line"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->


    <!-- End --> 
    <div *ngIf="!isFetchingData">

<div class="order-items" *ngIf="orderDetails.itemList.length > 0">

    <ion-item class="userOrder" [ngClass]="(itemList.asBuyer == 1 && orderDetails.itemList.length > 1) ? 'order-buyer' : ''"  *ngFor="let itemList of orderDetails.itemList;">
        <ion-grid>
            <ion-row>
                <ion-col col-2 class="card-left-info">
                    <div class="card-user-img">
                       <img  *ngIf ="itemList.userPhoto ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="itemList.userPhoto !=''" src='{{userImgPath+itemList.userPhoto}}'/>
                    </div>
                </ion-col>
                <ion-col col-10 class="card-right-info">
                    <div class="card-user-name">{{itemList.userName}}
                    <span *ngIf="itemList.asBuyer== 1">{{"buyer" | translate }}</span><span *ngIf="itemList.asBuyer== 0">{{"joined_buyer" | translate }}</span>
                    </div>
                    <div class="card-user-location">
                        <span class="flaticon-pin"></span>{{itemList.userAddress}}
                    </div>
                </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col col-12 class="right-content">
                <div class="friends-order-item">
                  <div class="item-row">
                    <div class="foi-image">
                      <img src="{{prodImgPath+itemList.prodImg}}"/>
                    </div>
                    <h2>
                        <div class="ratedstar">
                            <ion-icon class="flaticon-star"> {{itemList.average_rating}}</ion-icon>
                        </div> 
                       {{itemList.prodName}}
                        <span> {{itemList.created}}</span>
                    </h2>
                      <p *ngIf="itemList.isCodeused==1">
                         {{'coupen_applied' | translate}}, {{itemList.discountPer}}% OFF
                          <span class="through">€ {{itemList.total_amt}}</span> 
                        </p> 
                       <p>
                          € {{itemList.amt}}<small> X {{itemList.qnt}}</small>
                          <span><b [ngClass]="itemList.payment_status == 0 ? 'unpaid' : 'paid'" >{{itemList.payment_status == 0 ?  'Un-paid'  :'Paid'  }}</b> - {{itemList.payment_mode}} <b class="total">€ {{itemList.amt * itemList.qnt}}</b></span>
                        </p>

                         <p>
                         <ion-icon class="flaticon-edit-document"></ion-icon> {{ (itemList.productNotes == '') ? 'Not added' : itemList.productNotes }}
                        </p>
                      
                  </div>
                </div>
              </ion-col>
            </ion-row>  
        </ion-grid>
    </ion-item>

    <div class="delivery">
        <ion-row>
            <ion-col class="left">
               {{'delivery_cost' | translate}}
            </ion-col>
            <ion-col class="right text-right">
            <span *ngIf="orderDetails.isFree == true" class="status free">{{'free_delivery_txt' | translate}}</span>
                &euro; {{ orderDetails.isFree == true  ? '0' :  orderDetails.std_delivery_cost }}
                
            </ion-col>
        </ion-row>
    </div>

    <div class="totalOrderTrAmount">
        <div class="whiteContainer">
            <ion-row class="totalAmount">
                <ion-col class="left">
                  {{ 'total_amt' | translate }}
                </ion-col>
                <ion-col class="right text-right">
                    &euro;  {{orderDetails.totalAmt}}
                </ion-col>
            </ion-row>
        </div>
    </div>

</div>

    <ion-item class="delivery-time" text-center>
        <p>{{ 'order_delivery_on' | translate }}</p>
        <h2> <ion-icon class="flaticon-calendar"></ion-icon> {{ orderDetails.deliveryTime }}</h2>
    </ion-item>

    <ion-row class="order-detail">
        <ion-col col-6>
            <h3>{{ 'delivery_address' | translate }}</h3>
        </ion-col>
        <ion-col col-6 text-right class="order-item">
            <h3>{{ orderDetails.delivertAddress }}</h3>
        </ion-col>
    </ion-row>

       <div class="deliverToContainer">
        <label>{{ 'order_receiver_details' | translate }}</label>
        <div class="deliveryInfo">
            <ion-row>
                <ion-col class="left">
                  {{ 'name' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_name != '' ? orderDetails.delivery_name : 'Not added'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="left">
                {{ 'surname' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_surname != '' ? orderDetails.delivery_surname : 'Not added'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="left">
                {{ 'mobile_no' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_mobile != '' ? orderDetails.delivery_mobile : 'Not added'}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="left">
                {{ 'company' | translate }}
                </ion-col>
                <ion-col class="right">{{orderDetails.delivery_company != '' ? orderDetails.delivery_company : 'Not added'}}</ion-col>
            </ion-row>
        </div>
    </div>  

    <ion-item class="seller-info">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <p>{{ 'seller_info' | translate }}</p>
                </ion-col>
                <ion-col col-2 class="card-left-info">
                    <div class="card-user-img" (click)="gotoSellerProfile(buyerOrderObj.seller_id)">
                        <img  *ngIf ="orderDetails.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="orderDetails.sellerImg !=''" src='{{userImgPath+orderDetails.sellerImg}}'/>
                    </div>
                </ion-col>
                <ion-col col-10 class="card-right-info">
                    <div class="card-user-name">{{ orderDetails.sellerName }}</div>
                    <div class="card-user-location">
                        <span class="flaticon-pin"></span>{{ orderDetails.sellerAddress }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>


    <!-- Rescheduled delivery time -->

    <ion-item class="buyerorder-delivery-time" text-center  *ngIf="(orderDetails.is_rescheduled == 1) && (orderDetails.buyer_order_status==1)">
             <h2>{{'order_delivery_on' | translate}}</h2>
        <p>{{ orderDetails.deliveryTime }}</p>
        <span class="icon flaticon-calendar"></span>
    </ion-item>

    <ion-item class="delivery-time" text-center *ngIf="(orderDetails.is_rescheduled == 1) && (orderDetails.buyer_order_status==1)" >
               <h2>{{'order_rescheduled_by_seller' | translate}}</h2>
        <p>{{orderDetails.rescheduled_date_time }}</p>
    </ion-item>

    <!-- End -->

    <!-- Order tracking status -->
    <ion-item class="action-buttons order-status-container"  text-left  *ngIf="orderDetails.orderTrack.length > 0">
            <h2>{{'order_status' | translate}}</h2>
        <ul>
            <li class="{{orderTrackItem.status}}"  *ngFor="let orderTrackItem of orderDetails.orderTrack;">
                <div class="order-status">
                    <span class="icon">
                        <img src="{{orderTrackItem.image}}" />
                    </span>
                    <div class="message-text">
                        <span>{{orderTrackItem.message}}</span>
                    </div>
                    <p>{{orderTrackItem.created}}</p>
                </div>
            </li>
            <li class="default"></li>
        </ul>
    </ion-item>
    <!-- Order tracking status End -->
</div>

</ion-content>

<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>
                    <button  (click) ="gotoHome()" ion-button class="ion-footer-btn">
                        <img src="assets/images/home.png"/>
                    </button>
                </div>
            </ion-col>
            <ion-col>
               <div  (click)="gotMyOrder()">
                      <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
            </ion-col>
            <ion-col>
                <div  (click) ="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
                    <button ion-button class="ion-footer-btn">
                        <ion-icon class="flaticon-plus-button"></ion-icon>
                    </button>
                </div>
            </ion-col>
            <ion-col>
              <div (click)="gotoUserOrder()">
                       <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
            </ion-col>
            <ion-col>
                <div>
                    <button (click)="gotoAccount()" ion-button class="ion-footer-btn active">
                        <ion-icon class="flaticon-user"></ion-icon>
                    </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>

