page-joinhistroydetail {
 .card {
        margin: 0; padding: 5px 0;  border-radius: 0; box-shadow: none; width: calc(100% - 0px);
        .img-thumb {
            max-height: 190px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;	
            }
        }
        .card-content-md {
            padding: 0;
        }
        .card-title-md {
            padding: 0;padding-right: 35px;
        }
        h3 {
            color: var(--sub-heading-color);
            font-size: 13px;
            span {
                color: var(--button-dark-grey); 
            }
            ion-icon{font-size: 1rem;}
        }
        h2 {
            color: var(--ion-dark-heading);
            font-size: 16px;
            font-family: var(--mybold);
            margin: 8px 0 5px;
            line-height: 12px;
            span {
                color: var(--sub-heading-color);
                font-size: 11px;
                display: inline-block;
                float: right;
            }
            .through{text-decoration: line-through; white-space: nowrap;  float: right; color: #c33e3e; font-weight: bold; font-size: 16px;}
        }
        ion-card-title {
            color: var(--ion-dark-heading);
            font-size: 16px;
            font-family: var(--mybold);
            
        }
        .gotdiscount{font-size: 14px; display: inline-block; color: #4a945a; margin-top:2px;}
    }
    .item-md.item-block .item-inner {
        border-bottom: 0;
        padding-right: 0;
    }
    .item-md {
        padding: 0;
        .item-inner {}
        .label-md {
            margin: 0; padding: 0 5px;
        }
    }
    .grey-box {
        background: #f7f7f7;
        .col {
            padding: 10px;
        }
        span {
            color: #777777;
            font-size: 13px;
        }
        small{
            font-family: var(--mybold);
            font-size: 13px
        }
        h2 {
            color: var(--ion-dark-heading);
            font-size: 16px;
            font-family: var(--mybold);
            margin: 8px 0 5px;
            line-height: 12px;
        }
        .plus-minus {
            position: relative;
            &:after {
                content: "+";
                position: absolute;
                left: -35%;
                top: 8px;
                color: var(--ion-black);
                font-size: 17px;
                font-family: var( --mybold);
            }
            &:before {
                content: "=";
                position: absolute;
                right: -35px;
                top: 8px;
                color: var(--ion-black);
                font-size: 17px;
                font-family: var( --mybold);
            }
        }
        /*.plus-minus:after{ content:"+"; position: absolute; left: -10px; top: 8px; color: var(--ion-black); font-size: 17px; font-family: var( --mybold); }*/
    }
    .seller-info {
        background: #fff;border-top: 1px solid rgba(0,0,0,.08);
        [col-12] {
            padding: 0 5px;
        }
        p {
            padding: 0 0 3px;
            width: 100%;
            font-size: 12px;
            font-family: var(--mybold);
            text-transform: uppercase;
            display: block;
            color: #000;
        }
        .grid{
            padding: 8px 5px;
        }
    }
    .order-detail {
        padding: 10px;
        h3 {
            color: var(--heading-color);
            font-size: 12px;
            text-transform: uppercase;
            font-family: var(--mybold);
            margin: 0;
            padding: 3px 0;
        }
        .order-item h3 {
            color: var(--sub-heading-color);
            text-transform: capitalize;
            font-family: var(--myregular);
        }
    }
    .delivery-time {
        background: #2eb074;
        padding: 10px;
        position: relative;
        border-top: solid 1px #52c892;
        &.reject{
            background: #d52e2e;
        }
        &.reject:after {
            color: #dc5252;
        }
        &:after {
            content: "\f160";
            font-size: 79px;
            color: #43b882;
            position: absolute;
            top: -30px;
            font-family: "Flaticon";
        }
        .label{
            z-index: 1;
        }
        p {
            color: var(--white-color);
            font-size: 17px;
        }
        h2 {
            font-family: var(--mybold);
            color: var(--white-color);
            font-size: 14px;
            ion-icon {
                font-size: 14px;
                margin: 5px 6px 0 0;
            }
        }
    }

    .payment-transaction{
        padding:10px 0px 5px; border-top: 1px solid #f2f2f2;        
        .button-md{background: #fdcf1c; height: auto !important; padding: 0.9rem 2rem !important; font-size: 1.4rem; box-shadow: 0 0 3px #fff; text-transform: none; color:#000;}
        .button-md{background: #fdcf1c;}
        .button-md:hover:not(.disable-hover){background-color: #fdcf1c;}
          .blue-button{
            background: #405eb5; color: #fff;
        }
         .blue-button:hover{
            background:#405eb5 !important; color: #fff; opacity: 0.8;
         }
    }


    .call-now {
        background: #fff5bc;
        padding: 0 10px;
        font-size: 15px;
        margin: 0 0 20px;
        ion-icon {
            font-size: 13px;
        }
    }
    ion-row {
        position: relative;
    }
    ion-col.card-left-info {
        width: 45px !important;
        max-width: 45px !important;
        .card-user-img {
            height: 35px;
            width: 35px;
            border-radius: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .card-user-name {
        font-size: 16px;
        color: #292929;
        font-family: var(--mysemibold);
        padding-left: 0;
        padding-bottom: 3px;
    }
    .card-user-location {
        color: #979a9f;
        font-size: 13px;
        padding-left: 0;
        word-break: break-all;
        white-space: normal;
        font-family: var(--myregular);
        padding: 0 0 0 13px;
    }
    .card-user-location .flaticon-pin:before {
        font-size: 12px;
        position: absolute;
        left: 0;
    }
    .delivery-new-time{
        background: rgba(0,0,0,.04); padding:15px 10px 5px 10px; position: relative;
        &:after{
            content:"\f14c"; font-size:145px; color: #eaeaea; position: absolute; bottom: -60px; font-family: "Flaticon"; z-index: -1;
        }
        p{
            color: #6c6b6b; font-size: 15px;
        }
        h2{
            font-family: var(--mybold); color: var(--heading-color); font-size: 15px; margin: 6px 0 6px;
            ion-icon{
                font-size: 14px; margin: 5px 6px 0 0; 
            }
        }
        .label{z-index: 1;}
    }

    .receivedOrder{
          &:after{
            content:"\f16f"; font-family: "Flaticon";
        }
    }

    .share-link{
        text-align: center; margin: -1px 0 0;
        .label{padding: 0 }
        .item-button{
            width: 100%;padding: 12px 15px;background: #425fb6;color: var(--white-color); font-size: 15px; box-shadow: none; border-radius: 0;height: auto;margin: 0;text-transform: capitalize;
        }   
        ion-icon{
            font-size: 13px; margin: 0 5px 0 0;
        }
    }
    .action-buttons{
        padding: 10px;
        .button-md{
            font-size: 15px; box-shadow: none; text-transform: none; padding: 16px 18px;
            span{
                color: var(--white-color); font-size: 13px; font-family: var(--mysemibold);
            }
        }
        .button-md-secondary{ background: #2eb074; }
        .button-md-dark{ background: #414141; }
        .button-md-danger{ background: #cf6354; }
    }

    .grey-box{
        background: #f7f7f7;
        .col{
            padding: 10px;
        }
        span{
            color: #777777; font-size: 13px;
        }
        h2{
            color: var(--ion-dark-heading); font-size: 15px; font-family: var(--mybold); margin: 8px 0 5px; line-height: 12px;
        }
        .plus-minus{
            position: relative;
            &:after{
                content:"+"; position: absolute; left: -35%; top: 8px; color: var(--ion-black); font-size: 17px; font-family: var( --mybold);
            }
            &:before{
                content:"="; position: absolute; right: -35px; top: 8px; color: var(--ion-black); font-size: 17px; font-family: var( --mybold);
            }


        }
        .action-buttons{
            h2{
                color: #656565;
            }
            padding: 10px;
            .button-md{
                font-size: 15px; box-shadow: none; text-transform: none; padding: 16px 12px;
                span{
                    color: #414141; font-size: 13px; font-family: var(--mysemibold);
                }
            }
            .button-yellow{
                background: #ffd11c; color: #414141;
                &:hover, &:before{
                    background: #ffd11c; color: #414141;
                }
            }

            .order-status{
                position: relative; min-height: 70px; padding: 0 0 0 13px;
                .status-circle{
                    width: 8px; height: 8px; background:#ffd11c; border-radius: 100%; position: absolute; left: 0; top: 10px;
                }
                p{
                    text-indent: 10px;
                }
                &:before{
                    content: "";
                    position: absolute;
                    left: 3px;
                    width: 2px;
                    height: 100%;
                    background: #ccc;
                    top: 18px;
                }
            }


        }

    }
    .order-detail{ 
        padding: 10px;
        h3{
            color: var(--heading-color); font-size: 12px; text-transform: uppercase; font-family: var(--mybold); margin: 0; padding:3px 0;
        }
        .order-item h3{
            color: var(--sub-heading-color); text-transform: capitalize; font-family: var(--myregular); 
        }
    }
    .order-status-container{
        margin: 0; padding: 15px;
        .label{padding: 0}
        h2{
            font-family: var(--mysemibold);font-size: 16px;padding-left: 5px;
        }
        ul{
            margin: 0;padding: 15px 0;
        }
        li{
            margin: 0; padding: 0 0 20px 35px; list-style: none;position: relative;
            .message-text{
                span{
                    border-radius: 25px;padding: 0;display: inline-block;font-family: var(--mysemibold);font-size: 14px;
                }
            }
        }
        li.confirm{
            .message-text span{
                color: #2eb074;
            }
            &:before{background: #2eb074;}
            &:after{background: #2eb074;}
        }
        li.reschuled{
            .message-text span{
                color: #2eb074;
            }
            &:before{background: #2eb074;}
            &:after{background: #2eb074;}
        }
        li.reject{
            .message-text span{
                color: #d52e2e;
            }
            &:before{background: #d52e2e;}
            &:after{background: #d52e2e;}
        }

        li:before { 
            content: "";position: absolute;top: 0;left: 5px;width: 10px;height: 10px;border-radius: 50%;border: 3px solid #fff;z-index: 1;
        }
        li:after {
            content: "";position: absolute;left: 12px;top: 0;width: 2px;height: 100%;border-radius: 55px;
        }        
        li.completed, li.completed:nth-last-child(2){
            .message-text span{
                color: #516bc9;
            }
            &:before{box-shadow: 0px 0px 0 1px #516bc9;background: #516bc9;}
            &:after{background: #ccc;}
        }
        li{
            .message-text span{
                color: #000;
            }
            &:before{background: #2eb074;}
            &:after{background: #2eb074;}
        }
        li:nth-last-child(2){
            .message-text span{
                color: #1aaf6a;
            }
            &:before{background: #2eb074;}
            &:after{background: #2eb074;}
        }
        li:nth-last-child(2):after{
            background: #ccc;
        }
        .order-status{
            position: relative;top: -1px; padding-left: 45px;min-height: 50px;
            p{
                padding: 0;font-size: 13px
            }
            .icon{
                width: 32px;position: absolute;top: 0; left: 0;
                img{
                    max-width: 100%;
                }
            }
        }
        li.default{
            &:before{background: #ccc;bottom: 0;top: auto;}
            &:after{content: none}
        }

    }

    .order-action-seller{
        border-bottom: 0px solid #ccc;padding-bottom: 14px;padding: 15px 20px 15px;background: #f7f7f7;border-radius: 4px;margin: 10px 0 10px 15px;
        .btn{
            width: 100%;
        }
        label{
            display: block;font-size: 14px;font-family: var(--mysemibold);margin: 0;padding: 0 0 9px;
        }
    }
    .complete-order-block{
        background: #516bc9; padding:20px 15px; position: relative;
        p{
            color: #fff; font-size: 15px;
        }
        h2{
            font-family: var(--mybold); color: #fff; font-size: 16px; margin: 6px 0 8px;
            ion-icon{
                font-size: 14px; margin: 5px 6px 0 0; 
            }
        }
        span.icon{
            position: absolute;font-size:120px;bottom: -20px;z-index: -1;left: 20px;color: rgba(255,255,255,.1);
        }
    }
    .buyerorder-delivery-time{
        padding: 10px 0 15px;background: #fbf2e9;position: relative;
        p{
            color: #61472e; font-size: 13px;
        }
        h2{
            font-family: var(--mybold); color: #b59779; font-size: 14px; margin: 6px 0 4px;
            ion-icon{
                font-size: 14px; margin: 5px 6px 0 0; 
            }
        }
        span.icon{
            position: absolute;font-size:120px;bottom: -20px;z-index: -1;left: 20px;color: #f9ecdd;
        }
    }

    /*********************/
    .shared-list{
        background: #eff2fa;border-top: 1px solid #e2e9fb;border-bottom: 1px solid #e2e9fb;
        .item-md{
            background-color: transparent;
        }
        .button-md{
            height:30px;font-size: 13px;padding: 2px 15px 1px;border-radius: 25px;margin-bottom: 8px;
        }
        .share-item{     
            .shared-title{
                position: relative; padding: 5px 10px 0;line-height: 26px;text-align: center;
                .btn-viewall{
                    position: absolute; top: 0; right: 5px; font-size: 1.4rem; border-radius: 4px; padding: 10px 15px;
                }
            }
        }
        .share-info {
            border-top: 1px solid rgba(0,0,0,.08);
            p {
                color: #a7a7a7;
                font-size: 13px;
            }
            .grid{
                padding: 5px 0px;
            }
            .status{
                padding: 0.5rem 0.8rem; border-radius: 3px; display: inline-block; font-size: 1.2rem; width: 74px; text-align: center;
            }
            .pending{
                background: #d52e2e; color: #fff;
            }
            .accept{
                background: #2eb074; color: #fff;
            }
        }
    }
    .closed-order-message-short{
        background: #da5252; padding:0; position: relative;padding-left: 45px;
        .icon{
            font-size: 23px;color: #f7f7f7;font-family: "Flaticon";position: absolute;left: 12px;top: 8px;
        }
        p{
            color: #6c6b6b; font-size: 14px;
        }
        h2{
            font-family: var(--myregular); color: #fff; font-size: 15px; margin: 6px 0 4px;
            ion-icon{
                font-size: 14px; margin: 5px 6px 0 0; 
            }
        }
        .label{z-index: 1;}
    }

    .deliverToContainer{
        padding: 10px 15px;border-top: 1px solid #ebebeb;
        label{
            padding: 0 0 3px; width: 100%; font-size: 12px;font-family: var(--mybold); color: var(--heading-color); text-transform: uppercase;display: block;
        }
        .left{
            color: var(--ion-caption);
        }
        .right{
            color: var(--ion-black);text-align: right;
        }
        .col{
            padding: 7px 0 0;
        }
    }
    .free-delivery-tag{
        position: absolute;z-index: 1;width: 110px;left: 0;right: 0;margin: -22px auto 0;bottom: auto;
        img{
            max-width: 100%;
        }
    }
    .noteRed{
        margin: 10px; padding:7px 5px 5px; text-align: center; color: #fff; background: var(--red-color); border-radius: 3px; position: relative;
        &:after{
          content:""; position: absolute; top: -11px; right: 90px;
          width: 0; 
          height: 0; 
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 10px solid var(--red-color);
        }
    }
    
    
       
 /* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 115px;
}
.skeletonBox .avatar {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 230px;
}
.blankBox{
 width: calc(100% - 20px) !important; height: 40px !important; margin:10px 10px 0px 10px !important;
}
.full-line{
 width: calc(100% - 16px) !important; height: 16px !important; margin:10px 8px 0px 8px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/ 


















.paymentStatusIcon{
        display: block;width: 40px;height: 40px;border-radius: 50%;background: #2faf74;color: #fff;text-align: center;font-size: 16px;padding: 12px 0;font-weight: bold;margin: auto;
    }
    .paymentHeader{
        background: #f8f8f8; position: relative;padding: 15px 15px 0;margin-bottom: 35px;
        h3{
            text-align: center;margin: 0;padding: 10px 0 0;color: #2faf74;font-family: var(--mysemibold);font-weight: normal;font-size: 18px;
        }
        p{
            text-align: center;margin: 0;padding: 8px 0 8px;font-family: var(--myregular);font-size: 13px;color: #6f8078;
        }
    }
    .paymentHeader:after{
        background: linear-gradient(-45deg, transparent 16px, #f8f8f8 0), linear-gradient(45deg, transparent 16px, #f8f8f8 0);background-position: left-bottom;background-repeat: repeat-x;background-size: 16px 26px;content: " ";display: block;position: absolute;bottom: -19px;left: 0px;width: 100%;height: 19px;
    }
    .orderTrDetails{
        font-size: 15px;
        .left{
            color: #666;
        }
        .right{
            text-align: right; color: #000;
        }
        .row{
            padding: 1px 15px 0px;
        }
        .delivery{
            border-top: 1px solid #f2f2f2; background: #eff2fa;
            .left, .right{
                padding-top: 8px;padding-bottom: 0;
            }
            .row{
                padding: 5px 8px 0;
                .col{
                    padding-bottom: 8px;
                }
            }
        }
        .deliver-add{
            position: relative; padding: 5px 0 20px 30px;
            ion-icon{
                position: absolute; left: 0;
            }
        }
        img{
            width: 70px;
        }
        .deliver-add{

        }
        .status-paid{
            color: var(--green-color-2);
        }
        .status-unpaid{
            color: var(--red-color);
        }
    }
    .totalOrderTrAmount{
        padding-top: 10px; 
        .row, .col{padding: 0}
        .totalAmount{
            .left,.right{
                font-size: 17px;font-family: var(--mybold);color: #fff;
            }
            .text-right{
                text-align: right;
            }
        }
        .whiteContainer{
            background: var(--green-color);
            padding: 15px 15px;
            .left, .right{color: #fff;}
        }
        .caption-bottom{
            padding: 15px 18px;font-size: 13px;text-align: center;color: #8e8d8d;
        }
    }
    .itemHeading{
        margin: 0 18px 5px;
        padding: 5px 10px;
        background: #f8f8f8;
        border-radius: 3px;
    }
    .itemContainer{
        margin: 5px 0 6px;
        .row{
            padding: 5px 8px 0;
        }
    }
    .status{
        display: inline-block; font-weight: normal; margin-right: 10px; padding: 2px 5px;border-radius: 3px;font-size: 12px;
        &.free{
            background: var(--green-color); color: #fff;
        }
    }
    .text-right{
        text-align: right;
    }
    .item-headings{
        background: #e6e6e6;
    }

    .delivery{
        padding-top: 10px; padding-right: 10px; font-weight: bold;
    }
    .order-buyer{
        background: #fffced !important;
    }
    .userOrder{
        border-bottom: solid 1px #ccc;
        .order-items{
            
        }

        background: #fff; 
        padding-left: 0;
        [col-12] {
            padding: 0 5px;
        }
        p {
            color: #a7a7a7;
            font-size: 13px;
        }
        .grid{
            padding: 8px 5px;
        }

        ion-row {
        position: relative;
        }
        ion-col.card-left-info {
            width: 45px !important;
            max-width: 45px !important;
            .card-user-img {
                height: 35px;
                width: 35px;
                border-radius: 100%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .card-user-name {
            font-size: 16px;
            color: #292929;
            font-family: var(--mysemibold);
            padding-left: 0;
            padding-bottom: 3px;
            span{
                background: var(--ion-color-primary);
                color: var(--ion-black); font-size: 12px; padding: 2px 6px; margin-right: -10px;
                display: inline-block; float: right; border-radius: 3px; 
            }
        }
        .card-user-location {
            color: #979a9f;
            font-size: 13px;
            padding-left: 0;
            word-break: break-all;
            white-space: normal;
            font-family: var(--myregular);
            padding: 0 0 0 13px;
        }
        .card-user-location .flaticon-pin:before {
            font-size: 12px;
            position: absolute;
            left: 0;
        }
        .item-inner{
            padding-right: 0 !important;
            .label-md{
                margin: 5px 0px 0px 0; 
            }
        }
    }


    .sharefriend-list{
        .col.leftcol-img{
            max-width: 60px;
            flex: 60px;
        }
        .col.middlecoltent{
            max-width: calc(75% - 60px);
            flex: calc(75% - 60px);   
        }
        .item{
            border-bottom: 1px solid #f2f2f2;background: #fff !important;
        }
    }
    .friends-order-item{
         border-top: 0 solid #f5f5f5 !important; min-height: 70px;
         .ratedstar {
             display: inline-block;
                margin: 0 5px 0 0;
                font-size: 13px;
                color: var(--white-color);
                background: #67a713;
                padding: 2px 5px;
                border-radius: 20px;
                ion-icon {
                    font-size: 9px;
                    margin: 0 3px 0 0;
                }
            }
        .item-row{
            border-bottom: 0;padding: 5px 0px 5px 75px;margin: 0;position: relative;border-radius: 3px; /*background: #f9f9f9 !important;*/ 
            .foi-image{
                width: 60px;height: 60px; overflow: hidden; position: absolute;left: 6px;top: 5px;background: #ccc; border-radius: 3px;
                img{
                    width: 100%; height: 100%; object-fit: cover;
                }
            }
            h2{
                font-size: 13px; font-family: var(--mysemibold); margin: 0 0 2px;
                span{
                    display: inline-block; float: right; font-size: 12px; color: #a7a7a9;
                }
            }
            p{
                font-size: 14px;font-family: var(--myregular);padding: 3px 0 0;margin: 0;
                span{
                    float: right; display: inline-block;
                    .unpaid{
                        color: #c33e3e; width: 5px; font-weight: normal;
                    }
                    .paid{
                        color: #2faf74; width: 60px; font-weight: normal;
                    }
                    .total{
                        font-family: var(--mysemibold); color: #000; padding-left: 10px;
                    }
                }
                .through{text-decoration: line-through; float: right; color: #c33e3e; font-weight: bold; font-size: 14px; display: inline-block; float: right;}   
            }
            .order-icon-left{
                position: absolute; left: -49px; top: 12px;font-size: 16px;color: #dab1b1;
            }
        }
        .item-row + .item-row{
            margin-top: 5px;
        }
        .gotdiscount{
            font-size: 12px; display: inline-block; color: #4a945a; margin-top:2px;
         }
    }

}


