page-coverphoto {
	@mixin borderRadius($property) {
	  -webkit-border-radius: $property;
	  -moz-border-radius: $property;
	  border-radius: $property;
	}
	.content-md{
		.toolbar-background{
			background: transparent;
		}
	}
	.toolbar-md{
		padding: 0;
		
		button{
			box-shadow: none; height: 46px;border-radius: 4px;text-transform: capitalize;margin: 0;
		}
		.toolbar-content{
			button+button{
				margin-top: 12px;
			}
		}
		button.btn-default, button.btn-next{
			.button-inner{
				font-size: 16px;font-family: var(--myregular);
			}
		}
		button.btn-default{
			background: var(--button-dark-grey); color: var(--white-color);
			&:focus, &:active, &.activated{
				background: #ededed; color: #252525;
			}
		}
	}

	  
}
