<ion-header class="header">
	<ion-toolbar class="header-toolbar">
		  <ion-navbar>
		    <ion-title>{{ 'product_cover_photo' | translate }}</ion-title>
		  </ion-navbar>
		</ion-toolbar>
</ion-header>

<ion-content>
	<img src="{{tempImg}}" />
	<ion-toolbar padding>
		<button (click)="coverPhoto()" ion-button class="btn-default btn-block">{{ 'change_cover_photo' | translate }}</button>
		<button (click)="submit()" ion-button class="btn-next btn-block">{{ 'next_txt' | translate }}  <ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon></button>
	</ion-toolbar>
</ion-content>

<ion-footer no-border class="ion-footer">
    <ion-grid>
            <ion-row>
                <ion-col>
                    <div (click)="gotoHome()">
                    <button fill="clear" type="button" class="ion-footer-btn" expand="full">
                    <img src="assets/images/home.png" />
                    </button>
                    </div>
                </ion-col>
                <ion-col>
                   <div  (click)="gotMyOrder()">
                       <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div  color="primary" class="ion-footer-add-btn active">
                        <button fill="clear" type="button" class="ion-footer-btn" expand="full">
                          <ion-icon class="flaticon-plus-button"></ion-icon>
                        </button>
                    </div>
                </ion-col>
               <ion-col>
                    <div (click)="gotoUserOrder()">
                        <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click)="gotoAccount()">
                        <button fill="clear" type="button" class="ion-footer-btn" expand="full">
                          <ion-icon class="flaticon-user"></ion-icon>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
    </ion-grid>
</ion-footer>