/******************************************/
/*  Fonts  */

@font-face {
  font-family: 'MyriadProLight';
  src: url('../assets/fonts/MyriadProLight.eot');
  src: url('../assets/fonts/MyriadProLight.eot') format('embedded-opentype'),
    url('../assets/fonts/MyriadProLight.woff2') format('woff2'),
    url('../assets/fonts/MyriadProLight.woff') format('woff'),
    url('../assets/fonts/MyriadProLight.ttf') format('truetype'),
    url('../assets/fonts/MyriadProLight.svg#MyriadProLight') format('svg');
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../assets/fonts/MyriadProRegular.eot');
  src: url('../assets/fonts/MyriadProRegular.eot') format('embedded-opentype'),
    url('../assets/fonts/MyriadProRegular.woff2') format('woff2'),
    url('../assets/fonts/MyriadProRegular.woff') format('woff'),
    url('../assets/fonts/MyriadProRegular.ttf') format('truetype'),
    url('../assets/fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

@font-face {
  font-family: 'MyriadProBold';
  src: url('../assets/fonts/MyriadProBold.eot');
  src: url('../assets/fonts/MyriadProBold.eot') format('embedded-opentype'),
    url('../assets/fonts/MyriadProBold.woff2') format('woff2'),
    url('../assets/fonts/MyriadProBold.woff') format('woff'),
    url('../assets/fonts/MyriadProBold.ttf') format('truetype'),
    url('../assets/fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}

@font-face {
  font-family: 'MyriadProSemiBold';
  src: url('../assets/fonts/MyriadProSemiBold.eot');
  src: url('../assets/fonts/MyriadProSemiBold.eot') format('embedded-opentype'),
    url('../assets/fonts/MyriadProSemiBold.woff2') format('woff2'),
    url('../assets/fonts/MyriadProSemiBold.woff') format('woff'),
    url('../assets/fonts/MyriadProSemiBold.ttf') format('truetype'),
    url('../assets/fonts/MyriadProSemiBold.svg#MyriadProSemiBold') format('svg');
}

* {
  font-family: 'MyriadProRegular'
}

:root {
  --ion-color-primary: #ffca00;
  --heading-color: #363636;
  --sub-heading-color: #a1a1a1;
  --ion-caption: #8d8d8d;
  --link-color: #405eb5;
  --orange-color: #e28500;
  --ion-black: #000000;
  --button-dark-grey: #363636;
  --green-color: #2eb074;
  --white-color: #fff;
  --red-color: #f02e24;
  --green-color-2: #1eb528;
  --mylight: MyriadProLight;
  --myregular: MyriadProRegular;
  --mybold: MyriadProBold;
  --mysemibold: MyriadProSemiBold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

@mixin borderRadius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

.toolbar-title-md {
  font-size: 18px;
}

.scroll-content{ border-top: 0 !important;}

/******************************************/
/*  Header Css  */
ion-header {
  .back-button {
    position: absolute;
    left: 0;
  }

  .toolbar-background {
    background: var(--ion-color-primary);
  }
}

ion-header .title-md {
  font-size: 18px !important;
}

.text-center {
  text-align: center;
}

.header {
  background-color: #fdcf1c;
  text-align: center;

  ion-toolbar {
    background: #fdcf1c;
    padding: 0 !important;
    position: relative;

    .bar-buttons-md[start] {
      order: 1
    }

    .bar-buttons-md[end] {
      order: 5
    }

    button.left {
      ion-icon {
        font-weight: bold
      }
    }

    button.left,
    button.right {
      background: transparent;
      height: 40px;

      ion-icon {
        padding: 0
      }
    }

    /* button.left, button.right{
    //   position: absolute; top:0;bottom:0;width: 50px;height: 40px;margin: auto;background: transparent;
    //   border-radius: 0; z-index: 5;
    //   ion-icon{
    //     width: 100%;text-align: center;position: absolute;height: 100%;bottom:-6px;left: 0;
    //     &:before{
    //       color: rgba(0,0,0,.8);font-size: 22px;
    //     }
    //   }
    // }
    // button.left{
    //   left:0;line-height: 26px;
    //   ion-icon:before{
    //     font-weight:bold;line-height: 24px;
    //   }
    // }
    // button.right{right:0} */
    .toolbar-background {
      background: transparent;
      border-color: transparent;
    }
  }
}

.header-md:after {
  content: none;
}

.img-logo {
  width: 55px;
  margin-top: 6px;
}

.header-cart-icon {
  color: var(--ion-black);
  width: 35px;
  height: 30px;
  text-align: left;
  vertical-align: middle;

  &:before {
    font-size: 24px;
    margin-left: 0;
  }

}

.page-heading {
  font-family: MyriadProRegular;
  font-size: 21px;
  color: #231f20
}

.no-product-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 60px 0;
}

/**************************************/
/*  Footer Css  */

.ion-footer {
  background: var(--ion-color-primary);
  height: 56px;

  .grid {
    padding: 0;

    .col {
      padding-bottom: 0;
      padding-top: 0;
    }
  }
}

.ion-footer ion-toolbar {
  min-height: auto !important;
  overflow: visible;
}

.ion-footer .ion-footer-btn {
  color: rgba(0, 0, 0, .6);
  height: 52px;
  margin: 0 0.2rem;
  padding: 8px 0 0;
  position: relative;
  width: 100%;
  box-shadow: none;
  background: transparent;

  &:focus,
  &:hover,
  &:active {
    background: transparent;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 80%;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
  }

  &:focus:before,
  &:active:before,
  &.active:before {
    background: var(--ion-black)
  }

  &.active {
    color: var(--ion-black);
  }
}


.ion-footer .ion-footer-btn ion-icon {
  width: 100%;

  &:before {
    font-size: 23px;
    font-weight: bold
  }
}

.ion-footer-add-btn {
  margin-top: 8px;
  text-align: center;
}

.ion-footer .ion-footer-add-btn .ion-footer-btn {
  background: #414141;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: var(--ion-color-primary);
  box-shadow: none;
  padding: 10px 8px;
  text-align: center;

  ion-icon {
    background: transparent;

    &:before {
      font-weight: normal !important;
      font-size: 20px !important;
    }
  }

  &:focus,
  &:hover,
  &:active {
    background: var(--ion-black);
    color: var(--ion-color-primary);
  }

  &:before {
    content: none;
  }
}



/*************************************/
/*  Buttons  */

.footer-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;

  button {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-family: MyriadProRegular;
    text-transform: capitalize;
    height: 40px;
  }
}

.header-toolbar ion-button,
.header-toolbar ion-button.left {
  width: 40px;

  ion-icon.flaticon-back:before {
    font-size: 15px;
  }
}

.text-danger {
  color: var(--red-color);
}

.text-success {
  color: var(--green-color-2);
}



/********************************************/

.btn-alert-primary {
  background-color: var(--ion-color-primary) !important;
  color: #333 !important;
  width: 44%;
  display: block;

  span {
    text-align: center !important;
    display: block !important;
  }
}

.btn-next {
  background: var(--ion-color-primary);

  &:focus {
    background: #eaba02;
  }
}

.item.item-input.item-input-has-focus .item-inner,
.item.item-input.input-has-focus .item-inner {
  border-bottom-color: #333;
  box-shadow: inset 0 -1px 0 0 #333;
}

.item.item-input.item-input-has-focus .label-md,
.item.item-input.input-has-focus .label-md {
  color: #333;
}


/*******************************************/
/*  For Alert  */

.alert-md {
  .alert-head {
    padding: 20px;

    .alert-title {
      font-family: var(--mysemibold);
      font-size: 17px;
    }
  }

  .alert-button {
    background: var(--ion-color-primary);
    background-color: var(--ion-color-primary);
    color: var(--ion-black);
    padding: 6px 15px;

    .button-inner {
      font-family: var(--mysemibold)
    }
  }

  .alert-button+.alert-button {
    margin-left: 12px !important;
  }
}

.btn-primary {
  background: var(--ion-color-primary);
  background-color: var(--ion-color-primary);
  color: var(--ion-black);
  box-shadow: none;
  text-transform: unset;
  font-size: 15px;

  &:focus,
  &:active,
  &.activated {
    box-shadow: none;
    background: #e9bb05;
    color: var(--ion-black);
  }
}

.btn-link {
  background: transparent;
  background-color: transparent;
  color: var(--link-color);
  box-shadow: none;
  text-transform: unset;

  &:focus,
  &:active,
  &.activated {
    box-shadow: none;
    background: var(--link-color);
    color: var(--white-color);
  }
}

.btn-default {
  background: #ededed;
  color: #252525;
  box-shadow: none;
  @include borderRadius(5px);
  padding: 12px 15px;
  height: auto;
  text-transform: unset;

  .button-inner {
    font-size: 14px;
    font-family: var(--mysemibold);
  }

  &:focus,
  &:active,
  &.activated {
    box-shadow: none;
    background: var(--button-dark-grey);
    color: var(--white-color);
  }
}

.btn-dark {
  background: var(--heading-color);
  background-color: var(--heading-color);
  color: var(--white-color);
  box-shadow: none;
  text-transform: unset;
}

.btn-next {
  background: #ffd11c;
  color: #252525;
  box-shadow: none;
  @include borderRadius(5px);
  padding: 12px 15px;
  height: auto;
  text-transform: unset;

  .button-inner {
    font-size: 14px;
    font-family: var(--mysemibold);
  }

  &:focus,
  &:active,
  &.activated {
    box-shadow: none;
    background: #e9bb05;
  }

  .btn-white {
    background: var(--white-color);
    background-color: var(--white-color);
    color: var(--heading-color);
    box-shadow: none;
    text-transform: unset;
    border: solid 1px var(--button-dark-grey);
  }
}

.btn-danger {
  background: #dc3f3f;
  color: var(--white-color);
  box-shadow: none;
  @include borderRadius(5px);
  text-transform: unset;
  font-size: 15px;

  &:focus,
  &:active,
  &.activated {
    box-shadow: none;
    background: #c33c35;
    color: var(--white-color);
  }
}

.btn-block {
  width: 100%;
  font-family: var(--myregular);
}

.btn-round {
  @include borderRadius(25px);
}

/***********************************/
/*   Input Fields  */
.item-md{
 caret-color: #ffca00 ;
}

.item-field-info {
  padding: 0;
  border-bottom: 1px solid #ccc;

  &.item-input-has-focus {
    border-bottom: 1px solid #333;

    .item-inner {
      box-shadow: inset 0 -1px 0 0 #333;
    }

    .label-md {
      color: var(--ion-black);
    }
  }

  &.item-input-price .text-input {
    font-size: 19px;
    font-family: var(--mysemibold)
  }
}

/***********************************/
/*  Card White Box */

.card-box {
  padding: 0 0 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  @include borderRadius(0);
  background: #fff;
}

.back-button.show-back-button {
  z-index: 5;
  height: 55px
}

.pb {
  padding-bottom: 60px !important;
}


.ion-footer .ion-footer-btn img {
  width: 28px;
}

.ion-footer.footer .badge {
  float: right;
  padding: 4px 0 2px;
  border-radius: 25px;
  position: relative;
  margin-left: 8px;
  font-size: 13px;
  line-height: 18px;
  width: 25px;
  height: 25px;
  top: 11px;
  right: 5px;
  bottom: auto;
  margin: auto;
  position: absolute;
  z-index: 1;
}

.down-up-icon {
  .icon {
    font-weight: bold;
    -webkit-transform: rotate(90deg) scale(1.1);
    -moz-transform: rotate(90deg) scale(1.1);
    transform: rotate(90deg) scale(1.1);
  }
}

.down-arrow-icon {
  .icon {
    font-weight: bold;
    -webkit-transform: rotate(-90deg) scale(1.1);
    -moz-transform: rotate(-90deg) scale(1.1);
    transform: rotate(-90deg) scale(1.1);
  }
}

/*
  .rotateLoadingIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin:-27 0 0 -27px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } } */

/**  Loading with logo css  **/
.loading-section {
  .loading-wrapper {
    padding: 0;
    background: transparent;
    box-shadow: none;
    width: 140px;

    .loading-content {
      margin: auto;

      .loading-text {
        color: #ffd120;
      }

      img {
        -webkit-animation-name: spinner;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-duration: 2s;
        animation-name: spinner;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 2s;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
      }

    }
  }
}

/* WebKit and Opera browsers */
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }

  to {
    -webkit-transform: rotateY(-360deg);
  }
}

/* all other browsers */
@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);

  }
}

.btn-default.btn-link {
  padding: 7px 10px !important;
  border-radius: 2px;

  .button-inner {
    font-family: var(--myregular);
  }

}


/*************************************/
/*Search modal page Start*/
/***************************************/
.search-modal{
  .modal-wrapper{
    width: 100% !important;
    height: 100vh !important;
    left: 0% !important;
    top: 0% !important;
    position: absolute !important;
    max-width: 100%;
    transform: translate(0%, 0%) !important;
    border-radius: 0px !important;
    max-width: 100% !important;
    background-color: #fff;
    box-shadow: none !important;
    .card-md.search-card{
      margin: 0 0 0px;
      border-radius: 0;
      width: calc(100% - 0px);
      box-shadow: none;
      border-bottom: solid 10px #eeeded;
      ion-card-header{
        padding:16px 16px 0 16px ;
      }
      .item-md{
        padding-left: 0;
        .checkbox-md{
          margin: 9px 10px 9px 0px;
        }
        ion-avatar{
          min-height: 22px; min-width: 22px; margin: 8px 4px 8px 0;
          img{
            width: 22px;
            height: 22px;
            border-radius: 0;
          }
        }
      }
      ion-card-content{
        ion-card-header{
          padding:16px 0 0 0 ;
        }
        .delivery-adddress{
          padding: 13px 5px 5px 5px; margin: 0 0 10px; background: #eeeded; border-radius: 5px;
          .item-md{
            background: transparent;
          }
          .card-sub-title{
           padding: 0 0 0 10px;
          }
          .autocomplete-search{
            border-bottom: 0;
            .searchbar-md{
              border-bottom: 0;
              .searchbar-search-icon{
                left: 12px;
              }
              .searchbar-input{
                box-shadow: none; border-radius: 6px; padding: 6px 40px 6px 40px ;
              }
            }
            .label-md{
              margin: 0;
              padding: 3px 0 3px 10px;
            }
            .item-block{
              min-height: auto;
            }
          }
          .card-header{
            padding: 0 0 0 10px;
          }
          &.search-range-slider{
            
            ion-range{
              padding-top:5px;
              &.range-md{
                .range-bar{
                  height: 4px;
                }
                .range-knob{
                  top: 11px;
                  width: 22px;
                  height: 22px;
                }
              }
            }
          }
        }
      }
      .item-field-info{
        border-bottom: 0;
      }
    }
  }
  .category-select{
    border-bottom:solid 10px #eeeded;
    padding: 0 0 15px;
    .label-md{
      font-size: 16px;
      font-family: var(--mybold);
      color: var(--button-dark-grey);
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
      padding: 15px 0 0;
      line-height: 1.9;
    }
    .item-label-floating{
      .select-md{
        padding: 13px 13px 13px 13px; margin: 0 8px 0 0; background: #fff; border-radius: 5px; border: solid 1px #e2e2e2;
      }
    }
    .item-inner{
      border-bottom: 0;
    }
  }
  .search-payment-method{
    margin: 0 0 0px;
      border-radius: 0;
      width: calc(100% - 0px);
      box-shadow: none;
      &.item-payment-radio{
        padding-bottom: 50px;
        /*	margin-top: 0;*/
          .cardRadio{
            line-height: auto; margin: 0; padding: 0 !important;
          }
          .item{
            .radio{
              margin: 0;
              .radio-icon{
                width: 40px;height: 40px;border-color: transparent;border-width: 1px;border-radius: 3px;
                .radio-inner{background-color:transparent;font-family: Flaticon;width: 100%;height:100%;top:0;left: 0;text-align: center;padding: 3px;font-size: 25px;}
                &.radio-checked{
                  .radio-inner{color: var(--green-color);}
                  .radio-inner:before{
                    content: "\f14b";
                  }
                }
              }
            }
            .label{
              font-size: 17px;color: #666;
            }
            &.item-radio-checked{
              .label{
                color: #000;
              }
            }
          }
        }
        .payment-method-radio{
          .checkbox-md{
            margin: 3px 15px 9px 4px;
          }
          .item-md{
            padding: 0;
            img{
              z-index: -1;
            }
            &:last-child{
              img{
                top: 0;
              }

            }
          }
        }
  }
  
}
/*************************************/
/*Search modal page End*/
/***************************************/
