<ion-content>
<div class="top-block">
    <div class="logo-with-content">
        <div>
            <img src="assets/images/logo-color.png" />
        </div>
        <div class="text-content">
        {{ 'forgot_password' | translate }}
        </div>
    </div>
    <img src="assets/images/login-pg-bg.png" alt=""/>
</div>


<div class="padding-container">
    <div class="content-block">
        <h3 class="title">{{ 'enter_phone_to_reset_pass' | translate }}</h3>

        <div class="country-select-row" >

        <div class="selectcountry" *ngIf="countryList.length > 0" (click)="openCountryCodeModal()">
            <span class="icon-country"><img src="{{defaultFlag}}" alt=""/></span>
            <span class="">{{forgotData.countryCode}}</span>
            <span class="icon-font"><ion-icon name="arrow-dropdown"></ion-icon></span>
        </div>

        <ion-item>
            <ion-input [(ngModel)]="forgotData.tempNumber" type="tel" pattern="[0-9]*" placeholder="{{ 'insert_phone_number' | translate }}" maxlength="12"></ion-input>
        </ion-item>
        </div>

        <button class="btn-next btn-block" (click) ="submit()">
          {{ 'submit' | translate }} <ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon>
        </button>
         <h3 (click)="gotoLogin()" class="title proceed text-center forgot-link"><ion-icon class="flaticon-left"></ion-icon> {{ 'back_to_login' | translate }} </h3>
    </div>
    </div>


</ion-content>
