<ion-header class="header">
    <ion-toolbar class="header-toolbar">
        <ion-navbar align-title="center">
            <ion-title>{{ 'join_order' | translate }}</ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>

<ion-content>
 <!-- Product details --> 
 <ion-card  *ngFor='let productItem of shareProductList.productList; let i = index' [attr.data-index]='i'  >
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col col-4>
                   <img src="{{prodImgPath+productItem.prod_pic}}" />
                </ion-col>
                <ion-col col-8> 
                  <ion-card-title>
                    {{productItem.prod_name}}
                <button ion-button class="btn-right" (click)="delFromCart(productItem.id,i)">
                  <ion-icon class="flaticon-garbage"></ion-icon>
                </button>
                  </ion-card-title>

                   <h3>{{ 'seller' | translate }}: {{productItem.seller_name}}</h3>
                   <!--Promo code -->
                     <h2  *ngIf="productItem.isPromocodeused==1"> € {{ (productItem.amount-(productItem.amount * (productItem.discount_percentage/100))) * productItem.quantity }}
                      <span class="discountAmount">(with Discount)</span>
                      <span class="through">€ {{productItem.amount * productItem.quantity}}</span>
                   </h2>
                    <h2  *ngIf="productItem.isPromocodeused==0">                    
                      € {{productItem.amount * productItem.quantity }}
                   </h2>
                   <!--end -->
                    <!-- Policies -->
                    <div class="inner-row">
                    <ion-row>
                        <ion-col col-8>
                            <div class="link-item">
                                <ion-icon class="flaticon-information"></ion-icon> {{ 'delivery_polices' | translate }} 
                            </div>
                        </ion-col>
                         <ion-col col-4 text-right>
                         <ion-select okText="{{ 'save' | translate }}" cancelText="{{ 'cancel' | translate }}" [selectOptions]="selectOptions" (ionChange)="onSelectChange($event,i)">
                                <ion-option [selected]="productItem.quantity == quantItem.val" *ngFor="let quantItem of quantityList" value="{{quantItem.val}}"> {{quantItem.text}}
                                </ion-option>
                            </ion-select>
                        </ion-col>
                    </ion-row>
                  </div>

                   <div class="inner-row">
                    <ion-row>
                        <ion-col col-12>
                            <div class="link-item">
                             <ion-icon class="flaticon-edit-document"></ion-icon> {{ productItem.notes != '' ? productItem.notes : 'not_added_txt' | translate   }}
                            </div>
                        </ion-col>
                    </ion-row>
                  </div>

                   <!-- For Promo code -->
                  <div class="getdiscount offer"  *ngIf="(productItem.isPromoCode ==1) && (productItem.isPromocodeused ==0) && (tempFields.isSellerPromoCodeUsed ==0 || tempFields.isSellerPromoCodeUsed ==2)">
                   {{'used_promo_code' | translate}} {{productItem.discount_percentage}}% OFF
                  </div>
                  <div class="getdiscount used" *ngIf="productItem.isPromocodeused ==1">
                   {{'promo_code_successfully_applied' | translate}}
                  </div>
                 <!--End -->

                </ion-col>
              </ion-row>

                <ion-row class="cart-action">
                <ion-col col-4 >
                    <button class="btn-link" ion-button (click)="gotoNote(productItem.notes,i)">
                        <ion-icon class="flaticon-edit-2"></ion-icon> {{ 'add_notes' | translate }}
                    </button>
                </ion-col>
                 <ion-col  col-8 text-end >
                    <button *ngIf="(productItem.isPromoCode ==1) && (productItem.isPromocodeused ==0) && (tempFields.isSellerPromoCodeUsed ==0 || tempFields.isSellerPromoCodeUsed ==2)"  ion-button class="btn-dark" (click)="gotoPromo(productItem,i)" >{{ 'add_promo' | translate }}</button>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
       <div class="total-amt-btn" *ngIf="tempFields.isSellerPromoCodeUsed == 1">
        <ion-row>
          <ion-col>
            <div class="getdiscount used">
             {{'you_got_txt' | translate}} <span class="discount-tag"> {{tempFields.discount_percentage}}% </span>{{'off_to_all_products' | translate}}
            </div>
          </ion-col>
          </ion-row>
      </div>
    
    <div class="payment-note take-away">
        <p *ngIf="shareProductList.order_type ==1" > <img src="assets/images/take-away.png"> {{'delivery' | translate}}</p>
        <p *ngIf="shareProductList.order_type ==2"> <img src="assets/images/store-icon.png"> {{'take_away' | translate}}</p>
    </div>

    <div class="payment-note" *ngIf="shareProductList.order_type ==1">
            <p>
        <b>{{'note' | translate}}</b>:<br/>1) {{'amt' | translate}} €{{totalCalAmt}} {{'with_delivery_cost' | translate}} €{{std_cost}} {{'deduct_amount_seller_accept_txt1' | translate}}<br/>2) {{'reaches_delivery_policies_amt' | translate}} €{{totalCalAmt}} {{'deduct_amount_seller_accept_txt2' | translate}}  
        </p>
    </div>

  <!-- End -->

  <ion-card class="card-box item-payment-radio" *ngIf="paymentMethod.length > 0">
        <ion-card-header>
            {{'select_payment_method' | translate}}
        </ion-card-header>

        <ion-card-content>
        <ion-list class="payment-method-radio" radio-group [(ngModel)]="shareProductList.payment_method">
            <ion-item *ngFor="let payItem of paymentMethod">
                <ion-label ><img  src = "{{payItem.txt}}" /></ion-label>
                <ion-radio (ionSelect)="paymentOpt(payItem.id)"  slot="start" value="{{payItem.id}}" ></ion-radio>
            </ion-item>
        </ion-list>
        </ion-card-content>     
    </ion-card>
  

    
</ion-content>

<ion-footer>
<div class="footer-btn" (click)="submit()" *ngIf="paymentMethod.length > 0">
    <button class="btn-primary btn-block" ion-button>{{'submit' | translate}}</button>
</div>
<div class="footer-btn" *ngIf="!paymentMethod.length > 0">
    <button class="btn-primary btn-block" ion-button>{{'seller_not_added_payment_method_yet' | translate}}</button>
</div>

</ion-footer>