page-joinsharedorder {
    .discount-tag {
        display: inline-block; padding: 4px 5px 3px 5px; margin: 0 3px 0 3px; border-radius: 3px; background: #ffca00; font-weight: bold;
      }

    .content{
		background: #f7f7f7;
	}

  /*  .content{
        background: #f7f7f7;
    }
    .mainContainer{
        padding-bottom: 60px;
    }
    .card-header-md{
        color: var(--sub-heading-color); font-size: 14px; padding: 16px 16px 8px;
    }
    .item-md{
        font-size: 15px;
    }
    .card-content-md{
        color: var(--heading-color); font-size: 15px; padding: 13px 8px;
        .item-input{}
        .item-md{ padding-left: 0; 
            .text-input-md{
                margin: 0; 
                &::placeholder{
                    color:var(--ion-black);
                }
            }
        }
        .input-border{
            border-bottom: solid 1px #000; 
            .icon{ font-size: 20px;position: relative;top: 4px;margin-right: 0;}
        }
        .datetime{
            font-size: 15px;padding: 13px 8px 9px 0; font-family: var(--myregular);
        }
        .item-input-has-focus, .itnput-has-focus{}
        .item-input-has-focus .item-inner{
            box-shadow: none !important;
        }
        .select-md{
            font-size: 14px; display: -webkit-inline-box; height: 25px; width: 100%; max-width: none; margin: 0; padding: 0; overflow: visible; border-bottom: solid 1px #000; text-align: left;
        }
        .row-select{
            .col{
                padding: 20px 10px 5px 10px;
                &:first-child{
                    padding-left:0;
                }
                &:last-child{
                    padding-right:0;
                }
                .select-text{
                    font-size: 15px;
                }
            }
        }
        .radio-img{
            width: 22px; vertical-align: middle; display: inline-block; margin: 0 10px 0 0;
        }
        img{width: auto;}
    }
    */

     .card-md{
        margin: 0 10px 10px 10px;  padding: 5px 10px 10px;  border-radius: 0; border-bottom: solid 1px #e4e4e4;     box-shadow: none; /*width: calc(100% - 0px);*/
        &:last-child{
            margin: 0 10px 50px 10px;
        }
        ion-img{
            border-radius: 5px; overflow: hidden; object-fit: cover; height: 100%; width: 100%;
            img{
                height: 100%; width: 100%;border-radius: 5px;
            }
        }
        .grid{padding: 0}
        .card-content-md{
            padding: 0;
        }

        .card-title-md{
            padding:0;
        }

        h3{
            color: var(--sub-heading-color); font-size: 13px;
        }
        h2{
            color: var(--ion-dark-heading); font-size: 16px; font-family: var(--mybold); margin: 8px 0 5px; line-height: 12px;
        }
        ion-card-title{
            color: var(--ion-dark-heading); font-size: 16px; font-family: var(--mybold);margin: 0;
            .btn-right{
                position: absolute;top: -2px; right: -7px; font-size: 14px; color: #848484;background: transparent;box-shadow: none;
                &:focus, &:hover, &:active, &.activated{
                    background: transparent;box-shadow: none;color: #000;
                }
            }
        }


        .inner-row{
            .col{
                padding: 0; height: 20px;
            }

            .select-md{
                font-size: 14px; display: -webkit-inline-box; height: 25px; width: auto; max-width: none; margin: 0; padding: 0; overflow: visible; border-bottom: solid 1px #000; text-align: left;
            }

        }
        .cart-action{
            padding: 0;
            .link-item{
                padding-top: 8px;
            }
        }

        .button-md{ padding: 0 .7em; }
        .link-item{
            color: var(--ion-caption); font-size: 14px;
            ion-icon{
                font-size: 12px; 
            }
        }
        .btn-primary, .btn-dark{
            height: 2.9rem;
        }
        .btn-dark{
            &:focus, &:hover, &:active, &.activated{
                background: #222;box-shadow: none;
            }
        }
        .btn-primary{
            .icon{
                margin-right: 6px;
            }
            &:focus, &:hover, &:active, &.activated{
                background: #e9bb05; color: var(--ion-black);
            }
        }
        .through{text-decoration: line-through;float: right;color: #c33e3e;font-weight: bold}
        .discountAmount{
            font-size: 12px;position: relative;display: inline-block;top: -2px;
        }
        .btn-link{
            font-size: 13px;padding: 6px 0;margin-top: 6px;height: auto;
            .icon{
                font-size: 12px;
                margin-right: 5px;
                margin-top: 2px;
            }
            &:hover, &:active, &.activated{
                background: transparent; color: var(--link-color);
            }
            &:focus, &:active, &.activated{
                background: var(--link-color); color: var(--white-color);
            }
        }
        .getdiscount{
            padding: 1px 5px; text-align: center;width: 100%;
            font-size: 12px;font-weight:bold;display: inline-block;margin-top: 13px;border: 1px dashed transparent;
            
        }
        
        .getdiscount.offer{
            background: #fff5e0;color: #92681c;border-color: #fbc36f;
        }
        .getdiscount.used{
            background: #edfbf0;color: #4a945a;border-color: #a4e6bb;
            
        }
       

    }
	.item-payment-radio{
		.cardRadio{
			line-height: auto; margin: 0; padding: 0 !important;
		}
		.item{
			.radio{
				margin: 0;
				.radio-icon{
					width: 40px;height: 40px;border-color: transparent;border-width: 1px;border-radius: 3px;
					.radio-inner{background-color:transparent;font-family: Flaticon;width: 100%;height:100%;top:0;left: 0;text-align: center;padding: 3px;font-size: 25px;}
					&.radio-checked{
						.radio-inner{color: var(--green-color);}
						.radio-inner:before{
							content: "\f14b";
						}
					}
				}
			}
			.label{
				font-size: 17px;color: #666;
			}
			&.item-radio-checked{
				.label{
					color: #000;
				}
			}
		}
	}
    .item-deliverto{
        .basic-info-content{
        h6{
            font-size: 21px; font-family: var(--myregular); color: #292929;margin:5px 0 15px; 
        }
        .item{
            .item-inner{
                margin-left: 5px;
            }
            .text-input-md{
                margin: 8px 0;
                &::placeholder{
                    color: var(--ion-caption);
                }
            }
            &.item-input-has-value{
                border-bottom-color: var(--heading-color);
                .icon{
                    color: var(--heading-color);
                }
            }
            .label{
                font-size: 14px; color: var(--ion-caption);padding: 6px 0 0;margin-top: 0;
            }
        }
        .icon{
            font-size: 24px;line-height: 18px;position: relative;margin-right:8px;font-weight: bold;color: var(--ion-caption);
            &:before{
                font-size: 14px;
            }
        }

        ion-grid.grid{
            padding: 0;
            ion-row{
                margin-bottom: 10px;
            }
            ion-col{
                padding: 0;
            }
        }
    }
    }


    .payment-note{
        margin: 10px 10px 0; color: #fff; padding: 1px; border-radius:  8px 8px 0 0; line-height: 20px;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6a97f9+0,5c8bef+44,4575df+100 */
        background: #6a97f9; /* Old browsers */
        background: -moz-linear-gradient(left, #6a97f9 0%, #5c8bef 44%, #4575df 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #6a97f9 0%,#5c8bef 44%,#4575df 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #6a97f9 0%,#5c8bef 44%,#4575df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a97f9', endColorstr='#4575df',GradientType=1 ); /* IE6-9 */    

        p{
            padding: 15px; margin: 0; color: #fff; line-height: 20px;
        }
        &.take-away{
            background: #eaeaea;
            padding: 0px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: solid 1px #e1e0e0;
            p{
                margin: 0; 
                padding: 10px;
                color: #222;
                font-size: 16px;
            }
            img{
                width: 32px;
                height: 32px;
                padding: 5px;
                border-radius: 4px;
                background: #fff;
                vertical-align: middle;
                margin: 0 6px 0 0;
            }
        }
    }
    .card-options{
        border-radius: 8px; 
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#21d59e+0,38e37d+100 */
        background: #21d59e; /* Old browsers */
        background: -moz-linear-gradient(left, #21d59e 0%, #38e37d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #21d59e 0%,#38e37d 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #21d59e 0%,#38e37d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21d59e', endColorstr='#38e37d',GradientType=1 ); /* IE6-9 */

        .item-md{
            background: transparent;
            .item-inner{
                border-bottom: 0;
            }
        }
         
        img{ height: 35px; width: auto; }
         
            .radio-inner{
                color: #fff; top: 4px !important; font-size: 18px !important;
            }

            .radio-icon{
                    &.radio-checked{
                        .radio-inner{color: #fff !important;}
                    }
                }
         
    }
    .choose-card{
        font-size: 16px;
    }
    .card-box-input{
        margin: 0 10px 10px; border-radius: 7px !important;
        .label-md{
            margin: 0;
        }
        .icon{
            margin-right: 0 !important;
        }
    }

    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 28px;
            }
        }
    }
    .modal-title{
        color: var(--heading-color);font-size: 17px;text-align: center;
        h4{
            padding: 10px 0
        }

    }
    .modal-container{
        padding: 0 0 15px;
        .datetime-text{
            color: #000;font-size: 17px;font-family: var(--mysemibold);
        }
    }
    .modal-btn-group{
        text-align: center; margin-bottom: 0
    }


    /*********************/
    .payment-method-radio{ 
        .item{
            padding-bottom: 10px;
            .label{
                img{
                    width: 75px;position: relative;top: -3px;
                }
            }
        }
    }
    ion-list{
        ion-item{
            &:last-child{
                img{
                    height: 13px; width: auto !important; top: 1px !important;
                }
            }	
        }
    }
    .link-item{
        color: var(--ion-caption); font-size: 14px;
        ion-icon{
            font-size: 12px; 
        }
    }
    .modal-select-field{
        .item{
            background: #f2f2f2;
            border-radius: 5px;
            padding: 0 5px 0 20px;
            .label{
                color: #666;
            }
            .select-text{
                font-family: var(--mybold);
            }
        }
    }


    /*************************/
    .ion-comman-card{
        box-shadow: 0 0 5px rgba(0,0,0,.1); border-radius: 0;background: #fff;margin: 0 15px 15px 15px;width: calc(100% - 30px);
        .card-header{

            ion-card-title{
                font-size: 12px; font-family: var(--mybold); color: var(--button-dark-grey);text-transform: uppercase;font-weight: normal;margin: 0; padding: 0;
            }
            a{
                color: var(--ion-link); font-family: var(--myregular); float: right;text-transform: capitalize;
            }

            .badge{ padding: 3px 10px; border-radius: 25px; position: relative; margin-left: 8px; top: 0;font-size: 13px;
            }
        }
        h6{
            margin: 0; font-size: 14px; color: #555;line-height: 23px;
        }
    }
    .ion-comman-card{
        ion-toolbar{
            background: transparent;
        }
    }
    .payment-method-radio{
        margin-bottom: 0;
        .item{
            .label{
                margin: 0 8px 0 0;
                img{
                    width: 75px;position: relative;top: -3px;
                }
            }
        }
    }
    .product-total-amount{
        margin-top: 1px;border: 1px solid #f9dfdf;padding: 10px 15px;background: #fff6f6;border-radius: 5px;
        .row, .col{
            margin: 0; padding: 0;min-height: auto;
            font-size: 18px;font-family: var(--mybold);margin: 0;
            small{font-size: 14px;font-family: var(--mybold);}
        }
        .col.left{

        }
        .col.right{
            text-align: right
        }
        hr{
            margin: 5px 0; padding: 0; border-top: 1px solid #f9dfdf;
        }
        .cut-amount{
            .row, .col{
            font-size: 16px; font-family: var(--myregular);    opacity: 0.7;  
            }
        }
        .through{
           text-decoration: line-through;  
        }
    }
    
    .item.item-md .checkbox-md{margin: 0px 20px 10px 0px;}
    .item-md{padding-left: 5px;}
    .list-md .item-block .item-inner{border-bottom: none;}
    .payment-method-radio .item{padding-bottom: 0;}
    .couponCodeApply{
        .item{
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 8px;
            margin-top: 5px;
            .item-inner{
                border-bottom: 0;
                box-shadow: none !important; 
                padding-right: 0;
            }
            &.item-input-has-focus{
                border-color: #333;
            }
            .item-button{
      
                margin: 0; padding: 0 13px; height: 45px; border-radius:0; background: var(--ion-color-primary); color: var(--ion-black); box-shadow: none;
            }
        }
        p{
            margin: 0; padding: 0 0 15px; text-align: center; font-size: 16px;
        }
    }

    .clientidItem{
        margin: 0; padding: 0;
        img{
            width: 30px; margin: 0 5px 0 0;
            display: inline-block;
            vertical-align: text-bottom;
        }
        .item-inner{
            margin: 0; padding: 0 15px 15px !important;
            .label{
                padding: 15px;background: #fffdf8;border: 1px solid #f7e0a5;padding: 12px 12px 10px;
            }
            .btn-primary{
                border-radius: 3px;font-size: 13px; float: right !important;margin: 0 !important; padding: 0 10px;
                &:focus, &:hover, &.activated{
                    background: var(--ion-color-primary);
                }
            }
        }
        h4{
            margin: 0 0 7px; padding: 0;font-family: var(--mysemibold);font-size: 14px;color: #c79d3e;line-height: 27px;
        }
        .lastupdate{
            font-size: 12px;color: #9e9e9e;float: left;display: block;clear: both;position: relative;width: 100%;top: -3px;line-height: 17px;padding-bottom: 5px;
        }
        .clientIdDetails{
            .clientIdParam{
                white-space: normal;word-break: break-all;padding: 5px 0 8px;font-family: var(--mysemibold);
                font-weight: normal;font-size: 14px;color: #6f6e6e; border-bottom: solid 1px #f7e0a5;
                &:last-child{
                    border-bottom: 0;
                }
                ion-icon{
                    color: #c79d3e; margin: 0 5px 0 0;
                }
            }
            
        }
    }

.card-detail-number{padding-left: 25px;}
	.card-detail-section{
		margin: 0 -3px;
		.item {
		    padding: 0;
		    background: 
		    transparent;width: 150px;
		    .input{
				position: static;
				border: 1px solid #f7e0a5 !important;
				height: 30px !important;
				padding: 4px !important;
				text-align: center !important;
				font-weight: bold !important;
				font-size: 15px !important;
				margin: -5px 0 0 5px !important;
		    }
		    .icon{
		    	font-size: 16px;color: #c79d3e;margin: 0;
		    }
		    .item-inner{
		    	margin-left: 0;padding: 0 !important;height: 5px;background:#fff;border: 1px solid#f7e0a5;

		    }
		    .text-input{
		    	padding: 0;height: 16px;margin: 0;
		    }
		    &.input-has-focus{
		    	.item-inner{
		    		box-shadow: none
		    	}
		    }
		}	
	}

}



/*************************/

/*
ion-modal.joinsharedorder-popup ion-backdrop {
    visibility: visible !important;
    z-index: 0 !important;
}
ion-modal.joinsharedorder-popup {

    .alert-button {
        margin-top: 0px;
        border-radius: 25px;
        font-size: 13px;
        background: var(--ion-color-primary);
        /* background-color: ;*/
   /*     background-color: var(--ion-color-primary);
        color: var(--ion-black);
        padding: 7px 25px;
        min-width: 100px;
        color: #000;
        box-shadow: none;
        font-weight: 600;
    }
    .button-md:hover:not(.disable-hover) {
        background-color: var(--ion-color-primary);
    }
    ul.rating li ion-icon {
        font-size: 24px;
    }
    ul.rating li {
        padding: 5px 5px !important;
    }
} */
/*
ion-modal.joinsharedorder-popup .modal-wrapper {
    width: 100%;
    /*height:300px;*/
  /*  left: 50%;
    top: 50%;
    position: absolute;
    height:75%;
    /*height: auto;*/
   /* min-height: 32%;
    transform: translate(-50%, -50%) !important;
    border-radius: 4px !important;
    max-width: 280px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
}*/


   ion-card-title {
      color: var(--ion-dark-heading);
      font-size: 15px;
      font-family: var(--mybold);
      margin: 0;

      .btn-right {
        position: absolute;
        top: -12px;
        right: -7px;
        font-size: 14px;
        color: #848484;
        background: transparent;
        box-shadow: none;

        &:focus,
        &:hover,
        &:active,
        &.activated {
          background: transparent;
          box-shadow: none;
          color: #000;
        }
      }
    }




