page-deliverypolicy {
	.policy-img{
		margin-bottom: 30px; text-align: center;
		img{
			max-width: 80%;
		}
	}
	.policy-block{
		padding: 15px 0;border-bottom: 1px solid #efefef;margin-bottom: 15px;
		h2{
			font-size: 15px; color: #c79a60; font-family: var(--mysemibold);
			span{
				font-size: 14px; margin-right: 5px;
			}
		}
		p{
			color: #545454; font-family: var(--myregular);font-size: 14px; padding-left: 25px; margin-top: 0;line-height: 22px;
		}
	}
}
