<ion-header>
  <ion-navbar>
    <ion-title>{{ 'delivery_polices' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
	<div class="policy-block">
		<h2>
			<span class="flaticon-information"></span>
			{{ 'min_order' | translate }}
		</h2>
		<p>
		  {{ 'min_order_del' | translate }}: <b>{{deliveryPolicies.min_order_charge}} &euro;</b>
		</p>
	</div>


	<div class="policy-block">
		<h2>
			<span class="flaticon-information"></span>
			{{ 'free_policy' | translate }}
		</h2>
		<p>
			{{'min_order_for_free_delivery'  | translate }}<b> {{deliveryPolicies.order_free_amt}} &euro;</b>
		</p>
	</div>


	<div class="policy-block">
		<h2>
			<span class="flaticon-information"></span>
			{{ 'max_del_range' | translate }}
		</h2>
		<p>
			{{ 'max_delivery_radius' | translate }}: <b>{{deliveryPolicies.max_delivery_range}} km </b>
		</p>
	</div>


	<div class="policy-block">
		<h2>
			<span class="flaticon-information"></span>
			{{ 'std_charges' | translate }}
		</h2>
		<p>
			{{ 'cost_std_delivery' | translate }}: <b>{{deliveryPolicies.std_delivery_cost}} &euro; </b>
		</p>
	</div>


</ion-content>
