page-receiveorderlist {
	.toolbar-background-md{
		background-color: transparent; background: transparent;;
	}
	.title-only{
		padding-left: 0; padding-right: 0; 
		.title{
			font-size: 16px; font-family: var(--myregular); text-transform: capitalize; color: var(--ion-caption);
		}
		&.selected .title{
			color: var(--ion-black);
		}
	}
	.tab-buttons-container{
		.indicator{
			background-color: var(--ion-color-primary);
		}
	}
	.toolbar:after{
		opacity: .3;
	}
	   .badge{ 
	   	float: right; padding: 6px 10px 2px; border-radius: 25px; position: relative; margin-left: 8px; top: 0; font-size: 13px; line-height: 18px;
			}
}
