  <ion-header class="header">
 <ion-navbar align-title="center">
       <ion-title>{{ 'receive_orders' | translate }}</ion-title>
    </ion-navbar>
  <ion-toolbar class="header-toolbar">
      <ion-segment  #segments  [(ngModel)]="page">
          <!--// Requested Menu Start 1  //-->
          <ion-segment-button [ngClass]="page == 0 ? 'segment-activated' : '' "  value="0"  (click)="selectedTab(0)">
              <ion-item>
                <div class="heading">
                  <h5>{{'open_orders' | translate}}</h5>
                </div>
              </ion-item>
          </ion-segment-button>
          <!--// End 1 //-->

          <!--// In progress Menu Start 2  //-->
          <ion-segment-button value="1"  (click)="selectedTab(1)">
              <ion-item>
                <div class="heading">
                  <h5>{{'done_orders' | translate}}</h5>
                </div>
              </ion-item>
          </ion-segment-button>
          <!--// End 2 //-->
    </ion-segment>
  </ion-toolbar>
 
  <ion-toolbar class="header-action-bar" [ngClass]="((orderCounts > 0) && (page ==0)) ? '' : 'toolbar-hide'">
    <div *ngIf="orderCounts > 0 && page ==0">
          <ion-row>
            <ion-col>
              <div class="status-and-action">
                <ion-item>
                  <ion-label>{{ 'select_all' | translate }}</ion-label>
                  <ion-checkbox color="dark" [(ngModel)]="selectedAll" (click)="checkedAll()"></ion-checkbox>
                </ion-item>
              </div>
            </ion-col>
            <ion-col text-right>
              <button (click)="acceptAllOrders()" ion-button class="btn-blue" round>{{'done_txt' |translate}}</button>
            </ion-col>
          </ion-row>
        </div>
  </ion-toolbar>
 

</ion-header>

<ion-content class="recive-toolbar" [ngClass]="orderCounts > 0 && page ==0 ? '': 'toolbar-none'">
  <!-- Ionic refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles" refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <!-- End -->
  <ion-slides #slider (ionSlideDidChange)="slideChanged()">
   <!--// Slide Start 1  //-->
  <ion-slide  class="scroll-content recive-toolbar">
    <!-- NO data -->
  <div class="no-product-found" *ngIf="!isData">
      <h4>{{ 'no_orders_from_buyers' | translate }}</h4>
  </div>
 
 <!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

 <div *ngIf="isData" >

  <ion-card *ngFor="let item of orderList; let i = index">
      <div class="status-and-action">
        <ion-row>
          <ion-col col-2 *ngIf="item.order_delivery_Status == 2">
            <ion-item>
              <ion-checkbox [disabled]="item.disable" [checked]="item.checked" (click)="updateItem($event,item,i)"  color="dark"></ion-checkbox>
            </ion-item>
          </ion-col>
      
          <ion-col>
            <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 1">
              <label class="tag">{{'order_pending' | translate}}</label>
            </div>
            <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 2">
              <label class="tag">{{'order_confirm' | translate}}</label>
            </div>

            <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 3">
              <label class="tag">{{'order_reject' | translate}}</label>
            </div>

           <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 4">
          <label class="tag">{{'order_rescheduled' | translate}}</label>
          </div>

         <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 5">
         <label class="tag">{{'done_txt' | translate}}</label>
        </div>

        <div class="join-order-badge" *ngIf='item.isJoinUser ==1'>
                  <label>J</label>
        </div>


            <button class="btn-collapse" (click)="toggleUpcomingSection(listOfContentSection_i, $event)">
              <i class="newflaticon-down"></i>
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div class="time-place-div order-item">
        <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span> {{item.deliveryTime}}</p>

        <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span> {{item.deliveryTime}}</p>
        <p><span *ngIf="item.order_type ==1">{{'delivery_place' | translate}}:</span> <span *ngIf="item.order_type ==2">{{'seller_address' | translate }}:</span> {{item.delivertAddress}}</p>
        <ion-row>
          <ion-col col-4>
            <div class="order-amount">
              {{'total' | translate}} : &euro; {{item.totalAmount}}
            </div>
          </ion-col>
          <ion-col col-8 text-right>
            <div class="order-status paid" *ngIf="(item.isFree ==false) && (item.order_type ==1)">
              <ion-icon class="flaticon-order"></ion-icon>{{'delivery_cost_txt' | translate}} &euro;
              {{item.std_delivery_cost}}
            </div>
            <div class="order-status free" *ngIf="(item.isFree ==true) && (item.order_type ==1)">
              <ion-icon class="flaticon-order"></ion-icon>{{'free_delivery_txt' | translate}}
            </div>

            <div class="order-status free" *ngIf="item.order_type ==2">
              <img class="order-status-takeaway" src="assets/images/store-icon-green.png"> {{'take_away' | translate }}
            </div>
          </ion-col>

     
        </ion-row>

          <ion-row *ngIf="item.isSellerProductDis ==1">
          <ion-col col-12 class="discount-off">
           {{'you_got_txt' | translate}} <span> {{item.sellerDiscount}}% OFF </span>  {{ 'off_to_all_products' | translate }}
          </ion-col>
          </ion-row>

      </div>

      <div #listOfContentSection_i class="collapse-container">
        <div>
          <ion-row *ngFor="let prodDetails of item.productTempList">
            <ion-col col-4 class="left-column">
              <img src="{{prodImgPath+prodDetails.product_image}}" class="img-thumb" />
            </ion-col>
            <ion-col col-8 class="right-column">
              <ion-item class="order-item">
                <h2>{{prodDetails.product_name}}</h2>
                

                <ion-row class="delivery-cost-price">
                  <ion-col>
                    <div class="order-price">
                      &euro; {{prodDetails.item_price}} <small> X {{prodDetails.quantity}}</small>
                    </div>
                  </ion-col>

                </ion-row>
                <!--<div class="getdiscount used" *ngIf="prodDetails.isPromocodeused ==1">
                        {{'you_got_txt' | translate }} {{prodDetails.discount_percentage}}% OFF
                      </div> -->
              </ion-item>
            </ion-col>
          </ion-row>

          <div class="order-footer-section">
            <ion-row>
              <ion-col col-6>
                <ion-item class="seller-section">
                  <ion-avatar item-start (click)="gotoSellerProfile(item.buyerIds)">
                    <img *ngIf="item.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg' />
                    <img *ngIf="item.sellerImg !=''" src='{{userImgPath+item.sellerImg}}' />
                  </ion-avatar>
                 <p>{{'buyer' | translate }}</p>
                  <h2>{{item.sellerName}}</h2>
                </ion-item>
              </ion-col>
              <ion-col col-6 class="text-right">
                <button ion-button class="btn-primary" small (click)="sellerDetails(item.orderId,item.buyerIds)">
                  {{'view_details' | translate }}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>

    </ion-card>
   </div>
  </ion-slide>
  <!-- slide end -->

  <ion-slide  class="scroll-content">

    <!-- NO data -->
    <div class="no-product-found" *ngIf="!isPastData">
        <h4>{{ 'no_past_order' | translate }}</h4>
    </div>
   
   <!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingPastData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

 <div *ngIf="isPastData" >
  <ion-card *ngFor="let item of orderPastList; let i = index">
      <div class="status-and-action">
        <ion-row>
          <ion-col>
            <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 1">
              <label class="tag">{{'order_pending' | translate}}</label>
            </div>
            <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 2">
              <label class="tag">{{'order_confirm' | translate}}</label>
            </div>

            <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 3">
              <label class="tag">{{'order_reject' | translate}}</label>
            </div>

           <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 4">
          <label class="tag">{{'order_rescheduled' | translate}}</label>
          </div>

         <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 5 || item.order_delivery_Status == 6">
         <label class="tag">{{'done_txt' | translate}}</label>
        </div>

       <!-- <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 6">
         <label class="tag">{{'order_completed' | translate}}</label>
        </div> -->

         <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 7">
         <label class="tag">{{'order_not_received' | translate}}</label>
        </div>
        <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 8">
         <label class="tag">{{'order_expired' | translate}}</label>
        </div>
        <div class="join-order-badge" *ngIf='item.isJoinUser ==1'>
                  <label>J</label>
        </div>


            <button class="btn-collapse" (click)="togglePastSection(listOfContentSection_i, $event)">
              <i class="newflaticon-down"></i>
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div class="time-place-div order-item">
       <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span> {{item.deliveryTime}}</p>

        <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span> {{item.deliveryTime}}</p>
        <p><span *ngIf="item.order_type ==1">{{'delivery_place' | translate}}:</span> <span *ngIf="item.order_type ==2">{{'seller_address' | translate }}:</span> {{item.delivertAddress}}</p>
        <ion-row>
          <ion-col col-4>
            <div class="order-amount">
             {{'total' | translate}} : &euro; {{item.totalAmount}}
            </div>
          </ion-col >
          <ion-col col-8 text-right>
            <div class="order-status paid" *ngIf="(item.isFree ==false) && (item.order_type ==1)">
              <ion-icon class="flaticon-order"></ion-icon>{{'delivery_cost_txt' | translate}} &euro;
              {{item.std_delivery_cost}}
            </div>
            <div class="order-status free" *ngIf="(item.isFree ==true) && (item.order_type ==1)">
              <ion-icon class="flaticon-order"></ion-icon> {{'free_delivery_txt' | translate}} 
            </div>
            <div class="order-status free" *ngIf="item.order_type ==2">
              <img class="order-status-takeaway" src="assets/images/store-icon.png"> {{'take_away' | translate }}
            </div>

          </ion-col>
        </ion-row>
       
         <ion-row *ngIf="item.isSellerProductDis ==1">
          <ion-col col-12 class="discount-off">
           {{'you_got_txt' | translate}} <span> {{item.sellerDiscount}}% OFF </span> {{ 'off_to_all_products' | translate }}
          </ion-col>
          </ion-row>

      </div>

      <div #listOfContentSection_i class="collapse-container">
        <div>
          <ion-row *ngFor="let prodDetails of item.productTempList">
            <ion-col col-4 class="left-column">
              <img src="{{prodImgPath+prodDetails.product_image}}" class="img-thumb" />
            </ion-col>
            <ion-col col-8 class="right-column">
              <ion-item class="order-item">
                <h2>{{prodDetails.product_name}}</h2>
                

                <ion-row class="delivery-cost-price">
                  <ion-col>
                    <div class="order-price">
                      &euro; {{prodDetails.item_price}} <small> X {{prodDetails.quantity}}</small>
                    </div>
                  </ion-col>

                </ion-row>
                <!--<div class="getdiscount used" *ngIf="prodDetails.isPromocodeused ==1">
                        {{'you_got_txt' | translate }} {{prodDetails.discount_percentage}}% OFF
                      </div> -->
              </ion-item>
            </ion-col>
          </ion-row>

          <div class="order-footer-section">
            <ion-row>
              <ion-col col-6>
                <ion-item class="seller-section">
                  <ion-avatar item-start (click)="gotoSellerProfile(item.buyerIds)">
                    <img *ngIf="item.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg' />
                    <img *ngIf="item.sellerImg !=''" src='{{userImgPath+item.sellerImg}}' />
                  </ion-avatar>
                  <p>{{'buyer' | translate }}</p>
                  <h2>{{item.sellerName}}</h2>
                </ion-item>
              </ion-col>
              <ion-col col-6 class="text-right">
                <button ion-button class="btn-primary" small (click)="sellerDetails(item.orderId,item.buyerIds)">
                  {{'view_details' | translate }}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>

    </ion-card>

</div>

  </ion-slide>
  </ion-slides>
</ion-content>


<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
  <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <button  (click) ="gotoHome()" ion-button class="ion-footer-btn">
              <img src="assets/images/home.png"/>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div >
              <button (click) ="gotoMyorder()" fill="clear" type="button" class="ion-footer-btn down-up-icon " expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
          </div>
        </ion-col>
        <ion-col>
          <div  (click) ="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
            <button ion-button class="ion-footer-btn">
              <ion-icon class="flaticon-plus-button"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div>
             <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon active" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <button (click)="gotoAccount()" ion-button class="ion-footer-btn">
              <ion-icon class="flaticon-user"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>
