page-transactiondetails {

	.productItemDetails{
		padding: 5px 15px;border-bottom: 0 solid #f2f2f2;margin: 0;
		.item{
			padding: 0;
			.item-inner{
				border: 0;
			}
			.label{
				margin: 0;
				h2{font-size: 15px; font-family: var(--mysemibold);margin: 0; padding: 0}
				p{
					margin: 0;padding: 5px 0 4px;font-size: 14px;font-family: var(--mysemibold);color: var(--ion-black);
					span{float: right;color: var(--button-dark-grey);}					
				}
				.qty{
					color: var(--green-color-2);float: none;
				}
			}
			ion-thumbnail{
				min-width: 60px;min-height: 60px;
				img{
					width: 60px;height: 60px;
				}
			}
		}
		.transactions-userprofile{
			min-height: auto;background: #f5f5f5;border-radius: 25px;padding: 0;margin-top: 9px;
			ion-avatar{
				margin: 2px 10px 2px 2px;min-width: 20px;min-height: 20px;border: 1px solid #fff;border-radius: 100%;box-shadow: 0 0 1px 1px var(--ion-caption);
				img{
					width: 22px;height: 22px;
				}
			}
			h2{
				font-size: 13px !important;font-family: var(--mysemibold);margin: 0;padding: 0;font-weight: normal;
			}
			.status{
				    display: inline-block;float: right;background: #ccc;color: #fff;font-size: 11px;font-family: var(--mysemibold);padding: 2px 5px;border-radius: 3px;
				&.delivered{
					background: #2eb074; color: #fff;
				}
			}
		}
	}
	.your-order-item{
		padding: 5px 15px 15px; 
		span{font-size: 14px; font-family: var(--myregular);}
		.qty{
			color: var(--green-color-2);margin-left: 5px;
		}
		.order-name{
			color: var(--ion-black);
		}
		.price{
			font-family: var(--mysemibold);
		}
		.totalAmount{
			background: #fff7dc;font-family: var(--mysemibold);color: var(--ion-black);
			.head{font-family: var(--mysemibold);}
		}
	}	
	.deliveryAddressTime{
		padding: 0; border-bottom: 1px solid #f5f5f5;
		.address-box{
			background: #f2f2f2; padding: 0 10px !important; border-radius: 5px;
		}
		.row{
			padding: 0; margin: 0;
			.col{
				padding: 0; margin: 0; vertical-align: middle;
				.icon{
					font-weight: bold;margin-right: 6px;
				}
			}
			.address{
				font-size: 14px;color: var(--ion-black);padding: 13px 15px 10px;
				label{
					font-weight: normal; font-family: var(--mysemibold);font-size: 12px;color: var(--ion-black);
				}
				p{padding: 4px 0 0;margin: 0;font-size: 14px;font-family: var(--myregular);color: var(--ion-black);}
				&:before {
				    content: "";
				    position: absolute;
				    top: 0;
				    left: 15px;
				    right: 0;
				    width: 15px;
				    height: 2px;
				    background: #e2574c;
				    margin: 0;
				}
			}
		}
		.row + .row{
			padding-top: 15px;
		}
		
		.list{
			padding:10px 15px;margin: 0;
			.item{
				padding: 0;
				ion-thumbnail{
					min-width: 40px;min-height: 40px;
					img{
						width: 40px;height: 40px;
					}
				}
				h2{
					font-size: 14px;white-space: normal;
				}
				.address{
					font-size: 14px; color: var(--ion-black);
					.icon{
						font-weight: bold;margin-right: 6px;
					}
					label{
						font-weight: normal; font-family: var(--mysemibold);font-size: 12px;color: var(--ion-black);
					}
					p{padding: 4px 22px 0;margin: 0;font-size: 14px;font-family: var(--myregular);color: var(--ion-caption);}
				}
			}
		}

		.orderfreeorpaid{
			img{
				width: 100px;position: absolute;bottom: -8px;right: 8px;
			}
		}
	}
	.order-place-time{
		border-bottom: 1px solid rgba(0,0,0,.1);padding: 10px 0 10px 15px;position: relative;
		label{
			font-family: var(--mysemibold);font-size: 12px;color: var(--ion-black);
			.icon{font-weight: bold;margin-right: 5px}
		}
		p{
			margin: 0;padding: 5px 0 0;font-size: 14px;
		}
		&:before {
		    content: "";position: absolute;top: 11px;left: 0;right: 0;width: 2px;height: 60%;background: #ccc;margin: 0;
		}
	}
	
	.joined-order-list{
		h5{
			background: #f2f2f2; color: var(--ion-black);padding: 8px 15px;
			font-family: var(--mysemibold);font-size: 14px;margin: 0 0 15px;
		}
		.list{
			.item{
				ion-thumbnail{
					min-width: 40px;min-height: 40px;
					img{width: 40px;height: 40px;}
				}
				.item-inner{
					border: 0;padding-right: 19px;
					.label{
						padding: 0; margin: 0;
						h2{
							font-family: var(--mysemibold); color: var(--ion-black);font-size: 14px;margin: 0 0 5px;
						}
					}
				}
				.row, .col{padding: 0}
				.price{font-size: 14px;font-family: var(--mysemibold);}
			}
			&:before{
				width: calc(100% -10px )
			}
		}
		.user-info-option{
			padding-right: 65px;
			padding-left: 10px;
		}
		.transactions-userprofile{
			min-height: auto;background: #f5f5f5;border-radius: 25px;padding: 0;
			ion-avatar{
				margin: 2px 10px 2px 2px;min-width: 20px;min-height: 20px;border: 1px solid #fff;border-radius: 100%;box-shadow: 0 0 1px 1px var(--ion-caption);
				img{
					width: 22px;height: 22px;
				}
			}
			h2{
				font-size: 13px !important;font-family: var(--mysemibold);margin: 0;padding: 0 !important;font-weight: normal;
			}
			
		}
		.badge{
			padding: 2px 6px;margin-left: 8px;background-color: var(--ion-color-primary);color: var(--ion-black);
		}
	}
	.status{
		    display: inline-block;background-color: #f2f2f2;color: var(--ion-black);font-size: 11px;font-family: var(--mysemibold);padding: 2px 5px;border-radius: 3px;
		&.delivered{
			background: #2eb074; color: #fff;
		}
	}
	.orderPaymentMode{
		padding: 8px 15px 0;
		.row{
			.col{
				font-size: 15px;padding: 0 5px;
				img{
					width: 65px; float: right;
				}
				.icon{
					color: var(--link-color);margin-left: 5px;font-size: 14px;
				}
			}
		}
	}

  
       
 /* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 115px;
}
.skeletonBox .avatar {
  float: left;
  width: 90px;
  height: 90px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 230px;
}
.blankBox{
 width: calc(100% - 20px) !important; height: 40px !important; margin:10px 10px 0px 10px !important;
}
.full-line{
 width: calc(100% - 16px) !important; height: 16px !important; margin:10px 8px 0px 8px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/   


}
