 <ion-header>
  <ion-navbar>
    <ion-title>{{'tx_details' | translate }}	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<!-- Skeletopn HTML start -->
 <div *ngIf="isFetchingData">
  <div class="skeletonBox" >
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
    <div class="line full-line"></div>
    <div class="line full-line"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

	<div  *ngIf="!isFetchingData">
		<div class="deliveryAddressTime">
			<ion-list>
				<ion-item class="address-box">
					<ion-thumbnail item-start>
						<img src="assets/images/map-icon.png">  
					</ion-thumbnail>
					<h2>{{txItems.delivery_address}}</h2>
				</ion-item>
			</ion-list>
			
			<ion-row>
				<ion-col class="address" col-8>
					<label *ngIf="txItems.order_type ==1">
						<span class="icon flaticon-clock"></span>
					{{ 'ordered_date_time' | translate }} 
					</label>
					<label *ngIf="txItems.order_type ==2">
						<span class="icon flaticon-clock"></span>
					{{'pick_up_time' | translate }}
					</label>
					<p>
						{{txItems.delivery_time}}
					</p>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col class="address" col-8>
					<label>
						<span class="icon flaticon-clock"></span>
						{{ 'deliverd_date_time' | translate }}
					</label>
					
					<p>
						{{txItems.created}}
					</p>
				</ion-col>

				<ion-col col-4 *ngIf="(txItems.product_delivery_cost == 0) && (txItems.order_type==1) ">
					<span class="orderfreeorpaid">
						<img src="assets/images/free-delivery.png" />
					</span>
				</ion-col>
			</ion-row>
		</div>
		<div class="joined-order-list">
			<h5>
			{{'orders_list' | translate }} 
			</h5>

            <div *ngIf="txItems.joinOrders.length > 0">

			<ion-list *ngFor="let txJoinsOrders of txItems.joinOrders" >

				<ion-item>
					<ion-thumbnail item-start>
						<img src="{{prodImgPath+txJoinsOrders.product_image}}">
					</ion-thumbnail>
					<h2>{{txJoinsOrders.product_name}}</h2>
					  &euro; {{txJoinsOrders.amount}} <small> X {{txJoinsOrders.quantity}}</small>
					<ion-row >
						<ion-col  *ngIf="(txItems.product_delivery_cost == 0) && (txItems.order_type ==1)">
							<span class="status delivered">{{'free_delivery_txt' | translate }}</span>
						</ion-col>
						<ion-col class="text-right"><span class="price fr">&euro; {{txJoinsOrders.amount * txJoinsOrders.quantity}}</span></ion-col>
					</ion-row>
				</ion-item>
			</ion-list>
			</div>
			
		</div>

		<div class="orderPaymentMode" (click)="gotoPaymentTransaction(txItems.seller_id,txItems.buyer_id,txItems.order_id,txItems.product_delivery_cost)">
			<ion-row>
				<ion-col>
					{{'payment_summary' | translate}} <i class="icon flaticon-information"></i>
				</ion-col>
			</ion-row>
		</div>


			<div class="your-order-item">
			<ion-row *ngIf="txItems.order_type ==1">
				<ion-col>
					<span class="order-name">{{'delivery_cost_txt' | translate}}</span>
				</ion-col>
				<ion-col text-right>
					<span class="price">&euro; {{txItems.product_delivery_cost}}</span>
				</ion-col>
			</ion-row>
			<ion-row class="totalAmount">
				<ion-col text-right>
					<span class="head">{{'total' | translate}}:</span>
					<span class="price">&euro; {{txItems.product_total_amount}}</span>
				</ion-col>
			</ion-row>
		</div>
	</div>
</ion-content>
