<ion-header class="header">
  <ion-toolbar class="header-toolbar">
    <ion-navbar align-title="center">
      <ion-title> {{ 'user_account' | translate }}</ion-title>
      <ion-buttons end>
        <button ion-button class="header-logout-btn" icon-only (click)="logout()">
          <ion-icon class="flaticon-turn-off"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- Skeletopn HTML start -->
  <div class="skeletonBox" *ngIf="isFetchingData">
    <div class="line blankBox"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <!-- Skeletopn HTML end -->
  <ion-card class="item-profile-card">
    <div class="user-profile-img">
      <img src="{{tempImg}}" />
    </div>
    <ion-card-header>
      <ion-row>
        <ion-col col-12>
          <h2>{{(profileDetails.name !='') ? profileDetails.name : ''}} <span (click)="gotoChangepass()">
              {{ 'change_pass' | translate }} </span> </h2>
          <div class="ion-profile-info">
            <ion-icon class="flaticon-phone-call"></ion-icon>
            {{(profileDetails.mobile_no !='' || profileDetails.mobile_no !='Null' ) ? profileDetails.mobile_no : '-'}}
          </div>
          <div class="ion-profile-info">
            <ion-icon class="flaticon-envelope"></ion-icon> {{(profileDetails.email !='') ? profileDetails.email : '-'}}
          </div>
          <div class="editprofile" (click)="gotoEdit()">
            <button class="edit-profile-btn" ion-button>
              <ion-icon class="flaticon-edit"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-comman-card">
    <ion-card-header (click)="gotoMyProduct()">
      <ion-card-title>
        {{ 'my_product_list' | translate }} <ion-badge class="btn-primary" *ngIf="productCount > 0">{{productCount}}
        </ion-badge>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <!--<ion-card class="ion-comman-card">
		<ion-card-header (click)="gotoMyCart()">
			<ion-card-title>
				{{ 'cart' | translate }} <ion-badge class="btn-primary" *ngIf="cartCount > 0">{{cartCount}}</ion-badge>
			</ion-card-title>
		</ion-card-header>
	</ion-card>
<ion-card class="ion-comman-card">
		<ion-card-header (click)="gotoMyOrder()">
			<ion-card-title>
				{{ 'my_order_history' | translate }} <ion-badge class="btn-primary" *ngIf="orderCount > 0">{{orderCount}}</ion-badge>
			</ion-card-title>
		</ion-card-header>
	</ion-card>
	<ion-card class="ion-comman-card">
		<ion-card-header (click)="gotoJoinOrderHistory()">
			<ion-card-title>
				{{'join_order_history' | translate}} <ion-badge class="btn-primary" *ngIf="joinOrderCount > 0">{{joinOrderCount}}</ion-badge>
			</ion-card-title>
		</ion-card-header>
	</ion-card>
-->
  <!--<ion-card class="ion-comman-card">
	<ion-card-header (click)="gotoOrder()">
		<ion-card-title>
			{{'receive_order_from_buyer' | translate }} <ion-badge class="btn-primary" *ngIf="orderReceiveCount > 0">{{orderReceiveCount}}</ion-badge>
		</ion-card-title>
	</ion-card-header>
</ion-card> -->
  <ion-card class="ion-comman-card">
    <ion-card-header (click)="gotosharewithfriends()">
      <ion-card-title>
        {{'friend_request_join_order' | translate }} <ion-badge class="btn-primary" *ngIf="shareFriendCount > 0">
          {{shareFriendCount}}</ion-badge>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-comman-card">
    <ion-card-header (click)="gotosalesTransaction()">
      <ion-card-title>
        {{'tx_history' | translate}}
        <ion-badge class="btn-primary" *ngIf="txHistoryCount > 0">{{txHistoryCount}}</ion-badge>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-comman-card">
    <ion-card-header (click)="gotoNotification()">
      <ion-card-title>
        {{ 'notification' | translate }} <ion-badge class="btn-primary" *ngIf="notificationCount > 0">
          {{notificationCount}}</ion-badge>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Order Type -->
  <ion-card class="ion-comman-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'order_type' | translate }}
        <button ion-button (click)="toggleOrderType()" class="arrow-up" #togglebtnelmOrderType>
          <i class="icon"></i>
        </button>
      </ion-card-title>
    </ion-card-header>

    <div class="togglecontainer " #togglebtnelmOrderTypeDiv>
      <div #ordertypecontainer>
        <ion-grid class="delivery-policies search-auto-complete">
          <ion-row class="pb-10 brb mb-10 mt-10 commanwd_row">
            <ion-col col-12 align-self-center class="caption">
              <ion-list class="payment-method-radio deliverytype-radio" checkbox-group>
                <ion-item>
                  <ion-label>{{'delivery' | translate }}</ion-label>
                  <ion-checkbox [(ngModel)]="profileDetails.order_delivery" (click)="togglePickAddress()"></ion-checkbox>
                </ion-item>
                <ion-item>
                  <ion-label>{{'take_away' | translate }}</ion-label>
                  <ion-checkbox [(ngModel)]="profileDetails.order_take_away" (click)="togglePickAddress()"></ion-checkbox>
                </ion-item>
                <!-- <div class="input-field" [ngClass]="{'hide' : hidePickupAddr === false}">
                  <ion-item class="item-field-info">
                    <ion-label floating>{{'pick_up_addr' | translate}}</ion-label>
                      <ion-textarea  [(ngModel)]="profileDetails.pick_address" type="text"></ion-textarea>
                  </ion-item>
                </div> -->
                <!-- <div class="card-sub-title">{{profileDetails.pick_address}}<i class="flaticon-map"></i></div> -->
                <div class="item-field-info autocomplete-label" [ngClass]="{'hide' : hidePickupAddr === false}">
                  <ion-label> {{'pick_up_addr' | translate}}</ion-label>
                  <div class="autocomplete-search">
                    <ion-searchbar [(ngModel)]="profileDetails.pick_address" [showCancelButton]="true" (ionInput)="updateSearch()" ></ion-searchbar>
                    <ion-list *ngIf="addressList.length > 0">
                      <ion-item *ngFor="let item of addressList" tappable (click)="chooseItem(item)">
                        {{ item }}
                      </ion-item>
                    </ion-list>
                  </div>
 

                </div>
                <!-- <ion-item [ngClass]="{'hide' : hidePickupAddr === false}">
                  <ion-label>{{'pick_up_addr' | translate }}</ion-label>
                  <ion-textarea  [(ngModel)]="profileDetails.pick_address" type="text"></ion-textarea>
                </ion-item> -->
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-toolbar class="button-toolbar">
          <button (click)="submitPolicies()" ion-button class="btn-primary btn-round fr">
            {{ 'save' | translate }}
          </button>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <!-- ./ Order Type /. -->

  <!-- Order Promo -->
  <ion-card class="ion-comman-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'allow_promo_code_for_all_items' | translate }}
        <button ion-button (click)="toggleOrderPromo()" class="arrow-up" #togglebtnelmOrderPromo>
          <i class="icon"></i>
        </button>
      </ion-card-title>
    </ion-card-header>
    <div [ngClass]="{'open' : hidePromoCode === false}" class="togglecontainer" #togglebtnelmOrderPromoDiv>
      <div #orderpromocontainer>
        <ion-grid class="delivery-policies promo-code">
          <ion-row>
            <ion-col>
              <div class="item-radio-field switch-field">
                <ion-item>
                  <ion-label>{{'allow_promo_code_for_all_items' | translate }}</ion-label>
                  <ion-toggle [(ngModel)]="profileDetails.isPromoCode"></ion-toggle>
                </ion-item>
              </div>
              <div [hidden]="!profileDetails.isPromoCode">
                <ion-row>
                  <ion-col col-1>
                    <ion-icon class="newflaticon-favourite"></ion-icon>
                  </ion-col>
                  <ion-col col-11>
                    <ion-item class="item-field-info">
                      <ion-label stacked>
                        {{'promo_code' | translate }}
                      </ion-label>
                      <ion-input type="text" [(ngModel)]="profileDetails.promoCode"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-1>
                    <ion-icon class="newflaticon-save-button"></ion-icon>
                  </ion-col>
                  <ion-col col-11>
                    <ion-item class="item-field-info">
                      <ion-label stacked>
                        {{'discount' | translate }}
                      </ion-label>
                      <ion-input type="number" [(ngModel)]="profileDetails.promoDiscount"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-toolbar class="button-toolbar">
          <button (click)="submitPolicies()" ion-button class="btn-primary btn-round fr">
            {{ 'save' | translate }}
          </button>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>
  <!-- ./ Order Promo /. -->

  <ion-card class="ion-comman-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'delivery_polices' | translate }}
        <button ion-button (click)="togglePolicies()" class="arrow-up" #togglebtnelm>
          <i class="icon"></i>
        </button>
      </ion-card-title>
    </ion-card-header>
    <div [ngClass]="{'open' : hideElement === false}" class="togglecontainer" #toggledivelm>
      <div #insetcontainer>
        <ion-grid class="delivery-policies">
          <ion-row class="pb-10 brb mb-10 mt-10 commanwd_row">
            <ion-col col-8 align-self-center class="caption">
              <h6>{{'min_order_for_home' | translate }} *</h6>
            </ion-col>
            <ion-col col-4 class="field">
              <ion-item class="item-field-info">
                <ion-input [(ngModel)]="profileDetails.min_order_charge"></ion-input>
                <ion-icon item-right>&euro;</ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="pb-10 brb mb-10 commanwd_row">
            <ion-col col-8 align-self-center class="caption">
              <h6>{{'max_delivery_radius' | translate }} *</h6>
            </ion-col>
            <ion-col col-4 class="field">
              <ion-item class="item-field-info">
                <ion-input [(ngModel)]="profileDetails.max_delivery_range"></ion-input>
                <ion-icon item-right class="text">KM</ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="pb-10 brb mb-10 commanwd_row">
            <ion-col col-9 align-self-center class="caption">
              <h6>{{'cost_std_delivery' | translate }} *</h6>
            </ion-col>
            <ion-col col-3 class="field">
              <div class="positonrel">
                <ion-item class="item-field-info">
                  <ion-input [(ngModel)]="profileDetails.std_delivery_cost"></ion-input>
                  <ion-icon item-right>&euro;</ion-icon>
                </ion-item>
              </div>

            </ion-col>
          </ion-row>
          <ion-row class="pb-10 brb mb-10 commanwd_row">
            <ion-col col-8 align-self-center class="caption">
              <h6>{{'min_order_for_free_delivery' | translate }} *</h6>
            </ion-col>
            <ion-col col-4 class="field">
              <ion-item class="item-field-info">
                <ion-input [(ngModel)]="profileDetails.order_free_amt"></ion-input>
                <ion-icon item-right>&euro;</ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-toolbar class="button-toolbar">
          <button (click)="submitPolicies()" ion-button class="btn-primary btn-round fr">
            {{ 'save' | translate }}
          </button>
        </ion-toolbar>
      </div>
    </div>
  </ion-card>

  <ion-card class="ion-comman-card seller-availability">
    <ion-card-header>
      <ion-card-title>
        {{'seller_availability_to_deliver_order' | translate }}
        <button ion-button (click)="toggleTimePolicies()" class="arrow-up" #togglebtnelmTime>
          <i class="icon"></i>
        </button>
      </ion-card-title>
    </ion-card-header>


    <div [ngClass]="{'open' : hideTimeElement === false}" class="togglecontainer segmentcontainer" #togglebtnelmDivTime>
      <!-- Morning Evening segment -->

      <div class="availability-segment">
        <ion-grid class="delivery-policies">
          <div class="header-radio">
            <ion-item class="pb-10 brb mb-10 mt-10 commanwd_row">
              <ion-label>
                <h6>{{'do_you_want_to_set_scheduler_policies' | translate }}</h6>
              </ion-label>
              <ion-checkbox item-end [(ngModel)]="timeSLots.isTimePolicy"></ion-checkbox>
            </ion-item>
          </div>
        </ion-grid>

        <ion-segment [(ngModel)]="morning">
          <ion-segment-button value="morning">
            {{ 'morning' | translate }}
          </ion-segment-button>
          <ion-segment-button value="evening">
            {{ 'evening' | translate }}
          </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="morning" class="availability-segment-detail">
        <div *ngSwitchCase="'morning'">
          <!-- Morning -->
          <div #insetTimecontainer>
            <div class="delivery-policies">
              <ion-row class="availability-field availability-header">
                <ion-col col-3 class="availability-day"> {{'day' | translate}} </ion-col>
                <ion-col col-4 class="availability-time"> {{'from' | translate}}</ion-col>
                <ion-col col-4 class="availability-time"> {{'to' | translate}} </ion-col>
              </ion-row>
              <ion-row *ngFor='let timeItems of timeSlotList; let s = index' [attr.data-index]='s'
                class="availability-field">
                <ng-container *ngIf="timeItems.morning==1">
                  <ion-col col-4 class="availability-day">
                    <div>{{timeSLots['avaibility'][s].day | translate}}</div>
                  </ion-col>
                  <ion-col col-4 class="availability-time">
                    <!-- <ion-input type="tel" [(ngModel)]="timeSLots['avaibility'][s].av_from" value="{{timeItems.from}}" placeholder="{{'time' | translate}}"></ion-input> -->
                    <ion-datetime [(ngModel)]="timeSLots['avaibility'][s].av_from" displayFormat="HH:mm" pickerFormat="HH:mm"
                      placeholder="{{timeItems.from}}" minuteValues="00,30"></ion-datetime>
                  </ion-col>
                  <ion-col col-4 class="availability-time">
                    <!-- <ion-input type="tel" [(ngModel)]="timeSLots['avaibility'][s].av_to" value="{{timeItems.to}}" placeholder="{{'time' | translate}}"></ion-input> -->
                    <ion-datetime [(ngModel)]="timeSLots['avaibility'][s].av_to" displayFormat="HH:mm" pickerFormat="HH:mm"
                      placeholder="{{timeItems.to}}" minuteValues="00,30"></ion-datetime>
                  </ion-col>
                  <!-- <ion-col col-2 class="availability-time">
                  <div *ngIf="timeItems.morning==1">{{ 'morning' | translate }}</div>
                  <div *ngIf="timeItems.evening==1">{{ 'evening' | translate }}</div>
                </ion-col> -->
                </ng-container>
              </ion-row>

              <ion-row class="pb-10 brb mb-0 mt-10 commanwd_row">
                <ion-col col-8 align-self-center class="caption">
                  <h6>{{'set_hour_policy' | translate }} *</h6>
                </ion-col>
                <ion-col col-4 class="field">
                  <ion-item class="item-field-info">
                    <!-- <ion-input [(ngModel)]="timeSLots.sellerOrderTime"></ion-input> -->
                    <ion-datetime [(ngModel)]="timeSLots.sellerOrderTime" displayFormat="HH" pickerFormat="HH"
                      placeholder="{{timeSLots.sellerOrderTime}}"></ion-datetime>
                    <ion-icon item-right>Hr</ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="pb-10 brb mb-0 mt-10 commanwd_row">
                <ion-col col-12>
                  <ion-toolbar class="button-toolbar">
                    <button (click)="submitTimePolicies()" ion-button class="btn-primary btn-round fr">
                      {{ 'save' | translate }}
                    </button>
                  </ion-toolbar>
                </ion-col>
              </ion-row>
            </div>




          </div>
        </div>
        <div *ngSwitchCase="'evening'">
          <!-- Evening -->
          <div #insetTimecontainer>
            <ion-grid class="delivery-policies">

              <ion-row class="availability-field availability-header">
                <ion-col col-3 class="availability-day"> {{'day' | translate}} </ion-col>
                <ion-col col-4 class="availability-time"> {{'from' | translate}}</ion-col>
                <ion-col col-4 class="availability-time"> {{'to' | translate}} </ion-col>
              </ion-row>
              <ion-row *ngFor='let timeItems of timeSlotList; let s = index' [attr.data-index]='s'
                class="availability-field">
                <ng-container *ngIf="timeItems.evening==1">
                  <ion-col col-4 class="availability-day">
                    <div>{{timeSLots['avaibility'][s].day | translate}}</div>
                  </ion-col>
                  <ion-col col-4 class="availability-time">
                    <!-- <ion-input type="tel" [(ngModel)]="timeSLots['avaibility'][s].av_from" value="{{timeItems.from}}" placeholder="{{'time' | translate}}"></ion-input> -->
                    <ion-datetime [(ngModel)]="timeSLots['avaibility'][s].av_from" displayFormat="HH:mm" pickerFormat="HH:mm"
                      placeholder="{{timeItems.from}}" minuteValues="00,30"></ion-datetime>
                  </ion-col>
                  <ion-col col-4 class="availability-time">
                    <!-- <ion-input type="tel" [(ngModel)]="timeSLots['avaibility'][s].av_to" value="{{timeItems.to}}" placeholder="{{'time' | translate}}"></ion-input> -->
                    <ion-datetime [(ngModel)]="timeSLots['avaibility'][s].av_to" displayFormat="HH:mm" pickerFormat="HH:mm"
                      placeholder="{{timeItems.to}}" minuteValues="00,30"></ion-datetime>
                  </ion-col>
                  <!-- <ion-col col-2 class="availability-time">
                  <div *ngIf="timeItems.morning==1">{{ 'morning' | translate }}</div>
                  <div *ngIf="timeItems.evening==1">{{ 'evening' | translate }}</div>
                </ion-col> -->
                </ng-container>
              </ion-row>

              <ion-row class="pb-10 brb mb-0 mt-10 commanwd_row">
                <ion-col col-8 align-self-center class="caption">
                  <h6>{{'set_hour_policy' | translate }} *</h6>
                </ion-col>
                <ion-col col-4 class="field">
                  <ion-item class="item-field-info">
                    <!-- <ion-input [(ngModel)]="timeSLots.sellerOrderTime"></ion-input> -->
                    <ion-datetime [(ngModel)]="timeSLots.sellerOrderTime" displayFormat="HH" pickerFormat="HH"
                      placeholder="{{timeSLots.sellerOrderTime}}"></ion-datetime>
                    <ion-icon item-right>Hr</ion-icon>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="pb-10 brb mb-0 mt-10 commanwd_row">
                <ion-col col-12>
                  <ion-toolbar class="button-toolbar">
                    <button (click)="submitTimePolicies()" ion-button class="btn-primary btn-round fr">
                      {{ 'save' | translate }}
                    </button>
                  </ion-toolbar>
                </ion-col>
              </ion-row>
            </ion-grid>



          </div>
        </div>
      </div>


    </div>
    <!-- Morning Evening segment -->
  </ion-card>

  <ion-card class="ion-comman-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'payement_method' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-list class="payment-method-radio" checkbox-group>
      <ion-item>
        <ion-label *ngIf="langBtn ==1"><img src="assets/images/cod.png" /></ion-label>
        <ion-label *ngIf="langBtn ==2"><img src="assets/images/cod-ita.png" class="cod" /></ion-label>
        <ion-checkbox (click)="changePaymentMethod()" [(ngModel)]="profileDetails.COD"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label><img class="bancomat-img" src="assets/images/bancomat.png" /></ion-label>
        <ion-checkbox (click)="BancomatPaymentMethod()" [(ngModel)]="profileDetails.Bancomat"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label><img src="assets/images/paypal.png" /></ion-label>
        <ion-checkbox (click)="paypalPaymentMethod()" [(ngModel)]="profileDetails.Paypal_method"></ion-checkbox>
      </ion-item>
      <ion-item class="paypal-instruction">
        <div>
          <h3>{{'how_to_get_paypal_client_id' | translate}}</h3>
          <ul>
            <li>{{'goto_url' | translate}}: <b><a target="_blank"
                  href="https://developer.paypal.com/">https://developer.paypal.com/</a></b> </li>
            <li>{{'click_on' | translate}} <b>{{'login_into_dashboard' | translate}}</b> </li>
            <li>{{'login_with' | translate}} <b>{{'merchant_credentials' | translate}} </b></li>
            <li>{{'click_on' | translate}} <b>{{'my_apps_n_credentials' | translate}}</b></li>
            <li>{{'click_on' | translate}} <b>{{'live' | translate}}</b></li>
            <li>{{'check' | translate}} <b>{{'client_id' | translate}}</b> {{'on_right_side' | translate}} </li>
            <li>{{'copy_n_use' | translate}}</li>
          </ul>
        </div>
      </ion-item>
      <ion-item class="clientidItem"
        *ngIf="(profileDetails.paypal_client_id !='' && profileDetails.paypal_client_id !=null )">
        <h4>
          {{'paypal_account_details' | translate}}
          <button ion-button class="btn-primary small" (click)="updateClientId();">
            {{'update' | translate}}
          </button>
          <!--<span class="lastupdate">Last update : 05 April2019 at 03:45 PM</span>-->
        </h4>
        <div class="clientIdDetails">
          <div class="clientIdParam">
            <ion-icon class="flaticon-credit-card"></ion-icon> {{'paypal_client_id' | translate}} :
            {{profileDetails.paypal_client_id}}
          </div>
          <!--<div class="clientIdParam"><ion-icon class="newflaticon-key"></ion-icon> {{'paypal_secret_key' | translate}} : {{profileDetails.paypal_secret_key}}
	</div> -->
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="ion-comman-card change-language-card">
    <ion-card-header>
      <ion-card-title>
        {{ 'change_lang' | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-list class="payment-method-radio" radio-group [(ngModel)]="langBtn">
      <ion-item *ngFor="let langItem of langList">
        <ion-label><img src="{{langItem.txt}}" /></ion-label>
        <ion-radio (ionSelect)="changeLang(langItem)" [checked]="langBtn" slot="start" value="{{langItem.id}}">
        </ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card class="ion-comman-card">
    <ion-card-header (click)="gotoContact()">
      <ion-card-title>
        {{ 'contact_us' | translate }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-comman-card">
    <ion-card-header (click)="gotoDisclaimer()">
      <ion-card-title>
        {{ 'disclaimer' | translate }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card class="ion-comman-card">
    <ion-card-header (click)="gotoPrivacy()">
      <ion-card-title>
        {{ 'privacy_policy' | translate }}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <button (click)="gotoHome()" ion-button class="ion-footer-btn" expand="full">
            <img src="assets/images/home.png" />
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="gotMyOrder()">
          <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn" expand="full">
          <button ion-button class="ion-footer-btn">
            <ion-icon class="flaticon-plus-button"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div (click)="gotoUserOrder()">
          <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <button ion-button class="ion-footer-btn active" expand="full">
            <ion-icon class="flaticon-user"></ion-icon>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
