page-myprofile {
	@mixin borderRadius($property) {
	  -webkit-border-radius: $property;
	  -moz-border-radius: $property;
	  border-radius: $property;
	}
	.text-justify{
	  text-align: justify;
	}
	.content-md{
		background: #f5f5f5;
	}
	.text-input-md{
		margin-left: 0; margin-right: 0;
	}


	.item-profile-card{
		margin: 0;border-radius: 0;box-shadow:none;width: 100%;background: #f5f5f5;
		.user-profile-img{
			width: 100%;
			img{
				contain: none; object-fit: cover; height: 250px;
			}
		}
		.card-header{
			margin: -40px 15px 15px 15px; box-shadow: 0 0 18px rgba(0,0,0,.09);background: #fff; position: relative;
			h2{
				color: var(--heading-color); font-family: var(--myregular); font-size: 20px;margin: 0 0 3px; padding: 0 110px 0 0; position: relative;
				span{
					position: absolute; right: 0; font-size: 14px; padding:0 0 5px 5px; text-decoration: none; display: inline-block; color: #465eb5;
				}
			}
			.ion-profile-info{
				color: var(--sub-heading-color); font-size: 15px; font-family: var(--myregular); padding-top: 2px;
				ion-icon:before{
					font-size: 13px; margin-right: 5px;
				}
			}
			ion-col{
				padding: 0; position: relative;
			}
			.editprofile{
				position: absolute;  right: 0; bottom: 0;
				.edit-profile-btn{
					width:40px;height: 40px;top:0;right: 0; margin:auto;background: var(--ion-color-primary); color: var(--ion-black); @include borderRadius(50%); box-shadow: none;opacity: .8;overflow: hidden;
					ion-icon:before{
						font-size: 15px;font-weight: bold;
					}
				}
			}
			
		}
		.edit-profile-photo-btn{
			position: absolute; width:40px;height: 40px;top:12px;right: 12px;background: var(--ion-color-primary); color: var(--ion-black); @include borderRadius(50%); box-shadow: none;margin-top: 3px;opacity: .8;overflow: hidden;
			ion-icon:before{
				font-size: 15px;font-weight: bold;
			}
		}
	}

	.ion-comman-card{
		box-shadow: 0 0 5px rgba(0,0,0,.1); border-radius: 0;background: #fff;margin: 0 15px 15px 15px;width: calc(100% - 30px);
		.card-header-md{
			padding: 12px;
		}
		.card-header{
			
			ion-card-title{
				font-size: 14px; font-family: var(--mybold); color: var(--button-dark-grey);text-transform: uppercase;font-weight: normal;margin: 0; padding: 0 25px 0 0; line-height: 1.9; white-space: normal; word-wrap: break-word;
			}
			a{
				color: var(--ion-link); font-family: var(--myregular); float: right;text-transform: capitalize;
			}

			.badge{ float: right; padding: 6px 10px 2px; border-radius: 25px; position: relative; margin-left: 8px; top: 0; font-size: 13px; line-height: 18px;
			}
		}
		h6{
			margin: 0; font-size: 14px; color: #555;line-height: 23px;
		}
	}
	.item-field-info{
		border-bottom: none;
		.icon{
			font-family: var(--myregular);margin-right: -10px;font-size: 19px;position: relative;top: 3px; width: 25px; text-align: left;
		}
		.text.icon{
			font-size: 15px;top: 5px;
		}
		.input-wrapper{text-align: right;}
	}
	.search-auto-complete{
		.commanwd_row{
			.caption{
				flex: auto !important;
				max-width: 100% !important;
			}
		.item-field-info{
			background: #eff0ed;
			padding: 5px 0 8px 0;
			border-radius: 5px;
			.label-md{
				margin: 13px 8px 3px 8px;
			}
			.searchbar-input{
				box-shadow: none;
				background:#fff;
				border-radius: 5px;
			}				
		}
		.list-md{
			background: #eff0ed;
			.autocomplete-label{
				ion-list{
					max-height: 95px;
					overflow: auto;
				}
				.item-md{
					background: #eff0ed; padding-bottom: 0; margin-bottom: 0; min-height: 3.2rem; 
					.item-inner{
						padding-left: 0;
					}
					.label-md{
						text-align: left;
					}
				}
			}
			
		}
		.item-checkbox{
			padding-left: 0 !important;
		}
		}
	}

	.delivery-policies{
		padding-left: 15px; padding-right: 15px;margin-top: -12px;padding-top: 0;padding-bottom: 15px;
		ion-item{
			ion-label{
				color: var(--ion-caption);
			}
		}
		ion-col{
			padding: 0; padding-right: 10px
		}
		ion-col + ion-col{
			 padding-left: 10px;
		}
		ion-col:last-child{
			 padding-right: 0;
		}
		ion-input{
			font-size: 17px;
			caret-color: #ffca00 ;
			.text-input{
				text-align: right;padding-right: 5px;width: 100%;
			}
		}
		.commanwd_row{
			.caption{
				flex: 0 0 68%;max-width: 68%;
			}
			.field{
				flex: 0 0 32%;max-width: 32%;
			}
		}
		&.promo-code{
			ion-label{
				text-align: left; 
				margin-top: 0;
				font-size: 14px;
			}
			.text-input-md{
				text-align: left;
			}
			.item-md{
				padding-left: 0;
			}
			.row{
				margin: 15px 0 0;
			}
		}
	}

	.form-btn{
		@include borderRadius(25px); 
	    background: var(--ion-color-primary);
	    padding: 0;font-size: 15px;letter-spacing: 0;font-family: var(--mysemibold);text-transform: capitalize;height: 36px;
	}

	.ion-comman-card{
		ion-toolbar{
			background: transparent;
		}
	}

	ion-grid.grid-border{
		border-top: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; padding-bottom: 15px;margin-top: 5px;
		ion-item{
			font-size: 17px;
		}
	}
	.meterstext{font-size: 17px !important;}
	.payment-method-radio{
		.item{
			padding-bottom: 10px;
			.label{
				img{
					width: 75px;position: relative;top: -3px;
					&.bancomat-img{
						width: auto; height: 14px; top: 0;
					}
				}
				
			}
		}
		.paypal-instruction{
			padding: 10px; margin: 0px 15px 15px 15px; border: solid 1px #465eb5; background: #f7f9ff; width: auto; border-radius: 5px;
			.item-inner{
				padding-left: 0 !important; margin: 0;
			}
			h3{
				font-size: 16px; color: #465eb5; font-weight: bold;
			}
			ul{
				margin: 0; padding: 5px 0 5px;
				li{
					margin: 8px 0 0; padding: 0; font-size: 14px; color: #465eb5; white-space: normal; word-wrap: break-word;
				}
			}
			
		}
		&.deliverytype-radio{
			.checkbox-icon{
				top: 0 !important;
			}
		}
	}
	.button-card{
		.btn-link{
			font-size: 13px;padding: 0 15px;height: 30px;font-family: var(--mybold);font-weight: bold;border: 1px solid rgba(64, 94, 181,.2); cursor: pointer;
		}
		.col{
			padding: 0 13px 10px;
		}
	}
	.logout-btn{
	    letter-spacing: 0;font-size: 13px;padding: 0 15px;height: 35px;font-family: var(--mybold);
	    .icon{
	    	position: relative;top: -3px;
	    	&:before{
		    	font-size: 13px; font-weight: bold;margin-right: 4px;
		    }
	    }
	}

	.btn-link{
		padding: 2px 0 0; margin: 0;height: auto;text-transform: unset;
		&:focus, &:active{
			background-color: transparent; color: var(--link-color)
		}
	}
	.button-toolbar{
		padding: 5px 10px;
		.toolbar-background{
			background: transparent;
		}
	}

	[radio-group]{
		.item{
			.input-wrapper{
				position: absolute;left: 48px;top: 0;
				.label{
					margin: 12px 0 6px;font-size: 15px;font-family: var(--mysemibold);color: var(--ion-caption);
				}
			}
			.radio{
				width: 100%;
				.radio-icon{
					border-color: var(--ion-caption);
					.radio-inner{
						background-color: var(--ion-caption);
					}
					&.radio-checked{
						border-color: var(--heading-color);
						.radio-inner{
							background-color: var(--heading-color);
						}

					}
				}
			}
			&.item-radio-checked{
				.label{
					margin: 12px 0 6px;font-size: 15px;color: var(--heading-color);
				}
			}
		}
	}

	[checkbox-group]{
		.item{
			padding-bottom: 5px;
			.item-inner{
				.label{
					margin: 0;
				}
			}
			.checkbox{
				margin: 9px 16px 9px 4px !important;z-index: 1;position: absolute !important;top: 4px;width: 100%;
				.checkbox-icon{
					border-color: #999;top: -3px;
					&.checkbox-checked{
						border-color: var(--heading-color);background-color: transparent;
						.checkbox-inner{
							border-color: var(--heading-color);
						}
					}
				}

			}
			.item-inner{
				padding-left: 35px;
			}
		}
	}

	.icon-euro{
		position: absolute;bottom: 7px; font-size: 17px;z-index: 1;
	}
	.positonrel{
		position: relative;
		ion-input{
			padding-left: 0;
			.text-input{
				margin-left: 0;
				margin-right: 0;
			    margin-top: 8px;
			    margin-bottom: 8px;
			    width: calc(100% - 8px);
			}
		}
	}
	.grid-border{
		.icon-euro{
			bottom: 11px;
		}
	}


	.item-radio-field .toggle {
		border-radius: 30px;
		height: 22px;
		padding: 0;
		width: 60px;
		border: 1px solid #333;
		.toggle-inner {
			left: 7px;
			right: auto;
			top: 3px;
			width: 15px;
			height: 15px;
			background-color: #333;
		}
		.toggle-icon {
			background-color: transparent;
		}
		&.toggle-checked {
			border: 1px solid #fdcf1c;
			.toggle-inner {
				left: auto;
				right: 21px;
				background-color: #fdcf1c;
			}
		}
	}
	.item-radio-field.switch-field {
		margin-top: 10px;
		.label {
			font-size: 16px;
			color: var(--ion-black);
		}
	}

 
 .change-language-card .payment-method-radio .item .label{
	margin: 8px 0 6px;
	img{
		width: 110px;top: 0;
	}
}
.header-logout-btn{
    background: transparent;
    box-shadow: none;
    color: #000;
    font-weight: bold;
    font-size: 11px;
    padding: 15px;
    height: 45px;
    padding: 0 5px 0 0 !important;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.clientidItem{
	margin: 0; padding: 0;
	.item-inner{
		margin: 0; padding: 0 15px 15px !important;
		.label{
			padding: 15px;background: #fffdf8;border: 1px solid #f7e0a5;padding: 12px 12px 10px;
		}
		.btn-primary{
			border-radius: 3px;font-size: 13px; float: right !important;margin: 0 !important; padding: 0 10px;
			&:focus, &:hover, &.activated{
				background: var(--ion-color-primary);
			}
		}
	}
	h4{
		margin: 0 0 7px; padding: 0;font-family: var(--mysemibold);font-size: 14px;color: #c79d3e;line-height: 27px;
	}
	.lastupdate{
		font-size: 12px;color: #9e9e9e;float: left;display: block;clear: both;position: relative;width: 100%;top: -3px;line-height: 17px;padding-bottom: 5px;
	}
	.clientIdDetails{
		.clientIdParam{
			white-space: normal;word-break: break-all;padding: 5px 0 8px;font-family: var(--mysemibold);
			font-weight: normal;font-size: 14px;color: #6f6e6e;
			&:first-child{
				border-bottom: solid 1px #f7e0a5;
			}
			ion-icon{
				color: #c79d3e;
			}
		}
		
	}
}
.pb-10{padding-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-10{margin-bottom: 10px;}
.mt-10{margin-top: 10px;}
.brb{border-bottom: 1px solid rgba(0,0,0,.1);}
button.arrow-down,
button.arrow-up{
	position: absolute;
	top: 2px;
	right: 0;
	background: transparent;
	box-shadow: none;
	height: 3.6rem;
	font-weight: 500;
	margin: 0.4rem 0.2rem;
	padding: 0 1.1em;
	overflow: hidden;
	font-size: 1.3rem;
	text-transform: uppercase;
	&:hover:not(.disable-hover){background: transparent;}
	&.activated{box-shadow: none;background: transparent;}
}
button.arrow-down .icon:before,
button.arrow-up .icon:before{
	font-family: "Flaticon";font-size: 14px;font-style: normal;color: #000;
}
button.arrow-down .icon:before{
	content: "\f158" !important;
}
button.arrow-up .icon:before{
	content: "\f159" !important;
}
.card-header-md{position: relative;}
.togglecontainer{transition: all .5s ease-in-out;margin-bottom: 12px;}
.togglecontainer.open{transition: all .5s ease-in-out;}
.togglecontainer.close{transition: all .5s ease-in-out;}

.ion-comman-card.open{transition: all .5s ease-in-out;}
.ion-comman-card.close{transition: all .5s ease-in-out;}

.seller-availability{
	.open{
		height: calc( 100% + 22px) !important; transition: all .5s ease-in-out !important;
	}
	
	.close{
		transition: all .5s ease-in-out !important;
	}

	.delivery-policies{
		padding-bottom: 0;
		.commanwd_row{

		}
	}
	.header-radio{
		.item-md{
			padding-left: 0;
			.item-inner{
				padding-right: 0;
				ion-label{
					white-space: normal;
				}
			}
			.checkbox-md{
				margin: 11px 5px 10px 0;
				
			}
		}
	}
	.availability-field{
		&.availability-header{
			font-weight: bold;
			padding: 5px 0 5px;
			color: #488aff;
			.availability-day{
				padding: 0 0 10px;
			}
		}
		.availability-day{
			padding:10px 0 0;
		}
		.availability-time{ 
			text-align: center;
			margin: 0 0 10px;
			ion-input{
				border: solid 1px #d9d9d9;
			}
			.text-input-md {
				text-align: center;
				padding:6px 0; margin:0;
			}
		}
	}
	.segmentcontainer{
		margin-bottom: 0;
	}
	.availability-segment{
		padding: 10px;
		.segment-md{
			.segment-button{
				color: var(--button-dark-grey);
				text-transform: capitalize;
				font-size: 16px;
				font-weight: bold;
				&.segment-activated{
					border-color: #fdcf1c;
				}
			}
		}
	}
	.availability-segment-detail{
		padding: 10px;
	}
}


/* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 175px;
}
.skeletonBox .avatar {
  float: left;
  width: 55px;
  height: 55px;
  background-color: #ccc;
  border-radius: 100px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: calc(100% - 20px);
  height: 16px;
  margin: 15px 10px 0;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 260px;
}
.blankBox{
	width: calc(100% - 20px) !important; height: 90px !important; margin:10px 10px 0px 10px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/

		

}

ion-datetime {
	border: 1px solid #dedede;
}

.cod {
	width: 110px !important;
}

.hide {
	display: none;
}

ion-textarea{
	.text-input-md{
		text-align: left;
		min-height: 80px !important;
	}
}

.input-field{
	position: relative;
	.item-md.item-block{
		.item-inner{border: 0;}	
	}
	ion-textarea{
		.text-input-md{
			min-height: 120px !important;
		}
	}
	
}

