page-product-ratings {

ul {
  padding: 0px;

  &.rating li {
    padding: 5px 10px !important;
    background: none;
    color: #ffb400;

    ion-icon {
      font-size: 28px;
    }
  }
}



}

.rate-title{ margin-top: 10px; }
.rate-title h4{text-align: center; font-size: 17px;}
.rate-subtitle p{text-align: center; font-size: 14px; color: #888; margin-top: 5px;}
.rate-content{text-align: center;}
.rate-btns{text-align: center; padding: 10px 0 10px;}

ion-modal.custom-popup ion-backdrop
{
  visibility: visible !important;
    z-index:0 !important; 
}

ion-modal.custom-popup {

  /*left: 50%;
    top: 50%;
    position: absolute;
    height: 32%;
    min-height: 32%;
    contain: strict;
    transform: translate(-50%, -50%); border-radius: 4px;
max-width: 280px;
background-color: #fff;
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4); */

.alert-button{
	
    margin-top: 0px;
border-radius: 25px;
font-size: 13px;
background: var(--ion-color-primary);
   /* background-color: ;*/
background-color: var(--ion-color-primary);
color: var(--ion-black);
padding: 7px 25px;
min-width: 100px;
color: #000;
box-shadow: none;
font-weight: 600;
}
.button-md:hover:not(.disable-hover) {
    background-color: var(--ion-color-primary);
}
 ul.rating li ion-icon{font-size: 24px;}
  ul.rating li{padding: 5px 5px !important;}
}


ion-modal.custom-popup .modal-wrapper{
    width:100%;
    /*height:300px;*/

    left: 50%;
    top: 50%;
    position: absolute;
    height: 32%;
    min-height: 32%;
    transform: translate(-50%, -50%) !important; border-radius: 4px !important;
max-width: 280px;
background-color: #fff;
-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
}
