<ion-header class="header">
    <ion-toolbar class="header-toolbar">
        <ion-navbar align-title="center">
            <ion-title>{{ 'share_friend_req' | translate }}</ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>

<ion-content>

<!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
   <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

    <!-- Ionic refresh -->
       <ion-refresher slot="fixed" (ionRefresh)="doFriendRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="{{ 'pull_to_refresh' | translate }}"
          refreshingSpinner="circles"
          refreshingText="{{ 'refreshing' | translate }}">
        </ion-refresher-content>
      </ion-refresher>
    <!-- End --> 

    <!-- NO data -->
 
    <div class="no-product-found" *ngIf="!isData">
        <h4>{{'no_one_share_order_yet' | translate}}</h4>
    </div>

    <!-- NO data --> 


    <div class="sharefriend-container" *ngIf="isData">
        <ion-list >
            <div class="sharefriend-list">

 <ion-item *ngFor='let item of shareFriendList; let i = index' [attr.data-index]='i' >
            <ion-row>
                <ion-col col-3>
                    <div class="list-img" (click) = "gotoSellerProfile(item.buyerId)">
                       <img  *ngIf ="item.profilePic ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="item.profilePic !=''" src='{{userImgPath+item.profilePic}}'/>
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div class="order-item">
                        <h2>{{item.buyerName}} </h2>
                        <p>{{item.buyerName}} {{'want_to_share_order' | translate}} </p>
                        <p> <time> {{item.created}} </time> </p> 

                    <p> <button *ngIf="item.status == 0 && item.order_status != 1" (click)="gotoJoinOrder(item.order_id,item.distance,item.devlieryTime)" ion-button class="btn-primary btn-round btn-join" small> {{'join_order' | translate}}</button> </p>

                    <p> <button (click)="gotoJoinOrderDetails(item.order_id,item.seller_id,item.buyerId)" *ngIf="item.status == 1 && item.order_status != 1" ion-button class="btn-primary btn-round btn-join" small>{{'joined_order' | translate}}</button> </p>

                     <p> <button *ngIf="item.order_status == 1" ion-button class="btn-danger btn-round btn-join" small>{{'buyer_send_order_to_seller'  | translate }}</button> </p>

                    </div>
                </ion-col>
                <ion-col col-3 text-right>
                    <span class="status pending" *ngIf="item.status == 0"> {{'pending' |  translate}} </span>
                    <span class="status accept" *ngIf="item.status == 1"> {{'joined' |  translate}} </span>
                    <span class="status reject" *ngIf="item.status == 2"> {{'rejected' |  translate}} </span>
                </ion-col>
            </ion-row>
        </ion-item>
            
            </div>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
       </ion-infinite-scroll>

    </div>

</ion-content>
