<ion-header class="header">
	<ion-toolbar class="header-toolbar">
		  <ion-navbar>
		    <ion-title>{{ 'view_product' | translate }}</ion-title>
		  </ion-navbar>
		</ion-toolbar>
	</ion-header>
<ion-content>

<ion-content>
	<ion-card class="item-cover-photo">
		<ion-card-header>
			<ion-card-title>{{ 'cover_photo' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="item-image">
			<img src="{{productImgPath}}{{productDetails.cover_photo}}" />
		</div>
	</ion-card>

	<ion-card class="item-cover-photo"  *ngIf="prodImg?.length > 0" >
		<ion-card-header>
			<ion-card-title>{{ 'view_photos' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="photos-blocks">
			<ion-item *ngFor="let items of prodImg" >
				<img src="{{productImgPath}}{{items}}" />
			</ion-item>
		</div>
	</ion-card> 

	<ion-card class="item-field-card">
		<ion-card-header>
			<ion-card-title>{{ 'information' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="item-field-info  item-field-text">
			<ion-item>
			  		<label>{{ 'category' | translate }} </label>
			  		<p class="item-text">{{productDetails.catname}}</p>
			</ion-item>
		</div>
		<div class="item-field-info item-field-text">
			<ion-item>
				<label>{{ 'name_prod' | translate }} </label>
			  	<p class="item-text">{{productDetails.name}}</p>
			 </ion-item>
		</div>
		<div class="item-field-info item-field-text">
			<ion-item>
				<label>{{ 'description' | translate }} </label>
			  		<p  class="item-text" style="white-space: pre-line;" [innerHTML] = 'productDetails.description'></p>
			</ion-item>
		</div>
	</ion-card>

	<ion-card class="item-field-card">
		<ion-card-header>
			<ion-card-title>{{ 'price' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="item-field-info item-field-text">
			<div class="positionrel">

				<ion-item class="item-input-price">
					<label>{{ 'price_txt' | translate }}</label>
				  		<p class="item-text">&euro; {{productDetails.price}}</p>
				  	
				  	
				</ion-item>
			</div>
		</div>
		<div class="item-radio-field item-field-text">

			<ion-item class="item-input-price">
					<label>{{'publish_food' | translate }}</label>
				  		<p class="item-text"> {{publishTxt}}</p>
				</ion-item>
		</div>
	</ion-card>

</ion-content> 