<!-- Header start -->
<ion-header class="header">
	<ion-toolbar class="header-toolbar">
		  <ion-navbar>
		    <ion-title>{{ 'add_product' | translate }}</ion-title>
		  </ion-navbar>
		</ion-toolbar>
</ion-header>
<!-- Header end-->
<!-- content started -->
<ion-content>
	<ion-card class="item-cover-photo">
		<ion-card-header>
			<ion-card-title>{{ 'cover_photo' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="item-image">
			<img src="{{productImgPath}}{{productDetails.cover_photo}}" />
		</div>
	</ion-card>
	<ion-card class="item-cover-photo">
		<ion-card-header>
			<ion-card-title>{{ 'add_photos' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="photos-blocks">
			<ion-item *ngFor="let items of prodContainer ; let k = index" [attr.data-index]="k" >
				<img src="{{productImgPath}}{{items.imagePath}}" />
				<button ion-button (click)="delImg(k,items.name)">
					<ion-icon class="flaticon-garbage"></ion-icon>
				</button>
			</ion-item>
		</div>
		<div class="item-button-group" (click)="takePic()">
			<button class="btn-primary btn-block" ion-button>
				<ion-icon class="flaticon-photo-camera"></ion-icon>
			</button>
		</div>
	</ion-card>
	<ion-card class="item-field-card">
		<ion-card-header>
			<ion-card-title>{{ 'information' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="item-field-info">
			<ion-item>
				<ion-label floating> 
			  		{{ 'category' | translate }}
			  	</ion-label>
				<ion-select okText="{{ 'save' | translate }}" cancelText="{{ 'cancel' | translate }}" [(ngModel)]="productDetails.category_id" >
					<ion-option *ngFor="let categoryItem of categoryList"  value="{{categoryItem.id}}">{{categoryItem.name}}</ion-option>
				</ion-select>
			</ion-item>
		</div>
		<div class="item-field-info">
			<ion-item>
				<ion-label floating>  
			  	{{ 'name_prod' | translate }}
			  	</ion-label>
			  	<ion-input type="text" maxlength="30" [(ngModel)]="productDetails.name" ></ion-input>
			</ion-item>
		</div>
		<div class="item-field-info">
			<ion-item>
				<ion-label floating>  
			  		{{ 'description' | translate }}
			  	</ion-label>
			  	<ion-textarea type="text" [(ngModel)]="productDetails.description"></ion-textarea>
			</ion-item>
		</div>
	</ion-card>

    <ion-card class="item-field-card">
		<ion-card-header>
			<ion-card-title>{{ 'location' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="item-field-info">
			<div class="autocomplete-search">
				<!-- Location field put here -->
				 <ion-item> 
                <ion-searchbar placeholder="{{ 'please_enter_location' | translate }}" [(ngModel)]="productDetails.address" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()" (ionClear) ="dismiss()"></ion-searchbar>
                </ion-item>

                <ion-list *ngIf="addressList.length > 0">
                <ion-item *ngFor="let item of addressList" tappable (click)="chooseItem(item)">
                <i class="flaticon-map"></i> {{ item }}
                </ion-item>
                </ion-list>
			</div>
		</div>
	</ion-card>
    
	<ion-card class="item-field-card">
		<ion-card-header>
			<ion-card-title>{{ 'price' | translate }}</ion-card-title>
		</ion-card-header>
		<div class="item-field-info">
			<div class="positionrel">
				<ion-item class="item-input-price">
				  	<ion-input type="number" [(ngModel)]="productDetails.amount" placeholder="{{ 'price_txt' | translate }}" ></ion-input>
				</ion-item>
			</div>
		</div>

		<div class="item-radio-field switch-field">
			<ion-item>
				<ion-label>{{'allow_promo_code' | translate }}</ion-label>
				<ion-toggle [(ngModel)]="productDetails.isPromoCode"></ion-toggle>
			</ion-item>
		</div>
		<div class="allowForPromoCode" [hidden]="!productDetails.isPromoCode">
			<div class="item-field-info">
				<div class="positionrel">
					<ion-item>
					  	<ion-input type="text"  [(ngModel)]="productDetails.promoCode" placeholder="{{'promo_code' | translate }}"></ion-input>
					</ion-item>
				</div>
			</div>
			<div class="item-field-info">
				<div class="positionrel">
					<ion-item>
					  	<ion-icon item-right>
					  		<span>%</span>
					  	</ion-icon>

					  	<ion-input type="number" [(ngModel)]="productDetails.promoDiscount"  placeholder="{{'discount' | translate }}"></ion-input>
					</ion-item>
				</div>
			</div>
		</div>
		<div class="item-radio-field switch-field">
			<ion-item>
				<ion-label>{{'publish_food' | translate }}</ion-label>
				<ion-toggle [(ngModel)]="productDetails.status"></ion-toggle>
			</ion-item>
		</div>
		
	</ion-card>

	<ion-toolbar class="item-button" (click) ="submit()">
		<button class="btn-next btn-block" ion-button>{{'submit' | translate }}</button>
	</ion-toolbar>

</ion-content>