page-addproductform {
	@mixin borderRadius($property) {
	  -webkit-border-radius: $property;
	  -moz-border-radius: $property;
	  border-radius: $property;
	}
	.content-md{
		background: transparent; background: #f7f7f7;padding: 15px;
	}
	.text-input-md{
		margin: 13px 0;
	}
	.allowForPromoCode{
		padding-bottom: 10px;
		.item-field-info + .item-field-info{
			margin-top: 8px;
		}
		.item-field-info .positionrel .icon{
			margin: 0 0 -10px;
		}
	}
	.item-cover-photo{
		padding: 0;box-shadow: 0 0 8px rgba(0,0,0,.1);@include borderRadius(0);	background: var(--white-color);
		.card-header{
			padding: 12px 10px 12px
		}
		.card-title{
			font-family: var(--mybold);font-size: 13px;text-transform: uppercase;color:#555;padding: 0; margin: 0;
		}
		.item-image{
			padding: 0 10px 10px;
		}
	}


	.photos-blocks{
		width: 100%;float: left; padding-bottom: 10px;
		.item{
			position: relative;width:32.3%;height:150px;overflow: hidden; @include borderRadius(5px); float: left;margin:0 0 9px 10px;padding: 0;
			.item-inner{
				padding: 0;
				.label{
					margin:0 
				}
			}
			button{
				position: absolute;bottom: -3px;right:-2px;width:35px;height: 35px; background: rgba(0,0,0,.6);color: var(--white-color);border-radius: 3px 0 0;
			}
			img{
				object-fit: cover;width: 100%;height: 100%;
			}
		}
	}
	.item-button-group{
		padding: 0 10px 10px 10px;
		button{
			border-radius: 5px; box-shadow: none;height: 46px;padding: 10px 0;font-size: 20px;
			ion-icon:before{
				font-size: 23px;font-weight: bold;
			}
		}
	}

	ion-action-sheet .action-sheet-sub-title.sc-ion-action-sheet-md{
		padding: 8px 0 0;margin-bottom: 20px;
	}
	ion-action-sheet .action-sheet-button.sc-ion-action-sheet-md{
		height: 40px;
	}
	.item-field-info{
		border-width: 0;padding-left: 15px; padding-right: 15px;
		.item{
			padding: 0; border-bottom: 1px solid #ccc;
			&.item-input-has-focus{
				border-bottom: 1px solid #333;
				.item-inner{
					box-shadow: inset 0 -1px 0 0 #333;
				}
				.label-md{
					color: var(--ion-black);
				}
			}
			&.item-input-price .text-input{
				font-size: 19px;font-family: var(--mysemibold)
			}

		}
		ion-label{
			font-size: 16px; color: #8d8d8d;
			ion-icon:before{
				font-size: 15px;font-weight: bold;
			}
		}
	}

	.item-field-card{
		padding: 0 0 10px;box-shadow: 0 0 8px rgba(0,0,0,.1);@include borderRadius(0);	background: #fff;
		.card-header{
			padding: 12px 10px 12px
		}
		.card-title{
			font-family: var(--mybold);font-size: 13px;text-transform: uppercase;color: #555;padding: 0; margin: 0;
		}
		.item-image{
			padding: 0 10px 10px;
		}
	}

	.item-radio-field{
		margin-top: 5px;padding: 0 15px;
		.item{
			border-top: 0;margin: 0;padding: 0;	
			&.item-radio{
				.radio{
					position: absolute;width: 100%;top: 5px;
					.radio-inner{
						background-color: var(--ion-black);
					}
				}
				.label{
					margin-left: 30px;font-size: 16px;font-family: var(--mysemibold);margin-top: 11px; color: #666;
				}
			}
			&.item-radio.item-radio-checked{
				.label{
					color: var(--ion-black);
				}
			}
			.radio-icon.radio-checked{
				border-color: var(--ion-black);
			}
		}

		ion-grid, ion-col{
			padding:0; 
		}
		ion-list-header{
			padding-left: 0;margin-top: 23px;min-height: auto;
			ion-label{
				font-size: 16px; color: #8d8d8d;
			}
		}
	}

	.item-button{
			background: transparent;min-height: auto;padding: 0;
		button{
			margin: 0; border-radius: 0; box-shadow: none; height: 45px;margin-bottom: 0;
			.button-inner{font-size: 17px;}
		}
	}
	/************************************/
	.item-radio-field .toggle {
	    border-radius: 30px;height: 30px;padding: 0;width: 60px;border: 1px solid #333;
	    .toggle-inner{
	    	left: 7px; right: auto;top: 3px;width: 22px;height: 22px;background-color: #333;
	    }
	    .toggle-icon{
	    	background-color: transparent;
	    }		    
	    &.toggle-checked{
	    	border: 1px solid #fdcf1c;
	    	.toggle-inner{
		    	left: auto; right: 21px;background-color: #fdcf1c;
		    }
	    }
	}
	.item-radio-field.switch-field{
		margin-top: 10px;
		.label{
			font-size: 16px;
			color: var(--ion-black);
		}
	}




	/***********************************/
	@media (max-width: 987px){
		.photos-blocks{ 
			.item{
				width:32%;height:100px;
			}

		}
	}
	@media (max-width: 820px){
		.photos-blocks{ 
			.item{
				width:31.5%;height:100px;
			}

		}
	}
	@media (max-width: 565px){
		.photos-blocks{ 
			.item{
				width:30%;height:auto;
				img{
					height: 100px
				}
			}

		}
	}
	@media (max-width: 350px){
		.photos-blocks{ 
			.item{
				width:45%;height:auto;
			}

		}
	}

	.item-field-info .positionrel{
	position: relative;
	.euro{
		position: absolute;bottom: 8px; left: 0;font-size: 20px;font-weight: bold;z-index: 5;
	}
	.icon{
		font-family: var(--mysemibold); font-size: 21px;margin: 0 0 -10px; padding: 0; color: #999;
	}
	.item-input-has-value .icon{
		color: #333;
	}
	.item.item-input-has-focus{
		-webkit-box-shadow: inset 0 -1px 0 0 #333;
		box-shadow: inset 0 -1px 0 0 #333;
		.item-inner{
			box-shadow: none;
		}
	}
	.item-md ion-icon[item-left] + .item-inner{
		margin-left: 0;
	}
	.text-input::-webkit-input-placeholder {
	  font-family: var(--myregular);font-size: 17px;
	}
	.text-input::-moz-placeholder {
	  font-family: var(--myregular);font-size: 17px;
	}
	.text-input:-ms-input-placeholder {
	  font-family: var(--myregular);font-size: 17px;
	}
	.text-input:-moz-placeholder {
	  font-family: var(--myregular);font-size: 17px;
	}
}

	/*.positionrel{
		position: relative;
		.euro{
			position: absolute;bottom: 8px; left: 0;font-size: 21px;font-weight: bold;z-index: 1;
		}
		ion-input{
			padding-left: 20px;
		}
	} */

.autocomplete-search{
		margin-bottom: 10px;
		.item{
			padding-left: 0 !important;
			.item-inner{
				margin: 0;padding: 0;border-bottom: 3px !important;
				.label{
					margin: 0;padding: 0;
					.searchbar{
						margin: 0 !important; padding: 0;
						border-radius: 0;
						margin-bottom: 10px;
						.searchbar-search-icon{
							color: #000; left: 0;
						}
						.searchbar-md-cancel{
							left: 0;
							&:hover, &:focus{
								background: transparent;
							}
						}
						.searchbar-clear-icon{right: 0;&:hover, &:focus{
								background-color: transparent;
							}
						}
						.searchbar-input{background: transparent; color: #000;padding: 6px 37px;}
					}
				}
			}

		}

		.list{
			box-shadow: 0 0 5px rgba(0,0,0,.1);
			padding: 0;
			border: 1px solid #ddd;
			position: relative;
			.item{
				color: #000;
				padding: 0 15px !important;border-bottom: 1px solid #ddd;
				&.activated{
					background: var(--ion-color-primary);
				}
			}
		}
	}
}
.alert-md{
	.alert-button-group .alert-button{
		margin-top: 12px !important;min-width: 100px;	
	}
	.alert-radio-label{
		font-size: 16px;color: #666;
	}
	.alert-radio[aria-checked=true]{
		.button-inner{
			background: rgba(255, 202, 0, .1);color: var(--ion-black);
			.alert-radio-label{
				color: var(--ion-black);
			}
		}
		.alert-radio-icon{
			border-color: var(--ion-black);
		}
		.alert-radio-inner{
			background-color: var(--ion-black);
		}
	}
}