<ion-content>
<div class="top-block">
    <div class="logo-with-content">
        <div>
            <img src="assets/images/logo-color.png" />
        </div>
        <div class="text-content">
         {{ 'reset_youre_password' | translate }}
        </div>
    </div>
    <img src="assets/images/login-pg-bg.png" alt=""/>
</div>


<div class="padding-container">
    <div class="content-block">
        <h3 class="title">{{ 'enter_new_password_to_proceed' | translate }}</h3>

        <div class="country-select-row input-field">
            <ion-item>
                <ion-input [(ngModel)]="resetData.password" type="password" placeholder="{{ 'enter_new_password' | translate }}"></ion-input>
            </ion-item>
        </div>
        <div class="country-select-row input-field">
            <ion-item>
                <ion-input [(ngModel)]="confirmPass" type="password" placeholder="{{ 'confirm_new_pass' | translate }}"></ion-input>
            </ion-item>
        </div>
     
        <!--<button class="btn-next btn-block" (click) ="submit()">
          {{ 'submit' | translate }}<ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon>
        </button> -->
 
    </div>
    </div>


</ion-content>

<ion-footer class="modal-btn-group">
    <!-- <button class="alert-button" ion-button (click)="dismiss()">{{ 'cancel' | translate }}</button> -->
    <button class="btn-next btn-block" (click) ="submit()">
      {{ 'submit' | translate }}<ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon>
    </button>
</ion-footer>

