page-sellerviewdeliveryaddress {

	.item-md{
		margin: 0; padding: 0;
		.label-md{
			margin: 0;
		}
		.item-inner{
			padding: 0;
		}
	}

.address-map{
	 width: 100%;   height: 100%;
	 .item-inner{padding: 0;}
	 .label{height: 100%;}
}
.address-box{
	.icon{
		position: absolute; left: 15px; top:14px;  
	}	
	.toolbar-content-md{padding-left: 40px; position: relative;}
	p{	}
}

.ion-footer{
	height: auto;
	 .ion-footer-btn{
	 	font-size: 17px; color: #292929;
	 }
}
	.map-container {
	        position: absolute;
	        top: 0px;
	        bottom: 0px;
	        width: 100%;
	        height: 100%;
	    }

	    #map_canvas {
	    height: 90%;
	   }

	   #map {
	        width: 100%;
	        height: 100%;
	      }

        .info-window{
          white-space: pre-line; word-wrap: break-word;
        }
        .item-md.item-block .item-inner{padding-right: 0;}
}
