<ion-header>
  <ion-navbar>
    <ion-title>{{'view_on_map' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
	<ion-item no-lines class="address-map">
	<div #map id="map"></div> 
	</ion-item>
</ion-content>

<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
	 <ion-toolbar class="address-box">
<ion-icon class="flaticon-atom"></ion-icon> 
		 <p>{{tempAddress.address}}</p>
	 </ion-toolbar>
</ion-footer>


