  <ion-header class="header">
 <ion-navbar align-title="center">
      <ion-title>{{'my_order_history' | translate}}</ion-title>
  </ion-navbar>
  <ion-toolbar class="header-toolbar">
      <ion-segment  #segments  [(ngModel)]="page">
          <!--// Requested Menu Start 1  //-->
          <ion-segment-button [ngClass]="page == '0' ? 'segment-activated' : '' "  value="0"  (click)="selectedTab(0)">
              <ion-item>
                <div class="heading">
                  <h5>{{'upcoming' | translate}}</h5>
                </div>
              </ion-item>
          </ion-segment-button>
          <!--// End 1 //-->

          <!--// In progress Menu Start 2  //-->
          <ion-segment-button value="1"  (click)="selectedTab(1)">
              <ion-item>
                <div class="heading">
                  <h5>{{'past_orders' | translate}}</h5>
                </div>
              </ion-item>
          </ion-segment-button>
          <!--// End 2 //-->
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-slides #slider (ionSlideDidChange)="slideChanged()" >

 <!--// Slide Start 1  //-->
  <ion-slide class="scroll-content">
  <ion-content>
    <!-- Ionic refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles" refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <!-- End -->

  <div class="no-product-found" *ngIf="!isData">
    <h4>
      {{'no_upcoming_order' | translate}}
    </h4>
  </div>

    <!-- Skeletopn HTML start -->
    <div *ngIf="isFetchingData">
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
  </div>
  <!-- Skeletopn HTML end -->

    <div *ngIf="isData">
    <ion-card *ngFor="let item of orderList; let i = index">
      <div class="status-and-action">
        <ion-row>
          <ion-col>
            <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 1">
              <label class="tag">{{'order_pending' | translate}}</label>
            </div>
            <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 2">
              <label class="tag">{{'order_confirm' | translate}}</label>
            </div>

            <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 3">
              <label class="tag">{{'order_reject' | translate}}</label>
            </div>

           <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 4">
          <label class="tag">{{'order_rescheduled' | translate}}</label>
          </div>

         <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 5">
         <label class="tag">{{'done_txt' | translate}}</label>
        </div>

        <div class="join-order-badge" *ngIf='item.isJoinUser ==1'>
                  <label>J</label>
        </div>


            <button class="btn-collapse" (click)="toggleUpcomingSection(listOfContentSection_i, $event)">
              <i class="newflaticon-down"></i>
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div class="time-place-div order-item">
       <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span> {{item.deliveryTime}}</p>

        <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span> {{item.deliveryTime}}</p>
        <p><span *ngIf="item.order_type ==1">{{'delivery_place' | translate}}:</span> <span *ngIf="item.order_type ==2">{{'seller_address' | translate }}:</span> {{item.delivertAddress}}</p>


        <ion-row>
          <ion-col col-4>
            <div class="order-amount">
               {{'total' | translate}} : &euro; {{item.totalAmount}}
            </div>
          </ion-col>

          <ion-col col-8 text-right *ngIf="item.order_type ==1">
            <div class="order-status paid" *ngIf="item.isFree ==false">
              <ion-icon class="flaticon-order"></ion-icon>{{'delivery_cost_txt' | translate}} &euro;
              {{item.std_delivery_cost}}
            </div>
            <div class="order-status free" *ngIf="item.isFree ==true">
              <ion-icon class="flaticon-order"></ion-icon>{{'free_delivery_txt' | translate}}
            </div>
          </ion-col>
         
         <ion-col col-8 text-right *ngIf="item.order_type ==2">
            <div class="order-status free" >
              <img class="order-status-takeaway" src="assets/images/store-icon-green.png"> {{'take_away' | translate }} 
            </div>
          </ion-col>

        </ion-row>

         <ion-row *ngIf="item.isSellerProductDis ==1">
          <ion-col col-12  class="discount-off">
           {{'you_got_txt' | translate}} <span> {{item.sellerDiscount}}% OFF</span> {{ 'off_to_all_products' | translate }} 
          </ion-col>
          </ion-row>

      </div>

      <div #listOfContentSection_i class="collapse-container">
        <div>
          <ion-row *ngFor="let prodDetails of item.productTempList">
            <ion-col col-4 class="left-column">
              <img src="{{prodImgPath+prodDetails.product_image}}" class="img-thumb" />
            </ion-col>
            <ion-col col-8 class="right-column">
              <ion-item class="order-item">
                <h2>{{prodDetails.product_name}}</h2>
                

                <ion-row class="delivery-cost-price">
                  <ion-col>
                    <div class="order-price">
                      &euro; {{prodDetails.item_price}} <small> X {{prodDetails.quantity}}</small>
                    </div>
                  </ion-col>

                </ion-row>
          </ion-item>
            </ion-col>
          </ion-row>

          <div class="order-footer-section">
            <ion-row>
              <ion-col col-6>
                <ion-item class="seller-section">
                  <ion-avatar item-start (click)="gotoSellerProfile(item.seller_id)">
                    <img *ngIf="item.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg' />
                    <img *ngIf="item.sellerImg !=''" src='{{userImgPath+item.sellerImg}}' />
                  </ion-avatar>
                  <p> {{'seller' | translate }}</p>
                  <h2>{{item.sellerName}}</h2>
                </ion-item>
              </ion-col>
              <ion-col col-6 class="text-right">
                <button ion-button class="btn-primary" small (click)="buyerDetails(item.orderId,item.seller_id)">
                  {{'view_details' | translate }}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
   </ion-card>
  </div>  

  <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      </ion-content>
  </ion-slide>

  <ion-slide class="scroll-content">
  
    <ion-content>
    <!-- Ionic refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles" refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <!-- End -->
  
  <div class="no-product-found" *ngIf="!isPastData">
    <h4>{{'no_past_order' | translate}}</h4>
</div>

 <!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingPastData">
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line" style="width:33%"></div>
    </div>
  </div>
  <!-- Skeletopn HTML end -->
  <div *ngIf="isPastData">
    <ion-card *ngFor="let item of orderPastList; let i = index">
      <div class="status-and-action">
        <ion-row>
          <ion-col>
            <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 1">
              <label class="tag">{{'order_pending' | translate}}</label>
            </div>
            <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 2">
              <label class="tag">{{'order_confirm' | translate}}</label>
            </div>

            <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 3">
              <label class="tag">{{'order_reject' | translate}}</label>
            </div>

           <div class="item-order-status reschuled" *ngIf="item.order_delivery_Status == 4">
          <label class="tag">{{'order_rescheduled' | translate}}</label>
          </div>

         <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 5 || item.order_delivery_Status == 6">
         <label class="tag">{{'done_txt' | translate}}</label>
        </div>

        <!--<div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 6">
         <label class="tag">{{'order_completed' | translate}}</label>
        </div> -->

        <div class="item-order-status confirm" *ngIf="item.order_delivery_Status == 7">
         <label class="tag">{{'order_not_received' | translate}}</label>
        </div>

        <div class="item-order-status reject" *ngIf="item.order_delivery_Status == 8">
         <label class="tag">{{'order_expired' | translate}}</label>
        </div>

        <div class="join-order-badge" *ngIf='item.isJoinUser ==1'>
                  <label>J</label>
        </div>


            <button class="btn-collapse" (click)="togglePastSection(listOfContentSection_i, $event)">
              <i class="newflaticon-down"></i>
            </button>
          </ion-col>
        </ion-row>
      </div>

      <div class="time-place-div order-item">
       <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==1)"><span>{{'delivery_time' | translate}}:</span> {{item.deliveryTime}}</p>

        <p *ngIf="(item.is_rescheduled ==1) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span>
          {{item.rescheduled_date_time}}</p>
        <p *ngIf="(item.is_rescheduled ==0) && (item.order_type ==2)"><span>{{'pick_up_time' | translate }}:</span> {{item.deliveryTime}}</p>
        <p><span *ngIf="item.order_type ==1">{{'delivery_place' | translate}}:</span> <span *ngIf="item.order_type ==2">{{'seller_address' | translate }}:</span> {{item.delivertAddress}}</p>
        <ion-row>
          <ion-col col-4>
            <div class="order-amount">
              {{'total' | translate}}  : &euro; {{item.totalAmount}}
            </div>
          </ion-col>
        
          <ion-col col-8 text-right *ngIf="item.order_type ==1">
            <div class="order-status paid" *ngIf="item.isFree ==false">
              <ion-icon class="flaticon-order"></ion-icon>{{'delivery_cost_txt' | translate}} &euro;
              {{item.std_delivery_cost}}
            </div>
            <div class="order-status free" *ngIf="item.isFree ==true"> 
              <ion-icon class="flaticon-order"></ion-icon>{{'free_delivery_txt' | translate}} 
            </div>
          </ion-col>
         
         <ion-col col-8 text-right *ngIf="item.order_type ==2">
            <div class="order-status free" >
              <img class="order-status-takeaway" src="assets/images/take-away-green.png">  {{'take_away' | translate }} 
            </div>
          </ion-col>

          
        </ion-row>
         <ion-row *ngIf="item.isSellerProductDis ==1">
          <ion-col col-12 class="discount-off">
           {{'you_got_txt' | translate}} <span> {{item.sellerDiscount}}% OFF </span> {{ 'off_to_all_products' | translate }}
          </ion-col>
          </ion-row>

      </div>

      <div #listOfContentSection_i class="collapse-container">
        <div>
          <ion-row *ngFor="let prodDetails of item.productTempList">
            <ion-col col-4 class="left-column">
              <img src="{{prodImgPath+prodDetails.product_image}}" class="img-thumb" />
            </ion-col>
            <ion-col col-8 class="right-column">
              <ion-item class="order-item">
                <h2>{{prodDetails.product_name}}</h2>
                <ion-row class="delivery-cost-price">
                  <ion-col>
                    <div class="order-price">
                      &euro; {{prodDetails.item_price}} <small> X {{prodDetails.quantity}}</small>
                    </div>
                  </ion-col>

                </ion-row>
              </ion-item>
            </ion-col>
          </ion-row>

          <div class="order-footer-section">
            <ion-row *ngIf='item.isJoinUser !=1'>
              <ion-col col-4>
                <ion-item class="seller-section">
                  <ion-avatar item-start (click)="gotoSellerProfile(item.seller_id)">
                    <img *ngIf="item.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg' />
                    <img *ngIf="item.sellerImg !=''" src='{{userImgPath+item.sellerImg}}' />
                  </ion-avatar>
                  <p>Seller</p>
                  <h2>{{item.sellerName}}</h2>
                </ion-item>
              </ion-col>

              <ion-col col-4 class="text-right" (click)="deleteOrder(item.orderId,i)">
                <button ion-button class="btn-danger" small>
                {{'delete' | translate }}
                </button>
              </ion-col>

              <ion-col col-4 class="text-right">
                <button ion-button class="btn-primary" small (click)="buyerDetails(item.orderId,item.seller_id)">
                  {{'view_details' | translate }}
                </button>
              </ion-col>
            </ion-row>

             <ion-row *ngIf='item.isJoinUser ==1'>
              <ion-col col-8>
                <ion-item class="seller-section">
                  <ion-avatar item-start (click)="gotoSellerProfile(item.seller_id)">
                    <img *ngIf="item.sellerImg ==''" src='assets/images/user-profile-default-thumb.jpg' />
                    <img *ngIf="item.sellerImg !=''" src='{{userImgPath+item.sellerImg}}' />
                  </ion-avatar>
                  <p>Seller</p>
                  <h2>{{item.sellerName}}</h2>
                </ion-item>
              </ion-col>

              <ion-col col-4 class="text-right">
                <button ion-button class="btn-primary" small (click)="buyerDetails(item.orderId,item.seller_id)">
                  {{'view_details' | translate }}
                </button>
              </ion-col>
            </ion-row>

          </div>
        </div>
      </div>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="infiniteScrollPastFun($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
      </ion-content>

  </ion-slide>

  </ion-slides>

</ion-content>

<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
  <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <button  (click) ="gotoHome()" ion-button class="ion-footer-btn">
              <img src="assets/images/home.png"/>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div >
              <button fill="clear" type="button" class="ion-footer-btn down-up-icon active" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
          </div>
        </ion-col>
        <ion-col>
          <div  (click) ="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
            <button ion-button class="ion-footer-btn">
              <ion-icon class="flaticon-plus-button"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="gotoUserOrder()">
             <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <button (click)="gotoAccount()" ion-button class="ion-footer-btn">
              <ion-icon class="flaticon-user"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>
