page-upcoming {
  .content-md {
    background-color: #f7f7f7;
  }

  .header-md {
      &:after {
          background-image: url(../assets/imgs/header-bottom.png); background-position: top;
      }
  }
.swiper-container{
      overflow-y: auto;
    }
  .swiper-slide{
    display: block !important;
  }

 /********************************/
  /* Custom scroll tabs start here */
  ion-segment {
    white-space: nowrap; font-size: 0; overflow: auto;
    &::-webkit-scrollbar { width: 0; height: 0; display: none; }
    ion-segment-button.segment-button {
      display: inline-block;
      min-width: 80px;height: auto !important; width: auto;padding: 0;margin-left: 1px;
    }
    ion-segment-button.segment-button:last-child{
      margin-right: 0px;
    }
    ion-segment-button.segment-button:first-child{
      margin-left: 0px;
    }
  }
  .tabtoolbar.toolbar-md{
    min-height: 48px; 
  }

  .tabtoolbar{ 
    padding: 0;
    .item-md{
      margin: 0; padding: 0; background: var(--subheader); color: var(--white);
      .item-inner{
        margin: 0; padding: 0; border: 0;
      }
    }
    .toolbar-background-md{
      background: var(--subheader);
    }
     .label-md{
      margin: 0; text-align: center; padding: 8px 0 5px; 
      ion-icon{
        font-size: 16px; margin: 0; line-height: normal;
      }
      h5{
        font-size: 14px; margin: 2px 0 0;
      }
     }
   
    .segment-md {
        .segment-button{
          padding: 0; border-radius: 0; width: 50%; border-bottom: solid 3px var(--white);
        }
        .segment-activated{
          border-bottom: solid 3px var(--white);
        }
      }

  }

 /*New tab toolbar start*/
 ion-toolbar.header-toolbar{
   background: #fff;
   .item-md{
    padding-left: 0;  
   }
   .segment-md{
    .segment-button{
      padding: 0 !important;
    }
    .segment-activated{
      border-color: #ffd11c !important;
    }
  }
   .item-inner{
     padding: 0 !important;
   }
  .input-wrapper{
    text-align: center;
  }
  }
 /*New tab toolbar end*/


  /* Tabs end here */
  /*******************************/

  .order-item {
    padding: 0;

    .label {
      margin: 0;
    }

    .delivery-cost-price {
      margin-top: 2px;
    }

    h2 {
      font-size: 17px;
      font-family: var(--mybold);
      color: var(--heading-color);
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 12px;
      font-family: var(--myregular);
      color: var(--sub-heading-color);
      margin: 3px 0 0;
      padding: 0;
      white-space: normal;

      span {
        color: var(--button-dark-grey);
      }
    }

    ion-col {
      padding: 0;
    }

    .time-place-div {
      margin-top: 7px;
    }
  }

  .card {
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    border-radius: 0;
    padding: 5px;
    position: relative;

    .img-thumb {
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }

    .time-place-div {
      /* border-top: 1px solid #f7f7f7 !important; */
      // border-bottom: 1px solid #f7f7f7 !important;
      padding: 0 6px 7px;
      margin-bottom: 5px;
    }

    .left-column {
      max-width: 50px;
      flex: 0 0 50px;
    }

    .right-column {
      max-width: calc(100% - 60px);
      flex: 0 0 calc(100% - 60px);

      .order-item {
        padding: 0
      }
    }

    .order-item {
      padding: 0 10px 5px;

      .label {
        margin: 0;
      }

      .delivery-cost-price {
        margin-top: 2px;
      }

      h2 {
        font-size: 14px;
        font-family: var(--mysemibold);
        color: #7b7b7b;
        margin: -2px 0 0;
        padding: 0;
      }

      p {
        font-size: 13px;
        font-family: var(--mysemibold);
        color: var(--sub-heading-color);
        margin: 3px 0 0;
        padding: 0;
        white-space: normal;
        text-align: left;

        span {
          color: var(--button-dark-grey);
          font-family: var(--mybold);
        }
      }

      ion-col {
        padding: 0;
      }
    .discount-off{
      padding: 5px 0 0;
      span{
        background: #fff; border-radius: 3px; padding: 3px 7px; font-weight: bold; background: #ffca00; margin: 0 3px; display: inline-block;
      }
    }

    }

    .text-right {
      text-align: right;
    }

    .order-status {
      font-size: 13px;
      padding-top: 7px;

      .icon {
        font-size: 12px;
        margin-right: 5px;
      }
      .order-status-takeaway{
        width: 20px;
        display: inline-block;
        height: 20px;
        vertical-align: middle;
        margin: -2px 4px 0 0;
      }
    }

    .order-status.free {
      color: #409e20;
    }

    .order-status.paid {
      color: #9e6720;
    }

    .order-price {
      font-family: var(--mysemibold);
      color: var(--heading-color);
      padding-top: 3px;
      font-size: 14px;
    }

    .toolbar {
      background-color: transparent;
      padding: 0 5px;

      .col {
        padding: 0
      }

      .item {
        padding: 0;

        ion-avatar[item-start] {
          margin: 4px 4px 4px 0;

          img {
            width: 35px;
            height: 35px;
          }
        }

        .label-md {
          margin: 0;
        }

        p {
          font-size: 14px;
          margin: 0;
        }

        h2 {
          font-family: var(--mysemibold);
          font-size: 14px;
          margin: 0;
        }
      }
    }


    .btn-primary {
      padding: 9px 15px 10px;
      margin: 11px 0 0;
      border-radius: 3px;
      font-size: 13px;
    }

    .btn-danger {
      padding: 9px 15px 10px;
      margin: 11px 0 0;
      border-radius: 3px;
      font-size: 13px;
    }
    .withDeliveryCost {
      font-size: 13px;
      color: var(--sub-heading-color);
      text-align: right;
      padding-top: 2px;
    }
  }

  .getdiscount {
    padding: 1px 5px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    margin-top: 13px;
    border: 1px dashed transparent;
  }

  .getdiscount.offer {
    background: #fff5e0;
    color: #92681c;
    border-color: #fbc36f;
  }

  .getdiscount.used {
    background: #edfbf0;
    color: #4a945a;
    border-color: #a4e6bb;
  }

  .slide-zoom{ height: 100%;}
  .no-product-found {
    padding: 45px 0;

    img {
      margin: 10px auto;
      display: block;
    }

    h4 {
      color: #434343;
      font-size: 18px;
      font-family: var(--myregular);
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  .item-order-status {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    top: 0;

    label.tag {
      font-weight: 600;
      left: -10px;
      top: 15px;
      position: absolute;
      width: auto;
      height: 24px;
      line-height: 24px;
      font-size: 11px;
      margin-left: 0;
      background: #FFDC40;
      border-radius: 3px;
      padding: 0 0 0 10px;
      display: block;

      &:after {
        content: "";
        position: absolute;
        left: 100%;
        bottom: 0;
        width: 0;
        margin-left: -3px;
        height: 0;
        display: inline-block;
        line-height: 0;
        border-width: 12px;
        border-style: solid;
        border-color: #FFDC40 transparent #FFDC40 #FFDC40;
        z-index: -1;
      }
    }

    &.confirm {
      label.tag {
        background: #2eb074;
        color: #fff;

        &:after {
          border-color: #2eb074 transparent #2eb074 #2eb074;
        }
      }
    }

    &.reschuled {
      label.tag {
        background: #fdcf1c;
        color: #000;

        &:after {
          border-color: #fdcf1c transparent #fdcf1c #fdcf1c;
        }
      }
    }

    &.reject {
      label.tag {
        background: #d52e2e;
        color: #fff;

        &:after {
          border-color: #d52e2e transparent #d52e2e #d52e2e;
        }
      }
    }

  }

  /* Skeleton CSS */
  .skeletonBox {
    width: 100%;
    height: 115px;
  }

  .skeletonBox .avatar {
    float: left;
    width: 90px;
    height: 90px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 600px;
    animation: shine-avatar 1.3s infinite linear;
  }

  .skeletonBox .line {
    float: left;
    width: 65px;
    height: 16px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 900px;
    animation: shine-lines 1.3s infinite linear;
  }

  .skeletonBox .avatar+.line {
    margin-top: 11px;
    width: 230px;
  }

  .blankBox {
    width: calc(100% - 20px) !important;
    height: 90px !important;
    margin: 10px 10px 0px 10px !important;
  }

  .skeletonBox .line~.line {
    background-color: #ddd;
  }

  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }

    40%,
    100% {
      background-position: 320px;
    }
  }

  @keyframes shine-avatar {
    0% {
      background-position: -32px;
    }

    40%,
    100% {
      background-position: 208px;
    }
  }

  /* Skeleton CSS End*/

  .order-footer-section {
    border-top: 1px solid #f0f0f0;

    .col {
      padding: 0 6px;
    }

    .order-amount {
      font-size: 15px;
      font-family: var(--mybold);
      padding: 11px 0 0 5px;
      display: block;
    }
  }


  .status-and-action {


    .item {
      margin: 0;
      padding: 0;
      background: transparent;

      .item-inner {
        border: 0;
      }

      // max-width: 50px;
    }

    .checkbox-md .checkbox-icon {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .checkbox-md .checkbox-checked .checkbox-inner {
      left: 6px;
      top: 2px;
    }

    .checkbox-md-dark .checkbox-checked {
      border-color: #2c435a;
      background-color: #2c435a;
    }

    .item.item-md .checkbox-md {
      margin: 0 13px 0 6px;
    }
  }

  .order-amount {
    font-size: 13px;
    font-family: var(--mybold);
    padding: 6px 0 0 0px;
    display: block;
    text-align: left;
  }

  .seller-section {
    padding: 0;

    ion-avatar {
      min-width: 30px !important;
      min-height: 30px !important;
      margin: 8px 9px 8px 0 !important;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .item-inner {
      p {
        font-size: 1.2rem;
      }

      h2 {
        margin: -2px 0 0;
        font-size: 1.3rem;
        font-weight: normal;
        font-family: var(--mybold);
      }

      .label {
        margin: 7px 0 4px 0;
      }
    }
  }

  .btn-collapse {
    float: right;
    background: transparent;
    padding: 11px 9px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    &.active {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      display: block;
    }
  }

  .collapse-container {
    height: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .collapse-container.open {
    height: 100%;
  }

  .btn-blue {
    background: #405eb5;
    height: auto !important;
    padding: 0.9rem 2rem !important;
    font-size: 1.4rem;
    text-transform: none;
    color: #fff;
    box-shadow: 0 0 3px #fff;
    margin: 6px 9px 0;

    &:hover {
      background: #405eb5 !important;
      color: #fff;
      opacity: 0.8;
    }
  }

  .header-action-bar {
    .col {
      padding-bottom: 0;
    }
  }

   .join-order-badge {
    position: absolute;
    top: 14px;
    right: 40px;

    label {
      display: inline-block;
      padding: 2px 6px;
      font-size: 12px;
      color: #fff;
      background: #405eb5;
      border-radius: 3px;
      font-weight: bold;
      font-family: var(--mybold);
    }
  }

/*New class started from here*/


/*End classses */


}
