page-explore {
	.scroll-content{
		top: 0;
	}
	.toolbar-md.header-search{
		padding:0 10px 10px !important;
		.input-md{
			background: #fff; border-radius: 5px;
		}
		.item-md{
			border-radius: 5px;
			.item-inner{
				border-bottom: 0 !important; box-shadow: none !important;
			}
		}
	}

	.header{
		ion-toolbar.categoryToolbar{
			background:  #fff;padding: 5px 0 !important;
			.segment{
				padding: 0;
				.item{
					padding: 0;height: 100%;
					.item-inner{
						padding: 0;
					}
					.label{
						margin: 0;
					}
					img{
						position: absolute;; top: 0; left: 0; width: 100%;height: 100%; object-fit: cover;
					}
					.heading{
						background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%, rgba(0,0,0,0.65) 100%);
						background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%);
						background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%);
						position: absolute; z-index: 1;  width: 100%; bottom: 0; left: 0; padding: 5px 10px 2px; color: #fff; font-family: var(--mybold);
						h5{
							text-transform: uppercase;font-family: var(--mysemibold);
						}
					}
				}
				.segment-activated{}
			}
		}
		&:after{
			content: none;
		}
		.segment-md .segment-button{
			border-bottom-width: 0; color: #000;padding: 0
		}
	}

	ion-segment {
		display: block;
		white-space: nowrap;
		font-size: 0;
		overflow: auto;

		&::-webkit-scrollbar {
		  width: 0;
		  height: 0;
		  display: none;
		}
		ion-segment-button.segment-button {
		  display: inline-block;
		  min-width: 120px;height: 55px !important;border-radius: 3px;width: auto;padding: 0;margin-left: 5px;
		}
		ion-segment-button.segment-button.segment_is_active{
			opacity: 1;
		}
		ion-segment-button.segment-button:last-child{
			margin-right: 5px;
		}
	}
	ion-toolbar {
		padding: 0px 4px !important;
		min-height: 50px !important;
	}

	.toolbar-ios ion-title {
		padding: 0 0px 1px;
	}

	.slide-zoom{
		overflow: auto; height: 100%;
	}


	.ion-grid-table{
		float: left;width: 100%;padding: 3px;padding-top: 0;
		.grid-row{
			width: 100%; float: left; margin: 14px 0 0
		}
		.grid-row + .grid-row{
			margin: 0 0 0
		}
		.grid-col{
			background-color: #f3f3f3;height: 100px; float: left;width: 32.3%;margin: 2px;padding: 0;position: relative;
			.item-inner{
				border-bottom: 0;padding: 0;
				img{
					width: 100%; height: 100%; object-fit: cover;margin: auto;
				}
			}
			.label{
				margin: 0;height: 100%;text-align: center;
			}
			.overlay-content{
				position: absolute;width: 100%;padding: 50px 5px 5px;
				bottom: 0; left: 0; color: #fff;
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 70%, rgba(0,0,0,0.65) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 70%,rgba(0,0,0,0.65) 100%);
				.left, .right{
					font-family: var(--mysemibold);font-size: 10px;
				}
				.left{
					float: left;
				}
				.right{
					float: right; 
				}
			}
		}
		.status{
			width: 15px;height: 15px; background-color: transparent;border-radius: 50%;
			position: absolute; top: 10px; right: 10px; z-index: 1;
		}
		.status.open{
			background-color: var(--green-color-2);box-shadow: 0 0 10px rgba(0,0,0,.5);
		}
		.status.closed{
			background-color: var(--red-color);box-shadow: 0 0 10px rgba(0,0,0,.5);
		}
		.grid-row:nth-child(odd){
			.grid-col:nth-child(1){
			    width: 65.7%;
			    background-color: #ccc;
			    height: 204px; float: left;
			}
		}
		.grid-row:nth-child(even){
			.grid-col:nth-child(2){
			    width: 65.7%;
			    background-color: #ccc;
			    height: 204px; float: right;position: relative;left: -2px;
			}
		}
		.grid-row:nth-child(odd) .grid-col:nth-child(1), .grid-row:nth-child(even) .grid-col:nth-child(2){
			.overlay-content{
				.left, .right{
					font-size: 15px; font-family: var(--myregular)
				}
			}
		}



	}
	@media(min-width: 540px) and (max-width: 650px){
		.grid-col{
			width: 32.5% !important; height: 150px !important;
		}
		.grid-row:nth-child(odd) .grid-col:nth-child(1),
		.grid-row:nth-child(even) .grid-col:nth-child(2){
		    width: 65.8% !important;
		    background-color: #ccc;
		    height: 304px !important; float: left;
		}
		.grid-row:nth-child(even) .grid-col:nth-child(2){
			position: relative;left: -2px; float: right;
		}
	}
	@media(max-width: 406px){
		.grid-col{
			width: 32% !important;
		}
		.grid-row:nth-child(odd) .grid-col:nth-child(1),
		.grid-row:nth-child(even) .grid-col:nth-child(2){
		    width: 65% !important;
		    background-color: #ccc;
		    height: 204px; float: left;
		}
	}

	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 19px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}
/* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 115px;
}
.skeletonBox .avatar {
  float: left;
  width: 33.33%;
  height: 90px;
  background-color: #ccc;
  border-radius: 5px; border:solid 3px #fff;
 /*  margin: 8px; */
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: 65px;
  height: 16px;
  margin-top: 10px; margin-right: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 230px;
}
.blankBox{
 width: calc(100% - 20px) !important; height: 40px !important; margin:10px 10px 0px 10px !important;
}
.full-line{
 width: calc(100% - 16px) !important; height: 16px !important; margin:10px 8px 0px 8px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/   

}

