<ion-header>
	  <ion-navbar>
	    <ion-title>{{ 'explore_product' | translate }}</ion-title>
	  </ion-navbar>
    <ion-toolbar class="header-search">
      <ion-item>
        <ion-label><ion-icon class="flaticon-search"></ion-icon></ion-label>
        <ion-input (click)="gotoSearch()"  placeholder="{{ 'search_by_name' | translate }}" clearInput></ion-input>
      </ion-item>
    </ion-toolbar>
	  <ion-toolbar mode="md" color="light" class="categoryToolbar">
      <ion-segment  #segments  mode="md" [(ngModel)]="page" color="light">
          <ion-segment-button value="i"  *ngFor='let item of categoryList; let i = index' [attr.data-index]='i' (click)="selectedTab(i,item.id)">
              <ion-item >
                <img src="{{item.image != '' ? prodCatImgPath+item.image : 'assets/images/283veg.jpg'}}"/>
                <div class="heading">
                  <h5>{{item.name}}</h5>
                </div>
              </ion-item>
          </ion-segment-button>
     </ion-segment>
    </ion-toolbar>
</ion-header>


<ion-content>

<!-- Skeletopn HTML start -->
 <div *ngIf="isFetchingData">
  <div class="skeletonBox">
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
    <div class="avatar"></div>
   
  </div>
  </div>
 <!-- Skeletopn HTML end -->

  <ion-slides #slider (ionSlideDidChange)="slideChanged()">

      <ion-slide *ngFor='let item of categoryList; let j = index' [attr.data-index]='j'>
          <ion-content>
      <!-- NO data -->
 
        <div class="no-product-found" *ngIf="totalCounts.length == 0">
        <h4>{{'order_not_available' | translate }}</h4>
        </div>

      <!-- NO data --> 
   
           <div class="ion-grid-table" *ngIf="totalCounts.length > 0">

            <ion-list class="grid-row"  *ngFor="let orderItem of totalCounts">

              <ion-item (click)="gotoJoinOrder(items.id,items.distance)" class="grid-col" *ngFor="let items of orderItem">
                <!--<span [ngClass]="(items.status == 2) ? 'status open' : 'status closed'" ></span>--> 
               <span class="status open"></span>
                <img  src="{{prodImgPath+items.cover_photo}}" />
                <div class="overlay-content">
                  <span class="left">{{ items.distance }} KM</span>
                  <span class="right">{{ items.time }} </span>
                </div>
              </ion-item>


            </ion-list>

            <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event,item.id)" *ngIf="loadmoreData" >
                      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'load_more' | translate}}"></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </div>

        </ion-content>
        </ion-slide>
    </ion-slides>


</ion-content>

<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
  <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <button  (click)="gotoHome()" fill="clear" type="button" class="ion-footer-btn" expand="full">
              <img src="assets/images/home.png"/>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div >
            <button fill="clear" type="button" class="ion-footer-btn active" expand="full">
              <ion-icon class="flaticon-search"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div  (click)="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
            <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="addproduct">
              <ion-icon class="flaticon-plus-button"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="gotoUserOrder()"   >
            <button fill="clear" type="button" class="ion-footer-btn" expand="full">
              <ion-icon class="flaticon-wedding-planning"></ion-icon>
            </button>
          </div>
        </ion-col>
        <ion-col>
          <div (click)="gotoAccount()" >
            <button fill="clear" type="button" class="ion-footer-btn" expand="full" href="myprofile">
              <ion-icon class="flaticon-user"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-footer>