page-sharepeoplelist {

.sharefriend-list{
    .col.leftcol-img{
        max-width: 60px;
        flex: 60px;
    }
    .col.middlecoltent{
        max-width: calc(75% - 60px);
        flex: calc(75% - 60px);   
    }
    .item{
        border-bottom: 1px solid #f2f2f2;background: #fff !important;
    }
}
 .list, ion-list{
        margin: 0; padding: 0;border-top: 1px solid #e4e4e4 !important;
        .item{
            padding: 0 10px; background: #f8f8f8;
        }
        .item-inner{
            padding: 0; border: 0 !important;
        }
        
        ion-avatar[item-start]{
            box-shadow: 0 0 0 1px rgba(0,0,0,.1);border: 2px solid #fff;border-radius: 50%;min-width: 50px;min-height: 50px;
            img{
                width: 50px;height: 50px;
            }
        }
        h2{
            font-size: 15px; font-family: var(--myregular); color: var(--ion-black);
        }
        p{
            font-size: 14px; font-family: var(--myregular); color: var(--heading-color);white-space: normal;
        }
        time{
            font-size: 12px; font-family: var(--myregular); color: var(--sub-heading-color)
        }
        &.ion-unread{
            border-top: 1px solid #f5f5f5 !important;
            .item{
                background: #fff;   
            }
            ion-avatar[item-start]{
                position: relative;
                &:before{
                    content: ""; position: absolute;top: 0;left: 0; width: 10px;height: 10px;background-color: #216dea;border-radius: 50%;
                }
            }
            h2{
                font-size: 15px; font-family: var(--mybold); color: var(--heading-color);
            }
            p{
                font-size: 13px; font-family: var(--myregular); color: var(--heading-color);white-space: normal;
            }
        }
    }
    .list+.list, ion-list+ion-list{
        border-top: 1px solid #e4e4e4; 
    }
/*    .list:last-child{
        border-bottom: 1px solid #e4e4e4;
        &.ion-unread{
            border-bottom: 1px solid #f5f5f5 !important;
        }   
    }*/

    .no-product-found{
        padding: 45px 0;
        img{
            margin: 10px auto; display: block;
        }
        h4{
            color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
            margin: 0; padding: 0; text-align: center;
        }
    }
    
    .item-md{border-bottom: 1px solid #ddd;}
    .item-md.item-block .item-inner{padding-right: 0;}
    .label-md { margin: 8px 0px 8px 0;}
    
    .list-img{
        width: 40px; height: 40px; overflow: hidden; border-radius:50%;
        img{
            width: 100%; hieght:100%; object-fit: cover;
        }
    }
    .status{
        padding: 3px 10px 3px; border-radius: 15px; display: block; font-size: 1.2rem; text-align: center; margin-top: 0;font-family: var(--mysemibold);
    }
    .status + .status{margin-top: 3px;}
   .reject{
        background: #d52e2e; color: #fff;
    }
    .pending{
        background: #fdcf1c; color: #fff;
    }
    .accept{
        background: #2eb074; color: #fff;
    }
    .btn-join{}
   /* .toolbar-md.header-search{
        padding:0 10px 10px !important;
        .input-md{
            background: #fff; border-radius: 5px;
        }
        .item-md{
            border-radius: 5px;
            .item-inner{
                border-bottom: 0 !important; box-shadow: none !important;
            }
        }
    }
    .content-md{
        background-color: #f7f7f7;
    }
    .card{
        box-shadow: 0 0 8px rgba(0,0,0,.1); border-radius: 0;padding: 5px; position: relative;
        .img-thumb{
            width: 100%; height: 100%; object-fit: cover;border-radius: 5px;
        }
        .order-item{
            padding: 0;
            .label{
                margin: 0;
            }
            h2{
                font-size: 18px; font-family: var(--mybold); color: var(--heading-color);margin: 0; padding: 0;
            }
            p{
                font-size: 13px; font-family: var(--myregular); color: #666;margin: 5px 0 0;padding: 0;white-space: normal;
                span{
                    color: var(--heading-color);font-family: var(--mysemibold);
                }
            }
            ion-col{
                padding: 0;
            }
        }
        .text-right{
            text-align: right;
        }
        .order-status{
            font-size: 14px;padding-top: 7px;
            .icon{ font-size: 13px; margin-right: 5px;}
        }
        .order-status.free{
            color: #409e20;
        }
        .order-status.paid{
            color: #9e6720;
        }
        .order-price{
            font-family: var(--mybold); color: var(--heading-color);padding-top: 7px;font-size: 17px;
        }
        .toolbar{
            background-color: transparent; padding: 5px 5px 0; margin: 5px 0 0; border-top: 1px solid #f5f5f5;
            .toolbar-background-md{
                background: #fff;
            }
            .col{
                padding: 0
            }
            .item{
                padding: 0;background: transparent;;
                ion-avatar[item-start]{
                    margin: 4px 4px 4px 0;
                    img{
                        width: 35px; height: 35px;
                    }
                }
                .label-md{
                    margin: 0;
                }
                p{
                    font-size: 13px;margin: 0;
                }
                h2{
                    font-family: var(--mysemibold);font-size: 15px;margin: 0;
                }
            }
        }
        .btn-default{
            padding: 9px 15px 10px;margin: 7px 0 0;border-radius: 3px;
            &:hover{background: #ededed;color: #252525;}
            &:focus{background: var(--button-dark-grey); color: var(--white-color);}
        }
        .withDeliveryCost{ font-size: 14px; color: var(--sub-heading-color); text-align: right;padding-top: 2px;}
    }

    .no-product-found{
        padding: 45px 0;
        img{
            margin: 10px auto; display: block;
        }
        h4{
            color: #434343; font-size: 20px; font-family: var(--myregular); font-weight: normal; 
            margin: 0; padding: 0; text-align: center;
        }
    }

    .distance{color: #000; font-size: 16px; display: inline-block; padding: 10px; }
    .distance ion-icon:before{
        font-size: 15px; position: relative;top: 0;font-weight: bold;
    } */
    .right-content{
        max-width: calc(100% - 60px);
        flex:  calc(100% - 60px);padding-top: 0; padding-bottom: 0;
    }
    .friends-order-item{
         border-top: 0 solid #f5f5f5 !important;
        .item-row{
            border-bottom: 0;padding: 5px 5px 5px 65px;margin: 0;position: relative;border-radius: 3px;background: #f9f9f9 !important; 
            .foi-image{
                width: 50px;height: 36px; overflow: hidden; position: absolute;left: 6px;top: 5px;background: #ccc; border-radius: 3px;
                img{
                    width: 100%; height: 100%; object-fit: cover;
                }
            }
            h2{font-size: 13px;font-family: var(--mysemibold);margin: 0 0 2px}
            p{
                font-size: 12px;font-family: var(--myregular);padding: 3px 0 0;margin: 0;
                small{}
                span{

                }
                  .through{text-decoration: line-through; float: right; color: #c33e3e; font-weight: bold; font-size: 14px; display: inline-block; float: right;}   
            }
            .order-icon-left{
                position: absolute; left: -49px; top: 12px;font-size: 16px;color: #dab1b1;
            }
        }
        .item-row + .item-row{
            margin-top: 5px;
        }
    }

 .gotdiscount{
    font-size: 12px; display: inline-block; color: #4a945a; margin-top:2px;
 }

    .seller-info {
        background: #fff;border-top: 1px solid rgba(0,0,0,.08);
        [col-12] {
            padding: 0 5px;
        }
        p {
            color: #a7a7a7;
            font-size: 13px;
        }
        .grid{
            padding: 8px 5px;
        }
    }



}
