<ion-header class="header">
    <ion-toolbar class="header-toolbar">
        <ion-navbar align-title="center">
            <ion-title>{{ 'share_frd_list' | translate }}</ion-title>
        </ion-navbar>
    </ion-toolbar>
</ion-header>


<ion-content>

    <!-- Ionic refresh -->
       <ion-refresher slot="fixed" (ionRefresh)="doShareUserRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="{{ 'pull_to_refresh' | translate }}"
          refreshingSpinner="circles"
          refreshingText="{{ 'refreshing' | translate }}">
        </ion-refresher-content>
      </ion-refresher>
    <!-- End --> 
    
      <div class="sharefriend-container" *ngIf="isData">
        <ion-list >
            <div class="sharefriend-list">

           <ion-item *ngFor='let item of shareList; let i = index' [attr.data-index]='i'>
            <ion-row>
                <ion-col col-2 class="leftcol-img">
                    <div class="list-img" (click) = "gotoSellerProfile(item.user_id)">
                       <img  *ngIf ="item.profile_pic ==''" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="item.profile_pic !=''" src='{{userImgPath+item.profile_pic}}'/>
                    </div>
                </ion-col>
                <ion-col col-7 class="middlecoltent">
                    <div class="order-item">
                        <h2>{{item.name}} </h2>
                        <p> <time> {{item.created}} </time> </p> 
                       <!-- <p> <button ion-button class="btn-primary btn-round btn-join" small>View</button> </p>-->                            
                    </div>
                </ion-col>
                <ion-col col-3 text-right>
                    <span class="status pending" *ngIf="item.status == 0">{{ 'pending' | translate }}</span>
                    <span class="status accept" *ngIf="item.status == 1">{{ 'joined' | translate }}</span>
                    <span class="status reject" *ngIf="item.status == 2">{{ 'rejected' | translate }}</span>
                </ion-col>
            </ion-row>
        </ion-item>
            
            </div>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
       </ion-infinite-scroll>

    </div>


    
</ion-content>

