<ion-content>
  <ion-list>
    <button ion-item (click)="editOrder()"> <ion-icon name="md-create"></ion-icon> {{ 'edit' | translate }}</button>
    <button ion-item (click)="deleteOrder()"> <ion-icon name="md-trash"></ion-icon> {{ 'delete' | translate }}</button>
    <button ion-item (click)="close()"> <ion-icon name="md-close-circle"></ion-icon> {{ 'cancel' | translate }}</button>
  </ion-list>
</ion-content>
