page-action-popover {
     
    .list-md{
        margin: 0; 
        .item-block {
            .item-inner{
                border-bottom:0;
                color: #a6a6a6;
                ion-icon{
                    margin: 0 5px 0 0;
                }
            }
        }
    }

}

.popover-md .popover-content{
    border-radius: 10px; width: 150px; margin-right:20px;
    .label-md{
      margin: 8px 8px 9px 0;  
    }
}


