<ion-content padding>
	<div class="">
	<div class="modal-title">
		<h4 style="">{{'delivery_time' | translate}}</h4>
	</div>
	<div class="modal-container">
		<ion-item>
		  <ion-label>{{ 'time' | translate }}</ion-label>
		  <ion-datetime  doneText='{{"done_txt" | translate }}' cancelText='{{"cancel" | translate }}' [(ngModel)]="OrderObj.schedule_datetime" pickerFormat="HH:mm"displayFormat="HH:mm" minuteValues="00,5,10,15,20,25,30,35,40,45,50,55" ></ion-datetime>
		</ion-item>
	</div>
	<div class="modal-btn-group">
		<button class="alert-button" ion-button (click)="cancel()">{{ 'cancel' | translate }}</button>
		<button class="alert-button" ion-button (click)="submit()">{{ 'save' | translate }}</button>
	</div>
</div>

</ion-content>