<ion-header class="header">
	<ion-toolbar class="header-toolbar">
		<ion-navbar align-title="center">
		   <ion-title>{{ 'login_txt_1' | translate }}</ion-title>
		</ion-navbar>
	</ion-toolbar>
</ion-header>

<ion-content no-padding>
	<super-tabs height="100%" class="super-tab-container">
		<super-tab [root]="JoinOrderUpcomingPage" title="{{ 'upcoming' | translate }}"></super-tab>
		<super-tab [root]="JoinOrderPastPage" title="{{ 'past_orders' | translate }}"></super-tab>
	</super-tabs>
</ion-content>

<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
	<ion-grid>
			<ion-row>
				<ion-col>
					<div>
						<button  (click) ="gotoHome()" ion-button class="ion-footer-btn">
						  <img src="assets/images/home.png"/>
						</button>
					</div>
				</ion-col>
				<ion-col>
						<div  (click)="gotMyOrder()">
						 <button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
					</div>
				</ion-col>
				<ion-col>
					<div  (click) ="gotoCoverPhoto()" color="primary" class="ion-footer-add-btn">
						<button ion-button class="ion-footer-btn">
						  <ion-icon class="flaticon-plus-button"></ion-icon>
						</button>
					</div>
				</ion-col>
				<ion-col>
					<div (click)="gotoUserOrder()">
					<button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
					</div>
				</ion-col>
				<ion-col>
					<div>
						<button (click)="gotoAccount()" ion-button class="ion-footer-btn">
						  <ion-icon class="flaticon-user"></ion-icon>
						</button>
					</div>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-footer>


