page-sellerproducts {

	@mixin borderRadius($property) {
	  -webkit-border-radius: $property;
	  -moz-border-radius: $property;
	  border-radius: $property;
	}

	.content-md{
		.sc-ion-card-md-h{
			margin: 0;padding: 0;
			border-radius: 0;
			-webkit-box-shadow: 0 1px 0px 0px rgba(0,0,0,.1);
			box-shadow: 0 1px 0px 0px rgba(0,0,0,.1);
		}
	}
	.scroll-content{
		padding: 0 !important
	}


	/**************************
	  For Product Listing */
	.card-md{
		box-shadow: none; padding: 0;margin: 0;width:100%;border-bottom: 1px solid rgba(0,0,0,.08);
		ion-card-header{
			padding: 5px;
		}
		ion-col{
			padding: 0
		}
		.card-user-img{
			width: 40px;height: 40px;overflow: hidden; @include borderRadius(50%);
		}
		ion-img{
			contain: none
		}
		

		.card-user-img > img{
			object-fit: cover
		}
		.card-user-name{
			font-size: 16px; color: #292929; font-family: var(--mysemibold);padding-left: 10px;padding-bottom: 3px;
		}
		.card-user-location{
			color: #979a9f; font-size: 13px;padding-left: 9px;font-family: var(--myregular);
		}
		.card-user-location .flaticon-pin:before{
			font-size: 12px;
		}
		ion-row{
			position: relative;
		}
		ion-col.card-left-info{
			width: 45px !important;
			max-width: 45px !important;
		}
		.card-right-button{ 
			position: absolute; top:0; right:0; z-index: 1;width:24px;text-align: left;padding: 0;
		}
		.card-right-button > button > ion-icon{
			font-size: 25px;
		}
		.card-right-button > button{		
		    color: #8d8d8d;
		}
		.card-right-button > button:hover,
		.card-right-button > button:focus,
		.card-right-button > button:active,
		.card-right-button > button.focused,
		ion-card .card-right-button > button.activated{
			color: #292929;
		}
	}
	.card img{
		/*height: 250px;*/
	}
	.product-image{
		width: 100%; height: 300px; overflow: hidden;
		img{
			object-fit: cover; width: 100%; height: 100%;
		}
	}
	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 18px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}


	.product-item-content{
		padding: 0;
		position: relative; 
		.item-heading-subheading{
			font-family: var(--mybold);
			color: #292929;
			font-size: 18px;
			padding: 6px 15px 0 12px;
			position: relative;
		}
		.item-heading-subheading span{
			color: #a1a1a1;
			font-family:  var(--myregular);
			font-size: 14px;
			padding-top: 5px; position: relative;
			right: 0; top: 0;
			display: block;
		}
		.item-heading-subheading span ion-icon:before{
			font-size: 14px; position: relative;top: 0;
		}
		.item-actbuttons{
			padding: 0;min-height: 50px;margin-bottom: 10px;
		}
		.item-actbuttons .toolbar-background{
			background: #fff;contain: none;
		}
		.item-actbuttons .item-btn{
			font-size: 20px; color: #8d8d8d; box-shadow: none;background: transparent;padding: 0 12px;margin-bottom: 0;margin-top: 0;
			ion-icon:before{
				font-size: 20px;
			}
		}
		.item-actbuttons .item-btn.active{
			color: #d12b2b;
			ion-icon.flaticon-heart-2:before{
				content: "\f162";
			}
		}
		.item-actbuttons .item-btn.btn-add-to-cart{
			color: #292929;
			ion-icon:before{
				font-size: 24px;
				font-weight: bold
			}
		}
		.item-actbuttons .item-btn.item-price{
			color: var(--ion-black); font-size: 15px; padding: 2px 5px; @include borderRadius(25px);margin-left:5px; font-family: var(--mysemibold);border:1px solid transparent;
			.icon{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				padding: 1px 0 3px;
				background: var(--ion-color-primary); color: var(--ion-black); 
				margin-right: 7px;
				&:before{
					font-size: 13px;
    				font-weight: bold;
				}
			}
			.toolbar-title{
				font-family: var(--mysemibold);padding: 0;
			}
		}
		.item-actbuttons .item-text-btn{
			font-size: 15px; color: #979a9f; text-transform: none;letter-spacing: normal;
			font-family:var(--mysemibold); background: transparent;box-shadow: none;padding: 0 8px;
			&:focus{
				color: var(--ion-black);
			}
			.button-inner{
				font-family: var(--mysemibold);
			}
		}
		.item-actbuttons.item-text-actbutton{
			padding-top: 0;padding-top: 0;margin-top: 0;color: #d0d0d0;min-height: 40px;
			.action-btn{
				font-size:19px; font-weight: bold; color: var(--ion-black); background: transparent; box-shadow: none;color: var(--heading-color);padding: 0 20px;
			}
		}
	}
	.vline{
		position: relative;top: 2px;font-family: var(--mylight);
	}
	.item-field-text{
		ion-label{
			font-size: 12px;
		}
		.item-text{
			font-size: 14px; color: var(--heading-color);
		}
	}
  
  .publish-tag{
	position: absolute;
    top: -25px;
    left: 0;
    background: #1eb528;
    color: #fff;
    padding: 2px 15px 0;
	}
	.publish-tag:before {
	    content: '';
	    position: absolute;
	    top: -1px;
	    right: -22px;
	    border-width: .86em;
	    border-style: solid;
	    border-color: transparent transparent #1eb528 #1eb528;
	}
	.sharePromoCode{
		font-size: 13px;padding: 0 15px;
		a{
			text-decoration: none;
		}
		.code{
			font-size: 12px;font-weight:bold;background: #fff4dc;padding: 1px 8px;display: inline-block;margin-right: 8px;color: #92681c;border: 1px dashed #fbc36f;
		}
	}


/* Skeleton CSS */
.skeletonBox {
  width: 100%;
  height: 175px;
}
.skeletonBox .avatar {
  float: left;
  width: 55px;
  height: 55px;
  background-color: #ccc;
  border-radius: 100px;
  margin: 8px;
  background-image: linear-gradient(90deg,  #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 600px;
  animation: shine-avatar 1.3s infinite linear;
}
.skeletonBox .line {
  float: left;
  width: calc(100% - 20px);
  height: 16px;
  margin: 10px 10px 0;
  border-radius: 8px;
  background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
  background-size: 900px;
  animation: shine-lines 1.3s infinite linear;
}
.skeletonBox .avatar + .line {
  margin-top: 11px;
  width: 260px;
}
.blankBox{
	width: calc(100% - 20px) !important; height: 90px !important; margin:10px 10px 0px 10px !important;
}
.skeletonBox .line ~ .line {
  background-color: #ddd;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 320px;
  }
}
@keyframes shine-avatar {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}
/* Skeleton CSS End*/


			
}
