<ion-header class="header">
	<ion-toolbar class="header-toolbar">
		  <ion-navbar>
		    <ion-title>{{ 'my_product' | translate }}</ion-title>
		  </ion-navbar>
		</ion-toolbar>
	</ion-header>
<ion-content>

<ion-content>

  <!-- Skeletopn HTML start --> 
  <div *ngIf="isFetchingData"> 
  <div class="skeletonBox">
    <div class="line blankBox"></div>
    <div class="line"></div>
    <div class="line" style="width:30% !important"></div>
    <div class="line" style="width:50% !important"></div>
  </div>
  <div class="skeletonBox" >
    <div class="line blankBox"></div>
    <div class="line"></div>
    <div class="line" style="width:30% !important"></div>
    <div class="line" style="width:50% !important"></div>
  </div>
  </div>
 <!-- Skeletopn HTML end -->

   <!-- Ionic refresh -->
   <ion-refresher slot="fixed" (ionRefresh)="doSellerListRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="{{ 'pull_to_refresh' | translate }}"
      refreshingSpinner="circles"
      refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  
	<!-- End --> 

	<!-- NO data -->
 
    <div class="no-product-found" *ngIf="!isData">
		<h4>{{ 'prod_not_added' | translate }}</h4>
	</div>

    <!-- NO data --> 

	<div class="item-product-container" *ngIf="isData">

	  	<ion-card  *ngFor='let product of ProductListing; let i = index' [attr.data-index]='i'>
			<div class="product-image">
				<img src="{{imagePath}}{{product.cover_photo}}" />
			</div>
			<ion-card-content class="product-item-content">
				<div class="publish-tag" *ngIf="product.status== 1">{{ 'publish' | translate }}</div>
				<ion-card-title class="item-heading-subheading">
					{{product.name}} <span class="date-time">{{product.created}} </span>
				</ion-card-title>
				<ion-toolbar class="item-actbuttons">
					<button ion-button class="item-btn item-price" ion-end >
						<ion-title>
							&euro; {{product.price}}
						</ion-title>
					</button>
					<div class="fr">
						 <button ion-button class="item-btn" (click)="gotoEdit(product.id)">
						  <ion-icon class="flaticon-edit-1"></ion-icon>
						</button>
						<button ion-button class="item-btn" (click)="delProduct(product.id,i)"> 
						  <ion-icon class="flaticon-garbage"></ion-icon>
						</button>
					</div>
					<div class="sharePromoCode" *ngIf="product.isPromoCode== 1" >
							<span class="code">{{product.promoCode}}</span>
							 <button class="btn-link"  [disabled]="product.isenabled" (click)="gotoSocialShare(i,product.promoCode,product.promoDiscount,product.cover_photo)">
                            <ion-icon class="flaticon-share-1"></ion-icon>
                            {{'share_promo_code' | translate}} 
                        </button>
					</div>
				</ion-toolbar>
				
			</ion-card-content>
		</ion-card>

		<ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
       </ion-infinite-scroll>

	</div>

	<!--\\  Card End  \\-->

</ion-content>


<!--\\  Footer Section  \\-->
<ion-footer no-border class="ion-footer">
	<ion-grid>
			<ion-row>
				<ion-col>
					<div  (click) ="gotoHome()">
						<button   fill="clear" type="button" class="ion-footer-btn" expand="full">
						<img src="assets/images/home.png"/>
						</button>
					</div>
				</ion-col>
				<ion-col>
					<div  (click)="gotMyOrder()">
						<button fill="clear" type="button" class="ion-footer-btn down-up-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="myorderCount > 0">{{myorderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
					</div>
				</ion-col>
				<ion-col>
					<div (click) ="gotoCoverPhoto()"   color="primary" class="ion-footer-add-btn">
						<button fill="clear" type="button" class="ion-footer-btn" expand="full">
						  <ion-icon class="flaticon-plus-button"></ion-icon>
						</button>
					</div>
				</ion-col>
				<ion-col>
					<div (click)="gotoUserOrder()">
						   <button fill="clear" type="button" class="ion-footer-btn down-arrow-icon" expand="full">
            <ion-badge class="btn-danger" *ngIf="receiveOrderCount > 0">{{receiveOrderCount}}</ion-badge>
            <ion-icon class="flaticon-left"></ion-icon>
          </button>
					</div>
				</ion-col>
				<ion-col>
					<div (click) ="gotoAccount()"  >
						<button fill="clear" type="button" class="ion-footer-btn" expand="full">
						  <ion-icon class="flaticon-user"></ion-icon>
						</button>
					</div>
				</ion-col>
			</ion-row>
	</ion-grid>
</ion-footer>
