page-acceptnewtime {
    ul {
        padding: 0px;
        &.rating li {
            padding: 5px 10px !important;
            background: none;
            color: #ffb400;
            ion-icon {
                font-size: 28px;
            }
        }
    }
    .modal-title{
    	color: var(--heading-color);font-size: 16px;text-align: center;
    	h4{
    		padding: 10px 0
    	}

    }
    .modal-container{
    	padding: 0 0 15px;
    	.datetime-text{
    		color: #000;font-size: 16px;font-family: var(--mysemibold);
    	}
    }
    .modal-btn-group{
    	text-align: center; margin-bottom: 0
    }
}
ion-modal.acceptnewtime-popup ion-backdrop {
    visibility: visible !important;
    z-index: 0 !important;
}
ion-modal.acceptnewtime-popup {

    .alert-button {
        margin-top: 0px;
        border-radius: 25px;
        font-size: 14px;
        background: var(--ion-color-primary);
        /* background-color: ;*/
        background-color: var(--ion-color-primary);
        color: var(--ion-black);
        padding: 7px 25px;
        min-width: 100px;
        color: #000;
        box-shadow: none;
        font-weight: 600;
    }
    .button-md:hover:not(.disable-hover) {
        background-color: var(--ion-color-primary);
    }
    ul.rating li ion-icon {
        font-size: 23px;
    }
    ul.rating li {
        padding: 5px 5px !important;
    }
}
ion-modal.acceptnewtime-popup .modal-wrapper {
    width: 100%;
    /*height:300px;*/
    left: 50%;
    top: 50%;
    position: absolute;
    height: 32%;
    min-height: 32%;
    transform: translate(-50%, -50%) !important;
    border-radius: 4px !important;
    max-width: 280px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.4);
}