<ion-header class="header">
    <ion-toolbar class="header-toolbar">
      <ion-navbar>
        <ion-title>{{ 'view_product' | translate }}</ion-title>
        <ion-buttons end (click)="gotoCart()">  
            <button class="right cart-badge-btn" ion-button icon-only>
                <ion-icon class="flaticon-online-shopping-cart"></ion-icon>
                <ion-badge *ngIf="cartCount > 0" class="badge badge-assertive cart-badge">{{cartCount}}</ion-badge>
            </button>
        </ion-buttons>
      </ion-navbar>
        
    </ion-toolbar>
</ion-header>

<ion-content>

<!-- Skeletopn HTML start -->
  <div class="skeletonBox" *ngIf="isFetchingData">
    <div class="line blankBox"></div>
    <div class="avatar"></div>
    <div class="line"></div>
    <div class="line" style="width:33%"></div>
    <div class="line"></div>
  </div>
 <!-- Skeletopn HTML end -->

  <div *ngIf="!isFetchingData">
  <div class="detail-slide"  *ngIf="prodImgList.prodImages?.length > 0">
    <ion-slides pager="true" (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor='let imgItems of prodImgList.prodImages' >
    <!--<lazy-img src="{{prodImgPath+imgItems.name}}"></lazy-img> -->
    <img src="{{prodImgPath+imgItems.name}}"/>
    </ion-slide>    
    </ion-slides>
    </div>

    <ion-card *ngIf="prodImgList.prodImages?.length > 0">
        <ion-card-header class="detail-item-header">
            <div class="item-detail-heading">
                <span>{{productDetails.name}}</span>
                <span class="item-rating">
                    <ion-icon class="flaticon-star"></ion-icon> {{productDetails.average_rating}}
                </span>
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="detail-user-profile">
                 <ion-row>
                    <ion-col size="2" class="card-left-info" (click)="gotoSellerProfile(productDetails.user_id)">
                        <div class="card-user-img">
                         <img src="{{productDetails.user_photo}}"/>
                        </div>

                    </ion-col>

                    <ion-col size="8" class="card-right-info">
                        <div class="card-user-name"> {{productDetails.user_name}}</div>
                        <div class="card-user-location">
                            <ion-icon class="flaticon-star"></ion-icon> {{productDetails.userRatings}}
                        </div>
                    </ion-col>
                    <ion-col class="right-section">                        
                        <span class="user-distance">
                            <ion-icon class="flaticon-navigation"></ion-icon> {{productDetails.distance}} KM
                        </span>
                    </ion-col>

                      
                </ion-row>

                <ion-row class="location-section">
                    <ion-col class="left-icon">
                        <i class="flaticon-pin"></i>
                    </ion-col>
                    <ion-col class="right-address">
                        {{productDetails.address}}
                    </ion-col>
                </ion-row>
                
            </div>

            <ion-grid class="item-price-cost-link">
                <ion-row>
                    <ion-col col-6>
                        <div class="product-price">&euro; {{productDetails.amount}}</div>
                        <div class="product-delivery-charges">{{ 'delivery_cost' | translate }}: &euro; {{userPolicies.std_delivery_cost}}</div>
                    </ion-col>
                    <ion-col class="right-section" col-6>
                        <button class="btn-link" (click) ="gotoDelPolicies(userPolicies)">
                            <ion-icon class="flaticon-information"></ion-icon>
                           {{ 'delivery_polices' | translate }}
                        </button>
                        <button [disabled]="isenabled"  class="btn-link" (click)="gotoSocialShare(productDetails.name,productDetails.cover_photo)">
                            <ion-icon class="flaticon-share-1"></ion-icon>
                            {{ 'share_product' | translate }}
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="product-description">
                <p style="white-space: pre-line;" [innerHTML] = 'productDetails.description'></p>
            </div>
        </ion-card-content>
    </ion-card>
 
    <ion-toolbar class="cls-action">
        <ion-row>
            <ion-col>
                <div class="lcr-btn" (click)="(isDisabled == true) ? $event.stopPropagation() : gotoLikes(productDetails.id,productDetails.isLikeUser); " ion-start [ngClass]="(productDetails.isLikeUser == true) ? 'active' : ''">
                    <ion-label class="caption">{{ 'likes' | translate }}</ion-label>
                    <i class="flaticon-heart-2 icon"></i> 
                    <div class="count">{{(productDetails.likeCount == '') ? '0' : productDetails.likeCount}} </div>
                </div>
            </ion-col>
            <ion-col>
                <div class="lcr-btn" (click)="gotoComments(productDetails.id)" ion-start>
                    <ion-label class="caption">{{ 'comments' | translate }}</ion-label>
                    <i class="flaticon-comment icon"></i> 
                    <div class="count">{{(productDetails.commentCount == '') ? '0' : productDetails.commentCount}}</div>
                </div>
            </ion-col>
            <ion-col>
                <div  class="lcr-btn"  ion-start (click)="gotoRatings(productDetails.isProductRate,productDetails.id,productDetails.average_rating,productDetails.isUserBoughtProd)" [ngClass]="(productDetails.isProductRate > 0 ) ? 'activeRate' : ''">
                    <ion-label class="caption">{{ 'rate_the_product' | translate }}</ion-label>
                    <i class="flaticon-star-1 icon"></i> 
                    <div class="count">{{productDetails.isProductRate}}/5</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
    <ion-toolbar class="user-comments-header">
        <span class="title">{{ 'user_comments' | translate }}</span>
        <div class="fr btn-link button" (click)="gotoComments(productDetails.id)">{{ 'view_all_comment' | translate }}({{productDetails.commentCount}})</div>
    </ion-toolbar>   



    <div class="commnets-listing" *ngIf="commentList.commentList?.length > 0">
        <ion-grid>

            <ion-row  *ngFor='let commentItem of commentList.commentList; let i = index' [attr.data-index]='i'>

                <ion-col size="2" class="card-left-info">
                    <div class="card-user-img" (click)="gotoSellerProfile(commentItem.user_id)">
                        <img  *ngIf ="commentItem.profile_pic ==null" src='assets/images/user-profile-default-thumb.jpg'/>
                        <img *ngIf ="commentItem.profile_pic !=null" src='{{userImgPath+commentItem.profile_pic}}'/>
                    </div>
                </ion-col>
                <ion-col size="10" class="card-right-info">
                    <div class="card-user-name">{{commentItem.name}}</div>
                    <div class="card-user-location">
                         {{commentItem.comment}}                     
                    </div>
                    <div class="card-date-time">{{commentItem.created}}</div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    </div>
</ion-content>

<div class="footer-btn" *ngIf="!productDetails.isProductCart" (click) ="addToCart(productDetails.id)">
    <button class="btn-primary btn-block" ion-button>{{ 'add_cart' | translate }} </button>
</div>

<div class="footer-btn" *ngIf="productDetails.isProductCart" (click) ="gotoCart()">
    <button class="btn-primary btn-block" ion-button>{{ 'go_to_cart' | translate }} </button>
</div>