page-mycart {
  ion-content {
    background: #f7f7f7;
    background-color: #f7f7f7 !important;
  }

  .seller-section {
    background: #fffbfb;
    padding: 10px 15px;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;

    ion-col {
      padding: 0;
    }

    .total-order-amount {
      font-size: 14px;
      font-family: var(--mybold);
    }

    .link-item {
      margin-top: 11px;
    }
  }

  .total-amt-btn {
    padding: 7px 4px 0;
    border-top: 1px solid #f7f7f7;

    .col {
      padding-top: 0;
    }

    .col+.col {
      text-align: right;
    }

    .total-order-amount {
      font-size: 15px;
      font-family: var(--mysemibold);
      padding: 6px;
    }
  }

  ion-card {
    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  .seller-profile {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: -3px;
    top: 4px;
    box-shadow: 0 0 0px 3px rgb(228, 228, 228);
  }

  .seller-section-content {
    padding-left: 10px !important;
  }

  .card-md {
    margin: 10px;
    padding: 0;
    border-bottom: solid 0 #e4e4e4;
    width: auto;
    background: #fff;
    box-shadow: 0 0 9px rgba(0, 0, 0, .1);
    border-radius: 0;

    ion-img {
      border-radius: 5px;
      overflow: hidden;
      object-fit: cover;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }
    }

    .grid {
      padding: 0;

      .col.left-img {
        flex: 0 0 80px;
        max-width: 80px;
      }

      .col.right-content {
        flex: 0 0 calc(100% - 80px);
        max-width: calc(100% - 80px);
        padding-top: 3px;
        padding-bottom: 0;
      }

    }

    .card-content-md {
      padding: 10px;
    }

    .card-content-md+.card-content-md {
      border-top: 1px solid #f3f3f3;
    }

    .card-title-md {
      padding: 0;
    }

    h3 {
      color: #7d5907;
      font-size: 15px;
      font-family: var(--mybold);

      span {
        color: #696969;
        font-size: 13px;
        display: block;
      }
    }

    h2 {
      color: var(--heading-color);
      font-size: 15px;
      font-family: var(--mysemibold);
      margin: 5px 0 5px;
      line-height: 12px;
    }

    ion-card-title {
      color: var(--ion-dark-heading);
      font-size: 15px;
      font-family: var(--mybold);
      margin: 0;

      .btn-right {
        position: absolute;
        top: -12px;
        right: -7px;
        font-size: 14px;
        color: #848484;
        background: transparent;
        box-shadow: none;

        &:focus,
        &:hover,
        &:active,
        &.activated {
          background: transparent;
          box-shadow: none;
          color: #000;
        }
      }
    }


    .inner-row {
      .col {
        padding: 0;
        height: 20px;
      }

      .select-md {
        font-size: 14px;
        display: -webkit-inline-box;
        height: 25px;
        width: auto;
        max-width: none;
        margin: 0;
        padding: 0;
        overflow: visible;
        border-bottom: solid 1px #000;
        text-align: left;
      }

    }

    .cart-action {
      padding: 0;

      .col {
        padding: 0;
      }

      .link-item {
        padding-top: 8px;
      }
    }

    .button-md {
      padding: 0 .7em;
    }

    .link-item {
      color: var(--ion-caption);
      font-size: 14px;

      ion-icon {
        font-size: 12px;
      }
    }

    .btn-primary,
    .btn-dark {
      height: 2.9rem;
    }

    .btn-dark {

      &:focus,
      &:hover,
      &:active,
      &.activated {
        background: #222;
        box-shadow: none;
      }
    }

    .btn-primary {
      .icon {
        margin-right: 6px;
      }

      &:focus,
      &:hover,
      &:active,
      &.activated {
        background: #e9bb05;
        color: var(--ion-black);
      }
    }

    .through {
      text-decoration: line-through;
      float: right;
      color: #c33e3e;
      font-weight: bold
    }

    .discountAmount {
      font-size: 12px;
      position: relative;
      display: inline-block;
      top: -2px;
    }

    .btn-link {
      font-size: 13px;
      padding: 6px 0;
      margin-top: 6px;
      height: auto;

      .icon {
        font-size: 12px;
        margin-right: 5px;
        margin-top: 2px;
      }

      &:hover,
      &:active,
      &.activated {
        background: transparent;
        color: var(--link-color);
      }

      &:focus,
      &:active,
      &.activated {
        background: var(--link-color);
        color: var(--white-color);
      }
    }

    .getdiscount {
      padding: 1px 5px;
      text-align: center;
      width: 100%;
      font-size: 12px;
      font-weight: bold;
      display: inline-block;
      border: 1px dashed transparent;
    }

    .getdiscount.offer {
      background: #fff5e0;
      color: #92681c;
      border-color: #fbc36f;
    }

    .getdiscount.used {
      background: #edfbf0;
      color: #4a945a;
      border-color: #a4e6bb;
    }

  }

  .no-product-found {
    padding: 45px 0;

    img {
      margin: 10px auto;
      display: block;
    }

    h4 {
      color: #434343;
      font-size: 19px;
      font-family: var(--myregular);
      font-weight: normal;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }

  /* Skeleton CSS */
  .skeletonBox {
    width: 100%;
    height: 92px;
  }

  .skeletonBox .avatar {
    float: left;
    width: 55px;
    height: 55px;
    background-color: #ccc;
    border-radius: 100px;
    margin: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 600px;
    animation: shine-avatar 1.3s infinite linear;
  }

  .skeletonBox .line {
    float: left;
    width: 65px;
    height: 16px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 8px;
    background-image: linear-gradient(90deg, #e7e7e7 0px, #f0f0f0 40px, #e7e7e7 80px);
    background-size: 900px;
    animation: shine-lines 1.3s infinite linear;
  }

  .skeletonBox .avatar+.line {
    margin-top: 11px;
    width: 260px;
  }

  .blankBox {
    width: calc(100% - 20px) !important;
    height: 90px !important;
    margin: 2px 10px 20px 10px !important;
  }

  .skeletonBox .line~.line {
    background-color: #ddd;
  }

  @keyframes shine-lines {
    0% {
      background-position: -100px;
    }

    40%,
    100% {
      background-position: 320px;
    }
  }

  @keyframes shine-avatar {
    0% {
      background-position: -32px;
    }

    40%,
    100% {
      background-position: 208px;
    }
  }

  .text-right {
    text-align: right;
  }

  /* Skeleton CSS End*/
}
