<ion-header class="header">
  <ion-toolbar class="header-toolbar">
    <ion-navbar>
      <ion-title>{{ 'cart' | translate }}</ion-title>
    </ion-navbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Ionic refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doCartRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{ 'pull_to_refresh' | translate } "
        refreshingSpinner="circles"
        refreshingText="{{ 'refreshing' | translate }}">
    </ion-refresher-content>
  </ion-refresher>
  <!-- End -->

  <!-- Skeletopn HTML start -->
  <div *ngIf="isFetchingData">
    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>

    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>

    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>

    <div class="skeletonBox">
      <div class="avatar"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      <div class="line blankBox"></div>
    </div>
  </div>
  <!-- Skeletopn HTML end -->
  <!-- NO data -->

  <div class="no-product-found" *ngIf="!isData">
    <h4>{{ 'prod_cart_empty' | translate }}</h4>
  </div>

  <!-- NO data -->

  <div *ngIf="isData">
    <ion-card *ngFor='let cartItem of productList; let i = index' [attr.data-index]='i'>
      <div class="seller-section">
        <ion-row>
          <ion-col col-1>
            <ion-avatar class="seller-profile" (click)="gotoSellerProfile(cartItem.uId)">
              <img *ngIf="cartItem.uProfilePic ==''" src='assets/images/user-profile-default-thumb.jpg' />
              <img *ngIf="cartItem.uProfilePic !=''" src='{{userImgPath+cartItem.uProfilePic}}' />

            </ion-avatar>
          </ion-col>
          <ion-col col-6 class="seller-section-content">
            <h3>
              <span>{{ 'seller' | translate }}: </span>
              {{cartItem.uName}}
            </h3>

          </ion-col>
          <ion-col class="text-right" col-5>
            <div class="link-item" (click)="gotoDelPolicies(cartItem.userPolicies)">
              <ion-icon class="flaticon-information"></ion-icon> {{ 'delivery_polices' | translate }}
            </div>
          </ion-col>
        </ion-row>
      </div>
      <ion-card-content *ngFor='let prodItem of cartItem.cartList; let j = index' [attr.data-index]='j'>
        <ion-grid>
          <ion-row>
            <ion-col col-3 class="left-img">
              <img src="{{prodImgPath+prodItem.pImg}}" />
            </ion-col>
            <ion-col col-9 class="right-content">
              <ion-card-title>
                {{prodItem.pName}}
                <button ion-button class="btn-right" (click)="delFromCart(prodItem.cId,j,i)">
                  <ion-icon class="flaticon-garbage"></ion-icon>
                </button>
              </ion-card-title>
              <h2 *ngIf="prodItem.cIsPromocodeused==1"> €
                {{ (prodItem.pAmt-(prodItem.pAmt * (prodItem.cDiscount/100))) * prodItem.cQuant }}
                <span class="discountAmount">(with Discount)</span>
                <span class="through">€ {{prodItem.pAmt * prodItem.cQuant}}</span>
              </h2>
              <h2 *ngIf="prodItem.cIsPromocodeused==0">
                € {{prodItem.pAmt * prodItem.cQuant }}
              </h2>
              <div class="inner-row">
                <ion-row>
                  <ion-col col-8>
                    <div class="link-item">
                      <ion-icon class="newflaticon-edit-document"></ion-icon>
                      {{ (prodItem.cNotes != '') ? prodItem.cNotes : 'not_added_txt' | translate  }}
                    </div>
                  </ion-col>
                  <ion-col col-4 text-right>
                    <ion-select okText="{{ 'save' | translate }}" cancelText="{{ 'cancel' | translate }}" [selectOptions]="selectOptions" (ionChange)="onSelectChange($event,prodItem.cId,j,i)">
                      <ion-option [selected]="prodItem.cQuant == quantItem.val" *ngFor="let quantItem of quantityList"
                        value="{{quantItem.val}}"> {{quantItem.text}}
                      </ion-option>
                    </ion-select>
                  </ion-col>
                </ion-row>
              </div>

            </ion-col>
          </ion-row>

          <ion-row class="cart-action">
            <ion-col col-4 (click)="gotoNote(prodItem.cNotes,prodItem.cId,j,i)">
              <button class="btn-default btn-link" ion-button>
                <ion-icon class="flaticon-edit-2"></ion-icon> {{ 'add_notes' | translate }}
              </button>
            </ion-col>
            <ion-col col-8 text-end>
              <button *ngIf="(prodItem.pIsPromoCode==1) && (prodItem.cIsPromocodeused==0) && ( cartItem.isSellerPromocodeUsed ==0 || cartItem.isSellerPromocodeUsed ==2 )"
                (click)="gotoPromo(prodItem.cId,j,prodItem.pPromoCode,prodItem.pPromoDiscount,i)" ion-button
                class="btn-dark">{{ 'add_promo' | translate }}</button>

              <!--<button ion-button class="btn-primary" (click)="gotoProceed(cartItem.uId,cartItem.userPolicies.std_delivery_cost,prodItem)"><ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon> {{ 'proceed' | translate }}</button> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- For Promo code -->

              <div class="getdiscount offer" *ngIf="prodItem.pIsPromoCode==1 && prodItem.cIsPromocodeused==0 && (cartItem.isSellerPromocodeUsed ==0 || cartItem.isSellerPromocodeUsed ==2) ">
                {{'used_promo_code' | translate}} {{prodItem.pPromoDiscount}}% OFF
              </div>

              <div class="getdiscount used" *ngIf="prodItem.cIsPromocodeused==1">
                {{'you_got_txt' | translate}} {{prodItem.cDiscount}}% OFF
              </div>

              <!--End -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
       <div class="total-amt-btn" *ngIf="cartItem.userPolicies.isPromoCode == 1 && (cartItem.isSellerPromocodeUsed ==0 && cartItem.isSellerPromocodeUsed !=2) ">
        <ion-row>
          <ion-col>
            <div class="getdiscount used">
             {{ 'used_seller_promocode' | translate }} {{cartItem.userPolicies.promoDiscount}}% {{ 'off_to_all_products' | translate }}
            </div>
          </ion-col>
          </ion-row>
          <ion-row>
          <ion-col text-end>
          <button (click)="gotoSellerPromo(cartItem.userPolicies.promoCode,cartItem.userPolicies.promoDiscount,cartItem,i)"  ion-button class="btn-dark">{{ 'add_promo' | translate }}</button>
          </ion-col>
        </ion-row>
      </div>

      <div class="total-amt-btn" *ngIf="(cartItem.userPolicies.isPromoCode ==1) && (cartItem.isSellerPromocodeUsed ==1 && cartItem.isSellerPromocodeUsed !=2)">
        <ion-row>
          <ion-col>
            <div class="getdiscount used">
             {{'you_got_txt' | translate}} {{cartItem.userPolicies.promoDiscount}}% {{ 'off_to_all_products' | translate }}
            </div>
          </ion-col>
          </ion-row>
      </div>


      <div class="total-amt-btn">
        <ion-row>
          <ion-col>
            <div class="total-order-amount" *ngIf="cartItem.isSellerPromocodeUsed==1">
              {{'total' | translate}}   : € {{cartItem.totalCartAmt}}
            </div>
            <div class="total-order-amount" *ngIf="cartItem.isSellerPromocodeUsed==0 || cartItem.isSellerPromocodeUsed==2 ">
              {{'total' | translate}}   : € {{cartItem.totalCartAmt}}
            </div>

          </ion-col>
          <ion-col>
            <button ion-button class="btn-primary"
              (click)="gotoProceed(cartItem.userPolicies.promoCode,cartItem.userPolicies.promoDiscount,cartItem.isSellerPromocodeUsed,cartItem.uId,cartItem.userPolicies.std_delivery_cost,cartItem.cartList,cartItem.totalCartAmt,cartItem.userPolicies.order_free_amt,cartItem.userPolicies)">
              <ion-icon class="flaticon-login-square-arrow-button-outline"></ion-icon> {{ 'proceed' | translate }}
            </button>
          </ion-col>
        </ion-row>
      </div>

    </ion-card>

    <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

</ion-content>
