<ion-header class="header">
	<ion-toolbar class="header-toolbar">
		<ion-navbar align-title="center">
		   <ion-title>{{'search' | translate}}</ion-title>
			<ion-buttons end>
				<button ion-button class="header-logout-btn" (click)="cancel()">
					<ion-icon class="flaticon-cancel"></ion-icon>
				</button>
			</ion-buttons>
		</ion-navbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	
<ion-card class="search-card">
	<ion-card-header>
		<ion-card-title> {{'order_type' | translate}} </ion-card-title>
	</ion-card-header>
	<ion-card-content>
	<ion-list class="payment-method-radio" checkbox-group>
		<ion-row>
			<ion-col col-6>
				<ion-item >
				<ion-label>{{'delivery' | translate}}</ion-label>
				<ion-checkbox (click)="changeDelivery()" [(ngModel)]="searchObj.delivery_opt" ></ion-checkbox>
					<ion-avatar item-start> 
						<img src="assets/images/take-away.png">
					</ion-avatar>
				</ion-item>
			</ion-col>
			<ion-col col-6>
				<ion-item >
					<ion-label>{{'take_away' | translate }}</ion-label>
					<ion-checkbox (click)="changeTakeAway()" [(ngModel)]="searchObj.takeaway_opt"></ion-checkbox>
					<ion-avatar item-start> 
						<img src="assets/images/store-icon.png">
					</ion-avatar>
				</ion-item>
			</ion-col>
	</ion-row>
	<div class="delivery-adddress" *ngIf="isDelivery">
		<div class="card-sub-title">{{searchObj.delivery_addressTemp}}<i class="flaticon-map"></i></div>
		<div class="item-field-info">
			<div class="autocomplete-search">
				<ion-searchbar [(ngModel)]="searchObj.delivery_address" [showCancelButton]="true"   (ionInput)="updateSearch()" (ionCancel)="dismiss()" (ionClear) ="dismiss()"></ion-searchbar>
				<ion-list *ngIf="addressList.length > 0">
					<ion-item *ngFor="let item of addressList" tappable (click)="chooseItem(item)">
					<i class="flaticon-map"></i> {{ item }}
					</ion-item>
				</ion-list>
			</div>
		</div>
	</div>
	<div class="delivery-adddress search-range-slider" *ngIf="isTakeway">
		<ion-card-header>
			<ion-card-title>
			{{'km_away_from_seller' | translate}}
			</ion-card-title>
		</ion-card-header>
		<ion-range min="0" max="10" pin [(ngModel)]="searchObj.pickup_range" color="yellow">
		<ion-label range-left>0 km</ion-label>
		<ion-label range-right>10 km</ion-label></ion-range>
	</div>
	</ion-list>
</ion-card-content>
</ion-card>

<div class="category-select time-select">
	<ion-card-header>
		<ion-card-title>
			 <i class="flaticon-calendar"></i> {{'search_date_time' | translate}} <br> 
			 <ion-row>
				 <ion-col>
					 Date : 
					 <ion-datetime [(ngModel)]="searchObj.search_day" displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" placeholder="{{searchObj.search_day}}" min="2020" max="2050"></ion-datetime>
				 </ion-col>
				 <ion-col>
					 Time : 
					<ion-datetime [(ngModel)]="searchObj.search_hr" displayFormat="HH" pickerFormat="HH" placeholder="{{searchObj.search_hr}}"></ion-datetime>
				</ion-col>
			 </ion-row>
		</ion-card-title>
	</ion-card-header>
	<!-- <ion-item>
		<ion-label> {{'search_date_time' | translate}} {{ searchObj.search_datetime }}</ion-label>
		<ion-datetime [(ngModel)]="searchObj.search_datetime" displayFormat="DD MMM YYYY h:mm A" pickerFormat="DD MMM YYYY h:mm A" value="17 Nov 2020 4:21 PM" displayTimezone="UTC+05:30"></ion-datetime>
	</ion-item> -->
</div>

<div class="category-select">
	<ion-item>
		<ion-label floating> {{'category' | translate}} </ion-label>
		<ion-select multiple okText="{{'submit' | translate}}" cancelText="{{'cancel' | translate}}" [(ngModel)]="searchObj.category_id">
			<ion-option value="0">{{'all_categories' | translate}}</ion-option>
			<ion-option *ngFor="let categoryItem of categoryList"  value="{{categoryItem.id}}">{{categoryItem.name}}</ion-option>
		</ion-select>
	</ion-item>
</div>


<ion-card class="search-payment-method card-box item-payment-radio">
	<ion-card-header> {{'payment_method' | translate}} </ion-card-header>

	<ion-card-content>
	<ion-list class="payment-method-radio">
		<ion-item>
			<ion-label><img *ngIf="lang_id ==1" src="assets/images/cod.png">
			<img *ngIf="lang_id ==2" class="cod" src="assets/images/cod-ita.png"> <!--{{'cod' | translate}}--> </ion-label>
			<ion-checkbox (click)="changeCOD()" [(ngModel)]="searchObj.cod" ></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-label> <img src="assets/images/paypal.png"> <!--{{'paypal' | translate }}--> </ion-label>
			<ion-checkbox (click)="changePaypal()" [(ngModel)]="searchObj.paypal"></ion-checkbox>
		</ion-item>
		<ion-item>
			<ion-label> <img src="assets/images/bancomat.png"> <!--{{'bancomat' | translate }}--> </ion-label>
			<ion-checkbox (click)="changebancomat()" [(ngModel)]="searchObj.bancomat"></ion-checkbox>
		</ion-item>
	</ion-list>
	</ion-card-content>  	
</ion-card>

<!-- /**************************/ -->

<!-- <ion-card class="card-box item-payment-radio search-payment-method">
<ion-card-header>
<ion-card-title>
{{'payment_method' | translate}}
</ion-card-title>
</ion-card-header>
<ion-item >
<ion-label>{{'cod' | translate}}</ion-label>
<ion-checkbox (click)="changeCOD()" [(ngModel)]="searchObj.cod" ></ion-checkbox>
</ion-item>
<ion-item >
<ion-label>{{'paypal' | translate }}</ion-label>
<ion-checkbox (click)="changePaypal()" [(ngModel)]="searchObj.paypal"></ion-checkbox>
</ion-item>
<ion-item >
<ion-label>{{'bancomat' | translate }}</ion-label>
<ion-checkbox (click)="changebancomat()" [(ngModel)]="searchObj.bancomat"></ion-checkbox>
</ion-item>
</ion-card> -->


</ion-content>


<ion-footer>
<!-- <div class="rate-btns">
	<button class="alert-button" ion-button (click)="cancel()">{{'cancel' | translate}}</button>
	<button class="alert-button" ion-button (click)="submit()">{{'search' | translate}}</button>
</div> -->
<!-- <button (click)="submit()" class="btn-next btn-page-next col-6" ion-button> {{'save' | translate}} </button>  -->
<div class="rate-btns">
	<button class="alert-button" ion-button (click)="reset()">{{'reset' | translate}}</button>
	<button class="alert-button" ion-button (click)="submit()">{{'search' | translate}}</button>
</div>
</ion-footer>