page-comments {

	@mixin borderRadius($property) {
	    -webkit-border-radius: $property;
	    -moz-border-radius: $property;
	    border-radius: $property;
	}
	button.btn-back {
	    position: absolute;
	    left: 0;
	    z-index: 5;
	    ion-icon {
		    font-weight: bold;
		    &:before{
		    	font-size: 15px;
		    }
		}
	}
	.ion-modal ion-title{
		font-size: 18px;
	    font-family: var(--myregular);
	}
	.input-field{
		padding-left: 15px; padding-right: 15px;
		ion-item{
			ion-label{ 
				color: #777;margin-bottom: 5px;
				ion-icon:before{
					font-size: 16px;
				}
			}
		}
	}


	/********************/
	.commnets-listing{
	    padding-bottom: 15px;
	    ion-grid{
	        padding: 0;
	    }
	    ion-row{
	        border-bottom:1px solid #efefef; padding: 15px 15px 10px;
	    }
	    ion-row+ion-row{
	        padding-top: 12px;
	    }
	    ion-grid ion-row:last-child{
	        border-bottom:none; padding-bottom:0px;
	    }
	    ion-grid > ion-row > ion-col{
	        padding: 0
	    }
	    .card-user-img{
	        width: 40px;height: 40px;overflow: hidden; @include borderRadius(50%);border: 3px solid #fff;box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	    }
	    .card-user-img > img{
	        object-fit: cover
	    }
	    .card-user-name{
	        font-size: 14px; color: var(--ion-black); font-family:  var(--mysemibold);padding-bottom: 2px; padding-right: 5px;
	    }
	    .card-user-location{
	        color: var(--ion-black); font-size: 14px; font-family: var(--myregular);
	    }
	    .card-date-time{
	        color: var(--sub-heading-color);font-size: 12px;font-style: italic;padding-top: 5px;
	    }
	    .card-user-location .flaticon-pin:before{
	        font-size: 14px;
	    }
	    ion-row{
	        position: relative;
	    }
	    ion-col.card-left-info{
	        width: 60px !important;
	        max-width: 60px !important;
	    }

	}

	.commnets-field-area{
		position: fixed; bottom: 0; left: 0; width: 100%; background: #fff; box-shadow: 0 0 10px rgba(0,0,0,.4);
		ion-item{
			padding: 0; 
		}
		ion-grid{
			padding: 0;
		}
	    ion-col{ position: relative;padding: 5px;}
	    .user-icon-col{
	        max-width: 50px !important;
	    }
		.user-thumb{
			position: absolute;top:0;left:0;bottom: 0;right:0;margin: auto; width: 35px;  height: 35px; @include borderRadius(50%); overflow: hidden; border: 2px solid transparent;  box-shadow: 0 0 0 1px rgba(0,0,0,.2);
		}
			 .user-thumb img {
	    object-fit: cover;
	    width: 100%;
	    height: 100%;
	}
	    .comment-field{
	        padding-left: 5px;padding-right: 5px;
	        ion-textarea{
	            background: #eee;@include borderRadius(25px);padding: 3px 15px;
	            .text-input-md{
	            	margin: 3px 8px;font-size: 16px;
	            }
	        }    
	    }
		
		button{
	        margin: 10px 0 0;width: 40px;height: 40px;padding: 0;background-color: transparent;box-shadow: none; color: var(--heading-color);border-radius: 50%;
	        &:focus, &:active, &.activated{
	        	background: var(--ion-color-primary); color: var(--ion-black);box-shadow: none;
	        }
			ion-icon{
	            font-size: 25px; position: relative; left: -8px;
	        }
	        .button-inner{
	        	text-align: center;display: block;padding: 7px 19px;line-height: 16px;
	        }
		}
	    .commnet-btn{
	        padding: 0
	    }
	}

	.no-product-found{
		padding: 45px 0;
		img{
			margin: 10px auto; display: block;
		}
		h4{
			color: #434343; font-size: 19px; font-family: var(--myregular); font-weight: normal; 
			margin: 0; padding: 0; text-align: center;
		}
	}
	.ion-footer{
		background: transparent !important;
		.grid{
			padding: 4px 0;
		}
	}

}
