	<ion-header class="header">
		<ion-toolbar class="header-toolbar">
		  <ion-navbar>
		    <ion-title>{{ 'comments' | translate }}</ion-title>
		  </ion-navbar>
		</ion-toolbar>
	</ion-header>
	<ion-content id="contentArea">
	<!-- NO data -->
 
    <div class="no-product-found" *ngIf="!isData">
		<img src="assets/images/no-comments.png" />
		<h4>{{ 'comment_not_avail' | translate }} </h4>
	</div>

    <!-- NO data --> 

		<div *ngIf="isData" class="pb">
		<div class="commnets-listing" *ngFor='let commentItem of commentList.reverse(); let i = index' [attr.data-index]='i'>
	        <ion-grid>
	            <ion-row>
	                <ion-col size="2" class="card-left-info">
	                    <div class="card-user-img" (click)="gotoSellerProfile(commentItem.user_id)">
	                     <img  *ngIf ="commentItem.profile_pic ==''" src='assets/images/user-profile-default-thumb.jpg'/>
          				<img *ngIf ="commentItem.profile_pic !=''" src='{{userImgPath+commentItem.profile_pic}}'/>
						</div>
	                </ion-col>
	                <ion-col size="10" class="card-right-info">                    
	                    <div class="card-user-location">
	                    	<span class="card-user-name">{{commentItem.name}}</span>
	                       {{commentItem.comment}}                     
	                    </div>
	                    <div class="card-date-time">{{commentItem.created}}</div>
	                </ion-col>
	            </ion-row>
	        </ion-grid>
	    </div>
	      <ion-infinite-scroll (ionInfinite)="infiniteScrollFun($event)" *ngIf="loadmoreData" >
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'load_more' | translate }}"></ion-infinite-scroll-content>
       </ion-infinite-scroll>
	   </div>

	</ion-content>

	<ion-footer no-border class="ion-footer">
	    <div class="commnets-field-area">
	    	<ion-grid>
	    		<ion-row>
	    			<ion-col col-2 class="user-icon-col">
	    				<div class="user-thumb">
		                    <img src="{{tempUserImg}}" />
		                </div>	
	    			</ion-col>
	    			<ion-col col-9 class="comment-field">
	    				<ion-textarea [(ngModel)]="addComment.comment"></ion-textarea>
	    			</ion-col>
	    			<ion-col col-1 class="commnet-btn">
		    			<button ion-button (click) ="send()" >
		                	<ion-icon name="send" ></ion-icon>
		                </button>
	    			</ion-col>
	    		</ion-row>
	    	</ion-grid>
    	</div>
	</ion-footer>
	
	